.block-quote {
  background: var(--non-spectrum-bg);
  border-radius: 6px;
  position: relative;
  padding: 20px;
  border: 6px solid var(--spectrum-indigo-1400);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

.block-quote-content * {
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  font-family: 'Adobe Clean', sans-serif;
  color: var(--non-spectrum-grey-updated);
}

.block-quote.external {
  border-color: var(--spectrum-indigo-1400);
}

.block-quote.adobe {
  border-color: var(--spectrum-red-1400);
}
