/* mobile */
.role-and-industry {
  display: flex;
  flex-direction: column;
}

.role-and-industry .industry-selection-heading {
  text-align: center;
}

.role-and-industry .industry-selection-title {
  font-size: var(--spectrum-font-size-3xl);
  font-weight: var(--font-weight-bold);
  color: #000;
}

.role-and-industry .industry-selection-description {
  font-style: normal;
}

.role-and-industry .industry-selection-dropdown {
  display: none;
}

.role-and-industry .industry-selection-dropdown label {
  font-size: var(--spectrum-font-size-sm);
  color: #464646;
  font-weight: var(--font-weight-medium);
}

.role-and-industry .role-cards-holder {
  margin-top: 24px;
  display: grid;
  gap: 24px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.role-and-industry .role-cards-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.role-and-industry .role-cards-checkbox input {
  width: 14px;
  margin: 0;
  accent-color: var(--non-spectrum-navy-blue);
}

.role-and-industry .role-cards-checkbox label {
  font-size: var(--spectrum-font-size-sm);
  cursor: pointer;
}

.role-and-industry .role-cards-item {
  background-color: var(--spectrum-gray-50);
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.role-and-industry .role-cards-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.role-and-industry .role-cards-description h3 {
  margin: 0;
  font-size: var(--spectrum-font-size-md);
  line-height: 22px;
}

.role-and-industry .role-cards-description p {
  font-size: var(--spectrum-font-size-sm);
  line-height: 17px;
}

.role-and-industry .role-cards-item.role-cards-highlight {
  border: 1px solid var(--spectrum-blue-600);
}

.role-and-industry .role-cards-default-selection p {
  margin: 0 0 10px;
  min-height: 18px;
  font-size: var(--spectrum-font-size-sm);
  line-height: 17px;
  font-style: italic;
}

.role-and-industry .role-and-industry-form-error {
  text-align: center;
  margin-top: 5px;
}

body.profile
  .role-and-industry
  .role-and-industry-form-error:not(.signup-dialog .role-and-industry .role-and-industry-form-error) {
  text-align: left;
}

body.profile
  .role-and-industry
  .industry-selection-holder:not(.signup-dialog .role-and-industry .industry-selection-holder) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

body.profile
  .role-and-industry
  .industry-selection-heading:not(.signup-dialog .role-and-industry .industry-selection-heading) {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

body.profile
  .role-and-industry
  .industry-selection-title:not(.signup-dialog .role-and-industry .industry-selection-title) {
  font-size: var(--spectrum-font-size-xl);
  font-weight: var(--font-weight-bold);
  color: #000;
}

body.profile
  .role-and-industry
  .industry-selection-title
  :where(h1, h2, h3, h4, h5, h6):not(.signup-dialog .role-and-industry .industry-selection-title) {
  margin-top: 0;
  margin-bottom: 0;
}

body.profile
  .role-and-industry
  .industry-selection-description:not(.signup-dialog .role-and-industry .industry-selection-description) {
  font-size: var(--spectrum-font-size-base);
  color: #222;
  font-style: italic;
  font-weight: var(--font-weight-medium);
}

body.profile
  .role-and-industry
  .industry-selection-dropdown:not(.signup-dialog .role-and-industry .industry-selection-dropdown) {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

body.profile
  .role-and-industry
  .role-cards-description
  h3:not(.signup-dialog .role-and-industry .role-cards-description h3) {
  margin-top: 0;
}

/* tablet */
@media (min-width: 600px) {
  .role-and-industry .role-cards-holder {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  body.profile
    .role-and-industry
    .industry-selection-holder:not(.signup-dialog .role-and-industry .industry-selection-holder) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* desktop */
@media (min-width: 900px) {
  body.profile .role-and-industry .role-cards-holder:not(.signup-dialog .role-and-industry .role-cards-holder) {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  body.profile .role-and-industry .role-cards-title:not(.signup-dialog .role-and-industry .role-cards-title) {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    align-items: start;
    gap: 8px;
  }
}
