@import '../../scripts/browse-card/browse-cards-block.css';

.section.upcoming-event-container {
  padding-bottom: 0;
}

.upcoming-event .browse-cards-block-header .browse-card-description-text {
  text-align: center;
  color: var(--spectrum-gray-800);
  font-size: var(--spectrum-font-size-300);
  line-height: 23.4px;
  margin-bottom: 16px;
}

.upcoming-event .browse-cards-block-title {
  margin-bottom: 16px;
  text-align: center;
}

.upcoming-event .browse-card .browse-card-content {
  min-height: auto;
}

.upcoming-event .browse-cards-block-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.upcoming-event .browse-cards-block-header .browse-card-tags {
  margin-top: 1em;
  align-self: flex-start;
}

.upcoming-event .browse-cards-block-header .browse-tags {
  border-radius: 4px;
  background: var(--background-color);
  border: 1px solid var(--spectrum-gray-500);
  margin-right: 10px;
  padding: 4px 25px 5px 12px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: var(--spectrum-gray-500);
  line-height: normal;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: 0;
}

.upcoming-event .browse-cards-block-header .browse-tags .icon-close {
  width: 13px;
  height: auto;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-6px);
}

.upcoming-event .browse-cards-block-view {
  text-align: center;
}

.upcoming-event .browse-cards-block-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  min-height: 284px;
  margin-bottom: 24px;
}

.upcoming-event .browse-cards-block-title h2 {
  color: var(--spectrum-gray-800);
}

.upcoming-event .browse-cards-block-content > div {
  min-height: 284px;
  flex: 0 0 320px;
}

.upcoming-event .browse-card-dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  gap: 16px;
}

.upcoming-event .browse-card-dropdown > label {
  font-size: var(--spectrum-body-size-l);
  font-weight: var(--font-weight-bold);
  color: #363636;
}

.upcoming-event.featured-card-hidden-features .browse-cards-block-view,
.upcoming-event.featured-card-hidden-features .browse-cards-block-content {
  display: none;
}

.event-no-results {
  background-color: var(--spectrum-gray-200);
  color: var(--non-spectrum-grey);
  font-size: var(--spectrum-font-size-200);
  padding: 72px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  grid-column: 1 / -1;
}

.upcoming-event .browse-cards-block-content > .event-no-results {
  min-height: unset;
  height: 170px;
}

@media only screen and (min-width: 600px) {
  .section.upcoming-event-container {
    padding-bottom: 30px;
  }

  .upcoming-event .browse-cards-block-content {
    grid-template-columns: 1fr 1fr;
  }

  .upcoming-event .browse-cards-block-view {
    text-align: center;
  }

  .upcoming-event .upcoming-event .browse-cards-block-content > div {
    flex: 0 0 286px;
  }

  .upcoming-event .browse-cards-block-header .browse-card-description-text {
    margin-bottom: 36px;
  }

  .upcoming-event .browse-card-dropdown {
    flex-direction: row;
  }

  .upcoming-event .custom-filter-dropdown {
    max-width: 200px;
  }
}

@media only screen and (min-width: 900px) {
  .section.upcoming-event-container {
    padding-bottom: 40px;
  }

  .upcoming-event .browse-cards-block-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    text-align: center;
    margin-bottom: 84px;
  }

  .upcoming-event .browse-cards-block-view {
    margin-top: -68px;
    text-align: right;
  }

  .upcoming-event .browse-cards-block-title {
    margin-bottom: 7px;
  }

  .upcoming-event .browse-card-dropdown {
    margin-bottom: 0;
  }

  .upcoming-event .browse-card {
    text-align: left;
  }

  .upcoming-event .browse-cards-block-content > div {
    flex: 0 0 295px;
  }

  .upcoming-event .custom-filter-dropdown {
    max-width: 300px;
  }

  .upcoming-event .browse-cards-block-header .browse-card-description-text {
    margin-bottom: 16px;
  }
}

@media (min-width: 1400px) {
  .upcoming-event .browse-cards-block-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
