.events-cards {
    min-height: 340px;
}
.events-cards .tooltip {
    position: relative;
    margin: 4px 0 0 9px;
}
.events-cards .tooltip .icon-info {
    width: 15px;
    height: 15px;
}
.events-cards .tooltip .tooltip-text {
    background-color: var(--non-spectrum-royal-blue);
    border-radius: 4px;
    color: var(--spectrum-gray-50);
    display: inline-block;
    font-size: 12px;
    left: 100%;
    line-height: 15px;
    margin-left: 10px;
    margin-top: -16px;
    opacity: 0;
    padding: 4px 9px 5px 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: opacity 0.3s;
    visibility: hidden;
    width: max-content;
    z-index: 1;
}
.events-cards .tooltip .tooltip-text::before {
    border-color: transparent var(--non-spectrum-royal-blue) transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    display: inline-block;
    margin-top: -4px;
    position: absolute;
    right: 100%;
    top: 50%;
}
.events-cards .tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}
.events-cards-content {
    margin-top: 24px;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 32px;
    transition: all .5s ease-in-out;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 2px;
}
.events-cards-content > div {
    flex: 0 0 264px;
}
.events-cards-header h4 {
    padding: 0;
    margin: 0;
}
.events-cards-title {
    display: flex;
    margin: 0;
}
.events-cards-view a {
    font-size: inherit;
    line-height: 17px;
    margin: 2px 0 0 0;
}
@media only screen and (min-width: 600px) {
    .events-cards-header {
        display: flex;
        justify-content: space-between;
    }
    .events-cards-content {
        gap: 25px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .events-cards-content > div {
        flex: 0 0 286px;
    } 
}
@media only screen and (min-width: 900px) {
    .events-cards-header {
        display: flex;
        justify-content: space-between;
    }
    .events-cards-content {
        gap: 32px;
    }
    .events-cards-content > div {
        flex: 0 0 256px;
    }
}
@media only screen and (min-width: 1200px) {
    .events-cards-header {
        display: flex;
        justify-content: space-between;
    }
    .events-cards .tooltip {
        margin-top: 7px;
    }
}