.author-bio {
  background: var(--non-spectrum-bg);
  border-radius: 6px;
  position: relative;
  border: 6px solid;
  border-width: 6px 0 0;
  padding: 38px 28px 32px;
}

.author-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed var(--non-spectrum-dark-gray);
  margin-right: 24px;
}

.author-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.author-name-title-container {
  margin-left: auto;
}

.author-name-title-container .author-name {
  font-weight: bold;
  font-size: var(--spectrum-font-size-300);
  padding-bottom: 8px;
}

.author-name-title-container .author-title-company {
  font-size: var(--spectrum-font-size-100);
  color: var(--non-spectrum-grey);
}

.author-description-social-link-container .author-social-link {
  color: var(--non-spectrum-navy-blue);
}

.author-description-social-link-container .author-description .author-social-link {
  font-size: var(--spectrum-font-size-100);
}

.author-description-social-link-container .author-description {
  color: var(--non-spectrum-grey);
  padding-bottom: 24px;
  padding-top: 24px;
}

.author-bio:has(.author-bio-content.external) {
  border-color: var(--spectrum-gray-900);
}

.author-bio:has(.author-bio-content.adobe) {
  border-color: var(--exlm-spectrum-red-1400);
}
