.skill-track-meta {
  text-align: center;
  padding: var(--spectrum-spacing-300);
  background-color: var(--highlight-light-background-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--box-back-drop-shadow);
  margin-bottom: var(--spectrum-spacing-400);
}
