.section.icon-block-container > div > :is(h1, h2, h3, h4, h5, h6) {
  margin: 0 0 40px;
  text-align: center;
}

.section.icon-block-container {
  padding: 32px 36px 48px;
}

.icon-block {
  display: grid;
  min-width: 275px;
  text-align: center;
  margin: 0 auto;
  gap: 32px;
  min-height: 208px;
}

.icon-block > div {
  max-width: 283px;
  min-height: 147.95px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-block > div > div img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
}

.icon-block .icon-heading {
  margin: 0 auto;
  color: var(--non-spectrum-custom-dark);
  font-weight: bold;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 229px;
}

.icon-block .icon-description {
  font-size: var(--spectrum-font-size-100);
  margin-bottom: 16px;
  line-height: 18.2px;
  color: var(--spectrum-gray-700);
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  flex: 1;
}

.icon-block .icon-link,
.icon-block .icon-description a {
  font-size: var(--spectrum-font-size-100);
  line-height: 18.2px;
  color: var(--spectrum-blue-900);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  font-weight: bold;
}

.icon-block .icon-link::after,
.icon-block .icon-description a::after {
  content: '>';
  padding-left: 4px;
}

.icon-block .icon-link.external::after,
.icon-block .icon-description a.external::after {
  content: '';
}

.icon-block .icon-new-tab-blue,
.icon-block .icon-description img {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
}

@media (width >= 600px) {
  .section.icon-block-container {
    padding: 80px 86px;
  }

  .section.icon-block-container > div > :is(h1, h2, h3, h4, h5, h6) {
    text-align: left;
  }

  .icon-block {
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    column-gap: 24px;
    max-width: 596px;
  }

  .icon-block > div {
    max-width: 286px;
    min-height: 180px;
  }

  .icon-block .icon-description {
    min-height: 53px;
  }
}

@media (width >= 900px) {
  .icon-block {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    column-gap: 16px;
    max-width: 1278px;
  }

  .icon-block > div {
    max-width: 230px;
    min-height: 180px;
  }

  .icon-block .icon-description {
    min-height: 73px;
  }

  body[class^='browse-'] .icon-block,
  body[class^='article-'] .icon-block {
    max-width: none;
  }

  .icon-block-center-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .icon-block-center-align > div {
    width: 230px;
  }
}
