.icon-block {
  display: grid;
  min-width: 275px;
  text-align: center;
  margin: 0 auto;
  gap: 32px;
  min-height: 208px;
}
.icon-block > div {
  max-width: 283px;
  min-height: 147.95px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-block > div > div img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
}
.icon-block .icon-heading {
  font-size: 22px;
  margin: 0 auto;
  line-height: 33px;
  color: var(--non-spectrum-custom-dark);
  font-weight: bold;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 229px;
}
.icon-block .icon-description {
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 18.2px;
  color: var(--spectrum-gray-700);
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.icon-block .icon-link {
  font-size: 14px;
  line-height: 18.2px;
  color: var(--spectrum-blue-900);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
}
.icon-block .icon-link::after {
  content: ">";
  padding-left: 4px;
}
.icon-block .icon-link.external::after {
  content: "";
}
.icon-block .icon-new-tab {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
}
.icon-block .icon-new-tab svg {
  fill: var(--non-spectrum-navy-blue);
}

@media (min-width: 600px) {
  .icon-block {
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    column-gap: 24px;
    max-width: 596px;
  }
  .icon-block > div {
    max-width: 286px;
    min-height: 180px;
  }
  .icon-block .icon-description {
    min-height: 53px;
  }
}
@media (min-width: 900px) {
  .icon-block {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    column-gap: 16px;
    max-width: 1278px;
  }
  .icon-block > div {
    max-width: 230px;
    min-height: 180px;
  } 
  .icon-block .icon-description {
    min-height: 73px;
  }
  body[class ^= 'browse-'] .icon-block,
  body[class ^= 'article-'] .icon-block {
  max-width: none;
  }
  .icon-block-center-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  .icon-block-center-align > div {
    width: 230px;
  }
}