@import '../../styles/sass/breakpoints';

.icon-block {
  display: grid;
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
  gap: 32px;
  min-height: 208px;

  & > div {
    max-width: 283px;
    min-height: 147.95px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & > div > div img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 8px;
  }

  .icon-heading {
    font-size: 22px;
    margin: 0 auto;
    line-height: 33px;
    color: var(--non-spectrum-custom-dark);
    font-weight: bold;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 229px;
  }

  .icon-description {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 18.2px;
    color: var(--spectrum-gray-700);
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }

  .icon-link {
    font-size: 14px;
    line-height: 18.2px;
    color: var(--spectrum-blue-900);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .icon-link::after {
    content: '>';
    padding-left: 4px;
  }

  .icon-link.external::after {
    content: '';
  }

  .icon-new-tab-blue {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
  }
}

@include breakpoint(tablet) {
  .icon-block {
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    column-gap: 24px;
    max-width: 596px;

    & > div {
      max-width: 286px;
      min-height: 180px;
    }

    .icon-description {
      min-height: 53px;
    }
  }
}

@include breakpoint(desktop) {
  .icon-block {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    column-gap: 24px;
    max-width: 1278px;

    & > div {
      max-width: 230px;
      min-height: 180px;
    }
  }
}
