:root {
  --marquee-height-small: 300px;
  --marquee-height-medium: 400px;
  --marquee-height-large: 560px;
}

.section.marquee-container {
  padding-top: 0;
}

div.marquee-wrapper {
  max-width: unset;
  margin-left: calc(-1 * var(--spectrum-spacing-300));
  margin-right: calc(-1 * var(--spectrum-spacing-300));
}

.marquee {
  position: relative;
}

.marquee-content-container {
  display: flex;
  flex-direction: column-reverse;
}

.marquee-text {
  position: relative;
  z-index: 2;
  padding: 30px 16px;
  background-color: var(--background-color);
}

.marquee-eyebrow {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-bold);
  color: var(--spectrum-gray-700);
  margin-bottom: var(--spectrum-spacing-300);
  line-height: 18px;
}

.marquee-title {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-900);
  font-weight: var(--font-weight-bold);
  line-height: var(--spectrum-line-height-xxxl);
  margin-bottom: var(--spectrum-spacing-300);
}

.marquee-title :where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  color: inherit;
}

.marquee-short-description,
.marquee-short-description * {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-600);
  font-weight: var(--font-weight-bold);
  line-height: var(--spectrum-line-height-l);
  color: var(--background-color);
  margin: 0;
}

.marquee-long-description,
.marquee-long-description * {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-300);
  line-height: var(--spectrum-line-height-l);
  margin: 0;
}

.marquee-cta {
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--spectrum-font-size-300);
  gap: var(--spectrum-spacing-400);
  margin-top: var(--spectrum-spacing-400);
  padding: 0;
  align-items: center;
}

.marquee-cta:empty {
  margin-top: 0;
}

.marquee-cta > a.button {
  font-size: var(--spectrum-font-size-300);
  margin: 0;
  padding: 8px 40px;
  width: min-content;
  min-width: 264px;
}

.marquee-cta > a > span.icon {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.marquee-cta > .signin {
  visibility: hidden;
}

.unauthenticated .marquee-cta > .signin {
  visibility: unset;
}

.marquee-background svg {
  display: none;
}

.marquee-spacer {
  display: none;
  width: 40%;
}

.marquee-bg-filler {
  display: none;
}

.marquee.no-subject {
  display: flex;
  flex-direction: column-reverse;
}

.marquee.no-subject > .marquee-background {
  position: unset;
  min-height: unset;
}

.marquee.no-subject > .marquee-background img {
  transform: none;
  object-fit: cover;
  object-position: center;
}

.marquee-background-fill {
  display: none;
}

.marquee .modal {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgb(10 10 10 / 86%);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.marquee .modal .icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 5px;
}

.marquee .modal .icon:hover {
  background-color: rgb(10 10 10 / 30%);
  border-radius: 50%;
}

.marquee .modal div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee .modal iframe {
  width: 90vw;
  height: 50vw;
  max-height: 95vh;
}

@media (min-width: 600px) {
  .section.marquee-container {
    padding: 0 56px;
  }

  .section div.marquee-wrapper {
    margin-left: calc(-1 * var(--spectrum-spacing-800));
    margin-right: calc(-1 * var(--spectrum-spacing-800));
  }

  .marquee-subject {
    min-height: 350px;
    background: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marquee-subject img {
    position: relative;
    z-index: 2;
    max-width: 400px;
  }

  .marquee-background {
    min-height: 350px;
    height: 100%;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    position: relative;
  }

  .marquee-background-fill {
    display: block;
    position: absolute;
    top: -100px;
    right: -100px;
    width: 100%;
    height: 100%;
  }

  .marquee-background-fill svg {
    display: block;
  }

  .marquee-foreground {
    min-height: var(--marquee-height-medium);
  }

  .marquee-text {
    padding: var(--spectrum-spacing-500) var(--spectrum-spacing-800);
    background-color: var(--background-color);
  }

  .marquee-cta {
    flex-flow: row wrap;
  }

  .marquee-cta > a.button {
    padding: 8px 20px;
  }

  .marquee-spacer {
    display: block;
    order: 1;
  }

  .marquee.no-subject > .marquee-background {
    position: relative;
    min-height: 350px;
  }
}

@media (min-width: 900px) {
  .marquee {
    overflow: hidden;
  }

  .marquee-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    max-width: var(--default-max-width);
    margin: 0 auto;
  }

  .marquee-foreground {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .marquee-background {
    width: 100%;
    height: 100%;
    min-height: var(--marquee-height-medium);
    display: block;
    overflow: visible;
  }

  .marquee-text {
    background: none;
    margin-bottom: 30px;
  }

  .marquee-title {
    font-size: var(--spectrum-font-size-1100);
  }

  .marquee-cta {
    flex-wrap: nowrap;
  }

  .marquee-cta > a.button {
    min-width: auto;
    padding: 10px 22px;
  }

  .marquee-subject {
    display: block;
    overflow: hidden;
    min-height: unset;
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .marquee-subject img {
    object-fit: cover;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .marquee-background-fill {
    position: static;
    min-height: var(--marquee-height-medium);
  }

  .marquee-background svg {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -130px;
  }

  .marquee-bg-filler {
    display: block;
    position: absolute;
    height: 100%;
    left: 100%;
    top: 0;
    width: 1000px;
  }

  .marquee.no-subject {
    display: block;
  }

  .marquee.no-subject > .marquee-background {
    position: absolute;
    min-height: 100%;
  }

  .marquee.large .marquee-foreground,
  .marquee.large .marquee-background,
  .marquee.large .marquee-bg-filler,
  .marquee.large .marquee-background svg {
    min-height: var(--marquee-height-large);
  }

  .marquee.large .marquee-background-fill svg {
    right: -30px;
  }

  .marquee.large .marquee-eyebrow {
    font-size: var(--spectrum-font-size-10);
  }

  .marquee.large .marquee-long-description {
    font-size: var(--spectrum-font-size-400);
  }

  .marquee.large .marquee-subject,
  .marquee.large .marquee-subject img {
    min-width: 480px;
  }

  .marquee.small .marquee-foreground,
  .marquee.small .marquee-background,
  .marquee.small,
  .marquee-background-fill,
  .marquee.small .marquee-bg-filler {
    min-height: var(--marquee-height-small);
  }

  .marquee.small .marquee-subject {
    min-height: unset;
    top: 40px;
    left: 100px;
  }

  .marquee.small .marquee-subject img {
    max-width: 320px;
  }

  .marquee.small .marquee-background-fill svg {
    right: -200px;
  }

  .marquee.straight .marquee-subject {
    inset: 0;
  }

  .marquee.straight .marquee-subject img {
    max-width: 100%;
  }
}

/* when shown on a page with a rail */
@media (min-width: 1024px) {
  /* no longer goes from end to end */
  body[class^='browse-'] .section div.marquee-wrapper,
  body[class^='article-'] .section div.marquee-wrapper,
  body[class*='profile-home-page'] .section div.marquee-wrapper {
    margin-left: unset;
    margin-right: unset;
  }

  /* title */
  body[class^='browse-'] .marquee-title,
  body[class^='article-'] .marquee-title {
    font-size: var(--spectrum-font-size-900);
    line-height: 36px;
    margin-bottom: var(--spectrum-spacing-100);
  }

  /* description */
  body[class^='browse-'] .marquee-long-description,
  body[class^='article-'] .marquee-long-description,
  body[class^='browse-'] .marquee-long-description * body[class^='article-'] .marquee-long-description * {
    line-height: 23.4px;
  }

  /* cta */
  body[class^='browse-'] .marquee-cta a.button,
  body[class^='article-'] .marquee-cta a.button {
    font-size: var(--spectrum-font-size-200);
    line-height: 21px;
    padding: 6px 16px 9px 20px;
  }

  body[class^='browse-'] .section div.marquee-wrapper .marquee-content-container,
  body[class^='article-'] .section div.marquee-wrapper .marquee-content-container {
    border: 1px solid var(--spectrum-gray-200);
    border-radius: 4px;
    background-color: var(--background-color);
    box-sizing: border-box;
  }
}
