.marquee-container {
  padding: 0 16px;
}

.section div.marquee-wrapper {
  max-width: unset;
  margin-left: calc(-1 * var(--space-token-xs));
  margin-right: calc(-1 * var(--space-token-xs));
}

.marquee.block {
  position: relative;
}

.marquee.block>.foreground {
  display: flex;
  flex-direction: column-reverse;
  max-width: var(--non-spectrum-max-width);
  margin: auto;
}

.marquee.block>.foreground>.subject {
  overflow: hidden;
  max-height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee.block >.foreground>.subject img {
  max-height: 270px;
  position: relative;
  z-index: 2;
}

.marquee.block>.foreground>.text {
  position: relative;
  z-index: 2;
  padding: var(--spectrum-spacing-400) var(--space-token-xs);
}

.marquee.block>.foreground>.text>.eyebrow {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-700);
  color: var(--spectrum-gray-700);
  margin-bottom: var(--space-token-xs);
  line-height: 18px;
}

.marquee.block>.foreground>.text>.title {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-900);
  font-weight: var(--font-weight-700);
  line-height: var(--spectrum-line-height-xxl);
  margin-bottom: var(--space-token-xs);
}

.marquee.block>.foreground>.text>.short-description,
.marquee.block>.foreground>.text>.short-description * {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-600);
  font-weight: var(--font-weight-700);
  line-height: var(--spectrum-line-height-l);
  color: var(--background-color);
  margin: 0;
}

.marquee.block>.foreground>.text>.long-description,
.marquee.block>.foreground>.text>.long-description * {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-300);
  line-height: var(--spectrum-line-height-l);
  margin: 0;
}

.marquee.block>.foreground>.text>.cta {
  display: flex;
  flex-direction: column-reverse;
  font-size: 19px;
  gap: var(--spectrum-spacing-400);
  margin-top: var(--spectrum-spacing-400);
  padding: 0;
  align-items: center;
}

.marquee.block>.foreground>.text>.cta>a.button {
  font-size: 19px;
  background-color: var(--background-color);
  border: 2px solid var(--spectrum-gray-700);
  color: var(--spectrum-gray-700);
  margin: 0;
  width: min-content;
  min-width: 250px;
}

.marquee.block>.foreground>.text>.cta>a>span.icon {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.marquee.block>.foreground>.text>.cta>a.button.secondary {
  background-color: var( --non-spectrum-true-blue);
  border: none;
  color: var(--background-color);
  min-width: 250px;
}

.marquee.block>.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 270px;
  overflow: hidden;
}

.marquee.block>.background img {
  transform: scale(50) translate(-130px, 5px)
}

@media (min-width: 600px) {
  .section div.marquee-wrapper {
    margin-left: calc(-1 * var(--spectrum-spacing-500));
    margin-right: calc(-1 * var(--spectrum-spacing-500));
  }

  .marquee.block>.foreground>.subject {
    min-height: 350px;
  }
  
  .marquee.block >.foreground>.subject img {
    max-width: 550px;
    position: relative;
    z-index: 2;
  }

  .marquee.block>.background {
    max-height: 350px;
    width: 100%;
  }

  .marquee.block>.background img {
    min-height: 350px;
    transform: translate(-230px, 10px) scale(3);
  }

  .marquee.block>.foreground>.text {
    padding: var(--space-token-xxl);
  }

  .marquee.block>.foreground>.text>.cta {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {

  .marquee.block {
    overflow: hidden;
  }

  .marquee.block>.foreground {
    display: flex;
    flex-direction: row;
    width: 100%;
 }

  .marquee.block>.foreground>.text {
    width: 50%;
    margin: auto 0;
  }

  .marquee.block>.foreground>.text>.title {
    font-size: var(--spectrum-font-size-1100);
  }
  
  .marquee.block>.foreground>.subject {
    overflow: hidden;
    width: 50%;
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .marquee.block >.foreground>.subject picture {
    width: 100%;
  }

  .marquee.block >.foreground>.subject img {
    max-height: none;
    width: 100%;
    max-width: 550px;
    position: relative;
    z-index: 2;
  }

  .marquee.block>.background {
    width: 100%;
    min-height: 100%;
  }

  .marquee.block>.background img {
    width: 100%;
    transform: none;
  }
} 

