.section.marquee-container {
  padding-top: 0;
}

div.marquee-wrapper {
  max-width: unset;
  margin-left: calc(-1 * var(--space-token-xs));
  margin-right: calc(-1 * var(--space-token-xs));
}

.marquee {
  position: relative;
}

.marquee-foreground {
  display: flex;
  flex-direction: column-reverse;
  max-width: var(--default-max-width);
  margin: auto;
}

.marquee-subject {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee-subject img {
  padding: 10px;
  position: relative;
  z-index: 2;
}

.marquee-text {
  position: relative;
  z-index: 2;
  padding: 30px 16px;
  background-color: var(--background-color);
}

.marquee-eyebrow {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--spectrum-gray-700);
  margin-bottom: var(--space-token-xs);
  line-height: 18px;
}

.marquee-title {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-5xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--spectrum-line-height-xxxl);
  margin-bottom: var(--space-token-xs);
}

.marquee-title :where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  color: inherit;
}

.marquee-short-description,
.marquee-short-description * {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--spectrum-line-height-l);
  color: var(--background-color);
  margin: 0;
}

.marquee-long-description,
.marquee-long-description * {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-md);
  line-height: var(--spectrum-line-height-l);
  margin: 0;
}

.marquee-cta {
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--spectrum-font-size-md);
  gap: var(--spectrum-spacing-400);
  margin-top: var(--spectrum-spacing-400);
  padding: 0;
  align-items: center;
}

.marquee-cta:empty {
  margin-top: 0;
}

.marquee-cta > a.button {
  font-size: var(--spectrum-font-size-md);
  margin: 0;
  padding: 8px 40px;
  width: min-content;
  min-width: 264px;
  background-color: var(--non-spectrum-true-blue);
  border: 2px solid var(--non-spectrum-true-blue);
  color: var(--background-color);
}

.marquee-cta > a > span.icon {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.marquee-cta > a.button.primary {
  background-color: var(--non-spectrum-true-blue);
  border: 2px solid var(--non-spectrum-true-blue);
  color: var(--background-color);
}

.marquee-cta > a.button.secondary {
  background-color: var(--background-color);
  border: 2px solid var(--spectrum-gray-700);
  color: var(--spectrum-gray-700);
}

.marquee-cta > .signin {
  visibility: hidden;
}

.unauthenticated .marquee-cta > .signin {
  visibility: unset;
}

.marquee-background {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: inherit;
}

.marquee-background svg {
  display: none;
}

.marquee-spacer {
  display: none;
  width: 40%;
}

.marquee.no-subject {
  display: flex;
  flex-direction: column-reverse;
}

.marquee.no-subject > .marquee-background {
  position: unset;
  min-height: unset;
}

.marquee.no-subject > .marquee-background img {
  transform: none;
  object-fit: cover;
  object-position: center;
}

.marquee .modal {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgb(10 10 10 / 86%);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.marquee .modal .icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 5px;
}

.marquee .modal .icon:hover {
  background-color: rgb(10 10 10 / 30%);
  border-radius: 50%;
}

.marquee .modal div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee .modal iframe {
  width: 90vw;
  height: 50vw;
  max-height: 95vh;
}

@media (min-width: 600px) {
  .section.marquee-container {
    padding: 0 56px;
  }

  .section div.marquee-wrapper {
    margin-left: calc(-1 * var(--space-token-xl));
    margin-right: calc(-1 * var(--space-token-xl));
  }

  .marquee-subject {
    min-height: 350px;
    background: none !important;
  }

  .marquee-subject img {
    position: relative;
    z-index: 2;
    max-width: 400px;
  }

  .marquee-background {
    min-height: 350px;
    height: 100%;
    width: 100%;
    bottom: 0;
    overflow: hidden;
  }

  .marquee-background svg {
    display: inline-block;
    transform: translate(-320px, 70px) scale(3);
  }

  .marquee-foreground {
    min-height: 420px;
  }

  .marquee-text {
    padding: var(--space-token-m) var(--space-token-xl);
    background-color: var(--background-color);
  }

  .marquee-cta {
    flex-flow: row wrap;
  }

  .marquee-cta > a.button {
    padding: 8px 20px;
  }

  .marquee-spacer {
    display: block;
    order: 1;
  }
}

@media (min-width: 900px) {
  .marquee {
    overflow: hidden;
  }

  .marquee-foreground {
    padding: 0 var(--space-token-xl);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  body[class^='browse-'] .marquee-foreground,
  body[class^='article-'] .marquee-foreground {
    min-height: 260px;
  }

  .marquee-text {
    padding: 0;
    width: 50%;
    max-width: 500px;
    margin: auto 0;
    background: none;
  }

  .marquee-title {
    font-size: var(--spectrum-font-size-7xl);
  }

  .marquee-cta {
    flex-wrap: nowrap;
  }

  .marquee-cta > a.button {
    min-width: auto;
    padding: 10px 22px;
  }

  .marquee-subject {
    width: 40%;
    min-width: 400px;
    display: block;
    margin: auto;
    overflow: hidden;
  }

  .marquee-subject img {
    object-fit: cover;
    width: auto;
    position: relative;
    z-index: 2;
  }

  .marquee-background svg {
    transform: none;
    min-width: 105%;
    min-height: 100%;
  }

  .marquee.no-subject {
    display: block;
  }

  .marquee.no-subject > .marquee-background {
    position: absolute;
    min-height: 100%;
  }
}

/* when shown on a page with a rail */
@media (min-width: 1024px) {
  /* no longer goes from end to end */
  body[class^='browse-'] .section div.marquee-wrapper,
  body[class^='article-'] .section div.marquee-wrapper,
  body[class*='profile-home-page'] .section div.marquee-wrapper {
    margin-left: unset;
    margin-right: unset;
  }

  /* title */
  body[class^='browse-'] .marquee-title,
  body[class^='article-'] .marquee-title {
    font-size: var(--spectrum-font-size-5xl);
    line-height: 36px;
    margin-bottom: var(--space-token-xxs);
  }

  /* description */
  body[class^='browse-'] .marquee-long-description,
  body[class^='article-'] .marquee-long-description,
  body[class^='browse-'] .marquee-long-description * body[class^='article-'] .marquee-long-description * {
    line-height: 23.4px;
  }

  /* cta */
  body[class^='browse-'] .marquee-cta a.button,
  body[class^='article-'] .marquee-cta a.button {
    font-size: var(--spectrum-font-size-base);
    line-height: 21px;
    padding: 6px 16px 9px 20px;
  }

  body[class^='browse-'] .section div.marquee-wrapper .marquee-foreground,
  body[class^='article-'] .section div.marquee-wrapper .marquee-foreground {
    padding: 0;
    justify-content: space-between;
  }

  /* text block */
  body[class^='browse-'] .marquee-text,
  body[class^='article-'] .marquee-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20px 0 23px 36px;
    flex-grow: 1;
    max-width: 500px;
  }

  /* subject image */
  body[class^='browse-'] .marquee-subject,
  body[class^='article-'] .marquee-subject {
    min-width: unset;
    min-height: unset;
    width: 320px;
    z-index: 1;
    margin: unset;
  }

  body[class^='browse-'] .marquee-subject img,
  body[class^='article-'] .marquee-subject img {
    display: block;
    min-width: unset;
    padding: 0;
    height: 260px;
  }

  body[class^='browse-'] .section div.marquee-wrapper .marquee-background,
  body[class^='article-'] .section div.marquee-wrapper .marquee-background {
    min-height: 240px;
    border: 1px solid var(--spectrum-gray-200);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--background-color);
  }

  body[class^='browse-'] .section div.marquee-wrapper .marquee-background svg,
  body[class^='article-'] .section div.marquee-wrapper .marquee-background svg {
    min-width: 130%;
    min-height: 0%;
  }

  body[class*='profile-home-page'] .section div.marquee-wrapper .marquee-foreground {
    margin: 0;
  }

  body[class*='profile-home-page'] div.section.marquee-container {
    overflow: hidden;
  }
}
