.module-meta {
  background: var(--background-color);
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 10px 30px #00000026;
  border: 6px solid var(--non-spectrum-dark-navy-blue);
}

.module-meta > div {
  margin-bottom: 20px;
}

.module-meta > div:last-child {
  margin-bottom: 0;
}

/* Module title */
.module-meta > div:first-child > div {
  font-size: 28px;
  font-weight: 700;
  border-bottom: 2px solid var(--spectrum-gray-200);
  padding-bottom: 12px;
}

/* Module description label */
.module-meta > div:nth-child(2) > div {
  font-size: 18px;
  color: var(--spectrum-gray-700);
}

.module-meta > div a {
  display: block;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 18px;
}

.module-meta > div:nth-child(3) a::before {
  content: 'QUIZ PATH : ';
  font-weight: 600;
  font-size: 24px;
}

.module-meta > div:nth-child(4) a::before {
  content: 'RECAP PATH : ';
  font-weight: 600;
  font-size: 24px;
}

.module-meta > div:nth-child(5) > div::before {
  content: 'Estimated Time to Complete : ';
  font-weight: 600;
  font-size: 18px;
}
