.note {
  color: var(--spectrum-gray-800);
  background-color: var(--background-color);
  font-size: var(--spectrum-body-size-m);
  line-height: 25.6px;
  margin-bottom: 28px;
  padding: 14px;
  border: 1px solid var(--non-spectrum-true-blue);
  border-radius: 0;
  border-left-width: 42px;
  box-shadow: var(--box-shadow-1);
  text-rendering: optimizelegibility;

  & > div:first-child > div {
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: var(--spectrum-heading-size-xxs);
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 8px;
  }

  & > div a {
    font-size: var(--spectrum-body-size-m);
  }

  span.icon {
    width: 16px;
    height: 16px;
    margin-right: 0.25rem;
    display: flex;
    align-items: center;
  }

  &.important {
    border-color: var(--non-spectrum-tawny-orange);
  }

  &.warning,
  &.caution,
  &.error {
    border-color: var(--non-spectrum-ue-red);
  }

  &.success {
    border-color: var(--non-spectrum-viridian);
  }

  .accordion summary {
    color: var(--text-color);
  }
}

body[class^='browse-'] .note-wrapper,
body[class^='article-'] .note-wrapper,
body[class^='articles'] .note-wrapper {
  margin: 0;
}
