.note {
  color: var(--text-color);
  background-color: var(--background-color);
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid var(--non-spectrum-true-blue);
  border-radius: 0;
  border-left-width: 3rem;
  box-shadow: var(--box-shadow-1);

  div:first-child > div {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 8px;
  }

  span.icon {
    width: 16px;
    height: 16px;
    margin-right: 0.25rem;
    display: flex;
    align-items: center;
  }

  &.important {
    border-color: var(--non-spectrum-tawny-orange);
  }

  &.warning,
  &.caution,
  &.error {
    border-color: var(--non-spectrum-ue-red);
  }

  &.success {
    border-color: var(--non-spectrum-viridian);
  }
}
