@import '../../styles/sass/mixins';

.article-metadata > div > div {
  @include text-styles(
    $font-size: var(--spectrum-font-size-75),
    $line-height: var(--spectrum-line-height-s),
    $color: var(--non-spectrum-grey-updated),
    $margin-top: 4px,
    $margin-bottom: 9px
  );
}
