.article-metadata > div > div {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-400);
  font-style: normal;
  line-height: var(--spectrum-line-height-s);
  color: var(--non-spectrum-grey-updated);
  margin-top: 4px;
  margin-bottom: 9px;
}

.doc-actions-mobile {
  margin: 20px 0 0 -3px;
  min-height: 40px;
}

@media (width >= 900px) {
  .doc-actions-mobile {
    display: none;
  }
}
