helix-importer-ui
scripts/prism.js
scripts/prism-grammars/**
scripts/universal-editor-embedded.js
scripts/coveo-headless/libs/browser/*
scripts/analytics/privacy-standalone.js
scripts/feedback/qualtrics/qualtrics-embed.js
scripts/confetti/canvas-confetti-1.9.3.module.min.mjs