.adobe-account-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.adobe-account-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 386px;
}

.adobe-account-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.adobe-account-card .card-header .adobe-account {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.72px;
    color: #000000;
    text-transform: uppercase;
    margin: 0px;
}

.adobe-account-card .card-header .make-changes {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.adobe-account-card .card-header .make-changes a {
    margin: 0px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #222222;
}

.adobe-account-card .card-body {
    display: flex;
    align-items: center;
    gap: 16px;
}

.adobe-account-card .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #0073e6;
    color: #fff;
    /* display: flex;
    justify-content: center;
    font-size: 1.5em; */
}

.adobe-account-card .avatar .icon-profile {
    width: 64px;
    height: 64px;
}

.adobe-account-card .user-info .display-name {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 4px;
}

.adobe-account-card .user-info .email,
.adobe-account-card .user-info .company {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #222222;
}