.adobe-account-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.adobe-account-card {
    background-color: var(--spectrum-gray-50);
    border: 1px solid var(--shimmer-image-slide-mid);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 386px;
}

.adobe-account-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.adobe-account-card .card-header .adobe-account {
    font-size: var(--spectrum-font-size-75);
    font-weight: bold;
    letter-spacing: 0.72px;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0px;
}

.adobe-account-card .card-header .update-profile {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.adobe-account-card .card-header .update-profile a {
    margin: 0px;
    font-size: var(--spectrum-font-size-75);
    color: var(--spectrum-gray-800);
}

.adobe-account-card .card-body {
    display: flex;
    align-items: center;
    gap: 16px;
}

.adobe-account-card .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--non-spectrum-navy-blue);
    color: var(--spectrum-gray-50);
}

.adobe-account-card .avatar .icon-profile {
    width: 64px;
    height: 64px;
}

.adobe-account-card .user-info .display-name {
    font-size: var(--spectrum-font-size-300);
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 4px;
}

.adobe-account-card .user-info .email,
.adobe-account-card .user-info .company {
    font-size: var(--spectrum-font-size-100);
    font-weight: normal;
    color: var(--spectrum-gray-800);
}