.columns > div {
  display: grid;
  grid-template-columns: 1fr;
}

.columns > div > div {
  padding: 16px;
}

.columns img {
  width: 100%;
}

@media (min-width: 600px) {
  .columns > div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .columns > div {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}