.columns {
  font-family: var(--body-font-family);
  font-size: var(--exlm-font-size-content);
  font-weight: var(--font-weight-400);
  font-style: normal;
  line-height: var(--spectrum-line-height-l);
  color: var(--spectrum-gray-800);
}

.columns > div {
  display: grid;
  grid-template-columns: 1fr;
}

div:not([data-aue-model^='columns']).columns > div > div,
div[data-aue-model^='columns'].columns > div > div > div {
  padding: 16px;
}

.columns img {
  width: 100%;
}

.columns.block.b-alt-row > div:first-child {
  display: none;
}

div:not([data-aue-model^='columns']).columns.block.b-alt-row > div > div,
div[data-aue-model^='columns'].columns.block.b-alt-row > div > div > div {
  border: 1px solid var(--non-spectrum-gainsboro-gray);
  border-bottom: none;
  display: inline-flex;
  position: relative;
  padding: 10px;
  width: 96%;
}

div[data-aue-model^='columns'].columns.block.b-alt-row > div > div {
  position: relative;
  width: 96%;
}

.columns.block.b-alt-row > div > div:last-child {
  border-bottom: 1px solid var(--non-spectrum-gainsboro-gray);
}

.columns.block.b-alt-row > div {
  display: block;
  margin-bottom: 10px;
}

.columns.block.b-alt-row .header-label {
  font-weight: bold;
  display: block;
  width: 50%;
}

.columns.block.b-alt-row .cell-content {
  display: inline-block;
  width: 50%;
  text-align: left;
}

@media (min-width: 600px) {
  .columns > div {
    grid-template-columns: 1fr 1fr;
  }

  .columns.block.b-alt-row {
    display: flex;
    flex-direction: column;
  }

  .columns.block.b-alt-row > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  div:not([data-aue-model^='columns']).columns.block.b-alt-row > div > div,
  div[data-aue-model^='columns'].columns.block.b-alt-row > div > div > div {
    display: flex;
    flex: 1;
    margin-bottom: 0;
    border: none;
  }

  .columns.block.b-alt-row > div:first-child {
    display: flex;
  }

  .columns.block.b-alt-row .header-label {
    display: none;
  }

  .columns.block.b-alt-row > div {
    border: 1px solid var(--non-spectrum-gainsboro-gray);
    border-bottom: none;
  }

  .columns.block.b-alt-row > div:last-child {
    border-bottom: 1px solid var(--non-spectrum-gainsboro-gray);
  }

  .columns.block.b-alt-row > div > div:last-child {
    border-bottom: none;
  }

  .columns.block.b-alt-row > div:nth-child(odd) {
    background-color: var(--non-spectrum-bg);
  }
}

@media (min-width: 900px) {
  .columns > div {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}
