<div class="container columns is-tablet">
    <div class="left column is-two-thirds">
        <div class="qualtrics-feedback"></div>
        <div class="first-question">
            <div class="question">
                <h3>Was this content helpful?</h3>
                <span class="like-buttons">
                    <button disabled class="up spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-up></sp-icon-thumb-up>
                        <div class="no-auth spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Error loading. Refresh page.</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button disabled class="down spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-down></sp-icon-thumb-down>
                        <div class="no-auth spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Error loading. Refresh page.</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button class="up spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-up></sp-icon-thumb-up>
                        <div class="spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Content is helpful</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button class="down spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-down></sp-icon-thumb-down>
                        <div class="spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Content is not helpful</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                </span>
                <div class="spinner">
                    <div class="spectrum-ProgressCircle spectrum-ProgressCircle--indeterminate">
                        <div class="spectrum-ProgressCircle-track"></div>
                        <div class="spectrum-ProgressCircle-fills">
                          <div class="spectrum-ProgressCircle-fillMask1">
                            <div class="spectrum-ProgressCircle-fillSubMask1">
                              <div class="spectrum-ProgressCircle-fill"></div>
                            </div>
                          </div>
                          <div class="spectrum-ProgressCircle-fillMask2">
                            <div class="spectrum-ProgressCircle-fillSubMask2">
                              <div class="spectrum-ProgressCircle-fill"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <button class="mobile-toggle" role="button">
                    <sp-icon-chevron-up></sp-icon-chevron-up>
                    <sp-icon-chevron-down></sp-icon-chevron-down>
                </button>
            </div>
            <div class="follow-up">
                <h3>Thank you for your feedback.</h3>
                <button class="mobile-toggle" role="button">
                    <sp-icon-chevron-up></sp-icon-chevron-up>
                    <sp-icon-chevron-down></sp-icon-chevron-down>
                </button>
                <span class="refresh-prompt">Refresh your page to provide more feedback.</span>
                <span class="feedback-prompt">Please take a moment to explain your selection or how we could improve.</span>
            </div>
        </div>
        <div class="second-question">
            <sp-textfield disabled multiline placeholder="Vote to provide optional feedback and submit"></sp-textfield>
            <div>
                <button class="submit spectrum-Button spectrum-Button--accent spectrum-Button--fill spectrum-Button--sizeM u-tooltip-showOnHover" role="button" disabled>
                    <span class="spectrum-Button-label">Submit</span>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Provide feedback to submit</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Submit feedback</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
                </button>
                <button class="dismiss spectrum-Button spectrum-Button--outline spectrum-Button--secondary spectrum-Button--sizeM" role="button">
                    <span class="spectrum-Button-label">Dismiss</span>
                </button>
            </div>
        </div>
    </div>

    <div class="right column is-one-third">
        <div class="opened-controls">
            <span>Detailed feedback options</span>
            <button class="open-toggle" role="button">
                <sp-icon-chevron-up></sp-icon-chevron-up>
                <sp-icon-chevron-down></sp-icon-chevron-down>
            </button>
        </div>
        <div class="header-text-mobile">
            <span>Other feedback options</span>
        </div>
        <div class="expanded-controls">
            <div class="git-buttons">
                <button class="file-bug spectrum-ActionButton spectrum-ActionButton--sizeM u-tooltip-showOnHover" role="button">
                    <sp-icon-bug></sp-icon-bug>
                    <span class="spectrum-ActionButton-label">Report an issue</span>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Open GitHub to report</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">This feature is unavailable on this page</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
                <button class="suggest-edit spectrum-ActionButton spectrum-ActionButton--sizeM u-tooltip-showOnHover" role="button">
                    <sp-icon-edit></sp-icon-edit>
                    <span class="spectrum-ActionButton-label">Suggest an edit</span>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Open GitHub to edit</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">This feature is unavailable on this page</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
            </div>
            <a href="/docs/contributor/contributor-guide/introduction.html?lang=zz" target="_blank">Learn how to contribute.</a>
        </div>
    </div>

    <button class="close" role="button">
        <figure class="image is-14x14">
            <img src="/assets/img/close.svg" loading="lazy">
        </figure>
    </button>
</div>
