<div class="container columns is-tablet">
    <div class="left column is-two-thirds">
        <div class="qualtrics-feedback"></div>
        <div class="first-question">
            <div class="question">
                <h3>Este conteúdo foi útil?</h3>
                <span class="like-buttons">
                    <button disabled class="up spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-up></sp-icon-thumb-up>
                        <div class="no-auth spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Erro ao carregar. Atualizar página.</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button disabled class="down spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-down></sp-icon-thumb-down>
                        <div class="no-auth spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Erro ao carregar. Atualizar página.</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button class="up spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-up></sp-icon-thumb-up>
                        <div class="spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">O conteúdo é útil</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button class="down spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-down></sp-icon-thumb-down>
                        <div class="spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">O conteúdo não é útil</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                </span>
                <div class="spinner">
                    <div class="spectrum-ProgressCircle spectrum-ProgressCircle--indeterminate">
                        <div class="spectrum-ProgressCircle-track"></div>
                        <div class="spectrum-ProgressCircle-fills">
                          <div class="spectrum-ProgressCircle-fillMask1">
                            <div class="spectrum-ProgressCircle-fillSubMask1">
                              <div class="spectrum-ProgressCircle-fill"></div>
                            </div>
                          </div>
                          <div class="spectrum-ProgressCircle-fillMask2">
                            <div class="spectrum-ProgressCircle-fillSubMask2">
                              <div class="spectrum-ProgressCircle-fill"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <button class="mobile-toggle" role="button">
                    <sp-icon-chevron-up></sp-icon-chevron-up>
                    <sp-icon-chevron-down></sp-icon-chevron-down>
                </button>
            </div>
            <div class="follow-up">
                <h3>Obrigado pelo seu feedback.</h3>
                <button class="mobile-toggle" role="button">
                    <sp-icon-chevron-up></sp-icon-chevron-up>
                    <sp-icon-chevron-down></sp-icon-chevron-down>
                </button>
                <span class="refresh-prompt">Atualize sua página para fornecer mais comentários.</span>
                <span class="feedback-prompt">Reserve um momento para explicar sua seleção ou como podemos melhorar.</span>
            </div>
        </div>
        <div class="second-question">
            <sp-textfield disabled multiline placeholder="Votar para fornecer feedback e enviar opcionais"></sp-textfield>
            <div>
                <button class="submit spectrum-Button spectrum-Button--accent spectrum-Button--fill spectrum-Button--sizeM u-tooltip-showOnHover" role="button" disabled>
                    <span class="spectrum-Button-label">Enviar</span>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Fornecer feedback para enviar</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Enviar feedback</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
                </button>
                <button class="dismiss spectrum-Button spectrum-Button--outline spectrum-Button--secondary spectrum-Button--sizeM" role="button">
                    <span class="spectrum-Button-label">Descartar</span>
                </button>
            </div>
        </div>
    </div>

    <div class="right column is-one-third">
        <div class="opened-controls">
            <span>Opções de feedback detalhadas</span>
            <button class="open-toggle" role="button">
                <sp-icon-chevron-up></sp-icon-chevron-up>
                <sp-icon-chevron-down></sp-icon-chevron-down>
            </button>
        </div>
        <div class="header-text-mobile">
            <span>Outras opções de feedback</span>
        </div>
        <div class="expanded-controls">
            <div class="git-buttons">
                <button class="file-bug spectrum-ActionButton spectrum-ActionButton--sizeM u-tooltip-showOnHover" role="button">
                    <sp-icon-bug></sp-icon-bug>
                    <span class="spectrum-ActionButton-label">Relatar um problema</span>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Abrir GitHub para relatório</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Este recurso não está disponível nesta página</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
                <button class="suggest-edit spectrum-ActionButton spectrum-ActionButton--sizeM u-tooltip-showOnHover" role="button">
                    <sp-icon-edit></sp-icon-edit>
                    <span class="spectrum-ActionButton-label">Sugerir uma edição</span>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Abrir GitHub para editar</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Este recurso não está disponível nesta página</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
            </div>
            <a href="/docs/contributor/contributor-guide/introduction.html?lang=pt-BR" target="_blank">Saiba como contribuir.</a>
        </div>
    </div>

    <button class="close" role="button">
        <figure class="image is-14x14">
            <img src="/assets/img/close.svg" loading="lazy">
        </figure>
    </button>
</div>
