<div class="container columns is-tablet">
    <div class="left column is-two-thirds">
        <div class="qualtrics-feedback"></div>
        <div class="first-question">
            <div class="question">
                <h3>此内容有帮助吗？</h3>
                <span class="like-buttons">
                    <button disabled class="up spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-up></sp-icon-thumb-up>
                        <div class="no-auth spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">加载错误。刷新页面。</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button disabled class="down spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-down></sp-icon-thumb-down>
                        <div class="no-auth spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">加载错误。刷新页面。</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button class="up spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-up></sp-icon-thumb-up>
                        <div class="spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">内容有帮助</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button class="down spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-down></sp-icon-thumb-down>
                        <div class="spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">内容没有帮助</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                </span>
                <div class="spinner">
                    <div class="spectrum-ProgressCircle spectrum-ProgressCircle--indeterminate">
                        <div class="spectrum-ProgressCircle-track"></div>
                        <div class="spectrum-ProgressCircle-fills">
                          <div class="spectrum-ProgressCircle-fillMask1">
                            <div class="spectrum-ProgressCircle-fillSubMask1">
                              <div class="spectrum-ProgressCircle-fill"></div>
                            </div>
                          </div>
                          <div class="spectrum-ProgressCircle-fillMask2">
                            <div class="spectrum-ProgressCircle-fillSubMask2">
                              <div class="spectrum-ProgressCircle-fill"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <button class="mobile-toggle" role="button">
                    <sp-icon-chevron-up></sp-icon-chevron-up>
                    <sp-icon-chevron-down></sp-icon-chevron-down>
                </button>
            </div>
            <div class="follow-up">
                <h3>感谢您的反馈。</h3>
                <button class="mobile-toggle" role="button">
                    <sp-icon-chevron-up></sp-icon-chevron-up>
                    <sp-icon-chevron-down></sp-icon-chevron-down>
                </button>
                <span class="refresh-prompt">刷新页面以提供更多反馈。</span>
                <span class="feedback-prompt">请花一些时间解释您的选择或者我们该如何改进。</span>
            </div>
        </div>
        <div class="second-question">
            <sp-textfield disabled multiline placeholder="投票以提供可选的反馈并提交"></sp-textfield>
            <div>
                <button class="submit spectrum-Button spectrum-Button--accent spectrum-Button--fill spectrum-Button--sizeM u-tooltip-showOnHover" role="button" disabled>
                    <span class="spectrum-Button-label">提交</span>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">提供反馈以提交</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">提交反馈</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
                </button>
                <button class="dismiss spectrum-Button spectrum-Button--outline spectrum-Button--secondary spectrum-Button--sizeM" role="button">
                    <span class="spectrum-Button-label">拒绝</span>
                </button>
            </div>
        </div>
    </div>

    <div class="right column is-one-third">
        <div class="opened-controls">
            <span>详细反馈选项</span>
            <button class="open-toggle" role="button">
                <sp-icon-chevron-up></sp-icon-chevron-up>
                <sp-icon-chevron-down></sp-icon-chevron-down>
            </button>
        </div>
        <div class="header-text-mobile">
            <span>其他反馈选项</span>
        </div>
        <div class="expanded-controls">
            <div class="git-buttons">
                <button class="file-bug spectrum-ActionButton spectrum-ActionButton--sizeM u-tooltip-showOnHover" role="button">
                    <sp-icon-bug></sp-icon-bug>
                    <span class="spectrum-ActionButton-label">报告问题</span>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">打开 GitHub 进行报告</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">此功能在此页面上不可用</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
                <button class="suggest-edit spectrum-ActionButton spectrum-ActionButton--sizeM u-tooltip-showOnHover" role="button">
                    <sp-icon-edit></sp-icon-edit>
                    <span class="spectrum-ActionButton-label">建议编辑</span>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">打开 GitHub 进行编辑</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">此功能在此页面上不可用</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
            </div>
            <a href="/docs/contributor/contributor-guide/introduction.html?lang=zh-Hans" target="_blank">了解如何贡献。</a>
        </div>
    </div>

    <button class="close" role="button">
        <figure class="image is-14x14">
            <img src="/assets/img/close.svg" loading="lazy">
        </figure>
    </button>
</div>
