<div class="container columns is-tablet">
    <div class="left column is-two-thirds">
        <div class="qualtrics-feedback"></div>
        <div class="first-question">
            <div class="question">
                <h3>War dieser Inhalt hilfreich?</h3>
                <span class="like-buttons">
                    <button disabled class="up spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-up></sp-icon-thumb-up>
                        <div class="no-auth spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Fehler beim Laden. Bitte aktualisieren Sie die Seite.</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button disabled class="down spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-down></sp-icon-thumb-down>
                        <div class="no-auth spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Fehler beim Laden. Bitte aktualisieren Sie die Seite.</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button class="up spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-up></sp-icon-thumb-up>
                        <div class="spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Inhalt ist hilfreich</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                    <button class="down spectrum-Button spectrum-Button--fill spectrum-Button--accent u-tooltip-showOnHover" role="button">
                        <sp-icon-thumb-down></sp-icon-thumb-down>
                        <div class="spectrum-Tooltip spectrum-Tooltip--top">
                            <span class="spectrum-Tooltip-label">Inhalt ist nicht hilfreich</span>
                            <span class="spectrum-Tooltip-tip"></span>
                        </div>
                    </button>
                </span>
                <div class="spinner">
                    <div class="spectrum-ProgressCircle spectrum-ProgressCircle--indeterminate">
                        <div class="spectrum-ProgressCircle-track"></div>
                        <div class="spectrum-ProgressCircle-fills">
                          <div class="spectrum-ProgressCircle-fillMask1">
                            <div class="spectrum-ProgressCircle-fillSubMask1">
                              <div class="spectrum-ProgressCircle-fill"></div>
                            </div>
                          </div>
                          <div class="spectrum-ProgressCircle-fillMask2">
                            <div class="spectrum-ProgressCircle-fillSubMask2">
                              <div class="spectrum-ProgressCircle-fill"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <button class="mobile-toggle" role="button">
                    <sp-icon-chevron-up></sp-icon-chevron-up>
                    <sp-icon-chevron-down></sp-icon-chevron-down>
                </button>
            </div>
            <div class="follow-up">
                <h3>Vielen Dank für Ihr Feedback.</h3>
                <button class="mobile-toggle" role="button">
                    <sp-icon-chevron-up></sp-icon-chevron-up>
                    <sp-icon-chevron-down></sp-icon-chevron-down>
                </button>
                <span class="refresh-prompt">Aktualisieren Sie die Seite, um mehr Feedback zu geben.</span>
                <span class="feedback-prompt">Nehmen Sie sich einen Moment Zeit, um Ihre Auswahl zu erläutern und uns mitzuteilen, wie wir uns verbessern können.</span>
            </div>
        </div>
        <div class="second-question">
            <sp-textfield disabled multiline placeholder="Abstimmen, optionales Feedback abgeben und senden"></sp-textfield>
            <div>
                <button class="submit spectrum-Button spectrum-Button--accent spectrum-Button--fill spectrum-Button--sizeM u-tooltip-showOnHover" role="button" disabled>
                    <span class="spectrum-Button-label">Senden</span>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Feedback geben und übermitteln</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Feedback senden</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
                </button>
                <button class="dismiss spectrum-Button spectrum-Button--outline spectrum-Button--secondary spectrum-Button--sizeM" role="button">
                    <span class="spectrum-Button-label">Verwerfen</span>
                </button>
            </div>
        </div>
    </div>

    <div class="right column is-one-third">
        <div class="opened-controls">
            <span>Detaillierte Feedback-Optionen</span>
            <button class="open-toggle" role="button">
                <sp-icon-chevron-up></sp-icon-chevron-up>
                <sp-icon-chevron-down></sp-icon-chevron-down>
            </button>
        </div>
        <div class="header-text-mobile">
            <span>Andere Feedback-Optionen</span>
        </div>
        <div class="expanded-controls">
            <div class="git-buttons">
                <button class="file-bug spectrum-ActionButton spectrum-ActionButton--sizeM u-tooltip-showOnHover" role="button">
                    <sp-icon-bug></sp-icon-bug>
                    <span class="spectrum-ActionButton-label">Problem melden</span>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">GitHub zur Meldung öffnen</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Diese Funktion ist auf dieser Seite nicht verfügbar</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
                <button class="suggest-edit spectrum-ActionButton spectrum-ActionButton--sizeM u-tooltip-showOnHover" role="button">
                    <sp-icon-edit></sp-icon-edit>
                    <span class="spectrum-ActionButton-label">Bearbeitung vorschlagen</span>
                    <div class="is-enabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Feedback geben und senden</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                    <div class="is-disabled spectrum-Tooltip spectrum-Tooltip--top">
                        <span class="spectrum-Tooltip-label">Diese Funktion ist auf dieser Seite nicht verfügbar</span>
                        <span class="spectrum-Tooltip-tip"></span>
                    </div>
                </button>
            </div>
            <a href="/docs/contributor/contributor-guide/introduction.html?lang=de" target="_blank">Erfahren Sie, wie Sie beitragen können.</a>
        </div>
    </div>

    <button class="close" role="button">
        <figure class="image is-14x14">
            <img src="/assets/img/close.svg" loading="lazy">
        </figure>
    </button>
</div>
