/* TODO: This is obselete and should be removed when all pages have been seeded and the old badge is no longer used */
.img-md {
  display: flex;
}

.img-md.left-align {
  justify-content: flex-start;
}

.img-md.center-align {
  justify-content: center;
}

.img-md.right-align {
  justify-content: flex-end;
}

.img-md.modal-image img {
  cursor: zoom-in;
}

.img-modal {
  --modal-max-height: calc(100vh - 40px);

  display: none;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
  z-index: 99999;
}

.img-modal-background {
  background: rgb(10 10 10 / 86%);
  height: 100%;
  left: 0;
  position: fixed;
  transition: all 200ms;
  top: 0;
  width: 100%;
  z-index: 12;
}

.img-modal-content {
  border-radius: 7px;
  max-height: var(--modal-max-height);
  margin: 0 auto;
  padding: 5px;
  position: relative;
  width: 98vw;
  z-index: 14;
}

.img-modal-content .img-container {
  display: flex;
  justify-content: center;
}

.img-modal-content .img-container picture {
  display: block;
  max-height: var(--modal-max-height);
}

.img-modal-content .img-container img {
  display: block;
  max-height: var(--modal-max-height);
}

.img-modal-content .img.block.modal-image img {
  cursor: auto;
  height: auto;
  width: var(--modal-max-height);
}

.img-modal-close {
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 32px;
  z-index: 99;
}

.img-modal-close::before,
.img-modal-close::after {
  background-color: var(--spectrum-gray-50);
  box-sizing: inherit;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
  width: 50%;
}

.img-modal-close::after {
  height: 50%;
  width: 2px;
}

.img-modal-close:hover {
  background: rgb(10 10 10 / 30%);
}

.img-modal.is-active {
  display: flex;
}

.img-modal.is-active .img.block {
  display: block;
}
