/* TODO: This is obselete and should be removed when all pages have been seeded and the old badge is no longer used */

.img-md {
  display: flex;

  &.left-align {
    justify-content: flex-start;
  }

  &.center-align {
    justify-content: center;
  }

  &.right-align {
    justify-content: flex-end;
  }

  &.modal-image img {
    cursor: zoom-in;
  }
}

.img-modal {
  --modal-max-height: calc(100vh - 40px);

  display: none;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
  z-index: 99999;

  &-background {
    background: rgba(10 10 10 / 86%);
    height: 100%;
    left: 0;
    position: fixed;
    transition: all 200ms;
    top: 0;
    width: 100%;
    z-index: 12;
  }

  &-content {
    border-radius: 7px;
    max-height: var(--modal-max-height);
    margin: 0 auto;
    padding: 5px;
    position: relative;
    width: 98vw;
    z-index: 14;

    .img-container {
      display: flex;
      justify-content: center;

      picture {
        display: block;
        max-height: var(--modal-max-height);
      }

      img {
        display: block;
        max-height: var(--modal-max-height);
      }
    }

    & .img.block.modal-image img {
      cursor: auto;
      height: auto;
      width: var(--modal-max-height);
    }
  }

  &-close {
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 32px;
    z-index: 99;

    &::before,
    &::after {
      background-color: var(--spectrum-gray-50);
      box-sizing: inherit;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform-origin: center center;
      width: 50%;
    }

    &::after {
      height: 50%;
      width: 2px;
    }

    &:hover {
      background: rgba(10 10 10 / 30%);
    }
  }

  &.is-active {
    display: flex;

    & .img.block {
      display: block;
    }
  }
}
