.checkbox-container {
    padding: 10px 20px;
    background: #f4f4f4;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}