.speakers.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.speakers.block > div > div {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto auto;
  gap: 0 30px;

  p {
    margin: 0;
  }

  p:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid #000;

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  p:nth-child(2),
  p:nth-child(3) {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  p:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  p:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
}
