.mini-toc-container {
  display: block;
}

.mini-toc-wrapper {
  padding-left: 0;
  padding-top: 8px;
  flex: none;
  width: 100%;
  position: sticky;
  margin-top: 0 !important;
  top: 52px;
  overflow: visible;
  max-width: 100%;
}

.mini-toc-wrapper .mini-toc {
  font-size: var(--spectrum-font-size-50);
  font-weight: var(--spectrum-extra-bold-font-weight);
  padding-left: 0;
  overflow: hidden;
}

.mini-toc-wrapper .mini-toc .scrollable-div {
  max-height: 80vh;
  overflow: hidden;
}

.mini-toc-wrapper .mini-toc .scrollable-div:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}

.mini-toc-wrapper .mini-toc h2 {
  font-size: var(--spectrum-font-size-50);
  font-weight: var(--spectrum-extra-bold-font-weight);
  text-transform: uppercase;
  margin: 0;
  line-height: 31px;
  display: none;
}

.mini-toc-wrapper .mini-toc .mini-toc-button {
  padding: 7px 25px 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: transparent;
  border: 1px solid var(--non-spectrum-article-light-gray);
  border-radius: 4px;
  box-shadow: none;
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-300);
  height: 32px;
  line-height: 15px;
  text-align: right;
  margin: 0;
  width: 100%;
}

.mini-toc-wrapper .mini-toc .mini-toc-button span {
  font-size: var(--spectrum-font-size-100);
  line-height: 17px;
  color: var(--spectrum-gray-700);
}

.mini-toc-wrapper .mini-toc .mini-toc-button::after {
  position: absolute;
  top: 50%;
  display: flex;
  width: 6px;
  height: 6px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: 75% 75%;
  transform: rotateZ(45deg);
  transition: transform 0.1s ease;
  content: '';
  margin-top: -5px;
  right: 16px;
  color: var(--spectrum-gray-700);
}

.mini-toc-wrapper .mini-toc .mini-toc-button[aria-expanded='true']::after {
  transform: rotateZ(-135deg);
}

.mini-toc-wrapper .mini-toc .scrollable-div {
  display: none;
  position: absolute;
  top: 44px;
  background: var(--spectrum-gray-50);
}

.mini-toc-wrapper .mini-toc .scrollable-div.mini-toc-popover {
  display: block;
  box-shadow: var(--box-shadow-2);
  filter: drop-shadow(var(--box-back-drop-shadow) 0 1px 4px);
  border: 1px solid var(--spectrum-gray-400);
  top: 68px;
  border-radius: 4px;
  top: 44px;
  max-width: 100%;
  margin: 0 20px;
  left: 0;
}

.mini-toc-wrapper .mini-toc .scrollable-div.mini-toc-popover ul {
  margin: 8px;
}

.mini-toc-wrapper .mini-toc .mini-toc-button:hover {
  color: var(--spectrum-gray-900);
  background-color: var(--spectrum-gray-200);
  border-color: var(--spectrum-gray-600);
}

.mini-toc-wrapper .mini-toc ul {
  list-style: none;
  padding-left: 0;
  margin: 12px 8px 0 0;
}

.mini-toc-wrapper .mini-toc ul li {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  width: 100%;
  min-height: var(--spectrum-sidenav-item-height, var(--spectrum-alias-single-line-height));
  padding: var(--spectrum-sidenav-item-padding-y)
    var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150))
    var(--spectrum-sidenav-item-padding-y)
    var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150));
  margin: 4px 0;
}

.mini-toc-wrapper .mini-toc ul li .is-padded-left-big {
  padding-left: var(--spectrum-spacing-400) !important;
}

.mini-toc-wrapper .mini-toc ul li .is-padded-left-big-big {
  padding-left: var(--spectrum-spacing-500) !important;
}

.mini-toc-wrapper .mini-toc ul li .is-padded-left-big-big-big {
  padding-left: var(--spectrum-spacing-600) !important;
}

.mini-toc-wrapper .mini-toc ul li .is-padded-left-big-big-big-big {
  padding-left: var(--spectrum-spacing-700) !important;
}

.mini-toc-wrapper .mini-toc ul li a {
  font-size: var(--spectrum-font-size-100);
  line-height: 21px;
  display: inline-flex;
  min-height: 32px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border-radius: 4px;
  padding: 5px 12px;
  color: var(--non-spectrum-grey-updated, var(--spectrum-alias-text-color-hover));
}

.mini-toc-wrapper .mini-toc ul li a:hover {
  background-color: var(--spectrum-alias-highlight-hover, var(--spectrum-alias-highlight-hover));
  color: var(--spectrum-sidenav-item-text-color-hover, var(--spectrum-alias-text-color-hover));
}

.mini-toc-wrapper .mini-toc ul li a.is-active {
  font-weight: var(--font-weight-600);
  background-color: var(--spectrum-sidenav-item-background-color-hover, var(--spectrum-alias-highlight-hover));
  color: #1e1e1e;
}

@media (min-width: 600px) {
  .mini-toc-wrapper .mini-toc h2 {
    display: block;
  }

  .mini-toc-wrapper .mini-toc .scrollable-div.mini-toc-popover {
    top: 68px;
    margin: 0;
  }
}

@media (width >= 900px) {
  .mini-toc-wrapper .mini-toc h2 {
    line-height: 14px;
  }

  .mini-toc-wrapper .mini-toc .mini-toc-button {
    display: none;
  }

  .mini-toc-wrapper .mini-toc .scrollable-div {
    max-height: 50vh;
    display: block;
    background: transparent;
    top: auto;
  }
}
