.mini-toc-container {
  display: block;
}

.mini-toc-wrapper {
  padding-left: 0;
  padding-top: 8px;
  flex: none;
  width: 100%;
  position: sticky;
  margin-top: 0 !important;
  top: 52px;
  overflow: visible;
  max-width: 100%;
}

.mini-toc-wrapper .mini-toc {
  font-size: var(--spectrum-font-size-50);
  font-weight: var(--font-weight-extra-bold);
  padding-left: 0;
  overflow: visible;
}

.mini-toc-wrapper .mini-toc .scrollable-div {
  max-height: 80vh;
  overflow: hidden;
}

.mini-toc-wrapper .mini-toc .scrollable-div:hover {
  overflow: hidden auto;
}

.mini-toc-wrapper .mini-toc h2 {
  font-size: var(--spectrum-font-size-50);
  font-weight: var(--font-weight-extra-bold);
  text-transform: uppercase;
  margin: 0;
  line-height: 31px;
}

.mini-toc-wrapper .mini-toc ul {
  list-style: none;
  padding-left: 0;
  margin: 12px 8px 0 0;
}

.mini-toc-wrapper .mini-toc ul li {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  width: 100%;
  min-height: var(--spectrum-sidenav-item-height, var(--spectrum-alias-single-line-height));
  padding: var(--spectrum-sidenav-item-padding-y)
    var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150))
    var(--spectrum-sidenav-item-padding-y)
    var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150));
  margin: 4px 0;
}

.mini-toc-wrapper .mini-toc ul li .is-padded-left-big {
  padding-left: var(--spectrum-spacing-400) !important;
}

.mini-toc-wrapper .mini-toc ul li .is-padded-left-big-big {
  padding-left: var(--spectrum-spacing-500) !important;
}

.mini-toc-wrapper .mini-toc ul li .is-padded-left-big-big-big {
  padding-left: var(--spectrum-spacing-600) !important;
}

.mini-toc-wrapper .mini-toc ul li .is-padded-left-big-big-big-big {
  padding-left: var(--spectrum-spacing-700) !important;
}

.mini-toc-wrapper .mini-toc ul li a {
  font-size: var(--spectrum-font-size-100);
  line-height: 21px;
  display: inline-flex;
  min-height: 32px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border-radius: 4px;
  padding: 5px 12px;
  color: var(--non-spectrum-grey-updated, var(--spectrum-alias-text-color-hover));
}

.mini-toc-wrapper .mini-toc ul li a:hover {
  background-color: var(--spectrum-alias-highlight-hover, var(--spectrum-alias-highlight-hover));
  color: var(--spectrum-sidenav-item-text-color-hover, var(--spectrum-alias-text-color-hover));
}

/* Basic active item styling */
.mini-toc-wrapper .mini-toc ul li.is-active {
  font-weight: var(--font-weight-semi-bold);
  color: #1e1e1e;
  overflow-y: hidden;
  position: relative;
}

.scrolling-down .mini-toc-wrapper .mini-toc ul li.is-active {
  background-color: var(--spectrum-sidenav-item-background-color-hover, var(--spectrum-alias-highlight-hover));
}

.scrolling-up .mini-toc-wrapper .mini-toc ul li.is-active {
  background-color: var(--spectrum-sidenav-item-background-color-hover, var(--spectrum-alias-highlight-hover));
}

/* Show all items when hovering over the TOC */
.mini-toc-wrapper:hover .mini-toc ul li {
  display: block !important;
}

/* Show all items when rail is not stuck */
.rail-content:not(.is-stuck) .mini-toc-wrapper .mini-toc ul li {
  display: block !important;
}

/* Hide all list items by default when TOC is collapsed */
.rail-content.is-stuck .mini-toc-wrapper .mini-toc ul li {
  display: none;
}

/* Show the active item */
.rail-content.is-stuck .mini-toc-wrapper .mini-toc ul li.is-active {
  display: inline-flex;
  position: relative;
  z-index: 2; /* Ensure active item is on top */
}

/* Show the item immediately after the active item */
.rail-content.is-stuck .mini-toc-wrapper .mini-toc ul li.is-active + li {
  display: inline-flex;
}

/* Show the item immediately before the active item */
.rail-content.is-stuck .mini-toc-wrapper .mini-toc ul li.is-adjacent-prev {
  display: inline-flex;
}

@media (width >= 600px) {
  .mini-toc-wrapper .mini-toc h2 {
    display: block;
  }
}

@media (width >= 900px) {
  .mini-toc-wrapper .mini-toc {
    overflow: hidden;
  }

  .mini-toc-wrapper .mini-toc h2 {
    line-height: 14px;
  }

  .mini-toc-wrapper .mini-toc .custom-filter-dropdown {
    display: none;
  }
}
