@import '../../styles/sass/breakpoints';

.mini-toc-container {
  display: block;
}

.mini-toc-wrapper {
  padding-left: 0;
  padding-top: 8px;
  flex: none;
  width: 100%;
  position: sticky;
  margin-top: 0 !important; // neccessaary for sticky
  top: 52px;
  overflow: visible;
}

.mini-toc-wrapper .mini-toc {
  font-size: var(--spectrum-font-size-50);
  font-weight: var(--spectrum-extra-bold-font-weight);
  padding-left: 0;
  overflow: hidden;

  .scrollable-div {
    max-height: 50vh;
    overflow: hidden;
  }

  .scrollable-div:hover {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.mini-toc-wrapper .mini-toc h2 {
  font-size: var(--spectrum-font-size-50);
  font-weight: var(--spectrum-extra-bold-font-weight);
  text-transform: uppercase;
  margin: 0;
  padding-left: 18px;
  line-height: 31px;
}

.mini-toc-wrapper .mini-toc ul {
  list-style: none;
  padding-left: 0;
  margin: 12px 8px 0 17px;

  li {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    width: 100%;
    min-height: var(--spectrum-sidenav-item-height, var(--spectrum-alias-single-line-height));
    padding: var(--spectrum-sidenav-item-padding-y)
      var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150))
      var(--spectrum-sidenav-item-padding-y)
      var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150));
    margin: 4px 0;

    .is-padded-left-big {
      padding-left: var(--spectrum-spacing-400) !important;
    }

    .is-padded-left-big-big {
      padding-left: var(--spectrum-spacing-500) !important;
    }

    .is-padded-left-big-big-big {
      padding-left: var(--spectrum-spacing-600) !important;
    }

    .is-padded-left-big-big-big-big {
      padding-left: var(--spectrum-spacing-700) !important;
    }

    a {
      font-size: var(--spectrum-font-size-100);
      line-height: 21px;
      display: inline-flex;
      min-height: 32px;
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      border-radius: 4px;
      padding: 5px 12px;
      color: var(--non-spectrum-grey-updated, var(--spectrum-alias-text-color-hover));
    }

    a:hover {
      background-color: var(--spectrum-alias-highlight-hover, var(--spectrum-alias-highlight-hover));
      color: var(--spectrum-sidenav-item-text-color-hover, var(--spectrum-alias-text-color-hover));
    }

    a.is-active {
      font-weight: var(--font-weight-600);
      background-color: var(--spectrum-sidenav-item-background-color-hover, var(--spectrum-alias-highlight-hover));
      color: #1e1e1e;
    }
  }
}

@include breakpoint(desktop) {
  .mini-toc-wrapper .mini-toc h2 {
    line-height: 14px;
  }
}
