/* code wrap plugon */
.code-wrap > code {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-x: auto;
  max-width: 100%;
}

/* Collapsible code styles start */
pre.collapsible-code[data-collapsed='true'] {
  overflow-y: hidden;
  position: relative;
}

pre.collapsible-code[data-collapsed='true']::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5em;
  background: linear-gradient(transparent, var(--non-spectrum-jet-black));
  pointer-events: none;
}

.code-toggle-button {
  background: transparent;
  cursor: pointer;
  color: var(--non-spectrum-eerie-black);
  border: 0 none;
  border-radius: 4px;
  font-size: var(--spectrum-font-size-50);
  line-height: 17px;
  margin: 0;
  padding: 0 20px 0 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-weight: var(--font-weight-extra-bold);
}

.code-toggle-button::after {
  background-image: url('../../icons/down-arrow.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 8px;
  content: '';
  height: 6px;
  position: absolute;
  right: 0;
  top: 6px;
  width: 10px;
}

.code-toggle-button.expanded::after {
  transform: rotate(180deg);
}

.code-toggle-button:hover,
.code-toggle-button:focus {
  background-color: transparent;
}

@media (min-width: 900px) {
  pre.collapsible-code[data-collapsed='true'] {
    overflow: hidden;
  }
}

/* Collapsible code styles end */

/* Styles are imported from Prism Library [No Linting Required] */
code[class*='language-'],
pre[class*='language-'] {
  border-radius: 6px;
  background: 0 0;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  color: var(--non-spectrum-silver-chalice);
  text-shadow: 0 1px rgb(0 0 0 / 30%);
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  direction: ltr;
}

pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--non-spectrum-jet-black);
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}

.token.punctuation {
  color: var(--non-spectrum-silver-chalice);
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.function,
.token.number {
  color: #f08d49;
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f8c555;
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.url {
  color: #67cdcc;
}

.token.entity {
  color: var(--non-spectrum-lemon-meringue);
  cursor: help;
}

.token.bold,
.token.important {
  font-weight: var(--font-weight-bold);
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  color: green;
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: linear-gradient(to right, hsl(24deg 20% 50% / 30%) 70%, hsl(24deg 20% 50% / 0%));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.line-highlight::before,
.line-highlight[data-end]::after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: rgb(153 122 102 / 40%);
  color: #f4f1ef;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px var(--spectrum-gray-50);
}

.line-highlight[data-end]::after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}

.line-numbers .line-highlight::after,
.line-numbers .line-highlight::before {
  content: none;
}

.line-numbers-rows > span::before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

pre[id].linkable-line-numbers span.line-numbers-rows {
  pointer-events: all;
}

pre[id].linkable-line-numbers span.line-numbers-rows > span::before {
  cursor: pointer;
}

pre[id].linkable-line-numbers span.line-numbers-rows > span:hover::before {
  background-color: rgb(128 128 128 / 20%);
}

pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*='language-'].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.token a {
  color: inherit;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 10;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block;
  color: white;
}

div.code-toolbar > .toolbar > .toolbar-item > a {
  cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  margin: 0;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  color: #bbb;
  font-size: 0.8em;
  padding: 0.5em;
  background: rgb(224 224 224 / 20%);
  box-shadow: 0 2px 0 0 rgb(0 0 0 / 20%);
  border-radius: 6px;
}

div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: inherit;
  text-decoration: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7c7c7c;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
  color: #96cbfe;
}

.token.class-name {
  color: var(--non-spectrum-lemon-meringue);
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  color: #9c9;
}

.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.number {
  color: #ff73fd;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a8ff60;
}

.token.variable {
  color: #c6c5fe;
}

.token.operator {
  color: #ededed;
}

.token.url {
  color: #96cbfe;
}

.language-css .token.string,
.style .token.string {
  color: #87c38a;
}

.token.atrule,
.token.attr-value {
  color: #f9ee98;
}

.token.function {
  color: #dad085;
}

.token.regex {
  color: #e9c062;
}

.token.important {
  color: #fd971f;
}

div.code-toolbar > .toolbar > .toolbar-item > button > span:hover {
  color: #ededed;
}
