/*Styles from Prism.js (No linting Required) */

code[class*=language-],pre[class*=language-] {
  border-radius: 6px;
  color: #ccc;
  background: 0 0;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: .3em;
  display: inline-block;
  max-width: 254px;

}

li pre[class*=language-], .tabs pre[class*=language-], .shade-box pre[class*=language-] {
  max-width: 226px;
}

@media (min-width: 600px) {
  pre[class*=language-] {
    max-width: 434px;
  }

  li pre[class*=language-], .tabs pre[class*=language-], .shade-box pre[class*=language-] {
    max-width: 404px;
  }
}

@media (min-width: 900px) {
  pre[class*=language-] {
    display: block;
    max-width: none;
  }
}


:not(pre)>code[class*=language-],pre[class*=language-] {
  background: #2d2d2d
}

:not(pre)>code[class*=language-] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal
}

.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog {
  color: #999
}

.token.punctuation {
  color: #ccc
}

.token.attr-name,.token.deleted,.token.namespace,.token.tag {
  color: #e2777a
}

.token.function-name {
  color: #6196cc
}

.token.boolean,.token.function,.token.number {
  color: #f08d49
}

.token.class-name,.token.constant,.token.property,.token.symbol {
  color: #f8c555
}

.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector {
  color: #cc99cd
}

.token.attr-value,.token.char,.token.regex,.token.string,.token.variable {
  color: #7ec699
}

.token.entity,.token.operator,.token.url {
  color: #67cdcc
}

.token.bold,.token.important {
  font-weight: 700
}

.token.italic {
  font-style: italic
}

.token.entity {
  cursor: help
}

.token.inserted {
  color: green
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: rgba(153,122,102,.3);
  background: linear-gradient(to right, hsla(24, 20%, 50%, 0.3) 70%, hsla(24, 20%, 50%, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre
}

@media print {
  .line-highlight {
      -webkit-print-color-adjust: exact;
      color-adjust: exact
  }
}

.line-highlight:before,.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: rgba(153,122,102,.4);
  color: #f4f1ef;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px #fff
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

.line-numbers .line-highlight:after,.line-numbers .line-highlight:before {
  content: none
}

pre[id].linkable-line-numbers span.line-numbers-rows {
  pointer-events: all
}

pre[id].linkable-line-numbers span.line-numbers-rows>span:before {
  cursor: pointer
}

pre[id].linkable-line-numbers span.line-numbers-rows>span:hover:before {
  background-color: rgba(128,128,128,.2)
}

pre[class*=language-].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber
}

pre[class*=language-].line-numbers>code {
  position: relative;
  white-space: inherit
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.line-numbers-rows>span {
  display: block;
  counter-increment: linenumber
}

.line-numbers-rows>span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: .8em;
  text-align: right
}

.token a {
  color: inherit
}

div.code-toolbar {
  position: relative
}

div.code-toolbar>.toolbar {
  position: absolute;
  z-index: 10;
  top: .3em;
  right: .2em;
  transition: opacity .3s ease-in-out;
  opacity: 0
}

div.code-toolbar:hover>.toolbar {
  opacity: 1
}

div.code-toolbar:focus-within>.toolbar {
  opacity: 1
}

div.code-toolbar>.toolbar>.toolbar-item {
  display: inline-block
}

div.code-toolbar>.toolbar>.toolbar-item>a {
  cursor: pointer
}

div.code-toolbar>.toolbar>.toolbar-item>button {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

div.code-toolbar>.toolbar>.toolbar-item>a,div.code-toolbar>.toolbar>.toolbar-item>button,div.code-toolbar>.toolbar>.toolbar-item>span {
  color: #bbb;
  font-size: .8em;
  padding: .5em;
  background: #f5f2f0;
  background: rgba(224,224,224,.2);
  box-shadow: 0 2px 0 0 rgba(0,0,0,.2);
  border-radius: 6px
}

div.code-toolbar>.toolbar>.toolbar-item>a:focus,div.code-toolbar>.toolbar>.toolbar-item>a:hover,div.code-toolbar>.toolbar>.toolbar-item>button:focus,div.code-toolbar>.toolbar>.toolbar-item>button:hover,div.code-toolbar>.toolbar>.toolbar-item>span:focus,div.code-toolbar>.toolbar>.toolbar-item>span:hover {
  color: inherit;
  text-decoration: none
}

code[class*=language-],pre[class*=language-] {
  color: #c5c8c6;
  text-shadow: 0 1px rgba(0,0,0,.3);
  font-family: Inconsolata,Monaco,Consolas,"Courier New",Courier,monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}

pre[class*=language-] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: .3em;
  display: inline-block;
  max-width: 254px;

}

li pre[class*=language-], .tabs pre[class*=language-], .shade-box pre[class*=language-] {
  max-width: 226px;
}

@media (min-width: 600px) {
  pre[class*=language-] {
    max-width: 434px;
  }

  li pre[class*=language-], .tabs pre[class*=language-], .shade-box pre[class*=language-] {
    max-width: 404px;
  }
}

@media (min-width: 900px) {
  pre[class*=language-] {
    display: block;
    max-width: none;
  }
}

:not(pre)>code[class*=language-],pre[class*=language-] {
  background: #1d1f21
}

:not(pre)>code[class*=language-] {
  padding: .1em;
  border-radius: .3em
}

.token.comment,.token.prolog,.token.doctype,.token.cdata {
  color: #7c7c7c
}

.token.punctuation {
  color: #c5c8c6
}

.namespace {
  opacity: .7
}

.token.property,.token.keyword,.token.tag {
  color: #96cbfe
}

.token.class-name {
  color: #ffffb6;
  text-decoration: underline
}

.token.boolean,.token.constant {
  color: #9c9
}

.token.symbol,.token.deleted {
  color: #f92672
}

.token.number {
  color: #ff73fd
}

.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted {
  color: #a8ff60
}

.token.variable {
  color: #c6c5fe
}

.token.operator {
  color: #ededed
}

.token.entity {
  color: #ffffb6;
  cursor: help
}

.token.url {
  color: #96cbfe
}

.language-css .token.string,.style .token.string {
  color: #87c38a
}

.token.atrule,.token.attr-value {
  color: #f9ee98
}

.token.function {
  color: #dad085
}

.token.regex {
  color: #e9c062
}

.token.important {
  color: #fd971f
}

.token.important,.token.bold {
  font-weight: bold
}

.token.italic {
  font-style: italic
}

div.code-toolbar>.toolbar>.toolbar-item>button>span:hover {
  color: #ededed
}

.code-toolbar, pre code .token, .code-toolbar code .token {
  align-items: unset;
  background-color: unset;
  border-radius: unset;
  display: unset;
  font-size: unset;
  height: unset;
  justify-content: unset;
  margin-right: unset;
  min-width: unset;
  padding: unset;
  text-align: unset;
  vertical-align: unset;
}

.code-toolbar pre code .tag, .code-toolbar code .tag {
  align-items: unset;
  background-color: unset;
  border-radius: unset;
  color: unset;
  display: unset;
  font-size: unset;
  height: unset;
  justify-content: unset;
  line-height: unset;
  padding-left: unset;
  padding-right: unset;
  white-space: unset;
}

/* Prism.js overridding styles from docs.css */

.code-toolbar {
  font-size: 14px;
}

.code-toolbar pre {
  margin-bottom: 1em !important;
}

.code-toolbar pre code,
 .code-toolbar code {
  padding: 0 !important;
}

div.code-toolbar div.toolbar>.toolbar-item:not(:last-child) {
  margin-right: .5rem;
}

div.code-toolbar div.toolbar>.toolbar-item>button {
  font-size: .9em;
  margin: 0;
}

.code-toolbar pre[class*=language-].code-wrap>code, 
.code-toolbar pre[class*=language-]>code[class*=language-].code-wrap {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
}

div.code-toolbar div.toolbar>.toolbar-item>a:focus,
div.code-toolbar div.toolbar>.toolbar-item>a:hover,
div.code-toolbar div.toolbar>.toolbar-item>button:focus,
div.code-toolbar div.toolbar>.toolbar-item>button:hover, 
div.code-toolbar div.toolbar>.toolbar-item>span:focus,
div.code-toolbar div.toolbar>.toolbar-item>span:hover {
  color: #eee !important;
}
