.docs {
  --rail-toggler-y: 15px;
  --rail-toggler-x: 20px;
}
.docs .rail-toggle {
  display: none;
}
@media (min-width: 900px) {
  .docs .rail {
    position: relative;
    box-sizing: border-box;
    padding: 46px 0.75rem 0.75rem;
  }
  .docs .rail .rail-content {
    margin-top: 0;
    padding-top: 8px;
  }
  .docs .rail .rail-toggle {
    background: none;
    display: block;
    position: absolute;
    cursor: pointer;
    top: var(--rail-toggler-y);
    bottom: unset;
    margin: 0;
    padding: 0 12px;
  }
  .docs .rail .rail-toggle .icon {
    width: 16px;
    height: 16px;
  }
  .docs .rail.rail-right .rail-toggle {
    left: 0;
    transform: scaleX(-1);
  }
  .docs .rail.rail-left .rail-toggle {
    right: 0px;
  }
  .docs .rail.closed {
    width: 0;
    padding: 0 !important;
  }
  .docs .rail.closed .rail-content {
    display: none;
  }
  .docs .rail.closed.rail-right .rail-toggle {
    left: unset;
    right: 0;
    transform: scaleX(1);
  }
  .docs .rail.closed.rail-left .rail-toggle {
    right: unset;
    left: 0;
    transform: rotate(180deg);
  }
}