@import '../../styles/sass/breakpoints';

.docs main .section.rail {
  --rail-toggler-y: 15px;
  --rail-toggler-x: 20px;

  .rail-toggle {
    display: none;
  }

  @include breakpoint(desktop) {
    // rail
    position: relative;
    box-sizing: border-box;
    padding: 46px 0.75rem 0.75rem;

    .rail-content {
      margin: 0;
      padding-top: 8px;
      padding-bottom: 50px;
    }

    .rail-toggle {
      background: none;
      display: block;
      position: absolute;
      cursor: pointer;
      top: var(--rail-toggler-y);
      bottom: unset;
      margin: 0;
      padding: 0 12px;

      .icon {
        width: 16px;
        height: 16px;
      }
    }

    &.rail-right {
      .rail-toggle {
        left: 0;
        transform: scaleX(-1);
      }
    }

    &.rail-left {
      padding-left: 12px;
      padding-right: 0;

      .rail-toggle {
        right: 0;
      }
    }

    // closed state
    &.closed {
      width: 0;
      padding: 0 !important;

      .rail-content {
        display: none;
      }

      &.rail-right .rail-toggle {
        left: unset;
        right: 0;
        transform: scaleX(1);
      }

      &.rail-left .rail-toggle {
        right: unset;
        left: 0;
        transform: rotate(180deg);
      }
    }
  }
}
