.iframe-app-container {
    padding: 0;
    min-height: 500px;
}

.iframe-app-container > div {
    max-width: none;
}

.iframe-app-wrapper {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    min-height: 500px;
    height: calc(100vh - var(--nav-height));
}

.iframe-app.block {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    inset: 0;
    overflow: hidden;
}
