.article-metadata-createdby > div > div {
  display: flex;
  align-items: center;
}

.article-metadata-createdby ul {
  margin: 0;
}

.article-metadata-createdby ul > li {
  font-size: var(--spectrum-font-size-100);
  color: var(--non-spectrum-dim-gray);
  padding: 0 5px;
  cursor: default;
  -webkit-font-smoothing: subpixel-antialiased;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

.article-metadata-createdby li:not(:last-child)::after {
  content: ' |';
  margin-left: 0.75em;
}

.article-metadata-createdby ul > li:not(:last-child) {
  margin-bottom: 0;
}

.article-metadata-createdby ul > li:empty {
  display: none;
}

.article-metadata-createdby p {
  font-size: var(--spectrum-font-size-75);
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 4px;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--non-spectrum-grey);
}

@media (width >= 600px) {
  .article-metadata-createdby p {
    display: inline-block;
    margin-top: 0;
  }

  .article-metadata-createdby > div > div {
    flex-direction: row;
    align-items: center;
  }
}
