.article-metadata-createdby > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-metadata-createdby ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
}

.article-metadata-createdby ul > li {
  font-size: var(--spectrum-font-size-sm);
  color: var(--non-spectrum-dim-gray);
  padding: 0 5px;
  cursor: default;
  -webkit-font-smoothing: subpixel-antialiased;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

.article-metadata-createdby ul > li:not(:last-child) {
  margin-bottom: 0;
}

.article-metadata-createdby ul > li:empty {
  display: none;
}

.article-metadata-createdby p {
  font-size: var(--spectrum-font-size-xs);
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 4px;
  padding-left: 0;
  margin-bottom: 0;
  color: var(--non-spectrum-grey);
}

@media (width >= 600px) {
  .article-metadata-createdby p {
    display: inline-block;
    margin-top: 0;
  }
}

@media (width >= 600px) {
  .article-metadata-createdby > div > div {
    flex-direction: row;
    align-items: center;
  }
}

.article-metadata-container .article-metadata-createdby-wrapper {
  border-bottom: 1px solid var(--non-spectrurm-whisper-gray);
  padding-bottom: 38px;
  margin-bottom: 32px;
}
