ul.meta-created-for {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  line-height: 25.6px;
}

ul.meta-created-for > li {
  display: inline-block;
  margin-bottom: 0;
}

.meta-created-for li:first-child {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 4px;
  padding-left: 0;
}

.meta-created-for li:not(:first-child) {
  font-size: 12px;
  border: 1px solid var(--non-spectrurm-article-light-gray);
  color: var(--non-spectrurm-article-dark-gray);
  padding: 4px 9px;
  padding-top: 3px;
  cursor: default;
  -webkit-font-smoothing: subpixel-antialiased;
  border-radius: 4px;
  line-height: 15.6px;
}

.article-metadata-container .article-metadata-createdby-wrapper {
  border-bottom: 1px solid var(--non-spectrurm-whisper-gray);
  padding-bottom: 38px;
  margin-bottom: 32px;
}
