.pagination-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    place-content:center;
    place-items: center;
}

.pagination__link,
.pagination__item--prev .pagination__link,
.pagination__item--next .pagination__link {
    font-family: var(--body-font-family);
    font-size: var(--spectrum-body-size-s);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 5px 30px;
    text-align: center;
    font-style: normal;
    font-weight: var(--font-weight-700);
    cursor: pointer;
    color: black;
    background-color: unset;
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;
    position: relative;
}

.pagination__item .pagination__num {
    border: none;
    border-radius: 10%;
    width: fit-content;
    height: fit-content;
    padding: 3px 10px;
    margin: 0 2px;
}

.pagination__item--prev .pagination__link,
.pagination__item--next .pagination__link {
    border: 2px solid black; 
}

.pagination__item--active .pagination__num {
    background-color: #e9ecef;
    border-radius: 10%;
    width: fit-content;
    height: fit-content;
    padding: 3px 10px;
    margin: 0 2px;
}

.pagination__item.disabled .pagination__link {
    color: #6c757d;
    pointer-events: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}


.pagination__item--active .pagination__link {
    position: relative;
}
