@charset "UTF-8";
/* stylelint-disable  color-hex-length */
:host {
  --header-padding-x: 16px;
  --search-display: inline-flex;
  --sign-up-display: none;
  --sign-in-display: flex;
  --language-selector-display: none;
  --adobe-logo-display: none;
  --nav-hamburger-display: block;
  --nav-order: 1;
  --brand-order: 2;
  --sign-in-order: 3;
  --notification-order: 4;
  --nav-item-desktop-padding-x: 1.25rem;
  --hover-backgroud: #fafafa;
  --hover-background-dark: #f8f8f8;
  --hover-item-content-background: #e6e6e6;
  --nav-root-item-padding-x: 0 15px;
  --nav-action-item-padding-x: 0 10px;
  --nav-item-padding-x: 20px;
  --nav-item-expanded-border: 2px solid #222;
  --nav-item-expanded-bg: #fafafa;
  --nav-item-text-color: #2c2c2c;
  --color-white: #fff;
  --color-black: #000;
  --spectrum-font-size-100: 14px;
  --spectrum-font-size-75: 12px;
  --spectrum-line-height-l: 21px;
  --spectrum-gray-200: #f3f3f3;
  --spectrum-gray-400: #d1d1d1;
  --spectrum-gray-700: #6a6a6a;
  --spectrum-gray-800: #2c2c2c;
  --spectrum-gray-100: #f8f8f8;
  --spectrum-blue-900: #0066cc;
  --spectrum-gray-600: #8e8e8e;
  --spectrum-gray-50: #fff;
  --non-spectrum-bg: #fff;
  --non-spectrum-hover-bg: #f8f8f8;
  --non-spectrum-link: #2c2c2c;
  --non-spectrum-custom-dark: #0066cc;
  --non-spectrum-article-dark-gray: #6a6a6a;
  --non-spectrum-silver-mist: #d1d1d1;
  --non-spectrum-grey-updated: #8e8e8e;
  --background-color: #fff;
  --link-color: #0066cc;
  --link-hover-color: #0055b3;
  --nav-height: 4rem;
  --exlm-font-size-content: 14px;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
  /* fonts */
  --body-font-family: 'Adobe Clean', adobe-clean, 'Source Sans Pro', -apple-system, system-ui, 'Segoe UI', roboto,
    ubuntu, 'Trebuchet MS', 'Lucida Grande', sans-serif;
}
@media (min-width: 1024px) {
  :host {
    --nav-item-padding-x: 24px;
    --search-display: inline-flex;
    --language-selector-display: flex;
    --adobe-logo-display: flex;
    --sign-up-display: flex;
    --nav-hamburger-display: none;
    --nav-order: unset;
    --brand-order: unset;
    --sign-in-order: unset;
    --notification-order: unset;
  }
}

.icon img {
  height: 18px;
  width: 18px;
}

.language-selector {
  grid-area: language;
  display: var(--language-selector-display);
  align-items: center;
  padding: 0;
  position: relative;
}

.language-selector .icon {
  height: 24px;
  width: 24%;
}

.language-selector-button {
  border-radius: 0;
  margin: 0;
  border: 0;
  text-align: left;
  background: none;
  background-color: transparent !important;
  font-weight: initial;
  padding: 15px;
  position: relative;
  top: 2px;
}

.language-selector-popover {
  background: var(--non-spectrum-bg);
  box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  display: none;
  width: 120px;
  position: absolute;
  transform: translate(-50%, 0);
  top: var(--nav-height);
  z-index: 10;
}

.language-selector-popover-top {
  top: unset;
  bottom: 100%;
}

.language-selector-label {
  cursor: pointer;
  display: block;
  font-size: var(--spectrum-font-size-100);
  padding: 5px 15px;
  margin: 0;
}

.language-selector-label:hover {
  background: var(--non-spectrum-hover-bg);
}

.language-selector-label[selected] {
  background: url('/icons/checkmark.svg');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 95%;
}

.language-selector:hover {
  background: var(--non-spectrum-bg) !important;
}

.language-selector:hover .language-selector-popover {
  display: block !important;
}

.search {
  grid-area: search;
  display: var(--search-display);
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  container-type: inline-size;
  container-name: searchs;
  z-index: 1;
  min-width: 48px;
}
@media (min-width: 1024px) {
  .search {
    justify-content: flex-end;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.search-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 320px;
  justify-content: flex-end;
  height: 32px;
}

.icon-search {
  position: absolute;
  left: 7px;
  top: 7px;
  cursor: pointer;
}
.icon-search img {
  width: 14px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@container searchs (max-width: 200px) {
  .search-full {
    background-color: red;
    display: none !important;
  }
  .search-short {
    display: flex !important;
    align-items: center;
  }
  .search-short .icon {
    position: initial;
  }
  .search-short a {
    display: flex !important;
    align-items: center;
    line-height: 1;
  }
}
@container headersection (max-width: 1024px) {
  .search {
    padding-right: 0;
  }
}
.search-short {
  display: none;
}
.search-short a {
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}
.search-short .icon {
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.search-full {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.search-full.search-clear-icon {
  display: none;
}
.search-full.search-clear-icon.search-icon-show {
  display: flex;
  width: 6px;
  height: 6px;
  padding: 4px;
  background: var(--non-spectrum-silver-mist);
  border-radius: 100%;
  right: 4px;
}
.search-full.search-clear-icon.search-icon-show .fill {
  fill: var(--background-color);
}

.search-input {
  border: 1px solid var(--spectrum-gray-400);
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  font-size: var(--spectrum-font-size-100);
  font-family: var(--body-font-family);
  color: var(--non-spectrum-graphite-gray);
  line-height: 15px;
  height: 14px;
  padding: 7px 22px 9px 26px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.search-input::placeholder {
  font-style: italic;
  font-size: var(--spectrum-font-size-75);
  letter-spacing: 0.14px;
  color: var(--spectrum-gray-600);
  opacity: 0.8;
  font-weight: 100;
}

.search-picker-button {
  flex-grow: 1;
  width: 142px;
  padding: 7px 25px 7px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: transparent;
  border: 1px solid var(--spectrum-gray-400);
  border-left: 0 none;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  color: var(--spectrum-gray-700);
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-75);
  height: 32px;
  line-height: 15px;
  text-align: right;
  margin: 0;
}
.search-picker-button::after {
  position: absolute;
  right: calc(var(--nav-item-padding-x) + 5px);
  top: 50%;
  display: flex;
  width: 6px;
  height: 6px;
  margin-top: -8px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: 75% 75%;
  transform: rotateZ(45deg);
  transition: transform 0.1s ease;
  content: '';
  margin-top: -5px;
  right: 16px;
  color: var(--non-spectrum-grey-updated);
}
.search-picker-button[aria-expanded='true']::after {
  transform: rotateZ(-135deg);
}
.search-picker-button.search-picker-open::after {
  transform: rotateZ(225deg);
}

.icon-clear img {
  vertical-align: 10px;
  width: 14px;
  height: 6px;
}

.search-picker-label {
  min-width: max-content;
  display: block;
}
.search-picker-label span.icon img {
  width: 14px;
  height: 14px;
}

button > .search-picker-label {
  color: var(--spectrum-gray-700);
  font-weight: var(--font-weight-400);
}

.search-picker-popover,
.search-suggestions-popover {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 32px;
  background-color: var(--background-color);
  box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  border: 1px solid var(--spectrum-gray-400);
  padding: 8px 0;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition:
    transform 130ms ease-in-out,
    opacity 130ms ease-in-out,
    visibility 0ms linear 130ms;
  pointer-events: none;
  touch-action: none;
}

.search-container .icon.search-clear-icon {
  display: none;
}

.search-container .icon.search-clear-icon.search-icon-show {
  display: flex;
  width: 6px;
  height: 6px;
  padding: 4px;
  background: var(--non-spectrum-silver-mist);
  border-radius: 100%;
  right: 4px;
  cursor: pointer;
  position: absolute;
}

.search-container.browse-filters-search .icon.search-clear-icon.search-icon-show {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 6px;
  right: 6px;
  background: transparent;
}

.search-picker-popover.search-picker-popover-visible,
.search-picker-popover.search-suggestions-popover-visible,
.search-suggestions-popover.search-picker-popover-visible,
.search-suggestions-popover.search-suggestions-popover-visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  touch-action: auto;
}

.search-suggestions-popover-visible {
  width: 175px;
}

.search-picker-popover {
  width: 140px;
}

.search-picker-popover ul {
  margin: 0;
  padding: 0;
}

.search-suggestions-popover ul {
  margin: 0;
  list-style: none;
  padding-left: 25px;
}

.search-suggestions-popover li.search-picker-label {
  border-top: 1px solid var(--non-spectrum-bg);
  padding: 3px 12px;
  font-size: var(--spectrum-font-size-100);
  line-height: 18px;
  color: var(--non-spectrum-charcoal-gray);
}

.search-suggestions-popover li.search-picker-label:first-child {
  border-top: none;
}

.search-suggestions-popover li.search-picker-label .search-highlight-text {
  color: var(--text-color);
}

.search-picker-popover .search-picker-label,
.search-suggestions-popover .search-picker-label {
  margin: 0;
  padding: 7px 12px 7px 32px;
  position: relative;
  color: var(--spectrum-gray-800);
  font-size: var(--spectrum-font-size-100);
  line-height: var(--exlm-line-height-h6);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: auto;
}

.search-picker-popover .search-picker-label:hover,
.search-suggestions-popover .search-picker-label:hover {
  background: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.search-picker-popover .search-picker-label .icon,
.search-suggestions-popover .search-picker-label .icon {
  position: absolute;
  height: 28px;
  width: 28px;
  left: 8px;
  top: 4px;
  display: flex;
  align-items: center;
}

.search-picker-popover .search-picker-label .icon path,
.search-suggestions-popover .search-picker-label .icon path {
  fill: var(--non-spectrum-azure-blue);
}

.header-wrapper {
  /* header is always white */
  background-color: var(--color-white);
  position: relative;
  z-index: 10;
  height: 4rem;
}
@media (min-width: 1024px) {
  .header-wrapper {
    display: flex;
    justify-content: center;
  }
}

a:any-link {
  font-family: var(--body-font-family);
  font-size: var(--exlm-font-size-content);
  font-weight: var(--font-weight-400);
  font-style: normal;
  line-height: var(--spectrum-line-height-l);
  color: var(--non-spectrum-link);
  margin-top: 12px;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--non-spectrum-custom-dark);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  cursor: pointer;
}

.header {
  height: 100%;
  position: relative;
  max-width: 1440px;
  background-color: var(--color-white);
  container-name: headersection;
  container-type: inline-size;
  /* stylelint-disable-next-line */
}
@media (min-width: 1024px) {
  .header {
    width: 100%;
  }
}
.header > nav {
  display: grid;
  grid-template-areas: 'nav brand search sign-in';
  height: 100%;
  grid-template-columns: min-content auto min-content min-content;
}
@media (min-width: 1024px) {
  .header > nav {
    width: 100%;
    justify-content: initial;
    grid-template-areas: 'adobe-logo brand nav sign-in search notification language product-grid signed-in';
    grid-template-columns: min-content min-content max-content min-content auto max-content max-content max-content max-content;
  }
}
.header .adobe-logo {
  grid-area: adobe-logo;
  display: var(--adobe-logo-display);
  align-items: center;
  padding: var(--nav-root-item-padding-x);
  padding-right: 0;
}
.header .adobe-logo a {
  margin: 0;
}
.header .adobe-logo .icon {
  display: block;
  height: 24px;
  width: 24px;
}
.header .adobe-logo .icon img {
  height: 24px;
  width: 24px;
}
.header .brand {
  grid-area: brand;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--nav-root-item-padding-x);
  order: var(--brand-order);
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
}
.header .brand a {
  color: var(--nav-item-text-color) !important;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font: normal normal bold 16px/21px var(--body-font-family) !important;
  margin: 0;
}
.header .sign-in {
  grid-area: sign-in;
  display: var(--sign-in-display);
  order: var(--sign-in-order);
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
@media (min-width: 1024px) {
  .header .sign-in {
    padding-left: 0;
    padding-right: 0;
  }
}
.header .sign-in a {
  margin: 16px 0;
  background: var(--spectrum-blue-900);
  border-radius: 16px;
  color: var(--spectrum-gray-50);
  font-size: var(--spectrum-font-size-100);
  font-weight: var(--font-weight-600);
  padding: 5px 16px;
  white-space: nowrap;
  line-height: unset;
}
.header .signed-in .profile {
  position: initial;
  display: flex;
  height: 100%;
}
@media (min-width: 1024px) {
  .header .signed-in .profile {
    position: relative;
  }
}
.header .signed-in .profile .profile-menu h2 {
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-600);
  line-height: 18px;
  letter-spacing: 0.72px;
  margin: 15px 0 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}
.header .signed-in .profile .profile-menu h2:first-child {
  margin: 0;
}
.header .signed-in .profile .icon-profile {
  background: url('../../icons/profile.svg') no-repeat center center;
  background-size: 24px 24px;
  border-radius: 50%;
  display: flex;
}
.header .signed-in .profile a {
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  background: none;
  font-weight: initial;
  background: none;
  border-top: 1px solid var(--spectrum-gray-200);
  color: var(--spectrum-gray-700);
  display: block;
  font-size: var(--spectrum-font-size-100);
  font-weight: var(--font-weight-400);
  letter-spacing: normal;
  line-height: 17px;
  padding: 10px 0 8px 10px;
  width: 100%;
  text-wrap: wrap;
}
.header .signed-in .profile a[data-id='sign-out'] {
  border-top: 0 none;
  color: var(--spectrum-blue-900);
  font-weight: var(--font-weight-400);
  padding: 10px 0 8px;
  margin: 10px 0 0;
}
@media (min-width: 1024px) {
  .header .signed-in .profile a[data-id='sign-out'] {
    color: var(--spectrum-blue-900);
  }
}
@media (min-width: 1024px) {
  .header .signed-in .profile a {
    border-top: 0;
    border-radius: 0;
    margin: 0 0 0 20px;
    padding: 9px 0;
    max-width: 150px;
  }
}
@media (min-width: 1024px) {
  .header .signed-in {
    grid-area: signed-in;
  }
}
.header .product-grid {
  display: none;
}
.header .product-grid.signed-in {
  grid-area: product-grid;
  display: none;
  order: var(--sign-in-order);
  align-items: center;
}
@media (min-width: 1024px) {
  .header .product-grid.signed-in {
    display: var(--sign-in-display);
  }
}
.header .product-grid.signed-in a {
  color: var(--nav-item-text-color);
  background: var(--spectrum-blue-900);
  border-radius: 16px;
  color: var(--spectrum-gray-50);
  font-size: var(--spectrum-font-size-100);
  font-weight: var(--font-weight-600);
  padding: 5px 16px;
  white-space: nowrap;
  line-height: unset;
}
@media (min-width: 1024px) {
  .header .product-grid.signed-in a {
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    background: none;
    font-weight: initial;
    color: var(--nav-item-text-color);
    padding: var(--nav-root-item-padding-x);
  }
}
.header .nav {
  grid-area: nav;
  order: var(--nav-order);
}
@media (min-width: 1024px) {
  .header .nav {
    display: block;
  }
}
.header .nav-wrapper {
  display: none;
  padding: 0;
  box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  background-color: var(--color-white);
  width: 100%;
}
@media (min-width: 600px) {
  .header .nav-wrapper {
    height: calc(100vh - var(--nav-height));
    max-width: 360px;
  }
}
@media (min-width: 1024px) {
  .header .nav-wrapper {
    display: flex;
    align-items: center;
    box-shadow: initial;
    padding: 0;
    height: 100%;
    min-height: initial;
    max-width: initial;
  }
}
.header .nav-wrapper ul {
  padding: 0;
  margin: 0;
}
.header .nav-wrapper > ul {
  max-height: 100%;
  margin: 0;
}
@media (min-width: 1024px) {
  .header .nav-wrapper > ul {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}
.header .nav-wrapper p {
  margin: 0;
}
@media (min-width: 1024px) {
  .header .nav-wrapper p {
    height: 100%;
  }
}
.header .nav-wrapper-expanded {
  display: block;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  max-height: calc(100vh - var(--nav-height));
  overflow-y: auto;
}
@media (min-width: 1024px) {
  .header .nav-wrapper-expanded {
    position: initial;
    z-index: initial;
    left: initial;
    right: initial;
    background-color: initial;
  }
}
.header .nav-item-root {
  /* stylelint-disable-next-line */
  /* stylelint-disable-next-line */
}
.header .nav-item-root > a {
  border-top: 1px solid var(--spectrum-gray-200);
  border-bottom: 1px solid var(--spectrum-gray-200);
}
.header .nav-item-root a {
  color: var(--nav-item-text-color);
}
@media (min-width: 1024px) {
  .header .nav-item-root a {
    padding: var(--nav-root-item-padding-x);
    border-bottom: none;
  }
}
@media (min-width: 1024px) {
  .header .nav-item-root > .nav-item-content {
    padding-bottom: calc(var(--nav-item-padding-x) / 2);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  }
}
.header .nav-item {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  /* stylelint-disable-next-line */
}
@media (min-width: 1024px) {
  .header .nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header .nav-item * {
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .header .nav-item > * {
    padding: 0 12px;
  }
  .header .nav-item > * .nav-item {
    padding: 0;
    margin-top: 5px;
    min-width: 250px;
  }
  .header .nav-item > * .nav-item:first-child {
    margin-top: 0;
  }
}
.header .nav-item a {
  color: var(--nav-item-text-color);
  display: block;
  line-height: 24px;
  position: relative;
  margin: 0;
  font-size: 14px;
  font-weight: inherit;
  padding: var(--nav-item-padding-x);
}
@media (min-width: 1024px) {
  .header .nav-item a {
    line-height: 21px;
    padding: var(--nav-root-item-padding-x);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    white-space: nowrap;
  }
  .header .nav-item a:hover {
    background-color: var(--hover-background-dark);
  }
}
.header .nav-item .nav-item a {
  width: 100%;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font: normal normal bold 14px/21px var(--body-font-family);
  padding: 8px 8px 8px var(--nav-item-padding-x);
}
@media (min-width: 1024px) {
  .header .nav-item .nav-item a {
    display: block;
    font-weight: initial;
  }
}
.header .nav-item .nav-item p {
  margin-top: -10px;
  padding: 0 24px;
  line-height: 1.5;
}
.header .nav-item .nav-item .icon img {
  vertical-align: middle;
  padding-left: 5px;
}
@media (max-width: 1024px) {
  .header .nav-item:has(.nav-item-expanded-active) .nav-items-secondary {
    display: block;
    margin: 0;
  }
  .header .nav-item:has(.nav-item-expanded-active) .nav-items-secondary li {
    margin: 0;
    padding: 0;
  }
  .header .nav-item:has(.nav-item-expanded-active) .nav-items-secondary a {
    display: inline-block;
    font: normal normal bold 14px/21px var(--body-font-family);
    padding: 8px 8px 15px 40px;
    width: 100%;
  }
}
.header .nav-item-mobile {
  display: block;
}
@media (min-width: 1024px) {
  .header .nav-item-mobile {
    display: none;
  }
}
.header .nav-item-expanded {
  margin-left: 0;
}
.header .nav-item-subtitle {
  display: none;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font: normal normal normal 11px/14px var(--body-font-family);
  white-space: break-spaces;
}
@media (min-width: 1024px) {
  .header .nav-item-subtitle {
    display: block;
    font-size: 11px;
  }
}
.header .nav-item-toggle {
  text-overflow: initial;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  background: none;
  font-weight: initial;
  font-size: 14px;
  color: var(--spectrum-gray-800);
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: var(--nav-item-padding-x);
}
@media (min-width: 1024px) {
  .header .nav-item-toggle {
    height: fit-content;
    padding: calc(var(--nav-item-padding-x) / 2) var(--nav-item-padding-x);
    /* to upper case */
    text-transform: uppercase;
  }
}
.header .nav-item-toggle::after {
  position: absolute;
  right: calc(var(--nav-item-padding-x) + 5px);
  top: 50%;
  display: flex;
  width: 6px;
  height: 6px;
  margin-top: -8px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: 75% 75%;
  transform: rotateZ(45deg);
  transition: transform 0.1s ease;
  content: '';
  box-sizing: content-box;
}
@media (min-width: 1024px) {
  .header .nav-item-toggle::after {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header .nav-item-toggle:not(.nav-item-toggle-root) {
    font: normal normal bold 12px/18px var(--body-font-family);
    padding: var(--nav-item-padding-x);
    padding-bottom: calc(var(--nav-item-padding-x) / 2);
    color: var(--non-spectrum-article-dark-gray);
  }
}
.header .nav-item-toggle-root {
  font-weight: initial;
  text-transform: initial;
  border-top: 1px solid var(--spectrum-gray-200);
  border-bottom: 1px solid var(--spectrum-gray-200);
}
@media (min-width: 1024px) {
  .header .nav-item-toggle-root {
    height: 100%;
    padding: var(--nav-root-item-padding-x);
    border-bottom: none;
  }
}
@media (min-width: 1024px) {
  .header .nav-item-toggle-root::after {
    position: initial;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 2px;
  }
}
.header .nav-item-toggle[aria-expanded='true'] {
  border-bottom: 2px solid var(--non-spectrum-silver);
}
@media (min-width: 1024px) {
  .header .nav-item-toggle[aria-expanded='true'] {
    border-bottom: none;
    background-color: var(--hover-backgroud);
  }
}
.header .nav-item-toggle[aria-expanded='true']::after {
  transform: rotateZ(-135deg);
}
@media (min-width: 1024px) {
  .header .nav-item-toggle[aria-expanded='true'].nav-item-toggle-root {
    border-bottom: var(--nav-item-expanded-border);
  }
}
.header .nav-item-content {
  display: none;
  margin: 0;
}
.header .nav-item-content .nav-item-content {
  padding: 0 var(--nav-item-padding-x);
}
.header .nav-item-content-expanded {
  display: block;
}
.header .nav-item-content-expanded > ul {
  background-color: var(--nav-item-expanded-bg);
}
@media (min-width: 1024px) {
  .header .nav-item-content-expanded > ul {
    padding: 0 0 40px;
  }
}
@media (min-width: 1024px) {
  .header .nav-item-content-expanded {
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 10;
    left: 0;
    top: 100%;
    min-width: 100%;
    width: min-content;
    background: #fafafa;
  }
  .header .nav-item-content-expanded > ul {
    align-items: baseline;
    display: flex;
    flex-direction: row;
  }
  .header .nav-item-content-expanded::after {
    display: block;
  }
  .header .nav-item-content-expanded .nav-item-content-expanded {
    position: initial;
  }
  .header .nav-item-content-expanded .nav-item-content-expanded > ul {
    flex-direction: column;
  }
  .header .nav-item-content-expanded .nav-item-content-expanded > ul li > a {
    color: var(--spectrum-gray-700);
  }
  .header .nav-item-content-expanded .nav-item-content-expanded > ul li > a:hover {
    background: var(--hover-item-content-background);
    border-radius: 4px;
  }
}
.header .nav-items-secondary {
  display: none;
}
@media (min-width: 1024px) {
  .header .nav-items-secondary {
    display: flex;
    position: absolute;
    margin: 0;
    bottom: var(--nav-item-padding-x);
    right: var(--nav-item-padding-x);
    list-style-type: none;
    align-items: center;
    padding: 0 !important;
  }
  .header .nav-items-secondary a {
    font: normal normal normal 14px/18px var(--body-font-family);
    color: var(--spectrum-blue-900) !important;
    text-align: right;
    margin-right: 0;
  }
  .header .nav-items-secondary a::after {
    position: absolute;
    right: calc(var(--nav-item-padding-x) + 5px);
    top: 50%;
    display: flex;
    width: 6px;
    height: 6px;
    margin-top: -8px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    transform-origin: 75% 75%;
    transform: rotateZ(45deg);
    transition: transform 0.1s ease;
    content: '';
    transform: rotateZ(-45deg);
    right: 5px;
    top: 13px;
  }
  .header .nav-items-secondary li {
    margin: 0;
    padding: 0;
  }
}
.header .nav-hamburger {
  display: var(--nav-hamburger-display);
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  color: #2d2d2d;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}
.header .nav-hamburger::before {
  content: '☰';
}
@media (min-width: 1024px) {
  .header .nav-hamburger::before {
    content: '';
  }
}
.header .nav-hamburger[aria-expanded='true']::before {
  content: '✕';
}
@media (min-width: 1024px) {
  .header .nav-hamburger[aria-expanded='true']::before {
    content: '';
  }
}
.header .notification {
  grid-area: notification;
  order: var(--notification-order);
  align-items: center;
}
.header .notification span {
  height: 18px;
  width: 18px;
  display: flex;
}
.header .notification .notification-icon {
  padding: 0 5px;
}
.header .profile-toggle,
.header .product-toggle {
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  background: none;
  font-weight: initial;
  height: 100%;
  padding: 0 var(--nav-item-padding-x);
  box-sizing: border-box;
}
.header .profile-toggle[aria-expanded='true'],
.header .product-toggle[aria-expanded='true'] {
  background: var(--spectrum-gray-100);
}
.header img.profile-picture {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  vertical-align: middle;
}
.header .profile-menu,
.header .product-dropdown,
.header .product-dropdown a span {
  display: none;
}
.header .product-dropdown a {
  color: var(--non-spectrum-grey);
  font-size: var(--spectrum-font-size-100);
  font-weight: var(--font-weight-400);
  line-height: 21px;
}
.header .profile-menu.profile-menu-expanded,
.header .product-dropdown.product-dropdown-expanded {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 8px;
  align-items: flex-start;
  right: 0;
  width: 100%;
  max-height: calc(100vh - var(--nav-height));
  box-sizing: border-box;
  top: 100%;
  background-color: var(--color-white);
  z-index: 20000;
  padding: 1.5em;
  box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  overflow: hidden auto;
}
@media (min-width: 600px) {
  .header .profile-menu.profile-menu-expanded,
  .header .product-dropdown.product-dropdown-expanded {
    width: 360px;
    height: calc(100vh - var(--nav-height));
  }
}
@media (min-width: 1024px) {
  .header .profile-menu.profile-menu-expanded,
  .header .product-dropdown.product-dropdown-expanded {
    height: auto;
  }
}
@media (min-width: 1024px) {
  .header .profile-menu.profile-menu-expanded {
    background: var(--spectrum-gray-100);
    right: 0;
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .header .product-dropdown.product-dropdown-expanded {
    width: fit-content;
  }
}
.header .product-toggle {
  display: none;
}
@media (min-width: 1024px) {
  .header .product-toggle {
    display: block;
  }
}
.header .product-toggle .icon-grid {
  background: url('../../icons/apps_gray.svg') no-repeat center center;
  background-size: 18px;
  color: var(--spectrum-gray-800);
  cursor: pointer;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

profile-block {
  height: 100%;
}

@media (min-width: 900px) {
  .header .nav-item-toggle:not(.nav-item-toggle-root) {
    padding: 24px 32px 12px;
  }
  .header .nav-item-content .nav-item-content {
    padding: 0 8px;
  }
  .header .nav-item .nav-item {
    margin-top: 0;
  }
  .header .nav-item .nav-item a {
    padding: 5px var(--nav-item-padding-x);
  }
}
