.exl-curtain {
  display: none;
  opacity: 0;
}
@media (max-width: 1024px) {
  .exl-curtain {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    transition: all 200ms;
    top: 65px;
    width: 100%;
    z-index: 9;
  }
}

.header .exl-topnav > div {
  align-items: center;
  display: flex;
  gap: 36px;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .header .exl-topnav > div {
    gap: 16px;
  }
}
@media (max-width: 1024px) {
  .header .exl-topnav > div {
    background: var(--non-spectrum-bg);
    display: block;
    height: 100%;
    left: -350px;
    max-width: 350px;
    overflow-y: scroll;
    padding: 24px;
    position: fixed;
    transition: all 200ms ease-in-out;
    top: 65px;
    width: 100%;
    z-index: 9;
  }
}

body.is-shown .exl-topnav > div {
  left: 0;
}

body.is-shown {
  overflow: hidden;
}
body.is-shown .exl-curtain {
  opacity: 1;
  display: block;
}

.header {
  border-bottom: 1px solid var(--spectrum-gray-200);
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-100);
  height: var(--nav-height);
  padding: 0 29px;
}
@media (max-width: 1024px) {
  .header {
    background: var(--background-color);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
}
.header-wrapper {
  position: relative;
  z-index: 11;
}
.header * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header ul {
  list-style: none;
}
.header a {
  color: var(--spectrum-gray-800);
  font-size: var(--spectrum-font-size-100);
  font-weight: 500;
  text-decoration: none;
}
.header a:hover {
  color: var(--spectrum-gray-800);
  text-decoration: none;
}
.header .exl-nav-item > a {
  border-bottom: 2px solid transparent;
  display: inline-block;
  height: 65px;
  margin: 0;
  padding: 20px 22px 0;
}
@media (width >= 1024px) and (width <= 1200px) {
  .header .exl-nav-item > a {
    padding: 20px 18px 0;
  }
}
@media (max-width: 1024px) {
  .header .exl-nav-item > a {
    height: auto;
  }
}
.header .language-selector > a {
  background: url("/icons/globegrid.svg") 0 24px no-repeat;
  background-size: contain;
  display: inline-block;
  height: var(--nav-height);
  margin: 0;
  vertical-align: middle;
  width: 18px;
  text-indent: -99999px;
}
@media (max-width: 1024px) {
  .header .language-selector > a {
    background: none;
    color: var(--spectrum-gray-800);
    display: block;
    font-size: var(--spectrum-font-size-75);
    margin: 0;
    text-indent: 0;
    text-transform: uppercase;
    width: auto;
  }
  .header .language-selector > a::after {
    border-width: 0 1.5px 1.5px 0;
    border-style: solid;
    border-color: var(--spectrum-gray-800);
    box-sizing: content-box;
    content: "";
    display: flex;
    height: 6px;
    position: absolute;
    right: 20px;
    transform-origin: 75% 75%;
    transform: rotateZ(45deg);
    transition: transform 0.1s ease;
    top: 20px;
    width: 6px;
  }
}
.header .language-dropdown a {
  color: var(--spectrum-gray-800);
  cursor: pointer;
  display: block;
  padding: 3px 15px;
  white-space: nowrap;
  margin: 0;
}
.header .exl-subnav-wrapper a {
  color: var(--spectrum-gray-700);
  line-height: 17px;
  margin: 0;
}
.header .exl-subnav-wrapper a.redirect {
  display: inline-block;
  position: relative;
}
.header .exl-subnav-wrapper a.redirect::after {
  background: url("../../icons/redirect.png") 0 0 no-repeat;
  background-size: cover;
  content: "";
  right: -10px;
  position: absolute;
  top: 11px;
  width: 15px;
  height: 15px;
}
.header .adobe-logo > a {
  background: url("../../icons/adobe-red-logo.svg") 0 5px no-repeat;
  display: inline-block;
  text-indent: -99999px;
  width: 22px;
  margin: 0;
}
.header .exl-subnav-wrapper ul li a {
  border-radius: 4px;
  display: block;
  margin: 0;
  padding: 10px 12px;
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper ul li a {
    margin-top: 16px;
    padding: 0 8px;
  }
}
.header .exl-nav-item:last-child > a {
  background: var(--spectrum-blue-900);
  border-radius: 16px;
  color: var(--spectrum-gray-50);
  display: inline-block;
  font-size: var(--spectrum-font-size-100);
  font-weight: 600;
  height: inherit;
  line-height: inherit;
  padding: 5px 16px;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .header .exl-nav-item:last-child > a {
    line-height: inherit;
    position: fixed;
    right: 20px;
    top: -8px;
    text-transform: inherit;
  }
}
.header .exl-subnav-wrapper p {
  color: var(--spectrum-gray-700);
  font-size: var(--spectrum-font-size-50);
  letter-spacing: normal;
  line-height: 14.3px;
}
.header .exl-subnav-wrapper p a.redirect::after {
  right: -20px;
  top: 2px;
}
.header .language-dropdown a:hover {
  background: var(--non-spectrum-hover-bg);
}
.header .exl-subnav-wrapper .browse-all-content {
  grid-column: 1/3;
  text-align: right;
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .browse-all-content {
    display: none;
  }
}
.header .exl-subnav-wrapper .browse-all-content a {
  color: var(--spectrum-blue-900);
  font-size: var(--spectrum-font-size-100);
  line-height: 18.2px;
  letter-spacing: normal;
  position: relative;
}
.header .exl-subnav-wrapper .browse-all-content a::after {
  content: ">";
  position: absolute;
  right: -15px;
  top: 0;
}
.header .exl-subnav-wrapper .link-group p {
  font-size: 12px;
}
.header .exl-topnav {
  font-size: var(--spectrum-font-size-100);
  max-width: var(--non-spectrum-max-width);
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .header .exl-topnav .quick-links div > p:nth-child(2) {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .exl-topnav .profile {
    display: none;
  }
}
.header .exl-topnav .profile a {
  color: var(--spectrum-gray-800);
  margin: 0;
  white-space: nowrap;
}
.header .exl-topnav .profile > div:nth-child(1) p {
  display: none;
}
.header .exl-topnav .profile > div:nth-child(1) p:first-child {
  display: block;
}
.header .exl-topnav .exl-subnav-wrapper > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1024px) {
  .header .exl-topnav .exl-subnav-wrapper > div {
    display: block;
  }
}
.header .exl-topnav .exl-subnav-wrapper h5 {
  color: var(--spectrum-gray-700);
  font-size: var(--spectrum-font-size-75);
  font-weight: 800;
  letter-spacing: 0.72px;
  line-height: 18px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .header .exl-topnav .exl-subnav-wrapper h5::after {
    border-width: 0 1.5px 1.5px 0;
    border-style: solid;
    border-color: var(--spectrum-gray-800);
    box-sizing: content-box;
    content: "";
    display: flex;
    height: 6px;
    position: absolute;
    right: 20px;
    transform-origin: 75% 75%;
    transform: rotateZ(45deg);
    transition: transform 0.1s ease;
    top: 0;
    width: 6px;
  }
}
.header .exl-topnav .exl-subnav-wrapper > div > div:nth-child(1) h5 {
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .header .exl-topnav .exl-subnav-wrapper > div > div:nth-child(1) h5 {
    margin-top: 15px;
  }
}
.header .exl-topnav .exl-subnav-wrapper > div > div:nth-child(2) h5 {
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .header .exl-topnav .exl-subnav-wrapper > div > div:nth-child(2) h5 {
    margin-top: 15px;
  }
}
.header .exl-topnav .exl-subnav-wrapper .two-section div:nth-child(2) h5 {
  margin-top: 15px;
}
.header .exl-topnav .search > div:nth-child(1) {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header .exl-topnav .profile > div:nth-child(2) {
  display: none;
}
.header .nav-hamburger {
  display: none;
}
@media (max-width: 1024px) {
  .header .nav-hamburger {
    display: block;
    height: 9px;
    position: relative;
    top: 27px;
    width: 18px;
  }
  .header .nav-hamburger > span {
    background-color: var(--spectrum-gray-700);
    display: inline-block;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all 200ms ease-in-out;
    top: 0;
    width: 14px;
  }
  .header .nav-hamburger > span:nth-child(2) {
    top: 4px;
  }
  .header .nav-hamburger > span:nth-child(3) {
    top: 8px;
  }
  .header .nav-hamburger.is-active > span:nth-child(1) {
    transform: rotate(45deg);
    top: 5px;
  }
  .header .nav-hamburger.is-active > span:nth-child(2) {
    display: none;
  }
  .header .nav-hamburger.is-active > span:nth-child(3) {
    transform: rotate(-45deg);
    top: 5px;
  }
}
.header .exl-nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: var(--nav-height);
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  .header .exl-nav {
    display: block;
    height: auto;
  }
  .header .exl-nav-item > a {
    color: var(--spectrum-gray-800);
    display: block;
    font-size: var(--spectrum-font-size-75);
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.72px;
    margin-top: 25px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
  }
  .header .exl-nav-item:first-child > a {
    margin-top: 0;
  }
}
.header .exl-nav-item.large-menu {
  position: relative;
}
.header .exl-nav-item.large-menu > a {
  display: inline-block;
  padding-right: 37px;
  position: relative;
}
@media (max-width: 1024px) {
  .header .exl-nav-item.large-menu > a {
    display: block;
  }
}
.header .exl-nav-item.large-menu > a::after {
  border-width: 0 1.5px 1.5px 0;
  border-style: solid;
  border-color: var(--spectrum-gray-800);
  box-sizing: content-box;
  content: "";
  display: flex;
  height: 6px;
  position: absolute;
  right: 20px;
  transform-origin: 75% 75%;
  transform: rotateZ(45deg);
  transition: transform 0.1s ease;
  top: 28px;
  width: 6px;
}
@media (max-width: 1024px) {
  .header .exl-nav-item.large-menu > a::after {
    transform: rotateZ(45deg);
    top: 0;
  }
}
.header .exl-topnav .exl-brand-container {
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .header .exl-topnav .exl-brand-container {
    left: 7%;
    margin: 0;
    position: fixed;
    top: 14px;
    width: 75%;
    text-align: center;
    z-index: 2;
  }
}
.header .exl-topnav .exl-brand-container h2, .header .exl-topnav .exl-brand-container h2 a {
  color: var(--spectrum-gray-800);
  font-size: var(--spectrum-font-size-200);
  font-weight: 600;
  margin: 0;
}
.header .exl-subnav-wrapper {
  background: var(--spectrum-gray-100);
  display: none;
  min-width: 600px;
  padding: 24px;
  position: absolute;
  left: 0;
  top: 65px;
  transition: all 200ms;
  z-index: 10;
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper {
    margin-top: 19px;
    min-width: auto;
    padding: 0;
    position: static;
  }
}
.header .exl-subnav-wrapper ul {
  list-style: none;
  margin-left: 15px;
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper ul {
    margin-left: 0;
  }
}
.header .exl-subnav-wrapper ul li {
  color: var(--spectrum-gray-700);
  font-size: var(--spectrum-font-size-100);
  font-weight: 500;
  letter-spacing: normal;
  line-height: 17px;
  margin: 0;
}
.header .exl-subnav-wrapper ul li a:hover {
  background: var(--spectrum-gray-200);
  border-radius: 4px;
  color: var(--spectrum-gray-700);
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .communities-by-product > div:nth-child(2) {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .featured-products {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .two-section > div:nth-child(1) {
    display: none;
  }
}
.header .exl-subnav-wrapper .quick-links div:not(:first-child) {
  margin-bottom: 20px;
  margin-left: 24px;
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .quick-links div:not(:first-child) {
    display: none;
  }
}
.header .exl-subnav-wrapper > div:nth-child(2) > div:nth-child(2) {
  margin-top: 32px;
}
.header .exl-subnav-wrapper .two-section div:nth-child(2) > div {
  margin-bottom: 20px;
  margin-left: 24px;
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .two-section div:nth-child(2) > div {
    margin-bottom: 20px;
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .two-section > div:nth-child(2) > div:first-child {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .two-section > div:nth-child(2) > div > p:nth-child(2) {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .featured-products, .header .exl-subnav-wrapper .communities-by-product {
    border-bottom: 1px solid var(--spectrum-gray-200);
    border-top: 1px solid var(--spectrum-gray-200);
    padding: 0 0 19px;
    margin-top: 19px;
  }
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .featured-products.show h5::after, .header .exl-subnav-wrapper .communities-by-product.show h5::after {
    transform: rotateZ(225deg);
  }
  .header .exl-subnav-wrapper .featured-products.show > div:nth-child(2), .header .exl-subnav-wrapper .communities-by-product.show > div:nth-child(2) {
    display: block;
  }
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .quick-links {
    margin: 0 24px;
  }
  .header .exl-subnav-wrapper .quick-links.show h5::after {
    transform: rotateZ(225deg);
  }
  .header .exl-subnav-wrapper .quick-links.show > div:not(:first-child):nth-child(2) {
    display: block;
  }
}
@media (max-width: 1024px) {
  .header .exl-subnav-wrapper .communities-by-product {
    margin: 0 24px;
    padding: 0;
  }
}
.header .exl-nav-item > a.active {
  background: var(--spectrum-gray-100);
}
@media (min-width: 1024px) {
  .header .exl-nav-item > a.active {
    border-bottom: 2px solid var(--spectrum-gray-700);
  }
  .header .exl-nav-item > a.active::after {
    transform: rotateZ(225deg);
  }
}
.header .exl-nav-item > a.active + .exl-subnav-wrapper {
  display: block;
}
@media (max-width: 1024px) {
  .header .exl-nav-item > a.active + .exl-subnav-wrapper {
    display: none;
  }
}
.header .exl-nav-item.large-menu.is-expanded > a::after {
  transform: rotateZ(225deg);
}
.header .exl-nav-item.large-menu.is-expanded .exl-subnav-wrapper {
  display: none;
}
@media (max-width: 1024px) {
  .header .exl-nav-item.large-menu.is-expanded .exl-subnav-wrapper {
    display: block;
  }
}
.header .exl-nav-action {
  align-items: center;
  display: flex;
  gap: 17px;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1024px) {
  .header .exl-nav-action {
    gap: 5px;
    display: block;
  }
}
@media (max-width: 1024px) {
  .header .adobe-logo {
    display: none;
  }
}
.header .language-selector .language-dropdown ul li {
  margin: 0;
}
.header .search {
  position: relative;
}
@media (max-width: 1024px) {
  .header .search {
    display: block;
    position: fixed;
    right: 30px;
    top: 35px;
  }
}
.header .search .exl-search-input {
  border: 1px solid var(--spectrum-gray-400);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: none;
  color: var(--non-spectrum-input-text);
  outline: none;
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-100);
  height: 30px;
  line-height: 17px;
  padding: 7px 5px 7px 28px;
  width: 200px;
}
@media (width >= 1024px) and (width <= 1200px) {
  .header .search .exl-search-input {
    width: 120px;
  }
}
@media (width <= 1200px) {
  .header .search .exl-search-input {
    display: none;
  }
}
.header .search .exl-search-icon {
  height: 15px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 15px;
}
@media (width >= 900px) and (width <= 1200px) {
  .header .search .exl-search-icon {
    left: auto;
    right: -10px;
    top: -6px;
  }
}
@media (width >= 900px) and (width <= 1024px) {
  .header .search .exl-search-icon {
    left: auto;
    position: fixed;
    right: 117px;
    top: 26px;
  }
}
@media (width <= 900px) {
  .header .search .exl-search-icon {
    display: none;
  }
}
.header .search .exl-dropdown-picker {
  align-items: center;
  background: none;
  border: 1px solid var(--spectrum-gray-400);
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  color: var(--non-spectrum-input-text);
  display: flex;
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-100);
  justify-content: space-between;
  height: 30px;
  line-height: 17px;
  width: 110px;
  opacity: 0.7;
  padding: 7px;
  text-align: right;
}
@media (width <= 1200px) {
  .header .search .exl-dropdown-picker {
    display: none;
  }
}
.header .search .exl-icon.arrow {
  transform: rotateZ(180deg);
  transition: transform 0.1s ease;
}
.header .search .search-popover {
  background: var(--spectrum-gray-50);
  border: 1px solid var(--spectrum-gray-400);
  display: none;
  right: 0;
  width: 110px;
  position: absolute;
  top: 29px;
  z-index: 11;
}
.header .search .search-popover ul {
  list-style: none;
}
.header .search .search-popover ul li {
  cursor: pointer;
  font-size: var(--spectrum-font-size-100);
  padding: 2px 8px;
  margin: 0;
}
.header .search .search-popover ul li:hover {
  background: var(--non-spectrum-hover-bg);
}
.header .search .search-popover.show {
  display: block;
}
.header .language-selector {
  height: var(--nav-height);
  padding: 0 8px;
  position: relative;
}
@media (max-width: 1024px) {
  .header .language-selector {
    border-top: 1px solid var(--spectrum-gray-200);
    padding: 13px 0 0;
    top: 15px;
  }
}
.header .language-selector.active {
  background: var(--non-spectrum-bg);
}
@media (max-width: 1024px) {
  .header .language-selector.active {
    padding: 13px 0 0;
  }
  .header .language-selector.active a::after {
    transform: rotateZ(225deg);
  }
  .header .language-selector.active .language-dropdown {
    display: block;
  }
}
.header .language-selector .language-dropdown {
  background: var(--non-spectrum-bg);
  display: none;
  left: 50%;
  max-width: 320px;
  padding: 5px 0;
  position: absolute;
  transform: translate(-50%, 0);
  top: 57px;
  z-index: 10;
}
@media (max-width: 1024px) {
  .header .language-selector .language-dropdown {
    top: 40px;
    width: 100%;
  }
}