@charset "UTF-8";
:root {
  --header-padding-x: 16px;
  --brand-desktop-display: none;
  --brand-mobile-display: flex;
  --search-display: none;
  --sign-up-display: none;
  --sign-in-display: flex;
  --language-selector-display: none;
  --adobe-logo-display: none;
  --nav-hamburger-display: block;
  --nav-order: 1;
  --brand-order: 2;
  --sign-in-order: 3;
}
@media (min-width: 1024px) {
  :root {
    --brand-desktop-display: block;
    --brand-mobile-display: none;
    --search-display: block;
    --language-selector-display: block;
    --adobe-logo-display: block;
    --nav-hamburger-display: none;
    --nav-order: unset;
    --brand-order: unset;
    --sign-in-order: unset;
  }
}

header {
  position: relative;
  box-sizing: content-box;
}

.header {
  padding-right: var(--header-padding-x);
  height: 100%;
  position: relative;
}
.header > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.header .brand {
  order: var(--brand-order);
}
.header .brand-desktop {
  display: var(--brand-desktop-display);
}
.header .brand-mobile {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}
.header .nav {
  order: var(--nav-order);
}
@media (min-width: 1024px) {
  .header .nav {
    display: block;
  }
}
.header .nav-wrapper {
  display: none;
  padding: 0.5rem 0;
  box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
}
.header .nav-wrapper > ul {
  max-height: 100%;
  margin: 0;
}
.header .nav-wrapper p {
  margin: 0;
}
.header .nav-wrapper-expanded {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: #fafafa;
}
.header .nav-item {
  display: block;
  line-height: 1.5;
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 2;
}
.header .nav-item > * {
  padding-left: var(--header-padding-x) !important;
  padding-right: var(--header-padding-x) !important;
}
.header .nav-item a {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem 0.5rem 0;
  position: relative;
  margin: 0;
  font-size: 14px;
  font-weight: inherit;
}
.header .nav-item-leaf > *:not(:first-child) {
  display: none;
}
.header .nav-item-toggle {
  border-radius: 0;
  margin: 0;
  border: 0;
  text-align: left;
  background: none;
  font-weight: initial;
  color: #4a4a4a !important;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0.5rem;
  line-height: 2;
}
.header .nav-item-toggle::after {
  position: absolute;
  right: 18px;
  top: 50%;
  display: flex;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  transform-origin: 75% 75%;
  transform: rotateZ(45deg);
  transition: transform 0.1s ease;
  content: "";
  box-sizing: content-box;
}
.header .nav-item-toggle[aria-expanded=true] {
  border-bottom: 2px solid var(--non-spectrum-silver);
}
.header .nav-item-toggle[aria-expanded=true]::after {
  transform: rotateZ(-135deg);
}
.header .nav-item-content {
  display: none;
  margin: 0;
}
.header .nav-item-content-expanded {
  display: block;
}
.header .nav-hamburger {
  display: var(--nav-hamburger-display);
  width: 60px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  color: #2d2d2d;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}
.header .nav-hamburger::before {
  content: "☰";
}
.header .nav-hamburger[aria-expanded=true]::before {
  content: "✕";
}
.header .sign-up {
  display: var(--sign-up-display);
}
.header .search {
  display: var(--search-display);
}
.header .language-selector {
  display: var(--language-selector-display);
}
.header .sign-in {
  display: var(--sign-in-display);
  order: var(--sign-in-order);
  align-items: center;
}
.header .sign-in a {
  background: var(--spectrum-blue-900);
  border-radius: 16px;
  color: var(--spectrum-gray-50);
  font-size: var(--spectrum-font-size-100);
  font-weight: var(--font-weight-600);
  padding: 5px 16px;
  padding: 5px 16px;
  white-space: nowrap;
  line-height: unset;
}
.header .adobe-logo {
  display: var(--adobe-logo-display);
}