.exl-curtain {
  display: none;
  opacity: 0;
}
@media (width <= 1289px) {
  .exl-curtain {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    transition: all 200ms;
    top: 65px;
    width: 100%;
    z-index: 8;
  }
}

.header {
  border-bottom: 1px solid var(--spectrum-gray-200);
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-100);
  padding: 0 29px;
}
.header * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header ul {
  list-style: none;
}
.header a {
  color: var(--spectrum-gray-800);
  font-size: var(--spectrum-font-size-100);
  font-weight: 400;
  text-decoration: none;
}
.header a:hover {
  color: var(--link-color);
}
.header .exl-nav-item > a {
  border-bottom: 2px solid transparent;
  display: inline-block;
  height: 65px;
  margin: 0;
  padding: 20px 22px 0;
}
@media (width <= 1024px) {
  .header .exl-nav-item > a {
    height: auto;
  }
}
.header .language-selector > a {
  background: url("/icons/globegrid.svg") 0 0 no-repeat;
  background-size: cover;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
  text-indent: -99999px;
}
.header .language-dropdown a {
  color: var(--spectrum-gray-800);
  cursor: pointer;
  display: block;
  padding: 5px 25px;
  white-space: nowrap;
  margin: 0;
}
.header .exl-subnav-wrapper a {
  color: var(--spectrum-gray-700);
  line-height: 17px;
}
.header .adobe-logo > a {
  background: url("../../icons/adobe-red-logo.svg") 0 0 no-repeat;
  background-size: cover;
  display: inline-block;
  height: 20px;
  text-indent: -99999px;
  width: 22px;
}
.header .exl-subnav-wrapper ul li a {
  border-radius: 4px;
  display: block;
  margin: 0;
  padding: 10px 12px;
}
.header .exl-nav-item:last-child > a {
  background: var(--spectrum-blue-900);
  border-radius: 16px;
  color: var(--spectrum-gray-50);
  display: inline-block;
  font-size: var(--spectrum-font-size-100);
  font-weight: 600;
  height: inherit;
  padding: 5px 16px;
}
@media (width <= 1024px) {
  .header .exl-nav-item:last-child > a {
    line-height: inherit;
    position: fixed;
    right: 20px;
    top: -8px;
    text-transform: capitalize;
  }
}
.header .exl-nav-item > a.active {
  background: var(--spectrum-gray-100);
}
@media (width >= 1025px) {
  .header .exl-nav-item > a.active {
    border-bottom: 2px solid var(--spectrum-gray-700);
  }
}
.header .exl-subnav-wrapper p {
  color: var(--spectrum-gray-700);
  font-size: var(--spectrum-font-size-50);
  letter-spacing: normal;
  line-height: 14.3px;
}
.header .language-dropdown a:hover {
  background: var(--non-spectrum-hover-bg);
}
.header .exl-subnav-wrapper .browse-all-content {
  text-align: right;
}
@media (width <= 1024px) {
  .header .exl-subnav-wrapper .browse-all-content {
    display: none;
  }
}
.header .exl-subnav-wrapper .browse-all-content a {
  color: var(--link-color);
  font-size: var(--spectrum-font-size-100);
  line-height: 18.2px;
  letter-spacing: normal;
}
.header .exl-subnav-wrapper .link-group p {
  font-size: 12px;
}
.header .exl-topnav {
  font-size: var(--spectrum-font-size-100);
  max-width: var(--non-spectrum-max-width);
  margin: 0 auto;
}
.header .exl-topnav > div {
  align-items: center;
  display: flex;
  gap: 36px;
  justify-content: space-between;
}
@media (width >= 1024px) and (width <= 1440px) {
  .header .exl-topnav > div {
    gap: 16px;
  }
}
@media (width <= 1024px) {
  .header .exl-topnav > div {
    height: 64px;
  }
}
@media (width <= 1024px) {
  .header .exl-topnav .profile {
    display: none;
  }
}
.header .exl-topnav .profile a {
  color: var(--spectrum-gray-800);
}
.header .exl-topnav .profile > div:nth-child(1) p {
  display: none;
}
.header .exl-topnav .profile > div:nth-child(1) p:first-child {
  display: block;
}
.header .exl-topnav .exl-subnav-wrapper > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (width <= 1024px) {
  .header .exl-topnav .exl-subnav-wrapper > div {
    display: block;
  }
}
.header .exl-topnav .exl-subnav-wrapper h5 {
  color: var(--spectrum-gray-700);
  font-size: var(--spectrum-font-size-75);
  font-weight: 800;
  letter-spacing: 0.72px;
  line-height: 18px;
  text-transform: uppercase;
}
.header .exl-topnav .exl-subnav-wrapper > div > div:nth-child(1) h5 {
  margin-bottom: 19px;
}
@media (width <= 1024px) {
  .header .exl-topnav .exl-subnav-wrapper > div > div:nth-child(1) h5 {
    margin-top: 19px;
  }
}
.header .exl-topnav .exl-subnav-wrapper > div > div:nth-child(2) h5 {
  margin-bottom: 19px;
}
@media (width <= 1024px) {
  .header .exl-topnav .exl-subnav-wrapper > div > div:nth-child(2) h5 {
    margin-top: 19px;
  }
}
.header .exl-topnav .exl-subnav-wrapper .two-section div:nth-child(2) h5 {
  margin-top: 19px;
}
@media (width <= 1024px) {
  .header .exl-topnav .exl-subnav-wrapper .featured-products, .header .exl-topnav .exl-subnav-wrapper .communities-by-product {
    border-bottom: 1px solid var(--spectrum-gray-200);
    border-top: 1px solid var(--spectrum-gray-200);
    padding: 0 0 19px;
    margin-top: 19px;
  }
}
.header .exl-topnav .search > div:nth-child(1) {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header .exl-topnav .profile > div:nth-child(2) {
  display: none;
}
.header .exl-topnav .nav-hamburger {
  display: none;
}
@media (width <= 1024px) {
  .header .exl-topnav .nav-hamburger {
    display: block;
    position: relative;
    width: 18px;
    height: 9px;
  }
  .header .exl-topnav .nav-hamburger > span {
    background-color: var(--spectrum-gray-700);
    display: inline-block;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all 200ms ease-in-out;
    top: 0;
    width: 14px;
  }
  .header .exl-topnav .nav-hamburger > span:nth-child(2) {
    top: 4px;
  }
  .header .exl-topnav .nav-hamburger > span:nth-child(3) {
    top: 8px;
  }
  .header .exl-topnav .nav-hamburger.is-active > span:nth-child(1) {
    transform: rotate(45deg);
  }
  .header .exl-topnav .nav-hamburger.is-active > span:nth-child(2) {
    display: none;
  }
  .header .exl-topnav .nav-hamburger.is-active > span:nth-child(3) {
    transform: rotate(-45deg);
    top: 0;
  }
}
.header .exl-nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 64px;
  justify-content: flex-start;
}
@media (width <= 1024px) {
  .header .exl-nav {
    background: var(--non-spectrum-bg);
    display: block;
    height: 100%;
    left: -350px;
    max-width: 350px;
    overflow-y: scroll;
    padding: 24px;
    position: fixed;
    transition: all 200ms ease-in-out;
    top: 65px;
    width: 100%;
    z-index: 9;
  }
  .header .exl-nav-item > a {
    color: var(--spectrum-gray-800);
    display: block;
    font-size: var(--spectrum-font-size-75);
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.72px;
    margin-top: 24px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
  }
  .header .exl-nav-item:first-child > a {
    margin-top: 0;
  }
}
.header .exl-nav-item.large-menu {
  position: relative;
}
.header .exl-nav-item.large-menu > a {
  display: inline-block;
  padding-right: 37px;
  position: relative;
}
@media (width <= 1024px) {
  .header .exl-nav-item.large-menu > a {
    display: block;
  }
}
.header .exl-nav-item.large-menu > a::after {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--spectrum-gray-800);
  box-sizing: content-box;
  content: "";
  display: flex;
  height: 6px;
  position: absolute;
  right: 20px;
  transform-origin: 75% 75%;
  transform: rotateZ(45deg);
  transition: transform 0.1s ease;
  top: 28px;
  width: 6px;
}
@media (width <= 1024px) {
  .header .exl-nav-item.large-menu > a::after {
    transform: rotateZ(45deg);
    top: 0;
  }
}
.header .exl-topnav .exl-brand-container h2,
.header .exl-topnav .exl-brand-container h2 a {
  color: var(--spectrum-gray-800);
  font-size: var(--spectrum-font-size-200);
  font-weight: 600;
  margin: 0;
}
.header .exl-subnav-wrapper {
  background: var(--spectrum-gray-100);
  display: none;
  min-width: 600px;
  padding: 24px;
  position: absolute;
  left: 0;
  top: 65px;
  transition: all 200ms;
  z-index: 10;
}
@media (width <= 1024px) {
  .header .exl-subnav-wrapper {
    min-width: auto;
    padding: 0 8px;
    position: static;
  }
}
.header .exl-subnav-wrapper ul {
  list-style: none;
  margin-left: 15px;
}
.header .exl-subnav-wrapper ul li {
  color: var(--spectrum-gray-700);
  font-size: var(--spectrum-font-size-100);
  font-weight: 500;
  letter-spacing: normal;
  line-height: 17px;
  margin: 0;
}
.header .exl-subnav-wrapper ul li a:hover {
  background: var(--spectrum-gray-200);
  border-radius: 4px;
  color: var(--spectrum-gray-700);
}
@media (width <= 1024px) {
  .header .exl-subnav-wrapper .quick-links, .header .exl-subnav-wrapper .two-section {
    display: none;
  }
}
.header .exl-subnav-wrapper .quick-links div:not(:first-child) {
  margin-bottom: 20px;
  margin-left: 24px;
}
.header .exl-subnav-wrapper > div:nth-child(2) > div:nth-child(2) {
  margin-top: 32px;
}
.header .exl-subnav-wrapper .two-section div:nth-child(2) > div {
  margin-bottom: 20px;
  margin-left: 24px;
}
.header .exl-nav-item.large-menu.is-expanded > a::after {
  transform: rotateZ(45deg);
}
.header .exl-nav-item.large-menu.is-expanded > a.active::after {
  transform: rotateZ(225deg);
}
.header .exl-nav-item.large-menu.is-expanded .exl-subnav-wrapper {
  display: block;
}
.header.exl-overlay .exl-nav-item.large-menu > a.active::after {
  transform: rotateZ(225deg);
}
.header .exl-nav-action {
  align-items: center;
  display: flex;
  gap: 17px;
  justify-content: space-between;
}
@media (width <= 1024px) {
  .header .adobe-logo {
    display: none;
  }
}
.header .language-selector .language-dropdown ul li {
  margin: 0;
}
.header .search {
  position: relative;
}
@media (width <= 1024px) {
  .header .search {
    display: block;
  }
}
.header .search .exl-search-input {
  border: 1px solid var(--spectrum-gray-400);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: none;
  color: var(--non-spectrum-input-text);
  outline: none;
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-100);
  height: 30px;
  line-height: 17px;
  padding: 7px 5px 7px 28px;
  width: 200px;
}
@media (width >= 1290px) and (width <= 1440px) {
  .header .search .exl-search-input {
    width: 120px;
  }
}
@media (width <= 1289px) {
  .header .search .exl-search-input {
    display: none;
  }
}
.header .search .exl-search-icon {
  height: 15px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 15px;
}
@media (width >= 769px) and (width <= 1024px) {
  .header .search .exl-search-icon {
    display: block;
    left: -100px;
    position: absolute;
    top: -8px;
  }
}
@media (width >= 1025px) and (width <= 1289px) {
  .header .search .exl-search-icon {
    display: block;
    left: -20px;
    position: absolute;
    top: -8px;
  }
}
@media (width <= 768px) {
  .header .search .exl-search-icon {
    display: none;
  }
}
.header .search .exl-dropdown-picker {
  align-items: center;
  background: none;
  border: 1px solid var(--spectrum-gray-400);
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  color: var(--non-spectrum-input-text);
  display: flex;
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-100);
  justify-content: space-between;
  height: 30px;
  line-height: 17px;
  width: 110px;
  opacity: 0.7;
  padding: 7px;
  text-align: right;
}
@media (width <= 1289px) {
  .header .search .exl-dropdown-picker {
    display: none;
  }
}
.header .search .exl-icon.arrow {
  transform: rotateZ(180deg);
  transition: transform 0.1s ease;
}
.header .search .search-popover {
  background: var(--spectrum-gray-50);
  border: 1px solid var(--spectrum-gray-400);
  display: none;
  right: 0;
  width: 120px;
  position: absolute;
  top: 29px;
  z-index: 11;
}
.header .search .search-popover ul {
  list-style: none;
}
.header .search .search-popover ul li {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0;
}
.header .search .search-popover ul li:hover {
  background: var(--non-spectrum-hover-bg);
}
.header .search .search-popover.show {
  display: block;
}
.header .language-selector {
  position: relative;
}
@media (width <= 1024px) {
  .header .language-selector {
    display: none;
  }
}
.header .language-selector .language-dropdown {
  background: var(--non-spectrum-bg);
  display: none;
  left: 50%;
  max-width: 320px;
  padding: 5px 0;
  position: absolute;
  transform: translate(-50%, 0);
  top: 30px;
  z-index: 10;
}
.header .language-selector:hover .language-dropdown {
  display: block;
}

.is-shown {
  overflow: hidden;
}
.is-shown .exl-curtain {
  opacity: 1;
  display: block;
}
.is-shown .exl-nav {
  left: 0;
}