.header {
  border-bottom: 1px solid var(--spectrum-gray-200);
  height: 64px;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .exl-topnav {
    align-items: center;
    display: flex;
    font-size: var(--spectrum-font-size-100);
    gap: 36px;
    height: inherit;
    justify-content: space-between;
    max-width: 1680px;
    margin: 0 auto;

    & h2,
    & a {
      color: var(--spectrum-gray-800);
      font-size: var(--spectrum-font-size-100);
      font-weight: 400;
      line-height: 21px;
      padding: 0;
      margin: 0;
    }

    & a {
      text-decoration: none;

      &:hover {
        color: var(--link-color);
      }
    }

    & .profile {
      > div:nth-child(1) p {
        display: none;

        &:first-child {
          display: block;
        }
      }

      > div:nth-child(2) {
        display: none;
      }
    }
  }

  .exl-topnav .nav-hamburger {
    display: none;
  }

  .exl-topnav .exl-brand-container h2,
  .exl-topnav .exl-brand-container h2 a {
    font-size: var(--spectrum-font-size-200);
    font-weight: 600;
  }

  .exl-nav {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 44px;
    justify-content: flex-start;
  }

  .exl-nav-item.large-menu {
    margin-right: 15px;

    & h2 a {
      display: inline-block;
      position: relative;

      &::after {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: var(--spectrum-gray-800);
        box-sizing: content-box;
        content: '';
        display: flex;
        height: 6px;
        margin-top: -3px;
        position: absolute;
        right: -15px;
        transform-origin: 75% 75%;
        transform: rotateZ(45deg);
        transition: transform 0.1s ease;
        top: 50%;
        width: 6px;
      }
    }
  }

  #topnav-signup a {
    background: var(--spectrum-blue-900);
    border-radius: 16px;
    color: var(--spectrum-gray-50);
    display: inline-block;
    font-family: var(--body-font-family);
    font-size: var(--spectrum-font-size-100);
    font-weight: 600;
    padding: 9px 16px;
  }

  .exl-nav-action {
    align-items: center;
    display: flex;
    gap: 17px;
    justify-content: space-between;

    & .adobe-logo a svg {
      fill: inherit;
      height: 20px;
      vertical-align: middle;
      width: 22px;
    }
  }

  .exl-nav-action .search {
    position: relative;

    & > div:nth-child(1) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    & .exl-search-input {
      border: 1px solid var(--spectrum-gray-400);
      box-shadow: none;
      color: var(--non-spectrum-input-text);
      font-family: var(--body-font-family);
      font-size: var(--spectrum-font-size-100);
      height: 30px;
      line-height: 17px;
      padding: 7px 5px 7px 28px;
      width: 100%;
    }

    .exl-search-icon {
      height: 15px;
      left: 7px;
      position: absolute;
      top: 5;
      width: 15px;
    }

    & .exl-dropdown-picker {
      align-items: center;
      background: none;
      border: 1px solid var(--spectrum-gray-400);
      border-radius: 0;
      box-shadow: none;
      color: var(--non-spectrum-input-text);
      display: flex;
      font-family: var(--body-font-family);
      font-size: var(--spectrum-font-size-100);
      justify-content: space-between;
      height: 30px;
      line-height: 17px;
      width: 240px;
      opacity: 0.7;
      padding: 7px;
      text-align: right;
    }

    & .search-popover {
      background: var(--spectrum-gray-50);
      border: 1px solid var(--spectrum-gray-400);
      display: none;
      right: 0;
      width: 150px;
      position: absolute;
      top: 29px;

      & ul {
        list-style: none;

        & li {
          padding: 5px 20px;
        }
      }

      &.show {
        display: block;

        & li {
          cursor: pointer;

          &:hover {
            background: var(--non-spectrum-hover-bg);
          }
        }
      }
    }
  }

  .exl-nav-action .language-selector {
    position: relative;

    & a img {
      height: 18px;
      vertical-align: middle;
      width: 18px;
    }

    & .language-dropdown {
      background: var(--non-spectrum-bg);
      display: none;
      left: 50%;
      max-width: 320px;
      padding: 5px 0;
      position: absolute;
      transform: translate(-50%, 0);
      top: 20px;

      & a.language-item {
        cursor: pointer;
        display: block;
        padding: 5px 25px;
        white-space: nowrap;

        &:hover {
          background: var(--non-spectrum-hover-bg);
        }
      }
    }

    &:hover .language-dropdown {
      display: block;
    }
  }
}
