@import '../../styles/sass/breakpoints';
@import '../../styles/sass/mixins';

:root {
  --header-padding-x: 16px;
  --brand-desktop-display: none;
  --brand-mobile-display: flex;
  --search-display: none;
  --sign-up-display: none;
  --sign-in-display: flex;
  --language-selector-display: none;
  --adobe-logo-display: none;
  --nav-hamburger-display: block;
  --nav-order: 1;
  --brand-order: 2;
  --sign-in-order: 3;

  @include breakpoint(custom) {
    --brand-desktop-display: block;
    --brand-mobile-display: none;
    --search-display: block;
    --language-selector-display: block;
    --adobe-logo-display: block;
    --nav-hamburger-display: none;
    --nav-order: unset;
    --brand-order: unset;
    --sign-in-order: unset;
  }
}

@mixin button-reset {
  border-radius: 0;
  margin: 0;
  border: 0;
  text-align: left;
  background: none;
  font-weight: initial;
}

header {
  position: relative;
  box-sizing: content-box;
}

.header {
  padding-right: var(--header-padding-x);
  height: 100%;
  position: relative;

  > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  .brand {
    order: var(--brand-order);
  }

  .brand-desktop {
    display: var(--brand-desktop-display);
  }

  .brand-mobile {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .nav {
    order: var(--nav-order);

    @include breakpoint(custom) {
      display: block;
    }
  }

  .nav-wrapper {
    display: none;
    padding: 0.5rem 0;
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);

    > ul {
      max-height: 100%;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .nav-wrapper-expanded {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: #fafafa;
  }

  .nav-item {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 2;

    > * {
      padding-left: var(--header-padding-x) !important;
      padding-right: var(--header-padding-x) !important;
    }

    a {
      color: #4a4a4a;
      display: block;
      line-height: 1.5;
      padding: 0.5rem 0.75rem 0.5rem 0;
      position: relative;
      margin: 0;
      font-size: 14px;
      font-weight: inherit;
    }
  }

  .nav-item-leaf > *:not(:first-child) {
    display: none;
  }

  .nav-item-toggle {
    @include button-reset;

    color: #4a4a4a !important;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0.5rem;
    line-height: 2;

    &::after {
      position: absolute;
      right: 18px;
      top: 50%;
      display: flex;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      border-width: 0 1px 1px 0;
      border-style: solid;
      transform-origin: 75% 75%;
      transform: rotateZ(45deg);
      transition: transform 0.1s ease;
      content: '';
      box-sizing: content-box;
    }
  }

  .nav-item-toggle[aria-expanded='true'] {
    border-bottom: 2px solid var(--non-spectrum-silver);

    &::after {
      transform: rotateZ(-135deg);
    }
  }

  .nav-item-content {
    display: none;
    margin: 0;

    // margin-left: var(--header-padding-x);
  }

  .nav-item-content-expanded {
    display: block;
  }

  .nav-hamburger {
    display: var(--nav-hamburger-display);
    width: 60px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    box-shadow: none;
    color: #2d2d2d;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;

    &::before {
      content: '\2630'; // hamburger icon
    }

    &[aria-expanded='true']::before {
      content: '\2715'; // close icon
    }
  }

  .sign-up {
    display: var(--sign-up-display);
  }

  .search {
    display: var(--search-display);
  }

  .language-selector {
    display: var(--language-selector-display);
  }

  .sign-in {
    display: var(--sign-in-display);
    order: var(--sign-in-order);
    align-items: center;

    a {
      @include button;
    }
  }

  .adobe-logo {
    display: var(--adobe-logo-display);
  }
}
