.curated-cards-header {
    @media (min-width: 600px) {
        display: flex;
        justify-content: space-between;
    }
    
    @media (min-width: 900px) {
            display: flex;
            justify-content: space-between;
    }
    
    @media (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
    }
}
.curated-cards-header h4 {
    padding: 0;
    margin: 0;
}

.curated-cards-title {
    display: flex;
    margin: 0;
}

.curated-cards-view a {
    font-size: inherit;
    line-height: 17px;
    margin: 2px 0 0 0;
}

.curated-cards-content {
    margin-top: 24px;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 32px;
    transition: all .5s ease-in-out;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 2px;

    @media only screen and (min-width: 600px) {
        gap: 25px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    @media only screen and (min-width: 900px) {
        gap: 32px;
    }
}

.curated-cards-content > div {
    flex: 1 0 264px;
    width : 264px;
    max-width: 264px;
    @media only screen and (min-width: 600px) {
        width : 286px;
        flex: 1 0 286px;
        max-width: 286px; 
    }
    @media only screen and (min-width: 900px) {
        width : 256px; 
        flex: 1 0 256px;
        max-width: 256px;
    }
}

.curated-cards .tooltip {
    position: relative;
    margin: 4px 0 0 9px;
    @media (min-width: 1200px) {
        margin-top: 7px;
    }
}

.curated-cards .tooltip .icon-info {
    width: 15px;
    height: 15px;
}

.curated-cards .tooltip .tooltip-text {
    background-color: var(--non-spectrum-royal-blue);
    border-radius: 4px;
    color: var(--spectrum-gray-50);
    display: inline-block;
    font-size: 12px;
    left: 100%;
    line-height: 15px;
    margin-left: 10px;
    margin-top: -16px;
    opacity: 0;
    padding: 4px 9px 5px 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: opacity 0.3s;
    visibility: hidden;
    width: max-content;
    z-index: 1;
}

.curated-cards .tooltip .tooltip-text::before {
    border-color: transparent var(--non-spectrum-royal-blue) transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    display: inline-block;
    margin-top: -4px;
    position: absolute;
    right: 100%;
    top: 50%;
}

.curated-cards .tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}