.curated-cards {
    margin-bottom: 40px;
}

.curated-cards-header h4 {
    padding: 0;
    margin: 0;
}

.curated-cards-title {
    display: flex;
    margin: 0;
}

.curated-cards-view a {
    font-size: inherit;
    line-height: 17px;
    margin: 2px 0 0 0;
}

.curated-cards-content {
    margin-top: 24px;
}

.curated-cards .tooltip {
    margin: 4px 0 0 9px;
}

.curated-cards .tooltip .icon-info {
    width: 15px;
    height: 15px;
}


@media (min-width: 600px) {
    .curated-cards {
        margin-bottom: 56px;
    }

    .curated-cards-header {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .curated-cards {
        margin-bottom: 80px ;
    }

    .curated-cards-header {
        display: flex;
        justify-content: space-between;
    }

    .curated-cards .tooltip {
        margin-top: 7px;
    }
}
