/* ----- MOBILE / Default ----- */

/* teaser wrapper stretches over complete width */
.section div.detailed-teaser-wrapper {
  max-width: unset;

  /* stretches to window edge in mobile view */
  margin-left: calc(-1 * var(--spectrum-spacing-300));
  margin-right: calc(-1 * var(--spectrum-spacing-300));
}

.section div.detailed-teaser-wrapper:has(.inline-banner) {
  margin: 0;
}

.detailed-teaser-wrapper:has(.hide-inline-banner) {
  display: none;
}

.detailed-teaser.block {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.detailed-teaser.inline-banner {
  border: 1px solid var(--non-spectrum-unicorn-silver);
  border-radius: 16px;
}

body[class^='browse-'] .section div.detailed-teaser-wrapper .detailed-teaser.block.inline-banner,
body[class^='article-'] .section div.detailed-teaser-wrapper .detailed-teaser.block.inline-banner {
  border: 1px solid var(--non-spectrum-unicorn-silver);
  border-radius: 16px;
}

/* the background image container */
.detailed-teaser.block > .background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* the background image */
.detailed-teaser.block > .background img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* the foreground contains texts and subject image */
.detailed-teaser.block > .foreground {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: var(--default-max-width);
  margin: auto;
}

.detailed-teaser.inline-banner > .foreground {
  width: 100%;
  flex-direction: column-reverse;
}

.detailed-teaser.inline-banner.right > .foreground {
  flex-direction: column;
}

/* the text block (eyebrow content, title , descr , cta) */
.detailed-teaser.block > .foreground > .text {
  order: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spectrum-spacing-400) var(--spectrum-spacing-300);
  max-width: 550px;
}

/* change the order if text should be at the bottom */
.detailed-teaser.block.right > .foreground > .text {
  order: 1;
}

/* eyebrow content */
.detailed-teaser.block > .foreground > .text > .eyebrow {
  margin-bottom: 26px;
}

.detailed-teaser.block.inline-banner > .foreground > .text > .eyebrow {
  margin-bottom: var(--spectrum-spacing-100);
}

.detailed-teaser.block > .foreground > .text > .eyebrow:empty {
  display: none;
}

/* the optional logo image in eyebrow content */
.detailed-teaser.block > .foreground > .text > .eyebrow > .logo {
  margin: 0;
}

.detailed-teaser.block.inline-banner > .foreground > .spacer img {
  border-radius: 0;
  min-height: unset;
  display: block;
  height: 100%;
  width: 100%;
  max-height: 265px;
  object-fit: cover;
}

.detailed-teaser.block > .foreground > .text > .eyebrow > .logo img {
  height: 32px;
}

/* the eyebrow titles */
.detailed-teaser.block > .foreground > .text > .eyebrow > .title {
  font-size: var(--spectrum-font-size-300);
  font-weight: var(--font-weight-bold);
  color: var(--non-spectrum-grey);
  margin: 0;
}

.detailed-teaser.block > .foreground > .text > .eyebrow > .subtitle {
  font-size: var(--spectrum-font-size-100);
  font-weight: var(--font-weight-bold);
  color: #8c8c8c;
  margin: 0;
}

.detailed-teaser.block.dark > .foreground > .text > .eyebrow > .subtitle {
  color: #ccc;
}

/* the main title */
/* stylelint-disable-next-line no-descending-specificity */
.detailed-teaser.block > .foreground > .text > .title {
  color: var(--non-spectrum-custom-dark);
}

.detailed-teaser.block > .foreground > .text > .title :where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  color: inherit;
}

/* description */
.detailed-teaser.block > .foreground > .text > .description,
.detailed-teaser.block > .foreground > .text > .description * {
  font-size: var(--spectrum-font-size-500);
  color: var(--non-spectrum-custom-dark);
  line-height: 30px;
  margin-top: 10px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailed-teaser.block.dark > .foreground > .text > .title,
.detailed-teaser.block.dark > .foreground > .text > .eyebrow > .title,
.detailed-teaser.block.dark > .foreground > .text > .description,
.detailed-teaser.block.dark > .foreground > .text > .description * {
  color: var(--background-color);
}

/* the list of CTA's */
.detailed-teaser.block > .foreground > .text > .cta {
  display: flex;
  gap: var(--spectrum-spacing-400);
  margin-top: 20px;
  padding: 0;
  width: min-content;
}

.detailed-teaser.block > .foreground > .text > .cta:empty {
  display: none;
}

/* the cta buttons */
.detailed-teaser.block > .foreground > .text > .cta > a.button {
  margin: 0;
  font-size: var(--spectrum-font-size-100);
  font-weight: var(--font-weight-bold);
  line-height: 15px;
  padding: 5px 14px 6px;
}

.detailed-teaser.block.inline-banner > .foreground > .text > .description,
.detailed-teaser.block.inline-banner > .foreground > .text > .cta {
  margin-top: var(--spectrum-spacing-300);
}

/* spacer/subject image */
.detailed-teaser.block > .foreground > .spacer {
  display: block;
  order: 1;
  padding: 0 var(--spectrum-spacing-300) var(--spectrum-spacing-400) var(--spectrum-spacing-300);
}

/* change the order if text should be on the right */
.detailed-teaser.block.right > .foreground > .spacer {
  order: 0;
  padding-bottom: 0;
  padding-top: var(--spectrum-spacing-400);
}

.detailed-teaser.block.inline-banner > .foreground > .spacer {
  padding: 0;
}

.detailed-teaser.block > .foreground > .spacer:empty {
  display: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.detailed-teaser.block > .foreground > .spacer img {
  border-radius: 30px;
}

.detailed-teaser.block.inline-banner > .foreground > .spacer picture {
  height: 100%;
}

.detailed-teaser.block.inline-banner > .foreground > .text {
  padding: 20px 24px;
}

/* ----- TABLET ----- */
@media (min-width: 600px) {
  .section div.detailed-teaser-wrapper {
    /* stretches to window edge, cover section padding */
    margin-left: calc(-1 * var(--spectrum-spacing-700));
    margin-right: calc(-1 * var(--spectrum-spacing-700));
  }

  /* foreground container, flex (text + spacer), always on top */
  .detailed-teaser.block > .foreground {
    padding: 0 var(--spectrum-spacing-800);
    min-height: 320px;
  }

  .detailed-teaser.block.inline-banner > .foreground {
    width: 100%;
    margin: unset;
    padding: 0;
    min-height: 240px;
  }

  /* limit width of text part and set order */
  .detailed-teaser.block > .foreground > .text {
    padding: var(--spectrum-spacing-500) 0;
  }

  .detailed-teaser.block.inline-banner > .foreground > .text {
    min-width: unset;
    flex-grow: 1;
    max-width: unset;
  }

  .detailed-teaser.block.inline-banner > .foreground > .text > .cta {
    margin-top: var(--spectrum-spacing-400);
  }

  /* teaser on browse pages has different width for text */
  body[class^='browse-'] .detailed-teaser.block > .foreground > .text,
  body[class^='article-'] .detailed-teaser.block > .foreground > .text {
    min-width: unset;
  }

  /* spacer/subject image */
  .detailed-teaser.block > .foreground > .spacer {
    padding-left: 0;
    padding-right: 0;
  }

  /* it gets a border */
  body[class^='browse-'] .section div.detailed-teaser-wrapper .detailed-teaser.block,
  body[class^='article-'] .section div.detailed-teaser-wrapper .detailed-teaser.block {
    border: 1px solid var(--spectrum-gray-200);
    border-radius: 4px;
  }

  body[class^='browse-'] .section div.detailed-teaser-wrapper .background img,
  body[class^='article-'] .section div.detailed-teaser-wrapper .background img {
    border-radius: 4px;
  }

  body[class^='browse-'] .detailed-teaser.block > .foreground > .spacer img,
  body[class^='article-'] .detailed-teaser.block > .foreground > .spacer img {
    object-position: left;
  }

  body[class^='browse-'] .section div.detailed-teaser-wrapper .foreground,
  body[class^='article-'] .section div.detailed-teaser-wrapper .foreground {
    min-height: 240px;
    padding: 0 var(--spectrum-spacing-1100);
  }

  body[class^='browse-'] .section div.detailed-teaser-wrapper:has(.inline-banner) .foreground,
  body[class^='article-'] .section div.detailed-teaser-wrapper:has(.inline-banner) .foreground {
    padding: 0;
  }

  .detailed-teaser.block.inline-banner > .foreground > .spacer {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .detailed-teaser.block.inline-banner > .foreground,
  .detailed-teaser.block.inline-banner.right > .foreground {
    flex-direction: row;
    gap: 40px;
  }

  .detailed-teaser.block.inline-banner > .foreground > .spacer img {
    max-height: unset;
    max-width: 300px;
  }

  .detailed-teaser.block.inline-banner > .foreground > .spacer {
    max-width: 50%;
    width: auto;
  }

  .detailed-teaser.block.inline-banner > .foreground > .text {
    width: 40%;
    padding: var(--spectrum-spacing-600) 0 var(--spectrum-spacing-600) var(--spectrum-spacing-800);
  }

  .detailed-teaser.block.inline-banner.right > .foreground > .text {
    padding: var(--spectrum-spacing-600) var(--spectrum-spacing-800) var(--spectrum-spacing-600) 0;
  }
}

@media (min-width: 1024px) {
  .detailed-teaser.block:has(.pop-subject-image) {
    margin-top: 50px;
    overflow-x: visible;
  }

  /* switch to left right */
  .detailed-teaser.block .foreground {
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    max-width: var(--default-max-width);
    width: 100%;
  }

  /* the cta buttons */
  .detailed-teaser.block > .foreground > .text > .cta > a.button {
    line-height: unset;
  }

  /* teaser on browse pages has different width for text */
  .detailed-teaser.block > .foreground > .text {
    min-width: 550px;
  }

  /* the subject image /spacer */
  .detailed-teaser.block > .foreground > .spacer {
    display: flex;
    align-items: center;
    padding: var(--spectrum-spacing-500) 0;
  }

  .detailed-teaser.block > .foreground.pop-subject-image > .spacer {
    position: relative;
    width: 100%;
    max-width: 550px;
    padding: 0;
  }

  /* elevate subject image above forground */
  .detailed-teaser.block > .foreground.pop-subject-image > .spacer picture {
    position: absolute;
    top: -50px;
  }

  .detailed-teaser.block > .foreground > .spacer img {
    border-radius: 30px;
    padding: 0;
    object-fit: cover;
    min-height: 260px;
    max-height: 290px;
    object-position: center;
  }

  /* when shown on a page with a rail 
   no longer goes from end to end */
  body[class^='browse-'] .section div.detailed-teaser-wrapper,
  body[class^='article-'] .section div.detailed-teaser-wrapper,
  body[class*='profile-home-page'] .section div.detailed-teaser-wrapper {
    margin-left: unset;
    margin-right: unset;
  }

  body[class^='browse-'] .section div.detailed-teaser-wrapper .foreground,
  body[class^='article-'] .section div.detailed-teaser-wrapper .foreground {
    padding: 0 var(--spectrum-spacing-600);
  }
}

.tabs.block div.detailed-teaser-wrapper {
  /* stretches to window edge in mobile view */
  margin-left: unset;
  margin-right: unset;
}

@media (min-width: 1024px) {
  .tabs.block .detailed-teaser.block > .foreground > .text {
    min-width: 300px;
  }
}
