/* ----- MOBILE / Default ----- */

/* teaser wrapper stretches over complete width */
.section div.detailed-teaser-wrapper {
  max-width: unset;

  /* stretches to window edge in mobile view */
  margin-left: calc(-1 * var(--space-token-xs));
  margin-right: calc(-1 * var(--space-token-xs));
}

.detailed-teaser.block {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

/* the background image container */
.detailed-teaser.block > .background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* the background image */
.detailed-teaser.block > .background img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* the foreground contains texts and subject image */
.detailed-teaser.block > .foreground {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: var(--default-max-width);
  margin: auto;
}

/* the text block (eyebrow content, title , descr , cta) */
.detailed-teaser.block > .foreground > .text {
  order: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spectrum-spacing-400) var(--space-token-xs);
  max-width: 550px;
}

/* change the order if text should be at the bottom */
.detailed-teaser.block.right > .foreground > .text {
  order: 1;
}

/* eyebrow content */
.detailed-teaser.block > .foreground > .text > .eyebrow {
  margin-bottom: 26px;
}

.detailed-teaser.block > .foreground > .text > .eyebrow:empty {
  display: none;
}

/* the optional logo image in eyebrow content */
.detailed-teaser.block > .foreground > .text > .eyebrow > .logo {
  margin: 0;
}

.detailed-teaser.block > .foreground > .text > .eyebrow > .logo img {
  height: 32px;
}

/* the eyebrow titles */
.detailed-teaser.block > .foreground > .text > .eyebrow > .title {
  font-size: var(--spectrum-font-size-300);
  font-weight: var(--font-weight-700);
  color: var(--non-spectrum-grey);
  margin: 0;
}

.detailed-teaser.block > .foreground > .text > .eyebrow > .subtitle {
  font-size: var(--spectrum-font-size-100);
  font-weight: var(--font-weight-700);
  color: #8c8c8c;
  margin: 0;
}

.detailed-teaser.block.dark > .foreground > .text > .eyebrow > .subtitle {
  color: #ccc;
}

/* the main title */
/* stylelint-disable-next-line no-descending-specificity */
.detailed-teaser.block > .foreground > .text > .title {
  font-size: 24px;
  font-weight: var(--font-weight-700);
  line-height: 27px;
  color: var(--non-spectrum-custom-dark);
}

.detailed-teaser.block > .foreground > .text > .title :where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  color: inherit;
  font: inherit;
}

/* description */
.detailed-teaser.block > .foreground > .text > .description,
.detailed-teaser.block > .foreground > .text > .description * {
  font-size: 22px;
  color: var(--non-spectrum-custom-dark);
  line-height: 30px;
  margin-top: 10px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailed-teaser.block.dark > .foreground > .text > .title,
.detailed-teaser.block.dark > .foreground > .text > .eyebrow > .title,
.detailed-teaser.block.dark > .foreground > .text > .description,
.detailed-teaser.block.dark > .foreground > .text > .description * {
  color: var(--background-color);
}

/* the list of CTA's */
.detailed-teaser.block > .foreground > .text > .cta {
  display: flex;
  gap: var(--spectrum-spacing-400);
  margin-top: 20px;
  padding: 0;
  width: min-content;
}

.detailed-teaser.block > .foreground > .text > .cta:empty {
  display: none;
}

/* the cta buttons */
.detailed-teaser.block > .foreground > .text > .cta > a.button {
  margin: 0;
  font-size: 15px;
  font-weight: var(--font-weight-700);
  line-height: 15px;
  padding: 5px 14px 6px;
}

/* behavior for primary and secondary */
.detailed-teaser.block > .foreground > .text > .cta > a.button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: currentcolor;
}

.detailed-teaser.block.dark > .foreground > .text > .cta > a.button {
  background-color: var(--background-color);
  border: 2px solid transparent;
  color: currentcolor;
}

.detailed-teaser.block.dark > .foreground > .text > .cta > a.button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--background-color);
}

/* spacer/subject image */
.detailed-teaser.block > .foreground > .spacer {
  display: block;
  order: 1;
  padding: 0 var(--space-token-xs) var(--spectrum-spacing-400) var(--space-token-xs);
}

/* change the order if text should be on the right */
.detailed-teaser.block.right > .foreground > .spacer {
  order: 0;
  padding-bottom: 0;
  padding-top: var(--spectrum-spacing-400);
}

.detailed-teaser.block > .foreground > .spacer:empty {
  display: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.detailed-teaser.block > .foreground > .spacer img {
  border-radius: 30px;
}

/* ----- TABLET ----- */
@media (min-width: 600px) {
  .section div.detailed-teaser-wrapper {
    /* stretches to window edge, cover section padding */
    margin-left: calc(-1 * var(--space-token-xl));
    margin-right: calc(-1 * var(--space-token-xl));
  }

  /* foreground container, flex (text + spacer), always on top */
  .detailed-teaser.block > .foreground {
    padding: 0 var(--space-token-xl);
    min-height: 320px;
  }

  /* limit width of text part and set order */
  .detailed-teaser.block > .foreground > .text {
    padding: var(--spectrum-spacing-500) 0;
  }

  /* teaser on browse pages has different width for text */
  body[class^='browse-'] .detailed-teaser.block > .foreground > .text,
  body[class^='article-'] .detailed-teaser.block > .foreground > .text {
    min-width: unset;
  }

  .detailed-teaser.block > .foreground > .text > .title {
    font-size: 32px;
    font-weight: 800;
  }

  /* spacer/subject image */
  .detailed-teaser.block > .foreground > .spacer {
    padding-left: 0;
    padding-right: 0;
  }

  /* it gets a border */
  body[class^='browse-'] .section div.detailed-teaser-wrapper,
  body[class^='article-'] .section div.detailed-teaser-wrapper {
    border: 1px solid var(--spectrum-gray-200);
    border-radius: 4px;
  }

  body[class^='browse-'] .section div.detailed-teaser-wrapper .background img,
  body[class^='article-'] .section div.detailed-teaser-wrapper .background img {
    border-radius: 4px;
  }

  body[class^='browse-'] .detailed-teaser.block > .foreground > .spacer img,
  body[class^='article-'] .detailed-teaser.block > .foreground > .spacer img {
    object-position: left;
  }

  body[class^='browse-'] .section div.detailed-teaser-wrapper .foreground,
  body[class^='article-'] .section div.detailed-teaser-wrapper .foreground {
    min-height: 240px;
    padding: 0 var(--space-token-xxl);
  }
}

@media (min-width: 1024px) {
  /* switch to left right */
  .detailed-teaser.block .foreground {
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    max-width: var(--default-max-width);
    width: 100%;
  }

  /* the cta buttons */
  .detailed-teaser.block > .foreground > .text > .cta > a.button {
    line-height: unset;
  }

  /* teaser on browse pages has different width for text */
  .detailed-teaser.block > .foreground > .text {
    min-width: 550px;
  }

  /* the subject image /spacer */
  .detailed-teaser.block > .foreground > .spacer {
    display: flex;
    align-items: center;
    padding: var(--spectrum-spacing-500) 0;
  }

  .detailed-teaser.block > .foreground > .spacer img {
    border-radius: 30px;
    padding: 0;
    object-fit: cover;
    min-height: 260px;
    max-height: 290px;
    object-position: center;
  }

  /* when shown on a page with a rail 
   no longer goes from end to end */
  body[class^='browse-'] .section div.detailed-teaser-wrapper,
  body[class^='article-'] .section div.detailed-teaser-wrapper,
  body[class*='profile-home-page'] .section div.detailed-teaser-wrapper {
    margin-left: unset;
    margin-right: unset;
  }

  body[class^='browse-'] .section div.detailed-teaser-wrapper .foreground,
  body[class^='article-'] .section div.detailed-teaser-wrapper .foreground {
    padding: 0 var(--space-token-l);
  }
}

.tabs.block div.detailed-teaser-wrapper {
  /* stretches to window edge in mobile view */
  margin-left: unset;
  margin-right: unset;
}

@media (min-width: 1024px) {
  .tabs.block .detailed-teaser.block > .foreground > .text {
    min-width: 300px;
  }
}
