/*
    Print style taken from https://experienceleague-dev.corp.adobe.com/docs/authoring-guide-exl/using/markdown/syntax-style-guide.html?lang=en#tabs
    there are a few other files which has not been taken due to their
    reliance on existing classnames. 
    TODO: Modify this file based on use case or remove if not needed later.
*/
@media print {
  .no-print,
  header,
  #nav,
  .footer,
  .navbar,
  #breadcrumbs,
  .modal,
  .is-hidden-print,
  #toc-toggle,
  [data-id='other'],
  [data-id='toc'] {
    display: none !important;
  }

  dx-docs-feedback-bar > .container {
    display: none !important;
  }

  html,
  body {
    background-color: #fff !important;
    color: #000 !important;
  }

  body {
    font-size: 12pt;
  }

  h1 {
    font-size: 18pt;
  }

  h2 {
    font-size: 16pt;
  }

  h3 {
    font-size: 14pt;
  }

  .page-break {
    page-break-after: always;
  }

  table {
    width: 100% !important;
    border-collapse: collapse;
    table-layout: fixed;
  }

  table,
  th,
  td {
    border: 1px solid #000 !important;
  }

  img {
    max-width: 100% !important;
  }

  *,
  *::before,
  *::after {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  tr {
    page-break-inside: avoid;
  }

  pre,
  blockquote {
    overflow: visible !important;
    white-space: pre-wrap !important;
  }

  a {
    color: #000;
  }

  .extension {
    border-width: 2px !important;
  }

  a:link,
  a:visited {
    text-decoration: underline;
  }

  .code-toolbar {
    filter: invert(100%);
  }
}
