.related-content-wrapper {
  margin: 20px 0 0;
}

.related-content-wrapper .related-content-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.related-content-wrapper .related-content-toggle h2 {
  font-size: var(--spectrum-font-size-50);
  font-weight: var(--font-weight-extra-bold);
  text-transform: uppercase;
  line-height: 31px;
  margin: 0;
}

.related-content-wrapper .related-content-toggle[aria-expanded='false'] + ul {
  max-height: 0;
  transition: max-height 300ms ease;
}

.related-content-wrapper .related-content-toggle[aria-expanded='true'] + ul {
  max-height: 15em;
  transition: max-height 300ms ease;
}

.related-content-wrapper .related-content-toggle::after {
  position: absolute;
  right: 5%;
  top: auto;
  display: flex;
  width: 18px;
  height: 18px;
  content: '';
  box-sizing: content-box;
  background: rgb(0 0 0 / 0%) url('/icons/chevron-down.svg') no-repeat right center;
  transform: rotate(180deg);
  transition: transform 300ms;
}

.related-content-wrapper .related-content-toggle[aria-expanded='true']::after {
  transform: rotate(0);
}

.related-content-wrapper ul.related-content {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  cursor: pointer;
  overflow: hidden;
}

.related-content-wrapper ul.related-content li {
  margin: 5px 0;
  display: flex;
}

.related-content-wrapper ul.related-content li .related-content-icon {
  margin: 0 10px 0 0;
}

.related-content-wrapper ul.related-content li .related-content-icon .related-content-tooltip {
  display: inline;
}

.related-content-wrapper ul.related-content li .related-content-icon .related-content-tooltip .tooltip-label-wrapper {
  font-size: var(--spectrum-font-size-75);
  position: absolute;
  visibility: hidden;
  transition: all 130ms ease-in-out;
}

.related-content-wrapper
  ul.related-content
  li
  .related-content-icon
  .related-content-tooltip
  .tooltip-label-wrapper
  .tooltip-label {
  display: block;
  background-color: var(--spectrum-gray-600);
  border-radius: 4px;
  position: relative;
  bottom: 3em;
  left: 0.5em;
  color: var(--spectrum-gray-50);
  font-weight: var(--font-weight-normal);
  padding: 2px 8px 4px;
  text-align: center;
  text-wrap: nowrap;
  transform: translateX(-50%);
  white-space: pre;
  z-index: 1;
  visibility: hidden;
}

.related-content-wrapper
  ul.related-content
  li
  .related-content-icon
  .related-content-tooltip
  .tooltip-label-wrapper
  .tooltip-label::after {
  border-width: 4px;
  border-style: solid;
  border-color: var(--spectrum-gray-600) transparent transparent transparent;
  content: '';
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: 100%;
}

.related-content-wrapper ul.related-content li .related-content-icon:hover .related-content-tooltip .tooltip-label {
  visibility: visible;
}

.related-content-wrapper ul.related-content a {
  font-size: var(--spectrum-font-size-100);
  display: inline-flex;
  min-height: 32px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border-radius: 4px;
  color: var(--non-spectrum-grey-updated, var(--spectrum-alias-text-color-hover));
  line-height: 20px;
}
