.key-takeaways-wrapper {
  max-width: 720px;
}

.key-takeaways-block {
  background-color: var(--highlight-light-background-color);
  border-radius: 16px;
  padding: 24px;
  border: 1px solid var(--non-spectrum-unicorn-silver);
}

#key-takeaways-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  margin-top: unset;
  padding-left: 36px;
  color: var(--non-spectrum-dark-gray);
  line-height: 1.5;
  position: relative;
}

#key-takeaways-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--non-spectrum-unicorn-silver);
}

#key-takeaways-title::before {
  content: '';
  position: absolute;
  margin-top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url('../../icons/tutorial.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: brightness(0); /* Make the icon black */
}

.key-takeaways-list {
  padding-left: 24px;
  margin: 0;
}

.key-takeaways-list li {
  position: relative;
  padding-left: 8px;
  font-size: 18px;
}

.key-takeaways-list li:last-child {
  margin-bottom: 0;
}
