.tags-wrapper .tags {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-tags-product, .article-tags-topics, .article-tags-createdFor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.article-tags-product-heading, .article-tags-topics-heading, .article-tags-createdFor-heading {
  font-size: var(--spectrum-body-size-xs);
  font-weight: 700;
}

.article-tags-name {
  color: var(--non-spectrum-grey-updated);
  font-size: var(--spectrum-body-size-s);
}