.tags-wrapper .tags {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--spectrum-gray-300);
}

.article-tags-product,
.article-tags-topics,
.article-tags-createdfor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.article-tags-product-heading,
.article-tags-topics-heading,
.article-tags-createdfor-heading {
  font-size: var(--spectrum-body-size-xs);
  font-weight: var(--font-weight-bold);
}

.article-tags-name {
  color: var(--non-spectrum-grey-updated);
  font-size: var(--spectrum-body-size-s);
}
