.signup-flow-shimmer-container {
  position: relative;
  overflow: hidden;
}

.signup-flow-shimmer-container > *:not(.signup-flow-shimmer) {
  display: none;
}

.signup-flow-shimmer {
  position: absolute;
  inset: 0;
  background-color: inherit;
  display: grid;
  place-items: center;
  z-index: 5;
}

.signup-flow-shimmer .signup-flow-loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--spectrum-gray-600);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
