/* ----- MOBILE / Default ----- */

/* teaser wrapper stretches over complete width */
.section div.teaser-wrapper {
  margin-bottom: var(--spectrum-spacing-500);
  max-width: unset;

  /* stretches to window edge in mobile view */
  margin-left: calc(-1 * var(--space-token-xs));
  margin-right: calc(-1 * var(--space-token-xs));
}

/* The teaser block div */
.teaser.block , .teaser.block.dark {
  --teaser-background-color :  var(--spectrum-red-700); 

  background-color: var(--teaser-background-color);
}

/* the foreground contains text and spacer */
.teaser.block > .foreground {
  max-width: var(--non-spectrum-max-width);
  margin: auto;
}

/* the text block (eyebrow, title , descr , ctr) */
.teaser.block > .foreground > .text {
  padding: var(--spectrum-spacing-400) var(--space-token-xs);
}

/* the eybrow title, hidden in mobile */
.teaser.block > .foreground > .text > .eyebrow {
  display:none;
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-700);
  color: var(--spectrum-gray-700);
  margin-bottom: var(--space-token-xs);
}

/* the main title, hidden in mobile */
.teaser.block > .foreground > .text > .title {
  display: none;
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-900);
  font-weight: var(--font-weight-700);
  line-height: var(--spectrum-line-height-xxl);
  margin-bottom: var(--space-token-xxs);
}

.teaser.block.dark > .foreground > .text > .title {
  color: var(--background-color);
}

/* the short description */
.teaser.block > .foreground > .text > .short-description * {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-300);
  font-weight: var(--font-weight-700);
  line-height: var(--spectrum-line-height-l);
  color: var(--background-color);
  margin: 0;
}

/* long description , hidden in mobile */
.teaser.block > .foreground > .text > .long-description {
  display: none;
}

.teaser.block > .foreground > .text > .long-description * {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-300);
  line-height: var(--spectrum-line-height-l);
  margin: 0;
}

.teaser.block.dark > .foreground > .text > .long-description * {
  color: var(--background-color);
}

/* the list of CTA's */
.teaser.block > .foreground > .text > .cta {
  display: flex;
  gap: var(--spectrum-spacing-400);
  margin-top: var(--spectrum-spacing-400);
  padding: 0;
  width:min-content;
}

.teaser.block > .foreground > .text > .cta:empty {
  display: none;
}

/* the cta buttons in mobile view */
.teaser.block > .foreground > .text > .cta > a.button {
  background-color: var(--background-color);
  border: 2px solid transparent;
  color:var(--teaser-background-color);
  margin: 0;
}

.teaser.block > .foreground > .text > .cta > a.button.secondary {
  background-color: unset;
  border: 2px solid var(--background-color);
  color:var(--background-color);
}

/* spacer div */
.teaser.block > .foreground > .spacer {
  display:none;
  width:40%;
}

/* the background image , hidden in mobile */
.teaser.block > .background img {
  display:none;
  width: auto;
  height: max-content;
  object-fit: cover;
}

/* ----- TABLET ----- */
@media (min-width: 600px) {
  .section div.teaser-wrapper {
    /* stretches to window edge, cover section padding */
    margin-left: calc(-1 * var(--spectrum-spacing-500));
    margin-right: calc(-1 * var(--spectrum-spacing-500));
  }

  /* remove background color , add border */
  .teaser.block,
  .teaser.block.dark {
    position: relative;
    background-color: var(--background-color);
    padding: 0;
    border: 1px solid var(--spectrum-gray-200);
    border-radius: 4px;
    overflow: hidden;
  }

  /* foreground container, flex (text + spacer), always on top */
  .teaser.block > .foreground {
    position: relative;
    display: flex;
    z-index: 2;
    padding: 0 var(--spectrum-spacing-500);
  }

  /* limit width of text part and set order */
  .teaser.block > .foreground > .text {
    width:60%;
    order: 0;
    padding: var(--spectrum-spacing-500) 0;
  }

  /* change the order if text should be on the right */
  .teaser.block.right > .foreground > .text {
    order: 1;
  }

  /* turn on the eybrow */
  .teaser.block > .foreground > .text > .eyebrow {
    display: block;
  }

  /* turn on the title */
  .teaser.block > .foreground > .text > .title {
    display: block;
  }

  .teaser.block.dark > .foreground > .text > .eyebrow {
    color: var(--background-color);
  }
  
  /* turn of short description */
  .teaser.block > .foreground > .text > .short-description {
    display: none;
  }

  /* turn on long description */
  .teaser.block > .foreground > .text > .long-description {
    display: block;
  }

  /* revert to normal button behavior for primary and secondary */
  .teaser.block > .foreground > .text > .cta > a.button {
    background-color: var(--link-color);
    border: 2px solid transparent;
    color: var(--background-color);
  }

  .teaser.block > .foreground > .text > .cta > a.button.secondary {
    background-color: unset;
    border: 2px solid currentcolor;
    color: currentcolor;
  }

  .teaser.block.dark > .foreground > .text > .cta > a.button {
    background-color: var(--background-color);
    border: 2px solid transparent;
    color: currentcolor;
  }

  .teaser.block.dark > .foreground > .text > .cta > a.button.secondary {
    background-color: unset;
    border: 2px solid currentcolor;
    color: var(--background-color);
  }

  /* spacer */
  .teaser.block > .foreground > .spacer {
    display:block;
    order: 1;
  }

  /* change the order if text should be on the right */
  .teaser.block.right > .foreground > .spacer {
    order: 0;
  }

  /* the background image container */
  .teaser.block > .background {
    display:block;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  /* the image */
  .teaser.block > .background img {
    display:block;
    height:100%;
    width: 100%;
    object-position: right;
  }
}
  
