div.list-placeholder-wrapper .list-item {
  margin: 15px 0;
  border-radius: 4px;
  background: var(--shimmer-content-background),
    linear-gradient(
      90deg,
      var(--shimmer-image-slide-start) 0,
      var(--shimmer-image-slide-end) 40px,
      var(--shimmer-image-slide-start) 80px
    );
  animation: wave 2s linear 0s infinite normal forwards;
}

div.list-placeholder-wrapper .line {
  position: relative;
  height: 20px;
}

@keyframes wave {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}
