.video-embed {
  text-align: center;
  width: 100%;
  margin: 32px auto;
}
.video-embed > div {
  display: flex;
  justify-content: center;
}
.video-embed .embed-placeholder {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}
.video-embed .embed-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}
.video-embed .embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-embed .embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px;
  padding: 0;
}
.video-embed .embed-placeholder-play button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px;
}

.embed-video {
  left: 0;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  border: 1px solid #1e1e1e;
}
