
.profile-tab-wrapper {
   display: flex;
   justify-content: center; 
}
.profile-tab.block {
    max-width: max-content;
    border-bottom: 2px solid var(--spectrum-gray-300);
    display: flex;
    flex-wrap: wrap;
}

.profile-tab.block a {
    display: inline-block;
    margin: 0;
    padding-bottom: 15px;
    color: var(--spectrum-gray-800);
    text-transform: capitalize;
    font-size: 14px;
    margin-right: 24px;
    margin-bottom: -2px;
}

.profile-tab.block a:last-child {
    margin-right: 0;
}

.profile-tab.block a.active{
    font-weight: var(--font-weight-700);
    border-bottom: 2px solid var(--spectrum-gray-900);
}

@media (min-width: 1024px){
    .profile-tab-wrapper {
        justify-content: flex-start;
    }
    
}