/* mobile */
.email-card {
    max-width: 386px;
    padding: 24px 24px 32px 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000014;
    border-radius: 4px;
    opacity: 1;
}

.email-card-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 8px;
}

.email-card-title div {
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.72px;
}

.email-card-title a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #222222;
    margin: 0px;
    gap: 4px;
}

.email-card-user-email {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #222222;
    word-break: break-word;
}

/* tablet */
@media (min-width: 600px) {
    .email-card {
        width: 308px;
    }
}

/* desktop */
@media (min-width: 900px) {
    .email-card {
        width: 386px;
        padding: 32px 36px 40px 24px;
    }

    .email-card-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        gap: 0px;
    }
}