.tabs {
  background-color: var(--spectrum-gray-100);
  padding: 14px 21px 21px;
  border-radius: 7px;
  margin-bottom: 28px;
}

.tabs::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: var(--spectrum-gray-300);
  position: relative;
  top: 56px;
}

.tabs .tab-list {
  overflow-x: auto;
  white-space: nowrap;
}

.tabs .tab-list button.tab-title {
  background: none;
  color: var(--spectrum-gray-700);
  padding: 0;
  margin: 0;
  height: 56px;
  line-height: 56px;
  white-space: nowrap;
  font-family: var(--body-font-family);
  font-size: var(--exlm-font-size-content);
  font-weight: var(--font-weight-normal);
  border: 0;
  border-radius: 0;
  position: relative;
}

.tabs .tab-list button.tab-title:not(:first-child) {
  margin-left: 24px;
}

.tabs .tab-list button.tab-title[aria-selected='true'] {
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
  border-radius: 0;
}

.tabs .tab-content {
  padding: 10.5px 0;
  color: var(--spectrum-gray-800);
  font-family: var(--body-font-family);
  font-size: var(--exlm-font-size-content);
  font-weight: var(--font-weight-normal);
}

.tabs .tab-content .tabpanel {
  display: none;
  margin-bottom: 12px;
}

.tabs .tab-content .tabpanel.active {
  display: block;
}
