@import '../../scripts/browse-card/browse-cards-block.css';
@import '../../scripts/browse-card/browse-card-premium-learning.css';

.premium-learning-suggested-content-block .premium-learning-suggested-content-header {
  gap: 16px;
  margin-top: 20px;
}

.premium-learning-suggested-content-block .premium-learning-suggested-content-description {
  color: var(--non-spectrum-dark-gray);
  font-size: var(--spectrum-font-size-200);
  margin-top: 8px;
}

.premium-learning-suggested-content-block .premium-learning-suggested-content-tab-header {
  margin: 16px 0 0;
}

.premium-learning-suggested-content-block .premium-learning-suggested-content-panel {
  margin-top: 32px;
}
