@import '../../scripts/browse-card/browse-cards-block.css';

.premium-learning-suggested-content .premium-learning-suggested-content-header {
  gap: var(--spectrum-spacing-300);
  margin-top: 20px;
}

.premium-learning-suggested-content .premium-learning-suggested-content-description {
  color: var(--non-spectrum-dark-gray);
  font-size: var(--spectrum-font-size-200);
  margin-top: var(--spectrum-spacing-100);
}

.premium-learning-suggested-content .premium-learning-suggested-content-tab-header {
  margin: var(--spectrum-spacing-300) 0 0;
}

.premium-learning-suggested-content .premium-learning-suggested-content-panel {
  margin-top: var(--spectrum-spacing-500);
}

.premium-learning-suggested-content .premium-learning-suggested-content-no-results {
  background-color: var(--spectrum-gray-200);
  color: var(--non-spectrum-dark-gray);
  font-size: var(--spectrum-font-size-200);
  padding: var(--spectrum-spacing-1000) 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 20px;
  margin-top: var(--spectrum-spacing-300);
  padding-inline: var(--spectrum-spacing-300);
}

.premium-learning-suggested-content .premium-learning-suggested-content-no-results-header {
  font-size: var(--exlm-font-size-h3);
  font-weight: var(--font-weight-bold);
}

.premium-learning-suggested-content .premium-learning-suggested-content-no-results-description {
  margin-bottom: var(--spectrum-spacing-200);
}

@media (min-width: 600px) {
  .premium-learning-suggested-content .premium-learning-suggested-content-no-results-header {
    font-size: var(--spectrum-font-size-800);
  }
}

@media (min-width: 900px) {
  .premium-learning-suggested-content.browse-cards-block
    .premium-learning-suggested-content-panel
    .browse-cards-block-content {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .premium-learning-suggested-content .premium-learning-suggested-content-no-results {
    width: 75%;
  }
}
