.articles-wrapper .articles-body {
    padding: 32px 0;
}

.articles-wrapper .articles-section {
    margin-bottom: 32px;
}

.articles-wrapper .articles-body-content {
    margin: 0 20px;
    background-color: inherit;
}

.articles-wrapper .mini-toc-wrapper {
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    top: auto;
    margin-bottom: 32px;
    max-width: 295px;
}

.articles-wrapper .articles-body .default-content-wrapper > h2 {
    font-size: var(--spectrum-font-size-700);
    line-height: 35px;
    color: var(--text-color);
    font-weight: var(--font-weight-700);
    margin: 16px 0;
}

.articles-wrapper .articles-body .default-content-wrapper > p {
    font-size: var(--spectrum-font-size-200);
    line-height: 24px;
    color: var(--non-spectrum-dark-gray);
    margin: 0;
}

.articles-wrapper .articles-body .default-content-wrapper > p:first-of-type {
    font-size: var(--spectrum-font-size-300);
    line-height: 27px;
    margin-bottom: 24px;
}

.articles-wrapper .articles-body .video-embed-wrapper .video-embed {
    margin-top: 0;
    margin-bottom: 0;
}

.articles-wrapper .mini-toc-wrapper .mini-toc .scrollable-div:hover {
    overflow-y: auto;
}

@media(min-width: 600px) {
    .articles-wrapper .articles-body {
        padding: 56px 0;
    }
    .articles-wrapper .articles-body-content {
        margin: 0 62px;
    }

    .articles-wrapper .mini-toc-wrapper {
        padding: 0 62px;
    }
}

@media(min-width: 900px) {
    .articles-wrapper .articles-body {
        display: flex;
        flex-direction: row-reverse;
        padding: 80px 0;
    }

    .articles-wrapper .articles-body-content {
        margin: 0 82px;
        max-width: 765px;
    }

    .articles-wrapper .mini-toc-wrapper {
        display: block;
        padding: 0;
        position: sticky;
        top: 52px;
        margin-bottom: auto;
    }

    .articles-wrapper .articles-section {
        margin-bottom: 56px;
    }
}
