.articles-wrapper .article-content-section {
    padding: 128px 0 32px 0;
    margin: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.articles-wrapper .articles-section {
    margin-bottom: 32px;
}

.articles-wrapper .mini-toc-wrapper {
    padding: 0;
    box-sizing: border-box;
    position: relative;
    top: auto;
    margin-bottom: 32px;
    max-width: 100%;
    position: absolute;
    top: 32px;
}

.articles-wrapper > * > .default-content-wrapper p,
.articles-wrapper > * > .default-content-wrapper p *,
.articles-wrapper > * > .default-content-wrapper li,
.articles-wrapper > * > .default-content-wrapper li * {
    font-size: var(--spectrum-font-size-200);
    line-height: 24px;
} 

.articles-wrapper > * > .default-content-wrapper  p,
.articles-wrapper > * > .default-content-wrapper  li {
    color: var(--non-spectrum-dark-gray);
}

.articles-wrapper > * > .default-content-wrapper>h2 {
    font-size: var(--spectrum-font-size-700);
    line-height: 35px;
    color: var(--text-color);
    font-weight: var(--font-weight-700);
    margin: 32px 0 16px;
}

.articles-wrapper > * > .default-content-wrapper>h3 {
    margin-top: 16px;
}

.articles-wrapper > * > .default-content-wrapper>p {
    font-size: var(--spectrum-font-size-200);
    line-height: 24px;
    color: var(--non-spectrum-dark-gray);
} 

.articles-wrapper .article-content-section .video-embed-wrapper .video-embed {
    margin-top: 0;
    margin-bottom: 0;
}

.articles-wrapper > * > .columns-wrapper p,
.articles-wrapper > * > .columns-wrapper p *,
.articles-wrapper > * > .columns-wrapper li,
.articles-wrapper > * > .columns-wrapper li * {
    font-size: var(--spectrum-font-size-200);
    line-height: 24px;
} 

.articles-wrapper > * > .columns-wrapper p,
.articles-wrapper > * > .columns-wrapper li {
    color: var(--non-spectrum-dark-gray);
}


    
.articles-wrapper .mini-toc-wrapper .mini-toc .scrollable-div:hover {
    overflow-y: auto;
}

.articles-wrapper .mini-toc-wrapper .mini-toc .scrollable-div {
    display: none;
    position: absolute;
    top: 44px;
    background: var(--spectrum-gray-50);
}

.articles-wrapper .article-content-section .article-tags-title > * {
    margin-top: 0;
}

.articles-wrapper .article-content-section .callout-wrapper .callout {
    margin-top: 0;
    margin-bottom: 0;
}

.articles-wrapper .article-content-section .social-share-wrapper {
    margin: 24px auto 24px 0;
}

.articles-wrapper .article-content-section .default-content-wrapper {
    margin-left: 0;
}

@media(min-width: 600px) {
    .articles-wrapper .article-content-section {
        padding: 152px 0 56px 0;
        margin: 0 62px;
    }

    .articles-wrapper .article-content-section-content {
        margin: 0 62px;
    }

    .articles-wrapper .mini-toc-wrapper {
        padding: 0;
        margin: 0;
        max-width: 310px;
        top: 56px;
    }
}

@media(min-width: 900px) {
    .articles-wrapper .article-content-section {
        display: grid;
        grid-template-columns: auto 256px;
        column-gap: 50px;
        row-gap: 16px;
        margin: 0 62px 0 82px;
        padding-top: 80px;
        position: relative;
    }

    .articles-wrapper .mini-toc-wrapper {
        display: block;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 60px;
        margin-bottom: auto;
        max-width: 295px;
    }

    .articles-wrapper .articles-section {
        margin-bottom: 56px;
    }
    
    .articles-wrapper .article-content-section > * {
        grid-column: 1;
        max-width: 765px;
        width: 100%;
        margin-left: 0;
    }

    .articles-wrapper .article-content-section .mini-toc-wrapper {
        grid-column: 2;
        grid-row: 1;
    }

    .articles-wrapper .article-content-section .mini-toc-wrapper .mini-toc {
        position: sticky;
        top: 52px;
    }

    .articles-wrapper .mini-toc-wrapper .mini-toc .scrollable-div {
        max-height: 50vh;
        display: block;
        background: transparent;
        top: auto;
        position: relative;
    }

    .articles-wrapper .article-content-section .social-share-wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .articles-wrapper .article-content-section {
        column-gap: 108px;
    }
}

@media (min-width: 1440px) {
    .articles-wrapper .article-content-section {
        max-width: calc(var(--non-spectrum-max-width) - 80px);
        margin: 0 auto;
    }
}