/* mobile */
.role-cards-wrapper{
    padding: 24px 0;
}

.role-cards {
    display: grid;
    gap: 24px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.role-cards .role-cards-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.role-cards .role-cards-checkbox input {
    width: 14px;
    margin: 0px;
    accent-color: var(--non-spectrum-navy-blue);
}

.role-cards .role-cards-checkbox label {
    font-size: 14px;
} 

.role-cards .role-cards-item {
    background-color: var(--spectrum-gray-50);
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.role-cards .role-cards-checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
}

.role-cards .role-cards-description h3 {
    margin: 0px;
    font-size: 18px;
    line-height: 22px;
}

.role-cards .role-cards-description p {
    font-size: 14px;
    line-height: 17px;
}

.role-cards-item.role-cards-highlight  {
    border: 1px solid var(--spectrum-blue-600);
}

.role-cards .role-cards-default-selection p {
    margin: 0px 0px 10px 0px;
    min-height: 18px;
    font-size: 14px;
    line-height: 17px;
}

body.profile .role-cards .role-cards-description h3 {
    margin-top: 0px;
}
/* tablet */
@media (min-width: 600px) {
    .role-cards {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

/* desktop */
@media (min-width: 900px) {
    body.profile .role-cards {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    body.profile .role-cards .role-cards-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
        align-items: start;
        gap: 8px;
    }
}
