.callout-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 40px 20px;
}

.callout-card {
  position: relative;
  padding: 39px 28px 28px;
  border: 1px solid var(--spectrum-red-1400);
  border-top-width: 6px;
  border-radius: 4px;
}

.callout-card-tag {
  position: absolute;
  text-transform: uppercase;
  top: -6px;
  right: 0;
  padding: 8px 16px;
  font-size: var(--spectrum-font-size-xs);
  background-color: var(--spectrum-red-1400);
  font-weight: bold;
  color: var(--color-white);
  border-radius: 0 4px;
}

.callout-card-header h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--spectrum-font-size-2xl);
  line-height: 32px;
  color: var(--non-spectrum-dark-charcoal);
  margin: 0 0 16px;
}

.callout-card-header p {
  font-size: var(--spectrum-font-size-base);
  line-height: 21px;
  color: var(--non-spectrum-grey);
  margin: 0;
}

.callout-card.callout-card-external {
  border-color: var(--spectrum-indigo-1400);
}

.callout-card.callout-card-external .callout-card-tag {
  border-color: var(--spectrum-indigo-1400);
  background-color: var(--spectrum-indigo-1400);
}

.callout-card-wrapper.callout-card-wrapper-full {
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .callout-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 56px 62px;
  }

  .callout-card {
    padding: 39px 28px 24px;
  }
}

@media (min-width: 900px) {
  .callout-card-wrapper {
    gap: 64px;
    margin: 48px 71px;
  }

  .callout-card {
    padding: 32px 32px 24px;
  }
}
