.doc-actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--spectrum-font-size-75);
  margin: 10px;
}

.doc-mt-toggle {
  flex-basis: 100%;
  gap: 5px;
}

.doc-mt-toggle .doc-mt-checkbox {
  display: flex;
  margin-left: 10px;
}

.doc-mt-toggle .doc-mt-checkbox .info-tooltip-container {
  margin: 0 0 0 10px;
  position: relative;
  cursor: pointer;
  line-height: var(--spectrum-line-height-l);
}

.doc-mt-toggle .doc-mt-checkbox .info-tooltip-container .icon-info {
  width: 16px;
  height: 16px;
}

.doc-mt-toggle .doc-mt-checkbox .info-tooltip-container .action-tooltip {
  background-color: var(--spectrum-gray-600);
  border-radius: 4px;
  color: var(--spectrum-gray-50);
  display: none;
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-normal);
  padding: 2px 8px 4px;
  position: absolute;
  text-align: center;
  transition: all 130ms ease-in-out;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 150px;
  z-index: 1;
  line-height: 1.5;
  left: auto;
  right: 100%;
  bottom: 50%;
  transform: translateY(50%);
  margin-right: 10px;
}

.doc-mt-toggle .doc-mt-checkbox .info-tooltip-container .action-tooltip::after {
  border-width: 4px;
  border-style: solid;
  content: '';
  position: absolute;
  left: auto;
  right: -8px;
  top: 50%;
  margin-top: -4px;
  margin-left: 0;
  border-color: transparent transparent transparent var(--spectrum-gray-600);
}

.doc-mt-toggle .doc-mt-checkbox .info-tooltip-container:hover .action-tooltip {
  display: block;
}

.doc-mt-toggle .doc-mt-feedback {
  display: block;
  margin: 0 0 20px 10px;
}

.doc-mt-feedback .prompt {
  font-weight: var(--font-weight-bold);
}

.doc-mt-toggle .doc-mt-feedback-radio {
  display: flex;
  gap: 10px;
}

.doc-mt-feedback-radio label.radio {
  align-items: center;
  display: flex;
}

.doc-mt-feedback-radio input {
  margin: 3px 5px 0 0;
}

.doc-mt-toggle .doc-mt-feedback input {
  cursor: pointer;
  width: auto;
  margin-right: 10px;
}

.doc-actions-mobile .user-actions button {
  margin-right: 10px;
}

.doc-actions-mobile .user-actions button:last-child {
  margin-right: 0;
}

@media (width >= 900px) {
  .doc-actions-wrapper {
    background: var(--spectrum-gray-50);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .doc-actions-mobile .user-actions {
    display: none;
  }

  .doc-actions .user-actions button {
    margin-right: 10px;
  }

  .doc-actions .user-actions button:last-child {
    margin-right: 0;
  }
}
