.doc-actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--spectrum-font-size-75);
  margin: 10px;
}

.doc-mt-toggle {
  flex-basis: 100%;
  gap: 5px;
}

.doc-mt-toggle .doc-mt-checkbox {
  display: flex;
  margin-left: 10px;
}

.doc-mt-toggle .doc-mt-checkbox input[type='checkbox'] {
  appearance: none;
  width: 27px;
  background: var(--spectrum-blue-900);
  border-radius: 3rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin-left: 10px;
  height: 1rem;
  border: 0;
}

.doc-mt-toggle .doc-mt-checkbox input[type='checkbox']:checked {
  background: var(--spectrum-gray-700);
}

.doc-mt-toggle .doc-mt-checkbox input[type='checkbox']::after {
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  outline: 2px solid var(--spectrum-blue-900);
  outline-offset: -1px;
  background: #fff;
  transform: scale(0.7);
  left: calc(100% - 0.95rem);
  transition: all 0.2s ease-in-out;
}

.doc-mt-toggle .doc-mt-checkbox input[type='checkbox']:checked::after {
  left: 0;
  border: 0;
  outline: 2px solid var(--spectrum-gray-600);
}

.doc-mt-toggle .doc-mt-checkbox a {
  margin: 0 0 0 10px;
}

.doc-mt-toggle .doc-mt-checkbox a .icon-info {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.doc-mt-toggle .doc-mt-feedback {
  display: block;
  margin: 0 0 20px 10px;
}

.doc-mt-feedback .prompt {
  font-weight: var(--font-weight-700);
}

.doc-mt-toggle .doc-mt-feedback-radio {
  display: flex;
  gap: 10px;
}

.doc-mt-feedback-radio label.radio {
  align-items: center;
  display: flex;
}

.doc-mt-feedback-radio input {
  margin: 3px 5px 0 0;
}

.doc-mt-toggle .doc-mt-feedback input {
  cursor: pointer;
  width: auto;
  margin-right: 10px;
}

.doc-actions-mobile .user-actions button {
  margin-right: 10px;
}

.doc-actions-mobile .user-actions button:last-child {
  margin-right: 0;
}

@media (width >= 900px) {
  .doc-actions-wrapper {
    background: var(--spectrum-gray-50);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .doc-actions-mobile .user-actions {
    display: none;
  }

  .doc-actions .user-actions button {
    margin-right: 10px;
  }

  .doc-actions .user-actions button:last-child {
    margin-right: 0;
  }
}
