.doc-actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--spectrum-font-size-75);
  margin: 10px;
}

.doc-mt-toggle {
  flex-basis: 100%;
  gap: 5px;
}

.doc-mt-toggle .doc-mt-checkbox {
  display: flex;
  margin-left: 10px;
}

.doc-mt-toggle .doc-mt-checkbox a {
  margin: 0 0 0 10px;
  position: relative;
}

.doc-mt-toggle .doc-mt-checkbox a .icon-info {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.doc-mt-toggle .doc-mt-checkbox a .action-tooltip {
  background-color: var(--spectrum-gray-600);
  border-radius: 4px;
  bottom: 120%;
  color: var(--spectrum-gray-50);
  display: none;
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-normal);
  left: 50%;
  padding: 2px 8px 4px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  transition: all 130ms ease-in-out;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 150px;
  z-index: 1;
}

.doc-mt-toggle .doc-mt-checkbox a .action-tooltip::after {
  border-width: 4px;
  border-style: solid;
  border-color: var(--spectrum-gray-600) transparent transparent transparent;
  content: '';
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: 100%;
}

.doc-mt-toggle .doc-mt-checkbox a:hover .action-tooltip {
  display: block;
}

.doc-mt-toggle .doc-mt-feedback {
  display: block;
  margin: 0 0 20px 10px;
}

.doc-mt-feedback .prompt {
  font-weight: var(--font-weight-bold);
}

.doc-mt-toggle .doc-mt-feedback-radio {
  display: flex;
  gap: 10px;
}

.doc-mt-feedback-radio label.radio {
  align-items: center;
  display: flex;
}

.doc-mt-feedback-radio input {
  margin: 3px 5px 0 0;
}

.doc-mt-toggle .doc-mt-feedback input {
  cursor: pointer;
  width: auto;
  margin-right: 10px;
}

.doc-actions-mobile .user-actions button {
  margin-right: 10px;
}

.doc-actions-mobile .user-actions button:last-child {
  margin-right: 0;
}

@media (width >= 900px) {
  .doc-actions-wrapper {
    background: var(--spectrum-gray-50);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .doc-actions-mobile .user-actions {
    display: none;
  }

  .doc-actions .user-actions button {
    margin-right: 10px;
  }

  .doc-actions .user-actions button:last-child {
    margin-right: 0;
  }
}
