@import '../shade-box/shade-box.css';
@import '../accordion/accordion.css';

/* inside accordion group we can have text below first div */
.accordion-group > .accordion details div {
  font-size: var(--exlm-font-size-content);
  line-height: var(--exlm-line-height-h4);
  margin-left: 14px;
  margin-top: 14px;
}

/* override /docs font size */
.accordion-group > .accordion details summary {
  font-size: var(--spectrum-font-size-200);
  line-height: var(--exlm-line-height-h4);
}
