.champion-content.block {
  display: flex;
  flex-direction: column;
  gap: var(--spectrum-spacing-100);
  padding: var(--spectrum-spacing-300);
  background-color: white;
  border-top: 3px solid #ffa311;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.champion-content.block.champion-content-yellow {
  border-top-color: #ffa311;
}

.champion-content.block.champion-content-purple {
  border-top-color: #a55be8;
}

.champion-content.block.champion-content-blue {
  border-top-color: #1473e6;
}

.champion-content.block .champion-content-eyebrow {
  display: flex;
  align-items: center;
  gap: var(--spectrum-spacing-100);
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: var(--spectrum-font-size-75);
  color: #ffa311;
}

.champion-content.block.champion-content-yellow .champion-content-eyebrow {
  color: #ffa311;
}

.champion-content.block.champion-content-purple .champion-content-eyebrow {
  color: #a55be8;
}

.champion-content.block.champion-content-blue .champion-content-eyebrow {
  color: #1473e6;
}

.champion-content.block .champion-content-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.champion-content.block .champion-content-title {
  font-weight: var(--font-weight-bold);
}

.champion-content.block .champion-content-description {
  color: var(--non-spectrum-charcoal-gray);
  font-size: var(--spectrum-font-size-75);
}

.champion-content.block .champion-content-byline {
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-bold);
}

.champion-content.block .champion-content-footer {
  display: flex;
  align-items: center;
  gap: var(--spectrum-spacing-100);
  font-size: var(--spectrum-font-size-75);
  color: var(--non-spectrum-charcoal-gray);
}

.champion-content.block .champion-content-cta {
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  margin-top: var(--spectrum-spacing-100);
}
