.awards .awards-holder {
    display: grid;
    gap: 16px;
    color: var(--color-white);
    grid-template-columns: 1fr;
}

.awards .awards-card {
    display: flex;
    flex-direction: column;
    background-color: #E63524;
    padding: 32px 16px 16px 16px;
    min-height: 390px;
    justify-content: space-between;
    box-sizing: border-box;
}

.awards .awards-card .awards-details {
    margin-bottom: 30px;
}

.awards .awards-title {
    font-size: var(--spectrum-font-size-500);
    font-weight: var(--font-weight-700);;
    margin-bottom: 8px;
    line-height: var(--spectrum-line-height-l);
}

.awards .awards-time {
    font-size: var(--spectrum-font-size-75);
    margin-bottom: 8px;
    border-bottom: 2px var(--color-white) solid;
    padding: 0 0 8px 0;
}

.awards .awards-description {
    font-size: var(--spectrum-font-size-200);
    line-height: var(--spectrum-line-height-m);
}

.awards .nil-awards {
    color: var(--color-black);
    font-size: var(--spectrum-font-size-300);
}

@media(min-width: 600px) {
    .awards .awards-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 900px) {
    .awards .awards-holder {
        grid-template-columns: repeat(3, 1fr);
    }
}
