@import '../../scripts/browse-card/browse-cards-block.css';
@import '../../scripts/browse-card/browse-card-upcoming-events.css';

/* Upcoming events alignment css */

.section.upcoming-event-v2-container {
  padding-bottom: 0;
}

.upcoming-event-v2.block {
  margin-top: 32px;
}

.upcoming-event-v2 .browse-cards-block-header .browse-card-description-text {
  text-align: center;
  color: var(--spectrum-gray-800);
  font-size: var(--spectrum-font-size-300);
  line-height: 23.4px;
  margin-bottom: 16px;
}

.upcoming-event-v2 .browse-cards-block-title {
  margin-bottom: 16px;
  text-align: center;
}

.upcoming-event-v2 .browse-card .browse-card-content {
  min-height: auto;
}

.upcoming-event-v2 .browse-cards-block-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.upcoming-event-v2 .browse-cards-block-view {
  text-align: center;
}

.upcoming-event-v2 .browse-cards-block-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  min-height: 417px;
  margin-bottom: 24px;
}

.upcoming-event-v2 .browse-cards-block-content > div {
  flex: 0 0 320px;
}

.upcoming-event-v2.featured-card-hidden-features .browse-cards-block-view,
.upcoming-event-v2.featured-card-hidden-features .browse-cards-block-content {
  display: none;
}

/** List view styles start **/

.upcoming-event-v2 .view-switcher {
  display: none;
}

.event-no-results {
  background-color: var(--spectrum-gray-200);
  color: var(--non-spectrum-grey);
  font-size: var(--spectrum-font-size-200);
  padding: 72px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  grid-column: 1 / -1;
}

.upcoming-event-v2 .browse-cards-block-content > .event-no-results {
  min-height: unset;
  height: 170px;
}

/** List view styles end **/

@media only screen and (min-width: 600px) {
  .section.upcoming-event-v2-container {
    padding-bottom: 30px;
  }

  .upcoming-event-v2 .browse-cards-block-content {
    grid-template-columns: 1fr 1fr;
  }

  .upcoming-event-v2 .browse-cards-block-view {
    text-align: center;
  }

  .upcoming-event-v2 .upcoming-event-v2 .browse-cards-block-content > div {
    flex: 0 0 286px;
  }

  .upcoming-event-v2 .browse-cards-block-header .browse-card-description-text {
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 900px) {
  .section.upcoming-event-v2-container {
    padding-bottom: 40px;
  }

  .upcoming-event-v2 .browse-cards-block-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    text-align: center;
    margin-bottom: 84px;
  }

  .upcoming-event-v2 .browse-cards-block-view {
    margin-top: -68px;
    text-align: right;
  }

  .upcoming-event-v2 .browse-cards-block-title {
    margin-bottom: 7px;
  }

  .upcoming-event-v2 .browse-cards-block-content > div {
    flex: 0 0 295px;
  }

  .upcoming-event-v2 .browse-cards-block-header .browse-card-description-text {
    margin-bottom: 16px;
  }

  .upcoming-event-v2 .view-switcher {
    display: flex;
    gap: 8px;
    align-self: flex-end;
  }

  .upcoming-event-v2 .view-switcher .view-btn {
    margin: 0;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #000000e6;
    background: var(--spectrum-gray-75) 0% 0% no-repeat padding-box;
    color: var(--spectrum-gray-800);
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 12px 7px 10px;
  }

  .upcoming-event-v2 .view-switcher .view-btn .icon {
    width: 18px;
    height: 18px;
    display: none;
  }

  .upcoming-event-v2 .view-btn.active .icon-grid-white,
  .upcoming-event-v2 .view-btn:not(.active) .icon-grid-black,
  .upcoming-event-v2 .view-btn.active .icon-list-view-white,
  .upcoming-event-v2 .view-btn:not(.active) .icon-list-view-black {
    display: inline-block;
  }

  .upcoming-event-v2 .view-switcher .view-btn.active {
    background: var(--spectrum-gray-900) 0% 0% no-repeat padding-box;
    opacity: 0.9;
    border: 1px solid var(--spectrum-gray-400);
    color: var(--spectrum-gray-50);
  }

  .upcoming-event-v2.list .browse-cards-block-content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 24px;
    min-height: unset;
  }

  .upcoming-event-v2.list .browse-cards-block-content > div {
    flex: 0 0 auto;
    min-height: unset;
    height: auto;
    border: 1px solid var(--non-spectrum-unicorn-silver);
    border-radius: 16px;
  }

  /** List view styles end **/
}

@media (min-width: 1400px) {
  .upcoming-event-v2 .browse-cards-block-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
