@import '../../scripts/browse-card/browse-cards-block.css';

.upcoming-event-v2.block {
  display: flex;
  flex-direction: column;
}

.section.upcoming-event-v2-container {
  padding-bottom: 0;
}

.upcoming-event-v2 .browse-cards-block-header .browse-card-description-text {
  text-align: center;
  color: var(--spectrum-gray-800);
  font-size: var(--spectrum-font-size-300);
  line-height: 23.4px;
  margin-bottom: 16px;
}

.upcoming-event-v2 .browse-cards-block-title {
  margin-bottom: 16px;
  text-align: center;
}

.upcoming-event-v2 .browse-card .browse-card-content {
  min-height: auto;
}

.upcoming-event-v2 .browse-cards-block-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  order: 1;
}

.upcoming-event-v2 .browse-upcoming-filter-wrapper {
  display: flex;
  gap: 16px;
}

.upcoming-event-v2 .browse-card-clear-filter {
  font-weight: var(--font-weight-medium);
  font-size: var(--spectrum-body-size-s);
  white-space: nowrap;
  grid-area: clear;
}

.upcoming-event-v2 .browse-card-clear-filter.disabled {
  color: var(--non-spectrum-smoke);
  cursor: default;
}

.upcoming-event-v2 .browse-cards-block-header .browse-card-tags {
  margin-top: 1em;
  align-self: flex-start;
}

.upcoming-event-v2 .browse-cards-block-header .browse-tags {
  border-radius: 4px;
  background: var(--background-color);
  border: 1px solid var(--spectrum-gray-500);
  margin-right: 10px;
  padding: 4px 25px 5px 12px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: var(--spectrum-gray-500);
  line-height: normal;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: 0;
}

.upcoming-event-v2 .browse-cards-block-header .browse-tags .icon-close {
  width: 13px;
  height: auto;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-6px);
}

.upcoming-event-v2 .browse-card-shimmer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  order: 3;
}

.upcoming-event-v2 .browse-cards-block-view {
  text-align: center;
}

.upcoming-event-v2 .browse-cards-block-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  min-height: 284px;
  margin-bottom: 24px;
  order: 2;
}

.upcoming-event-v2 .pagination {
  order: 4;
}

.upcoming-event-v2 .event-no-results {
  background-color: var(--spectrum-gray-200);
  color: var(--non-spectrum-grey);
  font-size: var(--spectrum-font-size-200);
  padding: 72px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  grid-column: 1 / -1;
  order: 5;
}

.upcoming-event-v2 .browse-cards-block-content > div {
  min-height: 284px;
  flex: 0 0 320px;
}

.upcoming-event-v2 .browse-card-dropdown {
  grid-area: filter;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  gap: 16px;
}

.upcoming-event-v2 .upcoming-event-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin: 16px 0;
}

.upcoming-event-v2 .view-switcher {
  grid-area: list;
}

.upcoming-event-v2 .browse-upcoming-event-filter > label {
  grid-area: label;
  margin-bottom: 12px;
}

.upcoming-event-v2 .browse-card-dropdown > label {
  font-size: var(--spectrum-body-size-l);
  font-weight: var(--font-weight-bold);
  color: #363636;
}

.upcoming-event-v2.featured-card-hidden-features .browse-cards-block-view,
.upcoming-event-v2.featured-card-hidden-features .browse-cards-block-content {
  display: none;
}

/** List view styles start **/

.upcoming-event-v2 .view-switcher,
.upcoming-event-v2 .card-figure-date,
.upcoming-event-v2 .browse-cards-block-content > div .browse-card .show-more,
.upcoming-event-v2 .browse-cards-block-content > div .browse-card .show-less,
.upcoming-event-v2 .browse-card.upcoming-event-card .browse-card-footer .browse-card-event-info,
.upcoming-event-v2.list .browse-card-figure .event-speakers-container,
.upcoming-event-v2:not(.list) .browse-card .browse-card-footer .footer-speakers-section,
.upcoming-event-v2.list .browse-card.upcoming-event-card .location-type {
  display: none;
}

.upcoming-event-v2:has(.browse-card-shimmer) .browse-cards-block-content,
.upcoming-event-v2:has(.browse-card-shimmer) .event-no-results {
  display: none;
}

.upcoming-event-v2 .browse-cards-block-content > .event-no-results {
  min-height: unset;
  height: 170px;
}

/** List view styles end **/

.upcoming-event-v2 .browse-cards-block-header .browse-upcoming-event-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'label label'
    'filter filter'
    'clear sort';
  width: 100%;
  justify-content: space-between;
}

.upcoming-event-v2 .browse-cards-block-header .browse-sort-container {
  display: flex;
  grid-area: sort;
  justify-content: flex-end;
}

.upcoming-event-v2 .browse-cards-block-header .sort-container {
  display: flex;
  align-items: center;
  color: var(--spectrum-gray-700);
  font-size: var(--spectrum-font-size-75);
  justify-content: flex-end;
  line-height: 15.6px;
  position: relative;
  text-align: right;
}

.upcoming-event-v2 .browse-cards-block-header .sort-drop-btn {
  background: transparent;
  cursor: pointer;
  color: var(--spectrum-gray-700);
  border: 0 none;
  border-radius: 4px;
  font-size: var(--spectrum-font-size-100);
  font-weight: normal;
  line-height: 17px;
  margin: 0 0 0 8px;
  padding: 0 20px 0 0;
  position: relative;
  text-align: left;
}

.upcoming-event-v2 .browse-cards-block-header .sort-drop-btn::after {
  background-image: url('../../icons/down-arrow.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 8px;
  content: '';
  height: 6px;
  position: absolute;
  right: 0;
  top: 7px;
  width: 10px;
}

.upcoming-event-v2 .browse-cards-block-header .sort-container .sort-dropdown-content {
  background: var(--spectrum-gray-50);
  border: 1px solid var(--spectrum-gray-400);
  border-radius: 4px;
  color: var(--non-spectrum-input-text);
  cursor: pointer;
  display: none;
  font-size: var(--spectrum-font-size-100);
  font-weight: normal;
  position: absolute;
  right: 0;
  text-align: left;
  top: 40px;
  width: 120px;
  z-index: 15;
}

.upcoming-event-v2 .browse-cards-block-header .sort-container .sort-dropdown-content.show {
  display: block;
}

.upcoming-event-v2 .browse-cards-block-header .sort-container .sort-dropdown-content a {
  border: none;
  color: var(--non-spectrum-charcoal-gray);
  display: block;
  font-size: var(--spectrum-font-size-100);
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  padding: 5px 15px;
  text-transform: capitalize;
}

.upcoming-event-v2 .browse-cards-block-header .sort-container .sort-dropdown-content a.selected {
  background-image: url('../../icons/checkmark.svg');
  background-position: 93% 12px;
  background-repeat: no-repeat;
  background-size: 12px;
}

@media only screen and (min-width: 600px) {
  .section.upcoming-event-v2-container {
    padding-bottom: 30px;
  }

  .upcoming-event-v2 .browse-cards-block-content {
    grid-template-columns: 1fr 1fr;
  }

  .upcoming-event-v2 .browse-card-shimmer {
    grid-template-columns: 1fr 1fr;
  }

  .upcoming-event-v2 .browse-cards-block-view {
    text-align: center;
  }

  .upcoming-event-v2 .browse-upcoming-event-filter > label {
    margin-bottom: 0;
    height: 24px;
    align-self: center;
  }

  .upcoming-event-v2 .upcoming-event-v2 .browse-cards-block-content > div {
    flex: 0 0 286px;
  }

  .upcoming-event-v2 .browse-cards-block-header .browse-card-description-text {
    margin-bottom: 36px;
  }

  .upcoming-event-v2 .browse-cards-block-header .browse-upcoming-event-filter {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas:
      'label label label label'
      'filter filter filter clear'
      'sort sort sort sort';
    column-gap: 24px;
  }

  .upcoming-event-v2 .browse-card-dropdown {
    flex-direction: row;
  }

  .upcoming-event-v2 .custom-filter-dropdown {
    max-width: 200px;
  }
}

@media only screen and (min-width: 900px) {
  .section.upcoming-event-v2-container {
    padding-bottom: 40px;
  }

  .upcoming-event-v2.block {
    margin-bottom: 84px;
  }

  .upcoming-event-v2 .browse-cards-block-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    text-align: center;
  }

  .upcoming-event-v2 .browse-card-shimmer {
    grid-template-columns: repeat(3, 1fr);
  }

  .upcoming-event-v2 .browse-cards-block-view {
    margin-top: -68px;
    text-align: right;
  }

  .upcoming-event-v2 .browse-cards-block-title {
    margin-bottom: 7px;
  }

  .upcoming-event-v2 .browse-card-dropdown {
    margin-bottom: 0;
  }

  .upcoming-event-v2 .upcoming-event-options {
    margin: 0;
  }

  .upcoming-event-v2 .browse-card {
    text-align: left;
  }

  .upcoming-event-v2 .browse-cards-block-content > div {
    flex: 0 0 295px;
  }

  .upcoming-event-v2 .custom-filter-dropdown {
    max-width: 300px;
  }

  .upcoming-event-v2 .browse-cards-block-header .browse-card-description-text {
    margin-bottom: 16px;
  }

  .upcoming-event-v2 .browse-cards-block-header .browse-upcoming-event-filter {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas:
      'label filter filter clear'
      'sort sort list list';
  }

  /** List view styles start **/

  .upcoming-event-v2 .view-switcher {
    display: flex;
    gap: 8px;
    align-self: flex-end;
  }

  .upcoming-event-v2 .view-switcher .view-btn {
    margin: 0;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #000000e6;
    background: var(--spectrum-gray-75) 0% 0% no-repeat padding-box;
    color: var(--spectrum-gray-800);
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 12px 7px 10px;
  }

  .upcoming-event-v2 .view-switcher .view-btn .icon {
    width: 18px;
    height: 18px;
    display: none;
  }

  .upcoming-event-v2 .view-btn.active .icon-grid-white,
  .upcoming-event-v2 .view-btn:not(.active) .icon-grid-black,
  .upcoming-event-v2 .view-btn.active .icon-list-view-white,
  .upcoming-event-v2 .view-btn:not(.active) .icon-list-view-black {
    display: inline-block;
  }

  .upcoming-event-v2 .view-switcher .view-btn.active {
    background: var(--spectrum-gray-900) 0% 0% no-repeat padding-box;
    opacity: 0.9;
    border: 1px solid var(--spectrum-gray-400);
    color: var(--spectrum-gray-50);
  }

  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-banner {
    top: 16px;
    height: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: var(--font-weight-heavy);
    font-size: 11px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-figure .icon-calendar img {
    width: 32px;
    height: 32px;
  }

  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-figure {
    flex: 0 0 23.34%;
    border: unset;
    border-radius: 16px 0 0 16px;
    max-height: unset;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .upcoming-event-v2.list .browse-card-figure .card-figure-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .upcoming-event-v2.list .browse-card-figure .card-figure-date .date-display {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0;
    color: var(--spectrum-gray-50);
    opacity: 1;
  }

  .upcoming-event-v2.list .browse-card-figure .card-figure-date .time-display {
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--spectrum-gray-50);
    opacity: 1;
  }

  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-content {
    padding: 32px;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .browse-card-event-info {
    order: 0;
    margin: 0;
    align-self: flex-start;
    margin-bottom: 16.5px;
  }

  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-content .browse-card-event-info {
    display: none;
  }

  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-footer .browse-card-event-info {
    display: flex;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer {
    padding: 32px;
    flex: 0 0 18.52%;
    position: relative;
    align-self: stretch;
    flex-direction: column;
    justify-content: unset;
    border-radius: 16px;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .browse-card-event-info .browse-card-event-time h6 {
    color: var(--non-spectrum-dark-charcoal);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .browse-card-event-info .icon {
    width: 18px;
    height: 18px;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .browse-card-options {
    order: 2;
    align-self: flex-start;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .browse-card-cta-element {
    order: 3;
    margin: 20px 0;
    background: var(--spectrum-blue-900) 0% 0% no-repeat padding-box;
    border-radius: 16px;
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--spectrum-gray-50);
    width: 100%;
    height: 32px;
    justify-content: center;
    align-items: center;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .browse-card-cta-element .icon.icon-new-tab-blue {
    display: none;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer::before {
    content: '';
    position: absolute;
    top: 32px;
    bottom: 32px;
    left: 0;
    width: 1px;
    background-color: var(--non-spectrum-divider-gray);
  }

  .upcoming-event-v2.list .browse-cards-block-content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 24px;
    min-height: unset;
  }

  .upcoming-event-v2.list .browse-cards-block-content > div {
    flex: 0 0 auto;
    min-height: unset;
    height: auto;
    border: 1px solid var(--non-spectrum-unicorn-silver);
    border-radius: 16px;
  }

  .upcoming-event-v2.list .browse-cards-block-content > div .browse-card {
    min-height: auto;
    flex-direction: row;
  }

  .upcoming-event-v2.list .browse-cards-block-content > div .browse-card .browse-card-description-text.text-expanded {
    -webkit-line-clamp: 2;
    max-height: unset;
    display: -webkit-box;
  }

  .upcoming-event-v2.list .browse-cards-block-content > div .browse-card .show-more,
  .upcoming-event-v2.list .browse-cards-block-content > div .browse-card.expanded .show-less {
    text-align: left;
    display: block;
    text-decoration: underline;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0;
    color: var(--spectrum-blue-900);
    opacity: 1;
    margin-top: 8px;
  }

  .upcoming-event-v2.list .browse-cards-block-content .browse-card-description-text.text-expanded .show-more {
    display: none;
  }

  .upcoming-event-v2.list
    .browse-cards-block-content
    > div
    .browse-card.browse-card.expanded
    .browse-card-description-text.text-expanded {
    -webkit-line-clamp: unset;
  }

  .upcoming-event-v2.list .browse-cards-block-content > div .browse-card.expanded .show-more {
    display: none;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .location-type {
    display: flex;
    align-items: center;
    margin-bottom: 16.5px;
    position: unset;
    align-self: flex-start;
    padding: 0;
    color: var(--non-spectrum-dark-charcoal);
    font-size: var(--spectrum-font-size-75);
    font-weight: var(--font-weight-bold);
    text-transform: none;
    gap: var(--spectrum-spacing-75);
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .location-type span::first-letter {
    text-transform: uppercase;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .location-type .icon {
    width: 18px;
    height: 18px;
  }

  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner,
  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers {
    text-align: center;
    font-size: var(--spectrum-font-size-200);
    color: var(--spectrum-gray-50);
    opacity: 1;
    position: relative;
    padding: 10px 10%;
    margin: 0;
    order: 1;
  }

  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers::before,
  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    height: 3px;
    background-color: #f00;
    width: 80%;
    transform: translateX(-50%);
  }

  .upcoming-event-v2.list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers::after {
    display: none;
  }

  .upcoming-event-v2.list .browse-card .browse-card-description-text {
    display: block;
    -webkit-line-clamp: unset;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .footer-speakers-section {
    order: 4;
    align-self: flex-start;
    width: 100%;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .footer-speakers-section .speakers-heading {
    font-size: var(--spectrum-font-size-200);
    font-weight: var(--font-weight-bold);
    margin-bottom: 15px;
    color: #000;
    position: relative;
    padding-bottom: 8px;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .footer-speakers-section .speakers-heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--non-spectrum-unicorn-silver);
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .footer-speakers-section .speakers-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .footer-speakers-section .speaker-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .footer-speakers-section .speaker-img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .footer-speakers-section .speaker-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .footer-speakers-section .speaker-info {
    display: flex;
    flex-direction: column;
  }

  .upcoming-event-v2.list .browse-card .browse-card-footer .footer-speakers-section .speaker-name {
    font-size: var(--spectrum-font-size-75);
    font-weight: var(--font-weight-bold);
    color: var(--non-spectrum-dark-gray);
  }

  /** List view styles end **/
}

@media (min-width: 1400px) {
  .upcoming-event-v2 .browse-cards-block-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .upcoming-event-v2 .browse-card-shimmer {
    grid-template-columns: repeat(4, 1fr);
  }
}
