.article-tags-view{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.article-tags-name{
  font-size: var(--spectrum-body-size-xs);
  color: var(--non-spectrum-grey-updated);
  border: 1px solid var(--non-spectrum-article-light-gray);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
}