.article-tags-header {
  font-family: 'Adobe Clean', sans-serif; 
}

.article-tags-view{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-tags-name{
  font-size: 12px;
  color: var(--non-spectrum-grey-updated);
  border: 1px solid var(--non-spectrum-article-light-gray);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
  margin-right: 8px;
  margin-top: 6px;
}