@import "../teaser/teaser.css";

/* carousel wrapper stretches over complete width */
.section div.carousel-wrapper {
  margin-bottom: var(--spectrum-spacing-500);
  max-width: unset;

  /* stretches to window edge in mobile view */
  margin-left: calc(-1 * var(--space-token-xs));
  margin-right: calc(-1 * var(--space-token-xs));
}

.carousel.block > .panel-container {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: auto;
}

.carousel.block.center > .panel-container {
  align-items: center;
}

.carousel.block.top > .panel-container {
  align-items: flex-start;
}

.carousel.block.bottom > .panel-container {
  align-items: flex-end;
}

.carousel.block.sametop > .panel-container {
  align-items: stretch;
}

.carousel.block > .panel-container > .teaser.block {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel.block.samecenter > .panel-container > .teaser.block,
.carousel.block.sametop > .panel-container > .teaser.block {
  height:auto;
}

.carousel.block.samecenter > .panel-container > .teaser.block > .foreground {
  height: 100%;
}

.carousel.block.samecenter > .panel-container > .teaser.block > .foreground > .text {
  margin-top: auto;
  margin-bottom: auto;
}

.carousel.block > .button-container {
  display:flex;
  justify-content: center;
  gap: 4px;
  padding-top:22px;
}

.carousel.block > .button-container button {
  display: block;
  height: 10px;
  width: 10px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: transparent;
}

.carousel.block > .button-container button.selected {
  background-color: grey;
}

/* ----- TABLET ----- */
@media (min-width: 600px) {
  .section div.carousel-wrapper {
    /* stretches to window edge, cover section padding */
    margin-left: calc(-1 * var(--spectrum-spacing-500));
    margin-right: calc(-1 * var(--spectrum-spacing-500));
  }
}