.section.secondary-search-container {
    padding: 0;
    margin: 40px 20px 56px;
}

.secondary-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.secondary-search h2 {
    text-align: center;
    margin: 0;
    color: var(--spectrum-gray-900);
}

.secondary-search form {
    display: flex;
    border: 1px solid var(--spectrum-gray-900);
    border-radius: 50px;
    margin-top: 24px;
    padding: 11px 16px;
    max-width: 540px;
    background-color: var(--background-color);
}

.secondary-search input {
    border: none;
    background: inherit;
    text-overflow: ellipsis;   
    margin: 0;
    padding: 0;
    border-radius: 0;
    max-width: 90%;
    position: relative;
    font-size: var(--spectrum-font-size-100);
}

.secondary-search input:focus {
    outline: none;
}

.secondary-search input::-webkit-search-cancel-button { 
    display: none;
}

.secondary-search input::-ms-clear { 
  display: none; 
}

.secondary-search input::placeholder {
    font-style: italic;
    color: var(--spectrum-gray-200);
} 

.secondary-search button {
    background: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}

.secondary-search .icon {
    width: 16px;
    height: 16px;
}

@media (min-width: 600px) {
  .secondary-search {
    margin: 0 20px;
  }

  .section.secondary-search-container {
    margin-top: 58px;
  }

  .secondary-search form {
    padding: 13px 18px;
  }

  .secondary-search input {
    font-size: var(--spectrum-font-size-200);
  }
}

@media (min-width: 900px) {
  .section.secondary-search-container {
    margin: 80px 0;
  }

  .secondary-search form {
    margin-top: 32px;
}
}