.table.block {
  margin-bottom: 21px;
}
.table.block table,
.table.block th,
.table.block td,
.table.block tr,
.table.block thead,
.table.block tbody {
  display: block;
}
.table.block table,
.table.block thead,
.table.block tbody {
  width: 100%;
}
@media (min-width: 600px) {
  .table.block table {
    display: table;
  }
  .table.block thead {
    display: table-header-group;
  }
  .table.block tbody {
    display: table-row-group;
  }
  .table.block tr {
    display: table-row;
  }
  .table.block th,
  .table.block td {
    display: table-cell;
  }
}
.table.block table {
  font-size: var(--spectrum-body-size-s);
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 28px;
  line-height: 21px;
  color: var(--non-spectrum-custom-dark);
}
.table.block table thead {
  background-color: #fafafa;
  border: none;
}
@media (min-width: 600px) {
  .table.block table thead {
    border: 1px solid #dbdbdb;
  }
}
.table.block table thead th {
  touch-action: pan-x pan-y;
  padding: 12px 24px 16px 16px;
  vertical-align: top;
  border-bottom-width: 1px;
  text-align: inherit;
}
.table.block table thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
@media (min-width: 600px) {
  .table.block table thead tr {
    position: static;
  }
}
.table.block table tbody {
  vertical-align: middle;
  border-color: inherit;
}
.table.block table tbody tr {
  border: 1px solid #dbdbdb;
  margin-bottom: var(--space-token-xs);
}
.table.block table tbody tr:nth-child(even) {
  background-color: #fafafa;
}
@media (min-width: 600px) {
  .table.block table tbody tr {
    margin-bottom: 0;
  }
}
.table.block table tbody td {
  position: relative;
  padding: 16px 24px 16px 16px;
  touch-action: pan-x pan-y;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid #eee;
  display: grid;
  grid-template-columns: 50% 50%;
  white-space-collapse: collapse;
  text-overflow: ellipsis;
}
.table.block table tbody td p {
  margin-top: 12px;
  margin-bottom: 0;
  line-height: 25.6px;
}
.table.block table tbody td p:first-child {
  margin-top: 0;
}
.table.block table tbody td strong {
  text-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table.block table tbody td ul {
  margin: 16px 0 32px 28px;
}
.table.block table tbody td ul li {
  color: var(--non-spectrum-custom-dark);
  margin-bottom: 11.2px;
}
.table.block table tbody td a {
  margin: 0;
}
.table.block table tbody td code:not([class^=language-]) {
  font-family: var(--spectrum-code-font-family);
  font-size: var(--spectrum-body-size-s);
  color: var(--non-spectrum-custom-dark);
  background-color: unset;
  padding: unset;
  border: none;
  border-radius: unset;
}
@media (min-width: 600px) {
  .table.block table tbody td {
    display: table-cell;
    border: none;
  }
}
.table.block table tbody td > * {
  grid-column: 2/2;
}
.table.block table tbody td::before {
  content: attr(data-title);
  font-size: var(--spectrum-body-size-s);
  grid-column: 1/2;
  padding-right: 10px;
  text-align: left;
  font-weight: bold;
}
@media (min-width: 600px) {
  .table.block table tbody td::before {
    content: none;
  }
}
.table.block.layout-fixed > table {
  table-layout: fixed;
}
.table.block.layout-auto > table {
  table-layout: auto;
}