.table.block {
  margin-bottom: 21px;
  overflow-x: auto;
  overflow-y: hidden;
}
.table.block::-webkit-scrollbar {
  background: var(--non-spectrum-hover-bg);
  width: 7px;
  height: 7px;
}
.table.block::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: var(--non-spectrum-scrollbar-thumb);
}
.table.block table,
.table.block th,
.table.block td,
.table.block tr,
.table.block thead,
.table.block tbody {
  display: block;
}
.table.block table,
.table.block thead,
.table.block tbody {
  width: 100%;
}
@media (min-width: 600px) {
  .table.block table {
    display: table;
  }
  .table.block thead {
    display: table-header-group;
  }
  .table.block tbody {
    display: table-row-group;
  }
  .table.block tr {
    display: table-row;
  }
  .table.block th,
  .table.block td {
    display: table-cell;
  }
}
.table.block table {
  font-size: var(--spectrum-body-size-s);
  border-collapse: collapse;
  border-spacing: 0;
  margin: 28px 0;
  line-height: 21px;
  color: var(--non-spectrum-custom-dark);
}
.table.block table thead {
  background-color: var(--non-spectrum-bg);
  border: none;
}
@media (min-width: 600px) {
  .table.block table thead {
    border: 1px solid var(--non-spectrum-gainsboro-gray);
  }
}
.table.block table thead th {
  touch-action: pan-x pan-y;
  padding: 0.5em 0.75em;
  vertical-align: top;
  border-bottom-width: 1px;
  text-align: inherit;
}
.table.block table thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
@media (min-width: 600px) {
  .table.block table thead tr {
    position: static;
  }
}
.table.block table tbody {
  vertical-align: middle;
  border-color: inherit;
}
.table.block table tbody tr {
  border: 1px solid var(--non-spectrum-gainsboro-gray);
  margin-bottom: var(--space-token-xs);
}
@media (min-width: 600px) {
  .table.block table tbody tr {
    margin-bottom: 0;
  }
}
.table.block table tbody td {
  position: relative;
  padding: 0.5em 0.75em;
  touch-action: pan-x pan-y;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid var(--overlay-background-color);
  display: grid;
  grid-template-columns: 50% 50%;
  white-space-collapse: collapse;
  text-overflow: ellipsis;
}
.table.block table tbody td p {
  margin-top: 12px;
  margin-bottom: 0;
  line-height: 25.6px;
}
.table.block table tbody td p:first-child {
  margin-top: 0;
}
.table.block table tbody td a {
  margin: 0;
  font-size: var(--spectrum-font-size-100);
  line-height: 21px;
}
.table.block table tbody td strong {
  text-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table.block table tbody td strong a {
  display: inline-block;
  font-weight: 700;
  line-height: 21px;
}
.table.block table tbody td em {
  display: inline-block;
  font-size: var(--spectrum-font-size-100);
  font-style: italic;
  text-align: start;
  color: var(--non-spectrum-custom-dark);
  line-height: 21px;
}
.table.block table tbody td ul {
  margin: 16px 0 32px 28px;
}
.table.block table tbody td ul li {
  color: var(--non-spectrum-custom-dark);
  margin-bottom: 11.2px;
}
.table.block table tbody td code:not([class^=language-]) {
  font-family: var(--spectrum-code-font-family);
  font-size: var(--spectrum-body-size-s);
  color: var(--non-spectrum-custom-dark);
  background-color: unset;
  padding: unset;
  border: none;
  border-radius: unset;
}
@media (min-width: 600px) {
  .table.block table tbody td {
    display: table-cell;
    border: none;
  }
}
.table.block table tbody td > * {
  grid-column: 2/2;
}
.table.block table tbody td::before {
  content: attr(data-title);
  font-size: var(--spectrum-body-size-s);
  grid-column: 1/2;
  padding-right: 10px;
  text-align: left;
  font-weight: bold;
}
@media (min-width: 600px) {
  .table.block table tbody td::before {
    content: none;
  }
}
.table.block.layout-fixed > table {
  table-layout: fixed;
}
.table.block.layout-auto > table {
  table-layout: auto;
}

.table.block.html-authored thead {
  display: table-header-group;
}
.table.block.html-authored tbody {
  display: table-row-group;
}
.table.block.html-authored tr {
  position: static;
  display: table-row;
}
.table.block.html-authored th,
.table.block.html-authored td {
  display: table-cell;
}
.table.block.html-authored table {
  display: table;
  table-layout: fixed;
  margin-bottom: unset;
}
.table.block.html-authored table thead {
  border: 1px solid var(--non-spectrum-gainsboro-gray);
  background-color: unset;
}
.table.block.html-authored table th {
  border: 1px solid var(--non-spectrum-gainsboro-gray);
}
.table.block.html-authored table td {
  border: none;
  text-overflow: ellipsis;
}
.table.block.html-authored.layout-fixed > table {
  table-layout: fixed;
}
.table.block.html-authored.layout-auto > table {
  table-layout: auto;
}

.table.block table tbody tr:nth-child(even) {
  background-color: var(--non-spectrum-bg);
}

.table.block.html-authored table tbody tr:nth-child(even) {
  background-color: unset;
}
.table.block.html-authored table tbody tr:nth-child(odd) {
  background-color: var(--non-spectrum-bg);
}

.table.block.html-authored.no-header table tbody tr:nth-child(odd) {
  background-color: unset;
}
.table.block.html-authored.no-header table tbody tr:nth-child(even) {
  background-color: var(--non-spectrum-bg);
}