@import '../../styles/sass/breakpoints';

.table {
  margin-bottom: 21px;
  overflow: auto hidden;

  &::-webkit-scrollbar {
    background: var(--non-spectrum-hover-bg);
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: var(--non-spectrum-scrollbar-thumb);
  }

  table,
  th,
  td,
  tr,
  thead,
  tbody {
    display: block;
  }

  table,
  thead,
  tbody {
    width: 100%;
  }

  @include breakpoint(tablet) {
    table {
      display: table;
    }

    thead {
      display: table-header-group;
    }

    tbody {
      display: table-row-group;
    }

    tr {
      display: table-row;
    }

    th,
    td {
      display: table-cell;
    }
  }

  table {
    font-size: var(--spectrum-body-size-m);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 28px 0;
    line-height: var(--spectrum-line-height-m);
    color: var(--non-spectrum-custom-dark);

    thead {
      background-color: var(--non-spectrum-bg);
      border: none;

      @include breakpoint(tablet) {
        border: 1px solid var(--non-spectrum-gainsboro-gray);
      }

      th {
        touch-action: pan-x pan-y;
        padding: 8px 12px;
        vertical-align: top;
        border-bottom-width: 1px;
        text-align: inherit;
      }

      tr {
        position: absolute;
        top: -9999px;
        left: -9999px;

        @include breakpoint(tablet) {
          position: static;
        }
      }
    }

    tfoot {
      margin-top: 1em;

      td {
        border: none;
      }

      div {
        width: 100%;
      }

      ul {
        list-style: disc;
      }
    }

    tbody {
      vertical-align: middle;
      border-color: inherit;

      tr {
        border: 1px solid var(--non-spectrum-gainsboro-gray);
        margin-bottom: var(--space-token-xs);

        @include breakpoint(tablet) {
          margin-bottom: 0;
        }
      }

      td {
        position: relative;
        padding: 8px 12px;
        touch-action: pan-x pan-y;
        overflow: hidden;
        vertical-align: top;
        border: none;
        border-bottom: 1px solid var(--overlay-background-color);
        display: grid;
        grid-template-columns: 50% 50%;
        white-space-collapse: collapse;
        text-overflow: ellipsis;

        p {
          margin-top: 12px;
          margin-bottom: 16px;
          line-height: 25.6px;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        a {
          margin: 0;
          line-height: 21px;
        }

        strong {
          text-wrap: wrap;
          text-overflow: ellipsis;
          overflow: hidden;

          a {
            display: inline-block;
            color: var(--non-spectrum-navy-blue);
            font-size: var(--spectrum-body-size-m);
            line-height: var(--spectrum-line-height-m);
            font-weight: 700;
          }
        }

        em {
          display: inline-block;
          font-style: italic;
          text-align: start;
          color: var(--non-spectrum-custom-dark);
        }

        ul {
          margin: 16px 0 32px 28px;

          li {
            color: var(--non-spectrum-custom-dark);
            margin-top: 0;
            margin-bottom: 11px;
          }
        }

        code:not([class^='language-']) {
          font-family: var(--spectrum-code-font-family);
          font-size: var(--spectrum-body-size-s);
          color: var(--non-spectrum-custom-dark);
          background-color: unset;
          padding: unset;
          border: none;
          border-radius: unset;
        }

        @include breakpoint(tablet) {
          display: table-cell;
          border: none;
        }

        & > * {
          grid-column: 2 / 2;
        }

        &::before {
          content: attr(data-title);
          font-size: var(--spectrum-body-size-m);
          grid-column: 1 / 2;
          padding-right: 10px;
          text-align: left;
          font-weight: bold;

          @include breakpoint(tablet) {
            content: none;
          }
        }
      }
    }
  }

  &.layout-fixed > table {
    table-layout: fixed;
  }

  &.layout-auto > table {
    table-layout: auto;
  }
}

.table.html-authored {
  thead {
    display: table-header-group;
  }

  tbody {
    display: table-row-group;
  }

  tr {
    position: static;
    display: table-row;
  }

  th,
  td {
    display: table-cell;
  }

  table {
    display: table;
    table-layout: fixed;
    margin-bottom: unset;

    thead {
      border: 1px solid var(--non-spectrum-gainsboro-gray);
      background-color: unset;
    }

    th {
      border: 1px solid var(--non-spectrum-gainsboro-gray);
    }

    td {
      border: none;
      text-overflow: ellipsis;
      padding: 16px 24px 16px 16px;

      &::before {
        content: none;
      }
    }
  }

  &.layout-fixed > table {
    table-layout: fixed;
  }

  &.layout-auto > table {
    table-layout: auto;
  }
}

.table table tbody tr:nth-child(even) {
  background-color: var(--non-spectrum-bg);
}

.table.html-authored table tbody {
  tr:nth-child(even) {
    background-color: var(--background-color);
  }

  tr:nth-child(odd) {
    background-color: var(--non-spectrum-bg);
  }
}

.table.html-authored.no-header {
  table {
    tbody {
      tr:nth-child(odd) {
        background-color: var(--background-color);
      }

      tr:nth-child(even) {
        background-color: var(--non-spectrum-bg);
      }
    }
  }
}
