/* ----- MOBILE / Default ----- */

/* media wrapper  */
.section div.media-wrapper {
  margin-bottom: var(--spectrum-spacing-400);
}

.media.block {
  width: 100%;
  height:100%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: var(--background-color);
}

/* the image */
.media.block > .image {
  order : 0;
  margin: 0 auto var(--spectrum-spacing-400);
}

.media.block > .image img {
  object-fit: cover;
  max-height:300px;
  max-width:400px;
  width: 100%;
  height: 100%;
}

/* the text block (eyebrow, title , descr , ctr) */
.media.block > .text {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content:left;
}

/* the eybrow title */
.media.block > .text > .eyebrow {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-700);
  color: var(--spectrum-gray-700);
  line-height: 18px;
  margin-bottom: var(--space-token-xxs);
}

/* the main title */
.media.block > .text > .title {
  font-family: var(--body-font-family);
  font-size: 24px;
  font-weight: var(--font-weight-700);
  line-height: 30px;
  margin-bottom: var(--space-token-xxs);
  color: var(--spectrum-gray-800);
}

.media.block > .text > .title :where(h1,h2,h3,h4,h5) {
  margin: 0;
  color: inherit;
}

.media.block > .text > .description,
.media.block > .text > .description * {
  font-family: var(--body-font-family);
  font-size: var(--spectrum-body-size-m);
  line-height: 24px;
  color: var(--spectrum-gray-800);
}

/* the list of CTA's */
.media.block > .text > .cta {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spectrum-spacing-400);
  margin-top: var(--spectrum-spacing-400);
  padding: 0;
}

.media.block > .text > .cta:empty {
  display: none;
}

/* the cta buttons */
.media.block > .text > .cta > a.button {
  margin: 0;
  color: var(--background-color);
  border: 2px solid var(--non-spectrum-link);
  background: var(--non-spectrum-link);
}

.media.block > .text > .cta > a.button.secondary {
  color: var(--spectrum-gray-700);
  background-color: unset;
  border: 2px solid currentcolor;
}

/* ----- TABLET ----- */
@media (min-width: 600px) {
  /* media wrapper  */
  .section div.media-wrapper {
    margin-bottom: 40px;
  }

  /* the block */
  .media.block {
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--space-token-xxl);
  }

  /* the image */
  .media.block > .image {
    margin: 0;
    max-width: 50%;
  }

  .media.block.right > .image {
    order: 1;
  }

  .media.block > .text {
    width: 50%;
    flex-grow: 1;
  }
  
  .media.block.right > .text {
    order: 0;
  }

  /* the cta buttons are smaller non-mobile */
  .media.block .text > .cta > a.button {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: 15px;
    font-weight: var(--font-weight-700);
    line-height: 15px;
    padding: 5px 14px 6px;
  }
}

/* when enough width set fixed image size */
@media (min-width: 900px) {
  .media.block > .image img {
    width: 500px;
    height: 375px;
    max-width: none;
    max-height: none;
  }
}

/* larger font size above 1200px */
@media (min-width: 1200px) {
  .media.block > .text > .description,
  .media.block > .text > .description * {
    font-size: var(--spectrum-body-size-l);
    line-height: 23.4px;
  }

  /* the eybrow title */
  .media.block > .text > .eyebrow {
    font-size: var(--spectrum-heading-size-xxs);
    line-height: 21px;
  }

  /* the main title */
  .media.block > .text > .title {
    font-size: var(--spectrum-heading-size-l);
    line-height: 42px;
  }
}

/* Browse | Article theme */
body[class ^= 'browse-'] .section div.media-wrapper,
body[class ^= 'article-'] .section div.media-wrapper {
  margin-bottom: 0;
}

body[class ^= 'browse-'] .media.block > .text,
body[class ^= 'article-'] .media.block > .text {
  padding: 1em 2em;
}

@media (min-width: 900px) {
  body[class ^= 'browse-'] .media.block > .image img,
  body[class ^= 'article-'] .media.block > .image img {
    width: 400px;
    height: 320px;
  }
}

@media (min-width: 900px) {
  .media.block > .image img {
    width: unset;
  }
}