@import '../../scripts/browse-card/browse-cards-block.css';

.section.browse-cards-container {
  padding: var(--spectrum-spacing-500) var(--spectrum-spacing-300) var(--spectrum-spacing-600);
}

.browse-cards-block {
  width: 100%;
}

.browse-cards-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.browse-cards-title {
  margin-bottom: 16px;
}

.browse-cards-title h1,
.browse-cards-title h2,
.browse-cards-title h3,
.browse-cards-title h4,
.browse-cards-title h5,
.browse-cards-title h6 {
  margin: 0;
}

.browse-cards-description {
  color: var(--non-spectrum-dark-gray);
  font-size: var(--spectrum-font-size-200);
  line-height: 150%;
}

.browse-cards-content {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
  min-height: 284px;
}

.browse-cards-content .no-results {
  align-items: center;
  background-color: var(--spectrum-gray-200);
  box-sizing: border-box;
  color: var(--non-spectrum-grey);
  display: flex;
  font-size: var(--spectrum-font-size-200);
  grid-column: 1 / -1;
  justify-content: center;
  padding: 72px 0;
  text-align: center;
  width: 100%;
}

/* Shimmer loading state */
.browse-cards-content .browse-card-shimmer {
  gap: 32px;
  margin: 0;
}

.browse-cards-content .browse-card-shimmer-wrapper {
  width: 100%;
}

/* Tablet and up */
@media only screen and (min-width: 600px) {
  .section.browse-cards-container {
    padding-bottom: 30px;
  }

  .browse-cards-content {
    grid-template-columns: 1fr 1fr;
  }

  .browse-cards-content .browse-card-shimmer {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop */
@media only screen and (min-width: 900px) {
  .section.browse-cards-container {
    padding: var(--spectrum-spacing-1100) 148px;
  }

  .browse-cards-content {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spectrum-spacing-500) 24px;
  }

  .browse-cards-content > div {
    flex: 0 0 295px;
  }

  .browse-cards-content .browse-card-shimmer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large desktop */
@media (min-width: 1400px) {
  .browse-cards-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .browse-cards-content .browse-card-shimmer {
    grid-template-columns: repeat(4, 1fr);
  }
}
