.cloud-solutions-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.cloud-solutions-list-container {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 20px;
}

.cloud-solutions-container h1 {
    font-size: var(--spectrum-font-size-1050);
    line-height:  var(--spectrum-line-height-xxxl);
}

.cloud-solutions-list h2 {
    border-bottom: 3px solid var(--non-spectrum-grey);
}

.cloud-solutions-list-wrapper h3 {
    font-size: var(--spectrum-font-size-100);
    margin: 40px 0 10px;
}

.cloud-solutions-list-container a {
    font-size: var(--spectrum-font-size-100);
    line-height: 21px;
    color: var(--non-spectrum-link-blue);
}


.cloud-solutions-list-container li {
    height: auto;
    line-height: 21px;
}

.cloud-solutions-list-container a:hover {
    color: var(--non-spectrum-custom-dark);
}

.docs main .section.cloud-solutions-container {
    padding-top: 0;
}

.docs main .default-content-wrapper h1 {
    margin-top: 4px;
}

.cloud-solutions-list .cloud-solutions-list-container ul, .cloud-solutions-list .cloud-solutions-list-container li {
    margin: 0;
    list-style: none;
}

@media (min-width: 600px) {
    .cloud-solutions-list-container {
        width: 47%;
        margin-bottom: 28px;
    }

    .cloud-solutions-list-wrapper {
        gap: 4px;
    }
}

@media (min-width: 900px) {
    .cloud-solutions-list-container {
        width: 30%;
    }

    .cloud-solutions-list-wrapper {
        gap: 8px;
    }
}