.playlist-page {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  gap: 1em;
  padding: 1em;
  grid-template-columns: 1fr;
}
@media (width >= 600px) {
  .playlist-page {
    grid-template-columns: auto 250px;
  }
}
@media (width >= 900px) {
  .playlist-page {
    grid-template-columns: auto 275px;
  }
}
@media (width >= 1024px) {
  .playlist-page {
    grid-template-columns: auto 300px;
  }
}

.section.playlist-container {
  --playlist-border: #d6d6d6 1px solid;
  --playlist-border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.section.playlist-container .icon {
  vertical-align: sub;
  width: 16px;
  height: 16px;
}

.section.playlist-container .default-content-wrapper {
  padding: 1em;
  border-bottom: var(--playlist-border);
  background-color: #fff;
  border: var(--playlist-border);
  border-top-left-radius: var(--playlist-border-radius);
  border-top-right-radius: var(--playlist-border-radius);
}

.section.playlist-container .default-content-wrapper > h3 {
  margin: 0;
}

.section.playlist-container .default-content-wrapper p {
  display: none;
}

.playlist-player-container {
  width: 100%;
  box-sizing: border-box;
}

.playlist {
  background-color: #eaeaea;
  padding: 1em;
  border: var(--playlist-border);
  border-bottom-left-radius: var(--playlist-border-radius);
  border-bottom-right-radius: var(--playlist-border-radius);
}

.playlist-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0;
}

.playlist-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0 0;
}

.playlist-player-video iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.playlist-player-info-title {
  margin: 0;
}

.playlist-player-info-transcript a {
  color: inherit !important;
}

.playlist-item {
  border: var(--playlist-border);
  border-radius: var(--playlist-border-radius);
  background-color: #fff;
}
.playlist-item .playlist-item-title {
  margin: 0;
  font-size: var(--exlm-font-size-h6);
  font-weight: var(--font-weight-700);
  line-height: var(--exlm-line-height-h6);
  color: #6e6e6e;
}

.playlist-item.active {
  outline: 2px solid var(--non-spectrum-navy-blue);
}
.playlist-item.active .playlist-item-title {
  color: black;
}

.playlist-item:not(:last-child) {
  margin-bottom: 1em;
}

.playlist-item-content {
  padding: 0 1em 1em;
}

.playlist-item img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.playlist-item picture,
.playlist-item picture img {
  display: block;
  width: 100%;
  aspect-ratio: 4/1;
  object-fit: cover;
}

.playlist-item picture {
  max-height: 75%;
}

.playlist-item-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0 0;
  font-size: 12px;
}

.playlist-options-autoplay input[type=checkbox] {
  --switch-on-background: #464646;
  --switch-off-background: #d5d5d5;
  --switch-knob-background: #fff;
  --switch-height: 16px;
  --switch-width: 30px;
  --switch-knob-size: 14px;
  --switch-knob-offset: calc(var(--switch-height) / 2 - var(--switch-knob-size) / 2);
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-off-background);
  border-radius: var(--switch-height);
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin: 0;
  border: 0;
}

.playlist-options-autoplay input[type=checkbox]:checked {
  background: var(--switch-on-background);
}

.playlist-options-autoplay input[type=checkbox]::after {
  position: absolute;
  top: var(--switch-knob-offset);
  right: calc(var(--switch-width) - var(--switch-knob-offset) - var(--switch-knob-size));
  content: "";
  width: var(--switch-knob-size);
  height: var(--switch-knob-size);
  border-radius: 50%;
  outline: 2px solid var(--switch-on-background);
  outline-offset: -1px;
  background: var(--switch-knob-background);
  transition: all 0.2s ease-in-out;
}

.playlist-options-autoplay input[type=checkbox]:checked::after {
  right: var(--switch-knob-offset);
  border: 0;
  outline: 2px solid var(--switch-on-background);
}

.playlist-options-autoplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  gap: 0.5em;
  flex-wrap: unset;
}

.playlist-now-viewing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}