@mixin text-styles(
  $font-family: var(--body-font-family),
  $font-size: var(--exlm-font-size-content),
  $font-weight: var(--font-weight-normal),
  $font-style: normal,
  $line-height: var(--spectrum-line-height-l),
  $color: var(--spectrum-gray-800),
  $margin-top: 12px,
  $margin-bottom: 16px
) {
  font-family: #{$font-family};
  font-size: #{$font-size};
  font-weight: #{$font-weight};
  font-style: #{$font-style};
  line-height: #{$line-height};
  color: #{$color};
  margin-top: #{$margin-top};
  margin-bottom: #{$margin-bottom};
}

@mixin button {
  background: var(--spectrum-blue-900);
  border-radius: 16px;
  color: var(--spectrum-gray-50);
  font-size: var(--spectrum-font-size-sm);
  font-weight: var(--font-weight-semi-bold);
  padding: 5px 16px;
  white-space: nowrap;
  line-height: unset;
}
