@import 'mixins';

.h1,
h1 {
  @include text-styles(
    $font-size: var(--exlm-font-size-h1),
    $font-weight: var(--font-weight-bold),
    $line-height: var(--exlm-line-height-h1),
    $color: var(--non-spectrum-grey)
  );
}

.h2,
h2 {
  @include text-styles(
    $font-size: var(--exlm-font-size-h2),
    $font-weight: var(--font-weight-bold),
    $line-height: var(--exlm-line-height-h2),
    $margin-top: 40px,
    $margin-bottom: 7px,
    $color: var(--non-spectrum-grey)
  );
}

.h3,
h3 {
  @include text-styles(
    $font-size: var(--exlm-font-size-h3),
    $font-weight: var(--font-weight-bold),
    $line-height: var(--exlm-line-height-h3),
    $margin-top: 40px,
    $margin-bottom: 5.5px,
    $color: var(--text-color)
  );
}

.h4,
h4 {
  @include text-styles(
    $font-size: var(--exlm-font-size-h4),
    $font-weight: var(--font-weight-bold),
    $line-height: var(--exlm-line-height-h4),
    $margin-bottom: 7px,
    $color: var(--text-color)
  );
}

.h5,
h5 {
  @include text-styles(
    $font-size: var(--exlm-font-size-h5),
    $font-weight: var(--font-weight-bold),
    $line-height: var(--exlm-line-height-h5),
    $margin-bottom: 7px,
    $color: var(--text-color)
  );
}

.h6,
h6 {
  @include text-styles(
    $font-size: var(--exlm-font-size-h6),
    $font-weight: var(--font-weight-bold),
    $line-height: var(--exlm-line-height-h6),
    $margin-bottom: 7px,
    $color: var(--text-color)
  );
}

.p,
p {
  @include text-styles($margin-top: 0);
}

h1 + p,
h2 + p,
h3 + p {
  @include text-styles;
}

.a,
a {
  @include text-styles($color: var(--non-spectrum-link));

  cursor: pointer;
  text-decoration: none;
}

.last-updated {
  @include text-styles(
    $font-size: var(--spectrum-font-size-75),
    $line-height: var(--spectrum-line-height-s),
    $color: var(--non-spectrum-grey-updated),
    $margin-top: 4px,
    $margin-bottom: 9px
  );
}

a:hover {
  color: var(--non-spectrum-custom-dark);
}

strong {
  color: var(--non-spectrum-custom-dark);
}
