@import '../../scripts/browse-card/browse-cards-block.css';

/* ALM Cards Block Header Styles */
.alm-cards-block .alm-cards-block-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Desktop styles */
@media (min-width: 600px) {
  .alm-cards-block .alm-cards-block-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
