@import '../../scripts/browse-card/browse-cards-block.css';

.alm-cards-no-results {
  background-color: var(--spectrum-gray-200);
  color: var(--spectrum-gray-700);
  font-size: var(--spectrum-font-size-200);
  padding: 72px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 20px;
  margin-top: 16px;
  padding-inline: 16px;
}

.alm-cards-no-results-header {
  font-size: var(--exlm-font-size-h3);
  font-weight: var(--font-weight-bold);
}

.alm-cards-no-results-description {
  margin-bottom: 8px;
}

/* ALM Cards Block Header Styles */
.alm-cards-block .alm-cards-block-header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alm-cards .alm-cards-hide-content {
  display: none;
}

.alm-cards.alm-cards-atomic-search .browse-cards-block-content,
.alm-cards.alm-cards-atomic-search .alm-cards-no-results {
  margin-bottom: 32px;
}

.alm-cards.browse-cards-block.alm-cards-atomic-search {
  min-height: auto;
}

.alm-cards-block-cta a::before {
  content: '';
  width: 21px;
  height: 21px;
  position: relative;
  top: 4px;
  margin-right: 8px;
  display: inline-block;
  background-color: var(--background-color);
  mask: url('/icons/link-out.svg') no-repeat center / contain;
}

.alm-cards-block-cta a.button:any-link {
  margin-top: 0;
}

/* Desktop styles */
@media (min-width: 600px) {
  .alm-cards-no-results-header {
    font-size: var(--spectrum-font-size-800);
  }

  .alm-cards-block .alm-cards-block-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .alm-cards.alm-cards-atomic-search .browse-cards-block-content {
    margin-bottom: 0;
  }
}
