.html-app-container {
  /* override default section spacing */
  padding: 0 !important;
  margin: 0 !important;
  max-width: initial !important;
  display: block !important;
  background: initial;

  .section {
    visibility: visible;
    background: none;
  }

  * {
    margin: initial;
    padding: initial;
  }
}

.html-app-wrapper {
  /* override default block spacing */
  padding: 0 !important;
  margin: 0 !important;
  max-width: initial !important;
}
