/* mobile */
.profile-welcome-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.profile-curated-card, .profile-user-card {
    flex: 1;
}

.profile-curated-card .profile-curated-card-eyebrowtext {
    font-size: var(--spectrum-font-size-100);
    font-weight: var(--font-weight-700);
    color: var(--spectrum-gray-900);
    text-align: center;
    text-transform: uppercase;
}

.profile-curated-card .profile-curated-card-heading {
    font-size: var(--spectrum-font-size-900);
    font-weight: var(--font-weight-700);
    color: var(--spectrum-gray-900);
    margin-top: 8px;
    line-height: normal;
    text-align: center;
}

.profile-curated-card .profile-curated-card-description {
    font-size: var(--spectrum-font-size-400);
    font-weight: var(--font-weight-400);
    color: var(--spectrum-gray-800);
    margin-top: 16px;
    text-align: center;
}

.profile-welcome-block .profile-curated-card {
    display: flex;
    flex-direction: column;
}

.profile-welcome-block .profile-user-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    background: var(--background-color);
    padding: 24px 16px;
}

.profile-user-card .profile-user-card-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(213, 213, 213, 0.3);;
    padding-bottom: 16px;
}

.profile-user-card .profile-user-card-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    padding-top: 16px;
}

.profile-user-card-left .profile-user-card-avatar-company-info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-user-card-left, .profile-user-card-right {
    flex: 1;
}

.profile-user-card-avatar {
    width: 75px;
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--non-spectrum-navy-blue);
    color: var(--spectrum-gray-50);
    overflow: hidden;
}

.profile-user-card-avatar .icon-profile {
    width: 75px;
    height: 75px;
}

.profile-user-card-left .profile-user-card-title .heading, .profile-user-card-location .heading {
    font-size: var(--spectrum-font-size-75);
    font-weight: var(--font-weight-700);
    color: var(--spectrum-gray-900);
    text-transform: uppercase;
}

.profile-user-card-left .profile-user-card-title, .profile-user-card-location {
    font-size: var(--spectrum-font-size-100);;
    color: var(--spectrum-gray-800);
    font-weight: var(--font-weight-400);
}

.profile-user-card-left .profile-user-card-incomplete {
    display: flex;
    font-size: var(--spectrum-font-size-100);;
    color: var(--spectrum-gray-800);
    font-weight: var(--font-weight-400);
    gap: 8px;
}

.profile-user-card-right .profile-user-card-role .incompleteProfile, .profile-user-card-industry .incompleteProfile, .profile-user-card-interests .incompleteProfile {
    font-style: italic;
}

.profile-user-card-right .profile-user-card-role .heading, .profile-user-card-industry .heading, .profile-user-card-interests .heading {
    font-size: var(--spectrum-font-size-75);
    font-weight: var(--font-weight-700);
    color: var(--spectrum-gray-900);
    text-transform: uppercase;
}

.profile-user-card-right .profile-user-card-role, .profile-user-card-industry, .profile-user-card-interests {
    font-size: var(--spectrum-font-size-100);;
    color: var(--spectrum-gray-800);
    font-weight: var(--font-weight-400);
}

.profile-user-card-left .profile-user-card-info .profile-user-card-name {
    font-size: var(--spectrum-font-size-300);
    font-weight: var(--font-weight-700);
    color: var(--spectrum-gray-900);
    margin-bottom: 8px;
}

.profile-user-card-left .profile-user-card-info .profile-user-card-name {
    white-space: nowrap;
}

.profile-user-card-left .profile-user-card-info .profile-user-card-tag {
    font-size: var(--spectrum-font-size-100);;
    color: var(--spectrum-blue-900);
    font-weight: var(--font-weight-700);
}

.profile-user-card-left .profile-user-card-info .profile-user-card-org {
    font-size: var(--spectrum-font-size-100);;
    color: var(--spectrum-gray-800);
    font-weight: var(--font-weight-400);
}

.profile-user-card-cta > a.button {
    font-size: var(--spectrum-font-size-100);;
    font-weight: var(--font-weight-700);
    width: min-content;
    min-width: 152px;
    background-color: var(--non-spectrum-true-blue);
    border: 2px solid var(--non-spectrum-true-blue);
    color: var(--background-color);
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 6px 16px;
}

.profile-user-card-cta > a.button.primary {
    background-color: var( --non-spectrum-true-blue);
    border: 2px solid var(--non-spectrum-true-blue);
    color: var(--background-color);
}

.profile-user-card-cta > a.button.secondary {
    background-color: var(--background-color);
    border: 2px solid var(--spectrum-gray-800);
    color: var(--spectrum-gray-800);
}

/* tablet */
@media (min-width: 600px) {
    .profile-welcome-block {
        display: flex;
        gap: 40px;
    }

    .profile-curated-card .profile-curated-card-heading {
        font-size: var(--spectrum-font-size-1100);
    }

    .profile-welcome-block .profile-user-card {
        display: flex;
        flex-direction: row;
        padding: 24px;
    }

    .profile-user-card .profile-user-card-left{
        border-right: 2px solid rgba(213, 213, 213, 0.3);;
        padding-right: 20px;
        border-bottom: 0px;
        padding-bottom: 0px;
    }
    
    .profile-user-card .profile-user-card-right{
        padding-left: 22px;
        padding-top: 0px
    }
}

/* desktop */
@media (min-width: 900px) {
    .profile-welcome-block {
        flex-direction: row;
        gap: 20px;
    }

    .profile-curated-card .profile-curated-card-eyebrowtext {
        text-align: left;
    }

    .profile-welcome-block .profile-user-card {
        margin-top: 34px;
    }
    
    .profile-curated-card .profile-curated-card-heading {
        text-align: left;
    }
    
    .profile-curated-card .profile-curated-card-description {
        text-align: left;
    }
}