@import '../../scripts/browse-card/browse-cards-block.css';
@import '../../scripts/browse-card/browse-card-shimmer.css';

.section.inprogress-courses-container {
  padding: var(--spectrum-spacing-500) var(--spectrum-spacing-300);
}

.inprogress-courses-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inprogress-courses-cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.inprogress-courses-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spectrum-spacing-500);
  text-align: center;
}

.inprogress-courses-header-wrapper > * {
  margin-top: 0;
}

.inprogress-courses-cta-wrapper button {
  margin: 0;
  padding: 8px 24px;
}

.inprogress-courses.block.inprogress-courses-hidden {
  display: none;
}

.inprogress-courses-card-wrapper .browse-card-shimmer {
  margin-top: 0;
  grid-column: 1 / -1;
}

.inprogress-courses-card-wrapper .browse-card-shimmer-wrapper {
  min-height: 380px;
}

@media (min-width: 600px) {
  .inprogress-courses-card-wrapper .browse-card-shimmer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .section.inprogress-courses-container {
    padding: var(--spectrum-spacing-500) 24px;
  }

  .inprogress-courses-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .inprogress-courses-card-wrapper.single-card-block > div:last-child {
    width: 80%;
    max-width: 720px;
    margin: 0 auto;
    grid-column: 1 / span 2;
  }
}

@media (min-width: 900px) {
  .section.inprogress-courses-container {
    padding: 56px 120px;
  }

  .inprogress-courses-card-wrapper {
    gap: var(--spectrum-spacing-500) 24px;
  }
}
