.topic-results-tabs {
  color: var(--spectrum-gray-700);
  padding-bottom: 0;
  margin: 0;
  border-bottom: 1px solid var(--spectrum-gray-500);
  font-size: var(--spectrum-font-size-200);
  line-height: 20.8px;
}
.topic-results-tabs>ul{
  height: 45px;
}
.topic-results-tabs>ul li{
position: relative;
padding-bottom: 11px;
}

.topic-results-tabs input {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--spectrum-font-size-200);
  color: var(--spectrum-gray-700);
  
  margin: 0;
  position: relative;
  padding-left: 0;
  padding-right:15px;
  padding-top: 0;
  padding-bottom: 0;
}

.topic-results-tabs input:hover {
  color: var(--spectrum-blue-900); 
}

.topic-results-tabs input.active {
  color: var(--spectrum-blue-900); 
  border-bottom: 2px solid var(--spectrum-blue-900);
}

.topic-results-tabs>ul li.active::after {
  border-bottom: 3px solid var(--spectrum-blue-900);
  content:"";
  position: absolute;
  bottom: -18px;
  width: 100%;
}



.topic-results-dropdown {
  display: none;
}

.topic-results-dropdown ul,
.topic-results-tabs ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .topic-results-dropdown {
    display: block;
  }
  .topic-results-tabs {
    display: none;
  }
}