/* stylelint-disable media-feature-range-notation */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* ----- mobile ------ */

.featured-content-wrapper * {
  box-sizing: border-box;
}

/* the order is different from properties rail */
.featured-content.block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    gap: 16px;
    grid-template-areas:
      "description"
      "image"
      "author";
  }

  .featured-content-wrapper {
    padding: 0 4px;
  }

  /* the order is different from properties rail */
  .featured-content.block > div:has(.description){
    grid-area: description;
  }

  .featured-content.block > div:has(.featured-content-image){
    grid-area: image;
  }

  /* hide authors until info is loaded */
  .featured-content.block > div:nth-child(3) {
    display:none;
  }

  .featured-content.block > div:nth-child(4) {
    display:none;
  }

  .featured-content.block > div:has(.author){
    display: block;
  }

  /* the main image */
  .featured-content.block .featured-content-image {
    width: calc(100vw - 40px);
    height: calc(100vw - 40px);
    position: relative;
    margin-bottom: 16px;
  }

  .featured-content.block.adobe .featured-content-image {
    border: 6px solid var(--spectrum-red-1400);
  }

  .featured-content.block.external .featured-content-image {
    border: 6px solid var(--spectrum-indigo-1400);
  }

  .featured-content.block .featured-content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* the top right tag in the image */
  .featured-content.block .featured-content-image .source-tag  {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color:white;
    letter-spacing: 0.6px;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: var(--font-weight-900);
    max-width: fit-content;
    padding: 4px 10px;
    border-radius: 0 0 0 4px;
  }

  .featured-content.block.adobe .featured-content-image .source-tag  {
    display:block;
    background-color: var(--spectrum-red-1400);
  }

  .featured-content.block.external .featured-content-image .source-tag  {
    display:block;
    background-color: var(--spectrum-indigo-1400);
  }

  .featured-content .description {
    margin-top: 24px;
  }

  .featured-content .cta a {
    font-size: var(--spectrum-font-size-200);
    line-height: 20px;
    margin-bottom: 0;
  }

  /* the featured authors title */
  .featured-content.block  .description :where(h1,h2,h3,h4,h5,h6)  {
    margin: 0;
    margin-bottom: 16px;
    font-size: var(--spectrum-font-size-800);
    font-weight: var(--font-weight-700);
    line-height: 40px;
    color: var(--non-spectrum-dark-charcoal);
  }

  /*  the author info entries */
  .featured-content.block .author {
    display: flex;
    margin-top: 8px;
    margin-left: 0;
  }

  /* the author image */

  /* the dashed border around the image */
  .featured-content.block .author .author-image {
    position:relative;
    width:52px;
    height:52px;
    min-width: 52px;;
    border: 1px dashed black;
    border-radius: 50%;
    margin-top:10px;
  }

  /* the image itself */
  .featured-content.block .author .author-image img {
    position:absolute;
    top: -10px;
    left: -10px;
    width:53px;
    height:53px;
    border-radius: 50%;
  }

  /* the company dot (adobe or external) */
  .featured-content.block .author .author-image .company-dot {
    position:absolute;
    top: -10px;
    left: 30px;
    width:21px;
    height:21px;
    border-radius: 50%;
    background-color: var(--spectrum-red-1400)
  }

  .featured-content.block .author .author-image .company-dot.adobe {
    background-color: var(--spectrum-red-1400);
  }

  .featured-content.block .author .author-image .company-dot.external {
    background-color: var(--spectrum-indigo-1400);
  }

  .featured-content.block div.author-header h3 {
    margin: 0;
    text-transform: uppercase;
  }

  /* the author details */
  .featured-content.block .author .author-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 16px;
    font-weight: var(--font-weight-700);
    color: var(--spectrum-gray-700);
    font-size: var(--spectrum-font-size-100);
    line-height: 18.2px;
  }

  /* the author name */
  .featured-content.block .author .author-details .author-name {
    font-weight: bold;
  }

  /* the author social link */
  .featured-content.block .author .author-details .author-social-link {
    text-decoration: underline;
    font-size: var(--spectrum-body-size-s);
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 15px;
  }

  /* the author cta link */
  .featured-content.block .author .author-details .author-cta {
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: #505050;
    border: 2px solid #505050;
    border-radius: 14px;
    height:18px;
    width:fit-content;
    margin: 0;
    margin-top: 20px;
    padding: 2px 10px;
  }

  .featured-content.block div.author-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .featured-content.block div.author-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .featured-content.block .author .author-title {
    line-height: 21px;
    font-weight: var(--font-weight-400);
    color: var(--non-spectrum-grey);
  }

  .featured-content.block .author .author-social {
    font-size: var(--spectrum-font-size-100);
    line-height: 17px;
    font-weight: var(--font-weight-400);
    margin: 0;
    color: var(--non-spectrum-navy-blue);
  }

  .featured-content.block div.author-header h3 {
    font-size: 12px;
    line-height: 16px;
    color: var(--non-spectrum-dark-charcoal);
    letter-spacing: 0.72px;
  }

  .featured-content.block div.description p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    font-size: var(--spectrum-font-size-200);
    line-height: 21px;
    color: var(--non-spectrum-grey);
  }

  .section.default.featured-content-container {
    padding-top: 32px;
    padding-bottom: 0;
  }

  /* ------- tablet ------- */
  @media (min-width: 600px) {
    /* for tablet change grid layout */
    .featured-content.block {
      grid-template-columns: 286px 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "image description"
        "author author";
      padding: 0 6px;
      gap: 0;
      row-gap: 32px;
    }

    /* if image is on the right */
    .featured-content.block.right {
      grid-template-columns: 1fr 286px;
      grid-template-rows: auto auto;
      grid-template-areas:
        "description image"
        "author author";
    }

    .featured-content .description {
      margin-top: 0;
    }

    .featured-content .cta {
      margin-top: 16px;
    }

    .featured-content .cta a {
      margin: 0;
    }

    /* description alignments */
    .featured-content.block > div:has(.description){
      padding-left: 48px;
      padding-right: 0;
      align-self: center;
    }

    .featured-content.block.right > div:has(.description){
      padding-right: 48px;
      padding-left: 0;
    }

    /* image size changes */
    .featured-content.block .featured-content-image {
      width: 286px;
      height: 286px;
      margin: 0;
      position: relative;
    }

    /* author blocks */
    .featured-content.block > div:has(.author){
      justify-self: left;
    }

    .featured-content.block .author-container {
      grid-column-start: 1;
      grid-column-end: -1;
    }

    .featured-content.block div.author-wrapper {
        display: flex;
        flex-direction: row;
        gap: 91px;
      }

    .featured-content.block .author {
      width:auto;
    }

    .featured-content.block  .author .author-image {
      margin-left: 10px;
    }
  }

  /* ------- desktop ------- */
  @media (min-width: 900px) {
    .featured-content.block {
      grid-template-columns: 359px 1fr;
      grid-template-rows: auto auto;
      row-gap: 24px;
    }

    /* if image is on the right */
    .featured-content.block.right {
      grid-template-columns: 1fr 359px;
    }

    .featured-content.block > div:has(.featured-content-image) {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    /* description alignments */
    .featured-content.block > div:has(.description){
      align-self: center;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .featured-content.block .featured-content-image {
      width: 359px;
      height: 359px;
      margin: 0;
      position: relative;
    }

    .featured-content.block > div:has(.author){
      justify-self: left;
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-right: 48px;
      margin-left: 0;
    }

    .featured-content.block div.description p {
      font-size: var(--spectrum-font-size-100);
    }

    .featured-content.block.left > div:has(.author) {
      grid-column-start: 2;
      grid-column-end: 3;
      margin-left: 48px;
      margin-right: 0;
    }

    .featured-content .cta {
      margin-top: 24px;
    }

    .section.default.featured-content-container {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .featured-content.block .featured-content-image .source-tag  {
      font-size: 12px;
      line-height: 17px;
    }
  }
