.course-breadcrumb.breadcrumbs > div > div {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.course-breadcrumb.breadcrumbs > div > div > a {
  color: var(--non-spectrum-dark-gray);
  display: inline-block;
  font-size: var(--spectrum-font-size-200);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.course-breadcrumb.breadcrumbs > div > div > a::before {
  background-color: var(--non-spectrum-dark-gray);
  mask-image: url('/icons/chevron_right.svg');
  bottom: -3px;
  content: '';
  display: inline-block;
  height: 18px;
  margin-right: 3px;
  margin-left: 3px;
  position: relative;
  width: 18px;
}

.course-breadcrumb.breadcrumbs > div > div > a:first-child::before {
  content: none;
}

.course-breadcrumb.breadcrumbs > div > div > a:last-child {
  font-weight: var(--font-weight-bold);
}

@media (min-width: 600px) {
  .course-breadcrumb.breadcrumbs > div > div > a {
    max-width: 150px;
  }

  .course-breadcrumb.breadcrumbs > div > div > a:last-child {
    max-width: none;
  }
}
