.lesson-items-container {
  margin: 1rem 0;
}

.lesson-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lesson-item {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid #e1e1e1;
}

.lesson-number {
  margin-right: 1rem;
  font-weight: bold;
}

.lesson-details {
  flex-grow: 1;
}

.loading-indicator {
  color: #767676;
}

.lesson-link {
  color: #1473e6;
  text-decoration: none;
}

.lesson-link:hover {
  text-decoration: underline;
}

.error {
  color: #d7373f;
}

.no-lessons {
  padding: 1rem 0;
  color: #767676;
}
