@import '../../scripts/browse-card/browse-cards-block.css';
@import '../../scripts/browse-card/browse-card-premium-learning.css';

.premium-learning-browse-cards-title {
  margin-bottom: 8px;
}

.premium-learning-browse-cards-title * {
  margin: 0;
}

.premium-learning-browse-cards-description {
  font-size: var(--spectrum-font-size-200);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
}

.premium-learning-browse-cards.browse-cards-block {
  margin-bottom: 56px;
}

.premium-learning-browse-cards.browse-cards-block .browse-cards-block-content {
  justify-content: flex-start;
  min-height: auto;
  margin-top: 32px;
  margin-bottom: 0;
}
