.related-articles {
  color: #000;
  padding: 1rem;
  border: 1px solid #1e1e1e;
  border-left-width: 3rem;
  margin-bottom: 2rem;
  box-shadow:
    0 0.5em 1em -0.125em #0a0a0a1a,
    0 0 0 1px #0a0a0a05;
}

.related-articles div:first-child {
  margin-bottom: 8px;
  font-weight: bold;
}

.related-articles ul {
  margin-top: 0;
  margin-bottom: 0;
}

.related-articles li {
  margin-bottom: 1rem;
}

.related-articles li:last-child {
  margin-bottom: 0;
}
