.related-articles {
  color: var(--spectrum-gray-800);
  background-color: var(--background-color);
  font-size: var(--spectrum-body-size-m);
  line-height: 25.6px;
  margin-bottom: 28px;
  padding: 14px;
  border: 1px solid var(--non-spectrum-eerie-black);
  border-radius: 0;
  border-left-width: 42px;
  box-shadow: var(--box-shadow-1);
  text-rendering: optimizelegibility;
}

.related-articles div:first-child > div {
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-size: var(--spectrum-heading-size-xxs);
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 8px;
}

.related-articles ul {
  margin-top: 0;
  margin-bottom: 0;
}

.related-articles ul li {
  line-height: 24px;
  font-weight: var(--font-weight-normal);
  margin-bottom: 14px;
}

.related-articles ul li:last-child {
  margin-bottom: 0;
}
