.text .text-segment {
  margin: 0;
}

.text .text-segment + .text-segment {
  margin-top: 14px;
}

.text .text-align-left {
  text-align: left;
}

.text .text-align-center {
  text-align: center;
}

.text .text-align-right {
  text-align: right;
}

.text .text-align-justify {
  text-align: justify;
}
