.article-metadata-topics ul {
  list-style: none;
  margin: 5px 0;
}

.article-metadata-topics li {
  display: inline-block;
  font-size: var(--spectrum-font-size-100);
}

.article-metadata-topics ul > li {
  margin: 0;
}

.article-metadata-topics li + li:not(:last-child)::after {
  content: ' |';
  margin-left: 0.75em;
}

.article-metadata-topics li:first-child {
  font-size: var(--spectrum-font-size-75);
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 4px;
  margin-bottom: 0;
}

.article-metadata-topics ul > li:not(:first-child) {
  margin-right: 8px;
}

.article-metadata-topics ul > li:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.article-metadata-topics li a {
  text-decoration: none;
  cursor: default;
  color: inherit;
  font-size: var(--spectrum-font-size-100);
}
