ul.meta-topic-list {
  list-style: none;
  margin-top: 4px;
  margin-bottom: 9px;
  margin-left: 0;
  line-height: 25.6px;
}

.meta-topic-list li {
  display: inline-block;
  font-size: 14px;
}

.meta-topic-list li:first-child {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 4px;
  margin-bottom: 0;
}

ul.meta-topic-list > li:not(:first-child) {
  margin-bottom: 14px;
  margin-right: 8px;
}

ul.meta-topic-list > li:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.meta-topic-list li a {
  text-decoration: none;
  cursor: default;
  color: inherit;
  font-size: 14px;
  margin-right: 7px;
}