@import "../../scripts/browse-card/browse-cards-block.css";
@import "../../scripts/browse-card/browse-card.css";

.section.featured-cards-container {
  padding-bottom: 0;
}

.featured-cards .browse-cards-block-header .browse-card-description-text{
  text-align: center;
  color: var(--spectrum-gray-800);
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 16px;
}

.featured-cards .browse-cards-block-title {
  margin-bottom: 16px;
  text-align: center;
}

.featured-cards .browse-card .browse-card-content {
  min-height: auto;
}

.featured-cards .browse-cards-block-header {
    display:flex ;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.featured-cards .browse-cards-block-view {
    text-align: center;
}

.featured-cards .browse-cards-block-content {  
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 32px;
  min-height: 284px;
  margin-bottom: 24px;
}


.featured-cards .browse-cards-block-title h2 {
  color: var(--spectrum-gray-800);
}

.featured-cards .browse-card-dropdown select {
  font-family: var(--body-font-family);
  font-size: 14px;
}

.featured-cards .browse-cards-block-content > div  {
  min-height: 284px;
  flex: 0 0 320px;
}

.featured-cards .browse-card-dropdown {
  display:flex ;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}
  
.featured-cards .solutions-dropdown , .roles-dropdown {
    width: 100%;
}

.featured-cards .roles-dropdown {
  margin-bottom: 1em;
}

.featured-cards .browse-card-dropdown > select{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 10px;
  color: #464646;
}

.featured-cards .browse-card-dropdown > p{
  font-weight: 700;
  color: #363636;
}

@media only screen and (min-width: 600px) {
  .section.featured-cards-container {
    padding-bottom: 4px;
  }

  .featured-cards .browse-card-dropdown {
      flex-direction: row;
      gap: 1em;
      margin-bottom: 20px;
  }

  .featured-cards .browse-card-dropdown > p {
      margin-bottom: 0;
  }

  .featured-cards .roles-dropdown {
    margin-bottom: 0;
  }

  .featured-cards .solutions-dropdown , .featured-cards .roles-dropdown {
    width: auto;
  }

  .featured-cards .browse-cards-block-content {  
    grid-template-columns: 1fr 1fr; 
  }

  .featured-cards .browse-cards-block-view {
    text-align: center;
  }

  .featured-cards .featured-cards .browse-cards-block-content > div {
    flex: 0 0 286px;
  }

  .featured-cards .browse-cards-block-header .browse-card-description-text{
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 900px) {
  .section.featured-cards-container {
    padding-bottom: 10px;
  }

  .featured-cards .browse-cards-block-content {  
    display: flex;
    gap: 32px;
    text-align: center;
    margin-bottom: 84px;
  }

  .featured-cards .browse-cards-block-view {
      margin-top: -72px;
      text-align: right;
  }

  .featured-cards .browse-cards-block-title {
    margin-bottom: 7px;
  }

  .featured-cards .browse-card-dropdown {
    margin-bottom: 0;
}

  .featured-cards .browse-card {
    text-align: left;
  }

  .featured-cards .browse-cards-block-content > div {
    flex: 0 0 295px;
  }

  .featured-cards .browse-card-dropdown > p {
    color: var(--spectrum-gray-800);
    font-size: 14px;
    line-height: 18.2px;
  }

  .featured-cards .browse-cards-block-header .browse-card-description-text{
    margin-bottom: 16px;
  }

  .featured-cards .browse-card-dropdown > select{
    color: var(--spectrum-gray-800);
  }
}
