@media (width >= 1440px) {
  body.browse-product {
    & main {
      max-width: 1440px;
    }

    & main > div.section:not(.browse-rail-section) {
      padding: 30px 32px 30px 56px;
    }

    & main > div.section:not(.browse-rail-section).browse-filters-container {
      padding-top: 50px;
    }

    & main > div.section.browse-breadcrumb-container {
      padding-top: 24px;
      padding-bottom: 0;
    }

    & main > div.section.sign-up-container {
      padding-top: 0;
      padding-bottom: 0;
    }

    & .section.browse-filters-container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
