@media (width >= 1440px) {
  body.browse-all main {
    max-width: 1440px;
  }

  body.browse-all main > div.section:not(.browse-rail-section) {
    padding: 30px 32px 30px 56px;
  }

  body.browse-all main > div.section:not(.browse-rail-section).browse-filters-container {
    padding-top: 50px;
  }

  body.browse-all main > div.section.sign-up-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  body.browse-all .section.browse-filters-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Events V2 variant */

body.browse-all .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers,
body.browse-all .browse-card.event-card .browse-card-figure .event-series-banner {
  font-size: var(--spectrum-font-size-700);
}

@media only screen and (min-width: 1440px) {
  body.browse-all .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers,
  body.browse-all .browse-card.event-card .browse-card-figure .event-series-banner {
    font-size: 24px;
  }
}
