body.courses,
body.courses .section,
.courses-section {
  background-color: var(--spectrum-gray-100);
}

.courses p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  line-height: normal;
}

body.courses .section,
.courses-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 728px;
  margin: 0 auto;
}

body.courses .skill-track-info-section {
  border-bottom: 1px solid var(--spectrum-gray-200);
}
