.courses.course-step {
  --highlight-light-background-color: #fff;
}

.courses.course-step .section.module-info-container,
.courses.course-step .section.course-breadcrumb-section {
  padding-top: 32px;
  padding-bottom: 0;
}

.courses-section,
.courses.course-step .section:not(.notification-banner-container) {
  padding: var(--spectrum-spacing-500) var(--spectrum-spacing-300);
}

.courses.course-step .section.module-info-container {
  padding-bottom: 0;
}

.courses .section:not(.notification-banner-container, .course-marquee-container) > div {
  max-width: 920px;
  margin: 0 auto;
}

.courses.course-step .section:not(.notification-banner-container, .course-marquee-container) > div {
  max-width: 792px;
  margin: 0 auto;
}

.courses.course-step
  .section.module-info-container:not(.notification-banner-container, .course-marquee-container)
  > div,
.courses.course-step
  .section.course-breadcrumb-section:not(.notification-banner-container, .course-marquee-container)
  > div {
  max-width: 920px;
  margin: 0 auto;
}

/* When quiz-scorecard is present, breadcrumb should have 792px width */
.courses.course-step:has(.quiz-scorecard)
  .section.course-breadcrumb-section:not(.notification-banner-container, .course-marquee-container)
  > div {
  max-width: 792px;
  margin: 0 auto;
}

.courses :where(h1, h2, h3, h4, h5, h6, p) {
  color: var(--text-color);
  line-height: normal;
}

@media (min-width: 600px) {
  .courses-section,
  .courses.course-step .section:not(.notification-banner-container) {
    padding: var(--spectrum-spacing-400) var(--spectrum-spacing-600);
  }

  .courses.course-step .section.module-info-container {
    padding-bottom: var(--spectrum-spacing-500);
    padding-top: var(--spectrum-spacing-100);
  }
}
