.courses.course-step {
  --highlight-light-background-color: #fff;
}

.courses-section,
.courses.course-step .section:not(.notification-banner-container) {
  padding: 24px 49px;
}

.courses.course-step .section.module-info-container,
.courses.course-step .section.course-breadcrumb-section {
  padding-top: 32px;
  padding-bottom: 0;
}

.courses.course-step .section.module-info-container {
  padding-bottom: 20px;
}

.courses .section:not(.notification-banner-container, .course-marquee-container) > div {
  max-width: 920px;
  margin: 0 auto;
}

.courses.course-step .section:not(.notification-banner-container, .course-marquee-container) > div {
  max-width: 792px;
  margin: 0 auto;
}

.courses.course-step
  .section.module-info-container:not(.notification-banner-container, .course-marquee-container)
  > div,
.courses.course-step
  .section.course-breadcrumb-section:not(.notification-banner-container, .course-marquee-container)
  > div {
  max-width: 920px;
  margin: 0 auto;
}

.courses :where(h1, h2, h3, h4, h5, h6, p) {
  color: var(--text-color);
  line-height: normal;
}
