.courses {
  --highlight-light-background-color: #fff;
}

body.courses .section,
.courses-page-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 792px;
  margin: 0 auto;
}

.courses p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  line-height: normal;
}

body.courses .module-info-section {
  border-bottom: 1px solid var(--spectrum-gray-200);
}

body.courses .section > div:has(> .block) {
  width: 100%;
}
