.courses .section:not(.notification-banner-container),
.courses-section {
  background-color: var(--spectrum-gray-50);
  padding: 24px 49px;
}

.courses .section.bg-dark-gray:not(.notification-banner-container),
.courses-section.bg-dark-gray {
  background-color: var(--highlight-dark-background-color);
}

.courses-section > div,
.courses .section:not(.notification-banner-container) > div {
  max-width: 792px;
  margin: 0 auto;
}

.courses :where(h1, h2, h3, h4, h5, h6, p) {
  color: var(--text-color);
  line-height: normal;
}

.courses .section > div:has(> .block) {
  width: 100%;
}
