/* three column layout */
.docs {
  --exlm-font-size-h1: var(--spectrum-heading-size-l);
  --exlm-font-size-h2: 24px;
  --exlm-font-size-h3: var(--spectrum-font-size-lg);
  --exlm-font-size-h4: var(--spectrum-heading-size-s);
  --exlm-font-size-h5: var(--spectrum-heading-size-s);
  --exlm-font-size-h6: var(--spectrum-heading-size-s);
  --exlm-font-size-content: var(--spectrum-body-size-m);
  --exlm-line-height-h1: var(--spectrum-line-height-xxl);
  --exlm-line-height-h2: 31.2px;
  --exlm-line-height-h3: 26px;
  --exlm-line-height-h4: 23.4px;
  --exlm-line-height-h5: 23.4px;
  --exlm-line-height-h6: 23.4px;
  --exlm-line-height-content: 25.6px;
}

@media (width >= 900px) {
  .docs {
    --exlm-font-size-h1: 44px;
    --exlm-font-size-h2: var(--spectrum-heading-size-l);
    --exlm-font-size-h3: var(--spectrum-heading-size-m);
    --exlm-font-size-h4: var(--spectrum-heading-size-s);
    --exlm-font-size-h5: var(--spectrum-heading-size-xs);
    --exlm-font-size-h6: var(--spectrum-heading-size-xxs);
    --exlm-line-height-h1: var(--spectrum-line-height-xxxl);
    --exlm-line-height-h2: var(--spectrum-line-height-xxl);
    --exlm-line-height-h3: var(--spectrum-line-height-xl);
    --exlm-line-height-h4: 23.4px;
    --exlm-line-height-h5: 20.8px;
    --exlm-line-height-h6: 18.2px;
  }
}

.docs code,
.docs pre,
.docs samp {
  font-family: var(--fixed-font-family);
  font-size: var(--spectrum-font-size-xs);
  line-height: 18.375px;
  font-weight: var(--font-weight-normal);
}

.docs code:not([class^='language-']) {
  font-family: var(--spectrum-code-font-family);
  font-size: var(--spectrum-font-size-sm);
  background-color: unset;
  line-height: 21px;
  padding: 0;
}

.docs h1 code:not([class^='language-']),
.docs h2 code:not([class^='language-']),
.docs h3 code:not([class^='language-']),
.docs h4 code:not([class^='language-']),
.docs h5 code:not([class^='language-']),
.docs h6 code:not([class^='language-']) {
  font-size: inherit;
  line-height: 36px;
}

.docs pre {
  background-color: var(--overlay-background-color);
}

.docs p {
  font-family: var(--body-font-family);
  font-size: var(--exlm-font-size-content);
  font-weight: var(--font-weight-normal);
  font-style: normal;
  line-height: var(--spectrum-line-height-m);
  color: var(--spectrum-gray-800);
  margin-top: 12px;
  margin-bottom: 16px;
}

.docs ol {
  font-family: var(--body-font-family);
  font-size: var(--exlm-font-size-content);
  font-weight: var(--font-weight-normal);
  font-style: normal;
  line-height: 24px;
  color: var(--non-spectrum-grey);
  margin-top: 0;
  margin-bottom: 2em;
}

.docs ul {
  font-family: var(--body-font-family);
  font-size: var(--exlm-font-size-content);
  font-weight: var(--font-weight-normal);
  font-style: normal;
  line-height: 24px;
  color: var(--non-spectrum-grey);
  margin-top: 1em;
  margin-bottom: 2em;
}

.docs li p,
.docs li a:any-link {
  word-break: break-word;
}

.docs main {
  width: 100%;
  display: grid;
  margin: 0 auto;
  padding: 0 46px;
  box-sizing: border-box;
  max-width: 1700px;
}

.docs main .section {
  padding: 0;
}

@media (width >= 900px) {
  .docs main .section {
    padding: 0 54px;
  }

  .docs main .section:first-of-type {
    padding-top: 54px;
  }
}

@media (width >= 900px) {
  .docs main {
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0;
  }

  .docs main.rail-left-closed {
    grid-template-columns: 0 4fr 1fr;
  }

  .docs main.rail-right-closed {
    grid-template-columns: 1fr 4fr 0;
  }

  .docs main.rail-left-closed.rail-right-closed {
    grid-template-columns: 0 5fr 0;
  }
}

.docs main > div {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.docs main > div:nth-last-child(2) {
  display: block !important;
  grid-row: 1/1;
  min-height: 90px;
  padding: 32px 0 10px;
}

.docs main > div:nth-last-child(2) .toc {
  display: none;
}

.docs main > div:nth-last-child(2) .rail-content {
  display: block;
}

.docs main > div.mini-toc-container {
  padding: 32px 10px 0 0;
  display: none;
}

@media (width >= 900px) {
  .docs main > div.mini-toc-container {
    display: flex;
  }
}

@media (width >= 600px) {
  .docs main > div.mini-toc-container {
    padding: 32px 10px 10px;
  }
}

@media (width >= 900px) {
  .docs main > div {
    border-right: 1px solid #eaeaea;
  }

  .docs main > div:not(.rail),
  .docs main > div.rail-right {
    border-right: none;
  }

  .docs main > div:not(.toc-container, .mini-toc-container) {
    overflow: auto;
    padding: 0;
    grid-column: 2;
  }

  .docs main > div.toc-container {
    grid-column: 1/1;
    grid-row: 1/-1;
    padding: 0;
  }

  .docs main > div.mini-toc-container {
    grid-column: 3/3;
    grid-row: 1/-1;
    position: relative;
    display: flex !important;
    gap: 8px;
    padding: 46px 10px 10px 0;
  }
}

.docs table:not(.code table, .table table) {
  display: block;
  margin: 2rem 0;
  font-size: var(--spectrum-body-size-m);
  line-height: var(--exlm-line-height-content);
  color: var(--non-spectrum-custom-dark);
  border-collapse: collapse;
}

.docs table:not(.code table, .table table) thead,
.docs table:not(.code table, .table table) tbody,
.docs table:not(.code table, .table table) th,
.docs table:not(.code table, .table table) td,
.docs table:not(.code table, .table table) tr {
  display: block;
}

.docs table:not(.code table, .table table) table,
.docs table:not(.code table, .table table) thead,
.docs table:not(.code table, .table table) tbody {
  width: 100%;
}

.docs table:not(.code table, .table table) tr {
  margin-bottom: 16px;
}

.docs table:not(.code table, .table table) td {
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  white-space: normal;
  text-align: start;
  padding: 0.5em 0.75em;
}

.docs table:not(.code table, .table table) img {
  max-width: 100%;
  width: auto;
}

.docs table:not(.code table, .table table) a {
  color: var(--non-spectrum-link);
}

.docs table:not(.code table, .table table) a:hover {
  color: var(--non-spectrum-custom-dark);
}

.docs table:not(.code table, .table table) a strong {
  color: currentcolor;
}

@media (width >= 600px) {
  .docs table:not(.code table, .table table) {
    display: table;
    border-spacing: 0;
  }

  .docs table:not(.code table, .table table) thead {
    display: table-header-group;
  }

  .docs table:not(.code table, .table table) tbody {
    display: table-row-group;
  }

  .docs table:not(.code table, .table table) tr {
    display: table-row;
    margin: 0;
    vertical-align: middle;
  }

  .docs table:not(.code table, .table table) th,
  .docs table:not(.code table, .table table) td {
    width: auto;
    display: table-cell;
    border: 1px solid #dbdbdb;
    border-width: 1px;
    vertical-align: top;
  }
}

.docs .badge {
  background-color: var(--spectrum-blue-900);
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: var(--spectrum-font-size-xs);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 15px;
  padding: 5px 9px;
  text-decoration: none;
  vertical-align: bottom;
}

.docs .badge.positive {
  background-color: var(--spectrum-green-900);
}

.docs .badge.negative {
  background-color: var(--spectrum-red-900);
}

.docs .badge.neutral,
.docs .badge.caution,
.docs .badge.yellow {
  background-color: var(--spectrum-gray-600);
}
