.docs.docs-landing main {
  margin: 0 12px;
  padding-top: 24px;
  width: auto;
}
@media (min-width: 600px) {
  .docs.docs-landing main {
    padding: 28px 46px 48px;
  }
}
@media (min-width: 900px) {
  .docs.docs-landing main {
    grid-template-columns: 0 5fr 0;
    padding: 42px 46 48px 46px;
  }
}