@import '../sass/breakpoints';
@import '../sass/mixins';

.docs.docs-solution-landing main {
  padding: 0 58px;

  @include breakpoint(desktop) {
    grid-template-columns: 0 4fr 1fr;
  }

  .default-content-wrapper {
    margin: 0;
    width: 100%;

    h1 {
      font-size: 44px;

      /* This font is not avaliable in spectrum so we are hardcoding it */
      line-height: var(--spectrum-line-height-xxxl);
      margin-top: 0;
    }

    h2 {
      font-size: 24px;
      border-bottom: 3px solid var(--non-spectrum-grey);
      margin-bottom: 8px;
    }

    h3 {
      font-size: var(--spectrum-font-size-100);
      margin-top: 40px;
      margin-bottom: 16px;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
    }

    ul li {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: var(--spectrum-font-size-200);
      color: var(--spectrum-gray-800);
    }

    ul li a {
      color: var(--non-spectrum-link);
      line-height: 30px;
    }

    ul li a:hover {
      color: var(--non-spectrum-custom-dark);
    }
  }

  .section > div.default-content-wrapper {
    max-width: 100%;
  }

  & > div:nth-child(2) {
    border: none;
    gap: 0;
  }

  @include breakpoint(desktop) {
    padding: 0;

    & > div:nth-child(2) {
      padding: 54px 101px 50px 116px;
      border: none;
    }
  }
}

@include breakpoint('desktop') {
  .docs {
    &.docs-solution-landing.docs-tutorial {
      .default-content-wrapper {
        h2 {
          font-size: var(--spectrum-font-size-700);
        }

        ul li {
          width: calc(33.33% - 16px);
        }
      }
    }
  }
}

@include breakpoint('tablet') {
  .docs {
    &.docs-solution-landing.docs-tutorial {
      .default-content-wrapper {
        ul li {
          width: 50%;
        }
      }
    }
  }
}
