.docs.kb-article main {
  & h2[id*='-description'],
  & h2[id*='-resolution'],
  & #description,
  & #resolution {
    padding-bottom: 6px;
    border-bottom: 3px solid var(--non-spectrum-grey);

    & + h3 {
      margin-top: 24px;
    }
  }

  & .doc-pagination,
  & .toc-container {
    display: none !important;
  }

  & .mini-toc > .scrollable-div {
    margin-bottom: 16px;
  }

  @media (width >= 1600px) {
    grid-template-columns: 0.3fr 3fr 1fr !important;
  }
}
