body.learning-collections,
body.learning-collections .section,
.learning-collections-page-section {
  background-color: var(--background-color);
}

.learning-collections p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  line-height: normal;
}

body.learning-collections .section,
.learning-collections-page-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 728px;
  margin: 0 auto;
}

body.learning-collections .skill-track-info-section {
  border-bottom: 1px solid var(--spectrum-gray-200);
}
