body.learning-collections,
.learning-collections-page-section {
  background-color: var(--background-color);
}

.learning-collections p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  line-height: normal;
}

.learning-collections-page-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 878px;
  margin: 0 auto;
}
