.learning-collections-lesson {
  background-color: var(--background-color);
}

.learning-collections-lesson main {
  width: 100%;
  display: grid;
  margin: 0 auto;
  padding: 0 46px;
  box-sizing: border-box;
  max-width: var(--secondary-max-width);
}

.learning-collections-lesson .section {
  background-color: var(--background-color);
}

.learning-collections-lesson .section .default-content-wrapper :where(h1, h2, h3, h4, h5, h6) {
  color: var(--spectrum-gray-900);
}

@media (width >= 900px) {
  .learning-collections-lesson main {
    position: relative;
    display: grid;
    margin: 0 auto;
    padding: 0;
    max-width: var(--secondary-max-width);
    grid-template-columns: 250px 1fr 250px;
    min-height: 540px;
    gap: 0;
  }

  .learning-collections-lesson main > div:not(.learning-collection-rail-section, .skill-track-rail-section) {
    overflow: auto;
    padding: 0;
    padding-right: 60px;
    grid-column: 2;
    max-width: 100%;
  }

  .learning-collections-lesson
    main
    > div:not(.learning-collection-rail-section, .skill-track-rail-section):first-child {
    margin-top: 80px;
  }

  .learning-collections-lesson main > div:not(.learning-collection-rail-section, .skill-track-rail-section):last-child {
    margin-bottom: 60px;
  }

  .learning-collections-lesson main > div.learning-collection-rail-section {
    grid-column: 1;
    padding: 0;
    margin-right: 0;
    border-right: 1px solid #e5e5e5;
  }

  .learning-collections-lesson main > div.skill-track-rail-section {
    grid-column: 3;
    padding: 0;
    margin-left: 0;
  }

  .learning-collections-lesson div.learning-collection-rail-wrapper {
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 60px;
    min-width: 200px;
    max-width: 200px;
  }

  .learning-collections-lesson div.skill-track-rail-wrapper {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 60px;
    min-width: 250px;
    max-width: 250px;
  }

  .learning-collections-lesson .learning-collection-rail {
    position: sticky;
    top: 10px;
    width: 100%;
  }

  .learning-collections-lesson .skill-track-rail {
    position: sticky;
    top: 10px;
    width: 100%;
  }

  /* Lesson Navigation Styles */
  .learning-collections-lesson .lesson-navigation-section {
    grid-column: 2;
    margin-top: 40px;
    margin-bottom: 90px;
  }

  .learning-collections-lesson .lesson-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
