.learning-collections-lesson {
  background-color: var(--background-color);
}

.learning-collections-lesson main {
  width: 100%;
  display: grid;
  margin: 92px auto;
  padding: 0 46px;
  box-sizing: border-box;
  max-width: var(--secondary-max-width);
}

.learning-collections-lesson .section {
  background-color: var(--background-color);
}

.learning-collections-lesson .section .default-content-wrapper :where(h1, h2, h3, h4, h5, h6) {
  color: var(--spectrum-gray-900);
}

@media (width >= 900px) {
  .learning-collections-lesson main {
    position: relative;
    display: grid;
    margin: 0 auto;
    max-width: var(--secondary-max-width);
    grid-template-columns: 250px 1fr 250px;
    min-height: 540px;
  }

  .learning-collections-lesson main > div:not(.learning-collection-rail-section, .skill-track-rail-section) {
    overflow: auto;
    padding: 0 50px;
    grid-column: 2;
  }

  .learning-collections-lesson main > div.learning-collection-rail-section {
    grid-column: 1;
    padding: 0;
    margin-right: 0;
  }

  .learning-collections-lesson main > div.skill-track-rail-section {
    grid-column: 3;
    padding: 0;
    margin-left: 0;
  }

  .learning-collections-lesson div.learning-collection-rail-wrapper {
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 60px;
    min-width: 250px;
  }

  .learning-collections-lesson div.skill-track-rail-wrapper {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 60px;
    min-width: 250px;
  }

  .learning-collections-lesson .learning-collection-rail {
    position: sticky;
    top: 10px;
  }

  .learning-collections-lesson .skill-track-rail {
    position: sticky;
    top: 10px;
  }
}
