.on-demand-event {
  background-color: var(--color-white);
}

.on-demand-event main {
  display: grid;
  padding-bottom: 3em;
  max-width: 1700px;
  background-color: var(--color-white);
  overflow-x: hidden;

  --desktop-column-gap: 24px;
}

.on-demand-event main > div.section:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  background-color: var(--color-white);

  > div {
    min-width: 100%;
  }
}

.on-demand-event .section .breadcrumbs-wrapper {
  background-color: color(--color-white);
  padding: 32px 20px 0;
}

.on-demand-event .section .default-content-wrapper,
.on-demand-event .section .video-transcript-wrapper {
  padding: 0 20px;
  background-color: var(--color-white);

  :where(h1) {
    margin: 16px 0;
  }
}

.on-demand-event main > div.section:first-child .embed-wrapper {
  order: -2;
  width: 100vw;
}

.on-demand-event main > div.section:first-child .embed-wrapper .embed {
  margin: 0;
}

.on-demand-event h1 + p {
  font-size: var(--spectrum-font-size-75);
  color: var(--spectrum-gray-600); /* must use this for a11y contrast */
  margin: 0 0 1rem;
}

.on-demand-event main > div.right-rail {
  display: none;
}

.section {
  padding: 0;
}

.on-demand-event .section.event-primary {
  padding: 0 20px;
}

.on-demand-event .section.event-primary,
.on-demand-event .section.event-secondary {
  background-color: var(--color-white);

  :where(h3, h2) {
    border-bottom: 2px solid var(--non-spectrum-divider-gray); /* grey underline */
    padding-bottom: 10px;
    line-height: 40px;
    margin: 0;
  }
}

.on-demand-event .section.event-secondary {
  background-color: var(--spectrum-gray-100);
  margin: 24px 20px;
  border-radius: 16px;
}

.on-demand-event .section.event-secondary .at-a-glance-wrapper {
  margin: 24px;
}

.on-demand-event .section.event-secondary .speakers-wrapper {
  margin: 24px;
}

@media (min-width: 900px) {
  .on-demand-event main.rail-right-closed {
    grid-template-columns: 2fr 4fr;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .on-demand-event .section.event-secondary {
    display: flex;
    background-color: var(--spectrum-gray-100);
    align-items: stretch; /* Ensure all items in a row match height */
  }

  /* height 100% for all items in the row */
  .on-demand-event .section.event-secondary > div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* last child spans all columns */
  .on-demand-event .section.event-secondary > div:last-child {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1024px) {
  .on-demand-event main {
    display: grid;
    grid-template-columns: 2fr 4fr 1.5fr;
    grid-template-rows: auto auto;
    margin: 58px 0 0 130px;
    gap: var(--desktop-row-gap) var(--desktop-column-gap);
  }

  .on-demand-event .section .breadcrumbs-wrapper,
  .on-demand-event .section .default-content-wrapper,
  .on-demand-event .section .video-transcript-wrapper {
    padding: 0;
  }

  .on-demand-event main > div.section:first-child .embed-wrapper {
    order: 0;
    margin-left: unset;
    width: unset;
  }

  .on-demand-event .section .breadcrumbs-wrapper {
    margin-bottom: 32px;
  }

  /* Event Video and Title/Meta section */
  .on-demand-event main > div.section:first-child {
    grid-column: 1 / span 2; /* span 2 columns */
    grid-row: 1;
    width: 100%;
    background-color: var(--color-white);
  }

  .on-demand-event .section.event-primary,
  .on-demand-event .section.event-secondary {
    > div {
      margin: auto;
    }
  }

  .on-demand-event .section.event-secondary {
    grid-column: 1; /* first half */
    grid-row: 2;
    border-radius: 16px;
    margin: 24px 24px 24px 0;
    height: fit-content;
    background-color: var(--spectrum-gray-100);
  }

  .on-demand-event .section.event-primary {
    grid-column: 2; /* second half */
    grid-row: 2;
    background-color: var(--color-white);

    .default-content-wrapper {
      margin-top: 16px;

      :where(h2) {
        color: var(--text-color);
      }

      p {
        margin: 24px 0 32px;
      }
    }

    .list-wrapper {
      ul {
        margin-left: 16px;
      }

      li {
        margin: 16px 0;
      }
    }
  }

  /* Event Right Rail */
  .on-demand-event main > div.event-rail {
    grid-column: 3; /* 1fr column */
    grid-row: 1 / span 2;
    background-color: var(--color-white);
    display: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  .on-demand-event main > div.event-rail::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: var(--non-spectrum-grey-333);
    pointer-events: none;
    z-index: 1;
  }
}
