body.profile {
  background-color: var(--background-color);
}

body.profile .section .product-experience-level-wrapper  ~ .default-content-wrapper p {
  text-align: center;
}

body.profile .section.profile-rail-section {
  display: none;
}

body.profile .section[data-two-column-layout] > div:nth-child(2) {
  border-top: 0;
}

body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) {
  margin: 0 12px 24px;
  padding: 24px 24px 32px;
  border-radius: 20px;
  background-color: var(--non-spectrum-bg);
  border: 1px solid #d5d5d5;
}
body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) h2,
body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) h3 {
  margin-top: 12px;
}
body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) > div:not(.default-content-wrapper, .product-experience-level-wrapper) {
  width: 100%;
  padding: 32px 0;
  border-top: 1px solid #d6d6d6;
}
body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) > div:not(.default-content-wrapper):first-child {
  border-top: 0;
}
body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) > div:not(.default-content-wrapper):last-child {
  padding-bottom: 0;
}
body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section):last-child {
  margin-bottom: 60px;
}

@media (min-width: 600px) {
  body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) {
    margin: 0 16px 24px;
    padding: 48px 52px 64px;
  }
  body.profile .section[data-two-column-layout] {
    display: grid;
    gap: 10px;
    grid-template: ". ." auto "normal-flow normal-flow" auto/1fr 1fr;
  }
  body.profile .section[data-two-column-layout] > div:nth-child(1) {
    height: 100%;
    margin-right: 20px;
  }
  body.profile .section[data-two-column-layout] > div:nth-child(1) > *:first-child {
    margin-top: 0;
  }
  body.profile .section[data-two-column-layout] > div:nth-child(2) {
    padding-top: 0;
    margin: 0 auto;
  }
  body.profile .section[data-two-column-layout] > div:nth-child(n+3) {
    grid-area: normal-flow;
  }
}
@media (min-width: 1024px) {
  body.profile > main {
    position: relative;
    margin: 0 auto;
    max-width: var(--non-spectrum-max-width);
    display: grid;
    grid-auto-columns: 1fr;
    grid-template: ". profile-tab-section" 120px "profile-rail-section  ." auto/300px auto;
    gap: 0 0;
  }
  body.profile > main > .section.profile-rail-section {
    display: block;
    grid-area: profile-rail-section;
    padding: 0 0 0 32px;
  }
  body.profile .section[data-two-column-layout]:nth-child(3) > div:nth-child(1) {
    margin-top: 28px;
  }
  body.profile > main > div.profile-tab-section {
    grid-area: profile-tab-section;
    padding-top: 40px;
    padding-left: 100px;
  }
  body.profile .section:nth-child(3) {
    background-image: url("/icons/solutions/profileDecoration.svg");
    background-repeat: no-repeat;
    padding-top: 60px;
  }
  body.profile div.profile-rail-wrapper {
    position: absolute;
    top: 108px;
    left: 0;
    bottom: 60px;
    min-width: 310px;
  }
  body.profile .profile-rail {
    position: sticky;
    top: 10px;
    margin-left: 54px;
  }
  body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) {
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) {
    padding: 60px 100px 80px;
  }
}