@import '../sass/breakpoints';
@import '../sass/mixins';

// Profile Pages
body.profile {
  background-color: var(--background-color);
}

body.profile .section.profile-rail-section {
  display: none;
}

body.profile .section[data-two-column-layout] > div:nth-child(2) {
  border-top: 0;
}

body.profile .section:not(.profile-tab-section, .profile-rail-section) {
  margin: 0 12px 24px;
  padding: 24px 24px 32px;
  border-radius: 20px;
  background-color: var(--non-spectrum-bg);
  border: 1px solid #d5d5d5;

  h2,
  h3 {
    margin-top: 12px;
  }

  & > div:not(.default-content-wrapper) {
    width: 100%;
    padding: 32px 0;
    border-top: 1px solid #d6d6d6;
  }

  & > div:not(.default-content-wrapper):first-child {
    border-top: 0;
  }

  & > div:not(.default-content-wrapper):last-child {
    padding-bottom: 0;
  }

  &:last-child {
    margin-bottom: 60px;
  }
}

@include breakpoint('tablet') {
  body.profile .section:not(.profile-tab-section, .profile-rail-section) {
    margin: 0 16px 24px;
    padding: 48px 52px 64px;
  }

  body.profile .section[data-two-column-layout] {
    display: grid;
    gap: 10px;
    grid-template: '. .' auto 'normal-flow normal-flow' auto / 1fr 1fr;
  }

  body.profile .section[data-two-column-layout] > div:nth-child(1) {
    height: 100%;
    margin-right: 20px;

    & > *:first-child {
      margin-top: 0;
    }
  }

  body.profile .section[data-two-column-layout] > div:nth-child(2) {
    padding-top: 0;
    margin: 0 auto;
  }

  body.profile .section[data-two-column-layout] > div:nth-child(n + 3) {
    grid-area: normal-flow;
  }
}

@include breakpoint('custom') {
  body.profile > main {
    position: relative;
    margin: 0 auto;
    max-width: var(--non-spectrum-max-width);
    display: grid;
    grid-auto-columns: 1fr;
    grid-template: '. profile-tab-section' 120px 'profile-rail-section  .' auto / 300px auto;
    gap: 0 0;
  }

  body.profile > main > .section.profile-rail-section {
    display: block;
    grid-area: profile-rail-section;
    padding: 0 0 0 32px;
  }

  body.profile .section[data-two-column-layout]:nth-child(3) > div:nth-child(1) {
    margin-top: 28px;
  }

  body.profile > main > div.profile-tab-section {
    grid-area: profile-tab-section;
    padding-top: 40px;
    padding-left: 100px;
  }

  body.profile .section:nth-child(3) {
    background-image: url('/icons/solutions/profileDecoration.svg');
    background-repeat: no-repeat;
    padding-top: 60px;
  }

  body.profile div.profile-rail-wrapper {
    position: absolute;
    top: 108px;
    left: 0;
    bottom: 60px;
    min-width: 310px;
  }

  body.profile .profile-rail {
    position: sticky;
    top: 10px;
    margin-left: 54px;
  }

  body.profile .section:not(.profile-tab-section, .profile-rail-section) {
    margin-bottom: 32px;
  }
}

@include breakpoint('desktop-lg') {
  body.profile .section:not(.profile-tab-section, .profile-rail-section) {
    padding: 60px 100px 80px;
  }
}
