body.profile {
  background-color: var(--spectrum-gray-100);
}

body.profile > main {
  min-height: 500px;
}

body.profile .profile-background {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  height: 109px;
  top: var(--nav-height);
}

body.profile .profile-background::before {
  content: "";
  position: absolute;
  top: -113px;
  left: 43%;
  width: 109px;
  height: 336px;
  background: url("/images/pentagon-stripes-right-decor.svg") no-repeat center center;
  background-size: cover;
  transform: rotate(-90deg);
  z-index: -1;
}

body.profile .section:not(.sign-up-flow-section) {
  margin: 0 20px;
  padding: 40px 0;
  border-bottom: 1px solid var(--spectrum-gray-300);
}

body.profile .section.profile-rail-section:not(.sign-up-flow-section) {
  padding: 24px 0;
}

body.profile .section:not(.sign-up-flow-section):first-child,
body.profile .section:not(.sign-up-flow-section):last-child {
  border: none;
}

body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) > div:not(.default-content-wrapper) {
  padding-bottom: 40px;
}

body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) > div:not(.default-content-wrapper):last-child {
  padding-bottom: 0;
}

body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) .default-content-wrapper :where(h1, h2, h3, h4, h5, h6) {
  color: var(--spectrum-gray-900);
}

body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) .default-content-wrapper > p {
  line-height: 22px;
}

@media (min-width: 600px) {
  body.profile .profile-background {
    height: 145px;
  }
  body.profile .profile-background::before {
    top: -167px;
    width: 145px;
    height: 452px;
  }
  body.profile .section:not(.sign-up-flow-section) {
    margin: 0 24px;
    padding: 48px 0;
  }
  body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) > div:not(.default-content-wrapper) {
    padding-bottom: 48px;
  }
}
@media (min-width: 1024px) {
  body.profile > main {
    position: relative;
    display: grid;
    margin: 0 auto;
    max-width: var(--non-spectrum-max-width);
    grid-template-columns: minmax(100px, 25%) 1fr;
  }
  body.profile .profile-background {
    left: auto;
    right: 0;
    height: 452px;
    width: 145px;
  }
  body.profile .profile-background::before {
    top: 0;
    left: 0;
    transform: none;
  }
  body.profile .section:not(.sign-up-flow-section) {
    margin: 0 32px;
    padding: 64px 0;
  }
  body.profile .section.profile-rail-section {
    grid-column: 1;
    padding: 0;
    margin-right: 0;
    margin-top: 88px;
  }
  body.profile .section:not(.sign-up-flow-section, .profile-rail-section):nth-child(3) {
    margin-top: 80px;
    padding-top: 0;
  }
  body.profile .section:not(.profile-tab-section, .profile-rail-section, .sign-up-flow-section) > div:not(.default-content-wrapper) {
    padding-bottom: 64px;
  }
  body.profile div.profile-rail-wrapper {
    position: absolute;
    top: 108px;
    left: 0;
    bottom: 60px;
    width: 277px;
  }
  body.profile .profile-rail {
    position: sticky;
    top: 10px;
    margin-left: 54px;
  }
}