@import "../../scripts/browse-card/browse-cards-block.css";

.tabbed-cards .tab-view-text{
    font-size: 18px;
    line-height: 17px;
    margin: 2px 0 0 0;
    text-align: right;
}


.tabbed-cards{
    /* Set display to inline-block to make labels appear horizontally */
    display: inline-block;
    margin-right: 10px; /* Optional: Add some spacing between labels */
    cursor: pointer; /* Optional: Add pointer cursor for better user experience */
}

.tabbed-cards .tab-label {
    top: 638px;
    left: 288px;
    width: 1120px;
    height: 32px;
    opacity: 1;
}

.tabbed-cards p {
    display: inline-block;
    margin-right: 20px; /* Optional: add some spacing between tabs */
}