.question .question-block {
  background-color: var(--background-color);
  padding: var(--spectrum-spacing-400);
  border-radius: 16px;
  border: 1px solid var(--non-spectrum-pale-grey);
  max-width: 728px;
  height: auto;
  min-height: 360px;
  margin: 0 auto;
  box-sizing: border-box;
}

.question .questions-container {
  gap: var(--spectrum-spacing-700);
}

.question .question-number {
  font-weight: var(--font-weight-bold);
  font-size: var(--spectrum-font-size-600);
  margin-top: 0;
  margin-bottom: var(--spectrum-spacing-100);
}

.question .question-block p:not(.question-text) {
  color: var(--non-spectrum-dark-gray);
  line-height: var(--spectrum-line-height-xl);
}

.question .question-text {
  font-weight: var(--font-weight-normal);
  font-size: var(--spectrum-font-size-400);
  line-height: var(--spectrum-line-height-s);
  position: relative;
  padding-bottom: 30px;
  margin-top: var(--spectrum-spacing-300);
  margin-bottom: 30px;
}

.question .answer-option {
  font-weight: var(--font-weight-normal);
  font-size: var(--spectrum-font-size-200);
  line-height: var(--spectrum-line-height-s);
  display: flex;
  align-items: center;
  margin-bottom: var(--spectrum-spacing-400);
  position: relative;
  text-align: left;
}

.question .question-text::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--non-spectrum-medium-light-grey);
}

.question .answer-input {
  margin: 0;
  max-width: 15px;
  height: 15px;
  margin-right: 0.75rem;
  display: inline-block;
  vertical-align: middle;
}

.question .answer-input:checked {
  accent-color: var(--non-spectrum-adobe-red);
}
