@media (min-width: 1024px) {
    html {
        scroll-behavior: smooth;
        scroll-padding: 90px;
    }
    .profile-rail.block  {
        margin-right: 16px;
    }
    .profile-rail.block > span {
        font-size: 14px;
        font-weight: 700;
        margin-left: 12px;
    }
    .profile-rail.block ul {
        margin-left: 0;
    }
    .profile-rail.block li {
        margin: 4px 0;
        list-style: none;
        border-radius: 4px;
        transition: .2s all ease-in-out; 
    }
    .profile-rail.block li.active {
        background-color:#0000000F;
    }
    .profile-rail.block a {
        display: block;
        padding: 6px 12px;
        margin: 0;
        color: #222;
        text-transform: capitalize;
        font-size: 14px;
    }
    .profile-rail.block li:hover:not(.active) {
        background-color:#0000000F;
    }    
}