.profile-rail {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 6px;
    border-radius: 5px;
}

.profile-rail > div {
    width: 100%;
    margin-left: 20px;
}

