.footer-wrapper {
  border-top: 2px solid var(--non-spectrurm-whisper-gray);
  background-color: var(--footer-background-color);
  padding: 25px 0 20px;
}

.footer {
  margin: 0 auto;
  max-width: var(--default-max-width);
  padding: 0;
}

.footer.footer-container {
  position: relative;
}

.footer a {
  position: absolute;
  margin: 0;
  color: var(--non-spectrum-dark-gray);
  font-size: var(--spectrum-font-size-200);
  line-height: 1.6875rem;
  padding: 0.2rem;
  z-index: 10;
}

.footer a:hover {
  color: var(--non-spectrum-navy-blue);
}

.footer a.footer-invisible-anchor {
  display: none;
}

@media (min-width: 900px) {
  .footer-wrapper {
    min-height: 527px;
  }

  .footer {
    padding: 0 32px;
  }
}
