.list-header-box {
    width: 100%;
}

.list-header {
    font-size: 24px;
    border-bottom: 3px solid var(--non-spectrum-grey);
    margin-bottom: 8px;
}

.list-container {
    display: flex;
    display: flex;
    flex-direction: column;
}

.list-wrapper, .list .list-container {
    margin: 0;
    width: 100%;
}

.list-box .list-container li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:  var(--spectrum-font-size-200);
    color: var(--spectrum-gray-800);
}

.list-box .list-container a {
    color: var(--non-spectrum-link-blue);
}

.list-box .list-container a:hover {
    color: var(--non-spectrum-custom-dark);
}