/* ----- MOBILE ----- */
.champion-detail.block {
  display: flex;
  flex-direction: column;
  gap: var(--spectrum-spacing-300);
}

.champion-detail.block .champion-detail-image picture img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.champion-detail.block .champion-detail-eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: var(--spectrum-font-size-75);
  color: var(--non-spectrum-adobe-dark-red);
}

.champion-detail.block .champion-detail-quote {
  font-style: italic;
  font-size: var(--spectrum-font-size-200);
}

.champion-detail.block .champion-detail-name {
  display: block;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.champion-detail.block .champion-detail-title {
  color: var(--non-spectrum-charcoal-gray);
  font-size: var(--spectrum-font-size-75);
}

.champion-detail.block .champion-detail-designation {
  font-size: var(--spectrum-font-size-75);
  margin-top: var(--spectrum-spacing-100);
}

.champion-detail.block .champion-detail-cta {
  margin-top: var(--spectrum-spacing-200);
  width: fit-content;
}

/* ----- TABLET ----- */
@media (min-width: 768px) {
  .champion-detail.block {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spectrum-spacing-500);
  }
}
