/* ----- MOBILE ----- */
.champion-detail.block {
  display: flex;
  flex-direction: column;
  gap: var(--spectrum-spacing-300);
}

.champion-detail.block .champion-detail-image picture img {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  border: 3px solid #ffa311;
  object-fit: cover;
}

.champion-detail.block .champion-detail-image-yellow picture img {
  border-color: #ffa311;
}

.champion-detail.block .champion-detail-image-purple picture img {
  border-color: #a55be8;
}

.champion-detail.block .champion-detail-image-blue picture img {
  border-color: #1473e6;
}

.champion-detail.block .champion-detail-quote {
  font-style: italic;
  font-size: var(--spectrum-font-size-200);
}

.champion-detail.block .champion-detail-quote::before {
  content: '\201C';
}

.champion-detail.block .champion-detail-quote::after {
  content: '\201D';
}

.champion-detail.block .champion-detail-name {
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.champion-detail.block .champion-detail-title {
  color: var(--non-spectrum-charcoal-gray);
}

.champion-detail.block .champion-detail-designation {
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: var(--spectrum-font-size-75);
  color: #ffa311;
  margin-top: var(--spectrum-spacing-100);
}

.champion-detail.block .champion-detail-designation-yellow {
  color: #ffa311;
}

.champion-detail.block .champion-detail-designation-purple {
  color: #a55be8;
}

.champion-detail.block .champion-detail-designation-blue {
  color: #1473e6;
}

/* ----- TABLET ----- */
@media (min-width: 768px) {
  .champion-detail.block {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spectrum-spacing-500);
  }
}
