.video-transcript.block details {
  display: block;
  background-color: var(--background-color);
  color: var(--non-spectrum-grey);
  margin: 0 25px;
  padding: 0 var(--space-token-xs);
  font-size: var(--spectrum-font-size-sm);
  line-height: 21px;
}

.video-transcript.block details[open] {
  padding: var(--space-token-xs);
  padding-top: 0;
}

.video-transcript.block details p {
  font-size: var(--spectrum-font-size-sm);
  color: var(--spectrum-gray-800);
  line-height: 21px;
  margin-bottom: 12px;
}

.video-transcript.block details p:last-child {
  margin-bottom: unset;
}

.video-transcript.block details summary {
  list-style: none;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  font-size: var(--spectrum-font-size-sm);
  color: var(--non-spectrum-navy-blue);
  padding: var(--space-token-xs) 0;
}

.video-transcript.block details summary:focus {
  outline: none;
}

.video-transcript.block details summary::marker {
  content: none;
}

.video-transcript.block details > *:not(summary) {
  margin-left: 1rem;
  margin-top: 1rem;
}

.video-transcript.block details summary::after {
  content: '>';
  display: inline-block;
  margin-left: 5px;
  font-weight: var(--font-weight-black);
  transition: transform 0.15s ease-in-out;
}

.video-transcript.block details summary::-webkit-details-marker {
  display: none;
}

.video-transcript.block details[open] summary::after {
  transform: rotate(90deg);
}
