/* Adding a small divider between steps */
.module > div {
  border-bottom: 1px solid var(--spectrum-gray-200);
  padding-bottom: var(--spectrum-spacing-100);
  margin-bottom: var(--spectrum-spacing-100);
}
