@import '../../scripts/browse-card/browse-cards-block.css';

.upcoming-events-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upcoming-events-block-filter {
  width: 25%;
}

.browse-cards-block-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
