@import './toc-solutions.css';
.toc {
    display: none;
}

.toc ul {
    list-style: none;
    margin-left: 0;
    margin-left: var(--spectrum-spacing-200);
}

.toc p {
    font-family: var(--body-font-family);
    font-size: var(--exlm-font-size-content);
    font-weight: var(--font-weight-400);
    font-style: normal;
    line-height: var(--spectrum-line-height-m);
    color: var(--spectrum-gray-800);
    margin: 0;
}

.toc ul li {
    box-sizing: border-box;
    width: 100%;
    min-height: 32px;
    margin: 8px 0;
}
.toc ul#product {
    margin-left: var(--spectrum-spacing-100);
}
.toc ul#product>li:first-child {
    align-items: center;
    display: flex;
}
.toc ul#product>li:first-child .product-icon {
    flex: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 8px;
    background-size: contain !important;
    background-position: center center;
    background-repeat: no-repeat;
}


.toc div>ul>li:first-child a:not(a[href^="#"]) {
    font-weight: 800;
}
.toc ul li h3 {
    font-size: var(--spectrum-font-size-300);
    margin: 0;
}
.toc ul li a.js-toggle {
    font-size: var(--spectrum-font-size-50);
    color: #1e1e1e;
}
.toc ul li a:hover:not(a[href^="#"]) {
    background-color: var(--spectrum-sidenav-item-background-color-hover, var(--spectrum-alias-highlight-hover));
}

.toc ul li ul {
    display: none;
    margin-left: 12px;
    margin-bottom: 12px;
}

.toc ul li a[href^="#"] {
    text-transform: uppercase;
    font-weight: var(--spectrum-extra-bold-font-weight);
}

.toc ul li a {
    width: 100%;
    display: inline-block;
    position: relative;
}

.toc li>a.js-toggle {
    position: relative;
    cursor: pointer;
    flex: 12%;
}

.toc a.js-toggle:after {
    position: absolute;
    right: 0%;
    top: 8px;
    display: flex;
    width: 6px;
    height: 6px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: 75% 75%;
    transform: rotateZ(-135deg);
    transition: transform 0.1s ease;
    content: "";
    box-sizing: content-box;
}

.toc a.js-toggle.collapsed:after {
    transform: rotateZ(45deg);
}

.toc ul li ul li a {
    text-transform: none;
}

.toc ul li a,
.toc ul li ul li a {
    font-size: var(--spectrum-font-size-100);
    line-height: 21px;
    min-height: 32px;
    box-sizing: border-box;
    margin: 0;
    border-radius: 4px;
    padding: 5px 12px 5px 12px;
    color: var(--non-spectrum-grey-updated);
}

.toc ul li.hidden {
    display: none;
}

.toc ul li a:not(a[href^="#"]).is-active {
    margin-left: 0;
    background-color: var(--spectrum-gray-100);
    color: var(--non-spectrum-eerie-black);
    font-weight: 600;
    border-left-width: 4px;
    border-left-style: solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 7px;
    padding-bottom: 10px;
}
.toc>ul>li>a {
    font-size: var(--spectrum-font-size-75);
    font-weight: bold;
    flex: 88%;
}
.toc .view-more-less {
    border-radius: 4px;
}
.toc .view-more-less span {
    cursor: pointer;
    text-transform: none;
    font-size: 12px;
    color: var(--non-spectrum-article-dark-gray);
    position: relative;
    padding-left: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    min-height: 32px;
}
.toc .view-more-less span:before {
    content: "+";
    color: var(--non-spectrum-dim-gray);
    font-weight: 800;
    position: absolute;
    font-size: 20px;
    line-height: 23px;
    left: 10px;
    top: 0px;
}
.toc .view-more-less:hover {
    background-color: var(--spectrum-sidenav-item-background-color-hover, var(--spectrum-alias-highlight-hover));
    color: var(--spectrum-alias-text-color-hover);
} 
.toc .view-more-less:hover span{
    color: var(--spectrum-alias-text-color-hover);
} 
.toc .left-rail-view-less span:before {
    content: "-";
}
.toc a[href="javascript:void(0)"] {
    cursor: default;
}

@media only screen and (min-width: 900px) {
    .toc {
        display: block;
    }
}