::backdrop {
  background: rgb(10 10 10 / 86%);
  height: 100%;
  left: 0;
  position: fixed;
  transition: all 200ms;
  top: 0;
  width: 100%;
  z-index: 12;
}

.image-modal {
  --modal-max-height: calc(100vh - 40px);

  border: 0;
  align-items: center;
  position: fixed;
  left: 0;
  overflow: hidden;
  z-index: 99999;
  background: transparent;
}

.image-modal .image-modal-content {
  border-radius: 7px;
  max-height: var(--modal-max-height);
  margin: 0 auto;
  padding: 5px;
  position: relative;
  z-index: 14;
  display: flex;
  justify-content: center;
  background: white;
}

.image-modal .image-modal-content * {
  display: block;
  max-height: var(--modal-max-height);
}

.image-modal .image-modal-close {
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 32px;
  z-index: 99;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  font-weight: initial;
}

.image-modal .image-modal-close::before,
.image-modal .image-modal-close::after {
  background-color: var(--spectrum-gray-50);
  box-sizing: inherit;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
  width: 50%;
}

.image-modal .image-modal-close::after {
  height: 50%;
  width: 2px;
}

.image-modal .image-modal-close:hover {
  background: rgb(10 10 10 / 30%);
}
