.docs .rail-toggle {
  display: none;
}

@media (min-width: 900px) {
  .docs .rail {
    position: relative;
    padding: 46px 0.75rem 0.75rem;
  }
  .docs .rail .rail-toggle {
    background: none;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 15px;
    margin: 0;
    padding: 0 12px;
  }
  .docs .rail .rail-toggle .icon {
    width: 16px;
    height: 16px;
  }
  .docs .rail.rail-right .rail-toggle {
    left: 0;
    transform: rotate(180deg);
  }
  .docs .rail.rail-left .rail-toggle {
    right: 20px;
  }
  .docs .rail.closed {
    width: 0;
    padding: 0 !important;
  }
  .docs .rail.closed .rail-content {
    display: none;
  }
  .docs .rail.closed.rail-right .rail-toggle {
    left: unset;
    right: 0;
    transform: rotate(0deg);
  }
  .docs .rail.closed.rail-left .rail-toggle {
    right: unset;
    left: 0;
    transform: rotate(180deg);
  }
}