/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;

  /* fonts */
  --body-font-family: roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
  
  /* spectrum color palettes - light theme only 
  https://spectrum.adobe.com/page/color-palette/#Latest-Spectrum-colors */
  --spectrum-global-color-gray-50: rgb(255 255 255);
  --spectrum-global-color-gray-75: rgb(253 253 253);
  --spectrum-global-color-gray-100: rgb(248 248 248);
  --spectrum-global-color-gray-200: rgb(230 230 230);
  --spectrum-global-color-gray-300: rgb(213 213 213);
  --spectrum-global-color-gray-400: rgb(177 177 177);
  --spectrum-global-color-gray-500: rgb(144 144 144);
  --spectrum-global-color-gray-600: rgb(109 109 109);
  --spectrum-global-color-gray-700: rgb(70 70 70);
  --spectrum-global-color-gray-800: rgb(34 34 34);
  --spectrum-global-color-gray-900: rgb(0 0 0);
  --spectrum-global-color-blue-100: rgb(224 242 255);
  --spectrum-global-color-blue-200: rgb(202 232 255);
  --spectrum-global-color-blue-300: rgb(181 222 255);
  --spectrum-global-color-blue-400: rgb(150 206 253);
  --spectrum-global-color-blue-500: rgb(120 187 250);
  --spectrum-global-color-blue-600: rgb(89 167 246);
  --spectrum-global-color-blue-700: rgb(56 146 243);
  --spectrum-global-color-blue-800: rgb(20 122 243);
  --spectrum-global-color-blue-900: rgb(2 101 220);
  --spectrum-global-color-blue-1000: rgb(0 84 182);
  --spectrum-global-color-blue-1100: rgb(0 68 145);
  --spectrum-global-color-blue-1200: rgb(0 53 113);
  --spectrum-global-color-blue-1300: rgb(0 39 84);
  --spectrum-global-color-green-100: rgb(206 248 224);
  --spectrum-global-color-green-200: rgb(173 244 206);
  --spectrum-global-color-green-300: rgb(137 236 188);
  --spectrum-global-color-green-400: rgb(103 222 168);
  --spectrum-global-color-green-500: rgb(73 204 147);
  --spectrum-global-color-green-600: rgb(47 184 128);
  --spectrum-global-color-green-700: rgb(21 164 110);
  --spectrum-global-color-green-800: rgb(0 143 93);
  --spectrum-global-color-green-900: rgb(0 122 77);
  --spectrum-global-color-green-1000: rgb(0 101 62);
  --spectrum-global-color-green-1100: rgb(0 81 50);
  --spectrum-global-color-green-1200: rgb(5 63 39);
  --spectrum-global-color-green-1300: rgb(10 46 29);
  --spectrum-global-color-orange-100: rgb(255 236 204);
  --spectrum-global-color-orange-200: rgb(255 223 173);
  --spectrum-global-color-orange-300: rgb(253 210 145);
  --spectrum-global-color-orange-400: rgb(255 187 99);
  --spectrum-global-color-orange-500: rgb(255 160 55);
  --spectrum-global-color-orange-600: rgb(246 133 17);
  --spectrum-global-color-orange-700: rgb(228 111 0);
  --spectrum-global-color-orange-800: rgb(203 93 0);
  --spectrum-global-color-orange-900: rgb(177 76 0);
  --spectrum-global-color-orange-1000: rgb(149 61 0);
  --spectrum-global-color-orange-1100: rgb(122 47 0);
  --spectrum-global-color-orange-1200: rgb(97 35 0);
  --spectrum-global-color-orange-1300: rgb(73 25 1);
  --spectrum-global-color-red-100: rgb(255 235 231);
  --spectrum-global-color-red-200: rgb(255 221 214);
  --spectrum-global-color-red-300: rgb(255 205 195);
  --spectrum-global-color-red-400: rgb(255 183 169);
  --spectrum-global-color-red-500: rgb(255 155 136);
  --spectrum-global-color-red-600: rgb(255 124 101);
  --spectrum-global-color-red-700: rgb(247 92 70);
  --spectrum-global-color-red-800: rgb(234 56 41);
  --spectrum-global-color-red-900: rgb(211 21 16);
  --spectrum-global-color-red-1000: rgb(180 0 0);
  --spectrum-global-color-red-1100: rgb(147 0 0);
  --spectrum-global-color-red-1200: rgb(116 0 0);
  --spectrum-global-color-red-1300: rgb(89 0 0);
  --spectrum-global-color-celery-100: rgb(205 252 191);
  --spectrum-global-color-celery-200: rgb(174 246 157);
  --spectrum-global-color-celery-300: rgb(150 238 133);
  --spectrum-global-color-celery-400: rgb(114 224 106);
  --spectrum-global-color-celery-500: rgb(78 207 80);
  --spectrum-global-color-celery-600: rgb(39 187 54);
  --spectrum-global-color-celery-700: rgb(7 167 33);
  --spectrum-global-color-celery-800: rgb(0 145 18);
  --spectrum-global-color-celery-900: rgb(0 124 15);
  --spectrum-global-color-celery-1000: rgb(0 103 15);
  --spectrum-global-color-celery-1100: rgb(0 83 13);
  --spectrum-global-color-celery-1200: rgb(0 64 10);
  --spectrum-global-color-celery-1300: rgb(0 48 7);
  --spectrum-global-color-chartreuse-100: rgb(219 252 110);
  --spectrum-global-color-chartreuse-200: rgb(203 244 67);
  --spectrum-global-color-chartreuse-300: rgb(188 233 42);
  --spectrum-global-color-chartreuse-400: rgb(170 216 22);
  --spectrum-global-color-chartreuse-500: rgb(152 197 10);
  --spectrum-global-color-chartreuse-600: rgb(135 177 3);
  --spectrum-global-color-chartreuse-700: rgb(118 156 0);
  --spectrum-global-color-chartreuse-800: rgb(103 136 0);
  --spectrum-global-color-chartreuse-900: rgb(87 116 0);
  --spectrum-global-color-chartreuse-1000: rgb(72 96 0);
  --spectrum-global-color-chartreuse-1100: rgb(58 77 0);
  --spectrum-global-color-chartreuse-1200: rgb(44 59 0);
  --spectrum-global-color-chartreuse-1300: rgb(33 44 0);
  --spectrum-global-color-cyan-100: rgb(197 248 255);
  --spectrum-global-color-cyan-200: rgb(164 240 255);
  --spectrum-global-color-cyan-300: rgb(136 231 250);
  --spectrum-global-color-cyan-400: rgb(96 216 243);
  --spectrum-global-color-cyan-500: rgb(51 197 232);
  --spectrum-global-color-cyan-600: rgb(18 176 218);
  --spectrum-global-color-cyan-700: rgb(1 156 200);
  --spectrum-global-color-cyan-800: rgb(0 134 180);
  --spectrum-global-color-cyan-900: rgb(0 113 159);
  --spectrum-global-color-cyan-1000: rgb(0 93 137);
  --spectrum-global-color-cyan-1100: rgb(0 74 115);
  --spectrum-global-color-cyan-1200: rgb(0 57 93);
  --spectrum-global-color-cyan-1300: rgb(0 42 70);
  --spectrum-global-color-fuchsia-100: rgb(255 233 252);
  --spectrum-global-color-fuchsia-200: rgb(255 218 250);
  --spectrum-global-color-fuchsia-300: rgb(254 199 248);
  --spectrum-global-color-fuchsia-400: rgb(251 174 246);
  --spectrum-global-color-fuchsia-500: rgb(245 146 243);
  --spectrum-global-color-fuchsia-600: rgb(237 116 237);
  --spectrum-global-color-fuchsia-700: rgb(224 85 226);
  --spectrum-global-color-fuchsia-800: rgb(205 58 206);
  --spectrum-global-color-fuchsia-900: rgb(182 34 183);
  --spectrum-global-color-fuchsia-1000: rgb(157 3 158);
  --spectrum-global-color-fuchsia-1100: rgb(128 0 129);
  --spectrum-global-color-fuchsia-1200: rgb(100 6 100);
  --spectrum-global-color-fuchsia-1300: rgb(71 14 70);
  --spectrum-global-color-indigo-100: rgb(237 238 255);
  --spectrum-global-color-indigo-200: rgb(224 226 255);
  --spectrum-global-color-indigo-300: rgb(211 213 255);
  --spectrum-global-color-indigo-400: rgb(193 196 255);
  --spectrum-global-color-indigo-500: rgb(172 175 255);
  --spectrum-global-color-indigo-600: rgb(149 153 255);
  --spectrum-global-color-indigo-700: rgb(126 132 252);
  --spectrum-global-color-indigo-800: rgb(104 109 244);
  --spectrum-global-color-indigo-900: rgb(82 88 228);
  --spectrum-global-color-indigo-1000: rgb(64 70 202);
  --spectrum-global-color-indigo-1100: rgb(50 54 168);
  --spectrum-global-color-indigo-1200: rgb(38 41 134);
  --spectrum-global-color-indigo-1300: rgb(27 30 100);
  --spectrum-global-color-magenta-100: rgb(255 234 241);
  --spectrum-global-color-magenta-200: rgb(255 220 232);
  --spectrum-global-color-magenta-300: rgb(255 202 221);
  --spectrum-global-color-magenta-400: rgb(255 178 206);
  --spectrum-global-color-magenta-500: rgb(255 149 189);
  --spectrum-global-color-magenta-600: rgb(250 119 170);
  --spectrum-global-color-magenta-700: rgb(239 90 152);
  --spectrum-global-color-magenta-800: rgb(222 61 130);
  --spectrum-global-color-magenta-900: rgb(200 34 105);
  --spectrum-global-color-magenta-1000: rgb(173 9 85);
  --spectrum-global-color-magenta-1100: rgb(142 0 69);
  --spectrum-global-color-magenta-1200: rgb(112 0 55);
  --spectrum-global-color-magenta-1300: rgb(84 3 42);
  --spectrum-global-color-purple-100: rgb(246 235 255);
  --spectrum-global-color-purple-200: rgb(238 221 255);
  --spectrum-global-color-purple-300: rgb(230 208 255);
  --spectrum-global-color-purple-400: rgb(219 187 254);
  --spectrum-global-color-purple-500: rgb(204 164 253);
  --spectrum-global-color-purple-600: rgb(189 139 252);
  --spectrum-global-color-purple-700: rgb(174 114 249);
  --spectrum-global-color-purple-800: rgb(157 87 244);
  --spectrum-global-color-purple-900: rgb(137 61 231);
  --spectrum-global-color-purple-1000: rgb(115 38 211);
  --spectrum-global-color-purple-1100: rgb(93 19 183);
  --spectrum-global-color-purple-1200: rgb(71 12 148);
  --spectrum-global-color-purple-1300: rgb(51 16 106);
  --spectrum-global-color-seafoam-100: rgb(206 247 243);
  --spectrum-global-color-seafoam-200: rgb(170 241 234);
  --spectrum-global-color-seafoam-300: rgb(140 233 226);
  --spectrum-global-color-seafoam-400: rgb(101 218 210);
  --spectrum-global-color-seafoam-500: rgb(63 201 193);
  --spectrum-global-color-seafoam-600: rgb(15 181 174);
  --spectrum-global-color-seafoam-700: rgb(0 161 154);
  --spectrum-global-color-seafoam-800: rgb(0 140 135);
  --spectrum-global-color-seafoam-900: rgb(0 119 114);
  --spectrum-global-color-seafoam-1000: rgb(0 99 95);
  --spectrum-global-color-seafoam-1100: rgb(12 79 76);
  --spectrum-global-color-seafoam-1200: rgb(18 60 58);
  --spectrum-global-color-seafoam-1300: rgb(18 44 43);
  --spectrum-global-color-yellow-100: rgb(251 241 152);
  --spectrum-global-color-yellow-200: rgb(248 231 80);
  --spectrum-global-color-yellow-300: rgb(248 217 4);
  --spectrum-global-color-yellow-400: rgb(232 198 0);
  --spectrum-global-color-yellow-500: rgb(215 179 0);
  --spectrum-global-color-yellow-600: rgb(196 159 0);
  --spectrum-global-color-yellow-700: rgb(176 140 0);
  --spectrum-global-color-yellow-800: rgb(155 120 0);
  --spectrum-global-color-yellow-900: rgb(133 102 0);
  --spectrum-global-color-yellow-1000: rgb(112 83 0);
  --spectrum-global-color-yellow-1100: rgb(91 67 0);
  --spectrum-global-color-yellow-1200: rgb(72 51 0);
  --spectrum-global-color-yellow-1300: rgb(54 37 0);
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}


@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}
