.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 1em 0;
}

.carousel-controls button {
    display: block;
    height: 10px;
    width: 10px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: transparent;
}

.carousel-controls button[aria-selected="true"] {
    background-color: grey;
}

@media (min-width: 1200px) {
    .carousel-controls {
        display: none;
    }
}