@import '../question/question.css';

.quiz .quiz-description-container {
  height: auto;
  margin: 0 auto 50px;
  box-sizing: border-box;
}

.quiz .quiz-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--spectrum-font-size-800);
  line-height: var(--spectrum-line-height-xxl);
  margin-bottom: var(--spectrum-spacing-300);
}

.quiz .quiz-title h2 {
  margin-top: 0;
}

.quiz .quiz-description {
  font-weight: var(--font-weight-normal);
  font-size: var(--spectrum-font-size-200);
  line-height: var(--spectrum-line-height-xs);
  margin: 0;
}

.quiz .quiz-description li {
  line-height: 100%;
  margin-bottom: var(--spectrum-spacing-100);
  margin-top: 0;
}

.quiz .questions-container {
  display: flex;
  flex-direction: column;
  gap: var(--spectrum-spacing-400);
}

.quiz .question-feedback {
  margin-top: var(--spectrum-spacing-200);
  text-align: left;
  font-weight: var(--font-weight-normal);
  font-style: italic;
  font-size: var(--spectrum-font-size-200);
  line-height: var(--spectrum-line-height-s);
}

.quiz .question-feedback.correct {
  color: var(--non-spectrum-viridian);
}

.quiz .question-feedback.incorrect {
  color: var(--non-spectrum-adobe-red);
}

.quiz .quiz-error-message {
  color: var(--non-spectrum-adobe-red);
  font-weight: var(--font-weight-normal);
  font-style: italic;
  font-size: var(--spectrum-font-size-200);
  line-height: var(--spectrum-line-height-s);
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}
