@import '../question/question.css';

.quiz-container {
  max-width: 800px;
  margin: var(--spectrum-spacing-400) auto;
  padding: var(--spectrum-spacing-300);
}

.quiz-wrapper,
.section > div {
  margin: unset;
}

.quiz-description-container {
  width: 728px;
  height: 156px;
  margin: 0 auto 80px;
  box-sizing: border-box;
}

.quizTitle {
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-size: var(--spectrum-font-size-800);
  line-height: 40px;
  margin-top: var(--spectrum-spacing-600);
  margin-bottom: var(--spectrum-spacing-300);
}

.quizDescription {
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-size: var(--spectrum-font-size-200);
  line-height: 16px;
  margin: 0;
}

.quizDescription li {
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-size: var(--spectrum-font-size-200);
  line-height: 100%;
  margin-bottom: var(--spectrum-spacing-100);
}

.questions-container {
  display: flex;
  flex-direction: column;
  gap: var(--spectrum-spacing-400);
}

.question-feedback {
  margin-top: var(--spectrum-spacing-200);
  text-align: left;
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  font-style: italic;
  font-size: var(--spectrum-font-size-200);
  line-height: 19px;
  margin-left: 15px;
  padding-left: 0.75rem;
}

.question-feedback.correct {
  color: var(--non-spectrum-viridian);
}

.question-feedback.incorrect {
  color: var(--non-spectrum-adobe-red);
}

.quiz-error-message {
  color: var(--non-spectrum-adobe-red);
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  font-style: italic;
  font-size: var(--spectrum-font-size-200);
  line-height: 19px;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}
