.related-resources-container {
    display: flex;
    display: flex;
    flex-direction: column;
}

.related-resources-header {
    font-size: 24px;
    border-bottom: 3px solid var(--non-spectrum-grey);
    margin-bottom: 0;
}

.related-resources-wrapper, .related-resources .related-resources-container {
    margin: 0;
    width: 100%;
}

.related-resources-header-wrap {
    width: 100%;
}

.related-resources-wrap .related-resources-container li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:  var(--spectrum-font-size-200);
    color: var(--spectrum-gray-800);
}

.related-resources-wrap .related-resources-container a {
    color: var(--non-spectrum-link-blue);
}

.related-resources-wrap .related-resources-container a:hover {
    color: var(--non-spectrum-custom-dark);
}