@keyframes placeholder-wave {
  50% {
    opacity: 0.6;
  }
}
.browse-card-shimmer {
  position: relative;
  height: 100%;
}
.shimmer-placeholder {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  transition: all 0.5s ease-in-out;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 400px;
  margin: 0;
  z-index: 1;
  margin-top: 16px;
}
.shimmer-placeholder.hide-shimmer {
  height: 0px;
  margin: 0;
  z-index: 0;
  visibility: hidden;
}
.browse-filters-wrapper .shimmer-placeholder.hide-shimmer {
  display: none;
}
.browse-filters-wrapper .shimmer-placeholder {
  position: relative;
}
.featured-cards .shimmer-placeholder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-top: 24px;
}
.browse-filters-wrapper .shimmer-placeholder {
  gap: 8px;
  display: grid;
  grid-template-columns: 1fr;
  overflow: unset;
  height: fit-content;
  margin-top: 0;
}
.shimmer-placeholder-isloading {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  flex: 0 0 264px;
  border: 1px solid var(--spectrum-gray-200);
}
.browse-filters-wrapper .shimmer-placeholder-isloading,
.featured-cards .shimmer-placeholder-isloading {
  min-height: 380px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-content {
  background: var(--shimmer-content-background);
  padding: 15px;
  display: flex;
  flex-flow: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
.shimmer-placeholder-isloading .shimmer-placeholder-text-container {
  flex: 1 0 50%;
}
.shimmer-placeholder-image,
.shimmer-placeholder-description,
.shimmer-placeholder-main-text,
.shimmer-placeholder-sub-text,
.shimmer-placeholder-btn {
  background-image: linear-gradient(
    90deg,
    var(--shimmer-image-slide-start) 0px,
    var(--shimmer-image-slide-end) 40px,
    var(--shimmer-image-slide-start) 80px
  );
  background-size: 200% 100%;
  animation: placeholder-wave 1.5s infinite;
}
.shimmer-placeholder-isloading .shimmer-placeholder-image {
  height: 190px;
}
.browse-filters-wrapper .shimmer-placeholder-isloading .shimmer-placeholder-description,
.featured-cards .shimmer-placeholder-isloading .shimmer-placeholder-description {
  height: 80px;
  margin: 0px 0px 52px 0px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-description {
  height: 90px;
  flex: 1 0 100%;
  width: 100%;
  margin: 0px 0px 60px 0px;
  background: var(--shimmer-image-slide-start);
  border-radius: 10px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-main-text {
  height: 10px;
  width: 65%;
  margin: 0px 0px 10px 0px;
  background: var(--shimmer-image-slide-start);
  border-radius: 10px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-sub-text {
  height: 10px;
  width: 50%;
  background: var(--shimmer-image-slide-start);
  border-radius: 10px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-btn {
  width: 60px;
  height: 25px;
  background: var(--shimmer-image-slide-start);
  border-radius: 3px;
}
.browse-filters-form .shimmer-placeholder .shimmer-placeholder-isloading {
  min-height: 330px;
}
.browse-filters-form .shimmer-placeholder .shimmer-placeholder-isloading .shimmer-placeholder-image {
  min-height: 153px;
}
.browse-filters-form .shimmer-placeholder .shimmer-placeholder-isloading .shimmer-placeholder-main-text {
  margin-bottom: 4px;
}
.browse-filters-form .shimmer-placeholder .shimmer-placeholder-isloading .shimmer-placeholder-btn {
  height: 22px;
}
@media only screen and (min-width: 600px) {
  .shimmer-placeholder {
    gap: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 16px;
  }
  .featured-cards .shimmer-placeholder,
  .browse-filters-wrapper .shimmer-placeholder {
    grid-template-columns: 1fr 1fr;
  }
  .browse-filters-wrapper .shimmer-placeholder {
    margin-top: 0;
  }
  .shimmer-placeholder-isloading {
    flex: 0 0 286px;
  }
}
@media only screen and (min-width: 900px) {
  .shimmer-placeholder {
    gap: 32px;
    margin-top: 24px;
  }
  .featured-cards .shimmer-placeholder {
    display: flex;
    gap: 32px;
  }
  .featured-cards .shimmer-placeholder-isloading {
    flex: 0 0 295px;
  }
  .browse-filters-wrapper .shimmer-placeholder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0;
  }
  .shimmer-placeholder-isloading {
    flex: 0 0 256px;
  }
}
