/* General layout and appearance of browse card */

/* Browse card colors */
:root {
  --browse-card-color-playlist-primary: #30a7ff;
  --browse-card-color-playlist-secondary: #d6edff;
  --browse-card-color-tutorial-primary: #10cfa9;
  --browse-card-color-tutorial-secondary: #cff5ee;
  --browse-card-color-documentation-primary: #0aa35b;
  --browse-card-color-documentation-secondary: #e2f5d4;
  --browse-card-color-community-primary: #ffde2c;
  --browse-card-color-community-secondary: #fffcea;
  --browse-card-color-certification-primary: #b6db00;
  --browse-card-color-certification-secondary: #f8fbe6;
  --browse-card-color-troubleshooting-primary: #ffa213;
  --browse-card-color-troubleshooting-secondary: #fff3df;
  --browse-card-color-live-event-primary: #eb1000;
  --browse-card-color-live-event-secondary: #ffc0c0;
  --browse-card-color-event-primary: #ff709f;
  --browse-card-color-event-secondary: #ffe2ec;
  --browse-card-color-instructor-led-training-primary: #7a6afd;
  --browse-card-color-instructor-led-training-secondary: #e4e1ff;
  --browse-card-color-perspective-primary: #c844dc;
  --browse-card-color-perspective-secondary: #f4daf8;
}

.browse-card {
  background-color: var(--background-color);
  border: 1px solid var(--spectrum-gray-200);
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 16px;
  word-break: break-word;
  min-height: 400px;
}

.browse-card:hover {
  box-shadow: var(--box-shadow-2);
}

.browse-card * {
  box-sizing: border-box;
}

.browse-card > * {
  flex-grow: 1;
  margin-bottom: 0;
}

.browse-card.playlist-card {
  background-color: var(--browse-card-color-playlist-secondary);
}

.browse-card.tutorial-card {
  background-color: var(--browse-card-color-tutorial-secondary);
}

.browse-card.documentation-card {
  background-color: var(--browse-card-color-documentation-secondary);
}

.browse-card.community-card {
  background-color: var(--browse-card-color-community-secondary);
}

.browse-card.certification-card {
  background-color: var(--browse-card-color-certification-secondary);
}

.browse-card.troubleshooting-card {
  background-color: var(--browse-card-color-troubleshooting-secondary);
}

.browse-card.live-event-card {
  background-color: var(--browse-card-color-live-event-secondary);
}

.browse-card.event-card {
  background-color: var(--browse-card-color-event-secondary);
}

.browse-card.instructor-led-training-card {
  background-color: var(--browse-card-color-instructor-led-training-secondary);
}

.browse-card.perspective-card {
  background-color: var(--browse-card-color-perspective-secondary);
}

.browse-card .browse-card-banner {
  position: absolute;
  top: 13px;
  left: 0;
  max-width: 90%;
  background-color: var(--non-spectrum-light-coral);
  color: var(--text-color);
  padding: 4px 8px;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  font-size: var(--spectrum-font-size-50);
  font-weight: var(--font-weight-heavy);
  line-height: var(--spectrum-line-height-s);
  margin: 0;
  z-index: 8;
}

.browse-card.browse-card-frozen .browse-card-banner {
  height: 32px;
  width: 132px;
  background-image: linear-gradient(
    90deg,
    var(--shimmer-image-slide-start) 0,
    var(--shimmer-image-slide-end) 40px,
    var(--shimmer-image-slide-start) 80px
  );
  background-size: 200% 100%;
  animation: placeholder-wave 1.5s infinite;
}

.browse-card .browse-card-tag-text {
  display: flex;
}

.browse-card.browse-card-frozen .browse-card-tag-text {
  height: 21px;
  width: 100px;
  margin-bottom: 16px;
  background-size: 200% 100%;
  animation: placeholder-wave 1.5s infinite;
  background-image: linear-gradient(
    90deg,
    var(--shimmer-image-slide-start) 0,
    var(--shimmer-image-slide-end) 40px,
    var(--shimmer-image-slide-start) 80px
  );
}

.browse-card .browse-card-tag-text h4 {
  text-transform: uppercase;
  margin: 0;
  font-size: var(--spectrum-font-size-75);
  font-weight: var(--font-weight-semi-bold);
  color: var(--text-color);
  letter-spacing: 0.72px;
  opacity: 0.6;
  line-height: var(--spectrum-line-height-xs);
}

.browse-card .browse-card-title-text {
  letter-spacing: 0;
  font-size: var(--spectrum-font-size-300);
  font-weight: var(--font-weight-bold);
  line-height: 21px;
  margin: 6px 0 8px;
  color: var(--text-color);
  max-height: 66px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.browse-card .browse-card-event-info {
  display: flex;
  gap: 4px;
  margin: 8px 0;
  line-height: 0;
}

.browse-card .browse-card-event-time {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.browse-card .browse-card-event-time > * {
  font-size: var(--spectrum-font-size-75);
  color: var(--spectrum-gray-700);
  margin: 0;
}

.browse-card .browse-card-description-text,
.browse-card .browse-card-description-text * {
  margin: 0;
  letter-spacing: 0;
  font-size: var(--spectrum-font-size-100);
  line-height: var(--spectrum-line-height-s);
  color: var(--spectrum-gray-700);
  max-height: 120px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.browse-card.thumbnail-loaded .browse-card-description-text,
.browse-card.thumbnail-loaded .browse-card-description-text * {
  -webkit-line-clamp: 2;
}

.browse-card .browse-card-figure {
  border-radius: 15px 15px 0 0;
  height: 54px;
  max-height: 54px;
  overflow: hidden;
  position: relative;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse-card .browse-card-figure.img-custom-height {
  height: 198px;
  max-height: 198px;
  background-image: none;
}

.browse-card .browse-card-figure .laptop-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: none;
  transition: transform 0.2s;
}

.browse-card .browse-card-figure:hover .laptop-container {
  transform: scale(2.2);
}

.browse-card .browse-card-figure .laptop-container > div:first-child {
  width: 192px;
  height: 124px;
  border-radius: 5px 5px 0 0;
  background-color: var(--spectrum-gray-50);
}

.browse-card .browse-card-figure .laptop-container > div:last-child {
  width: 216px;
  height: 8px;
  border-radius: 0 0 7px 7px;
  background-color: var(--spectrum-gray-50);
}

.browse-card .browse-card-figure .play-button {
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 8;
}

.browse-card .browse-card-figure > img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  margin-top: -2px;
  width: 180px;
  height: 116px;
  border-bottom: 1px solid var(--spectrum-gray-200);
  object-fit: cover;
  z-index: 8;
  opacity: 0;
  transition:
    height 0.2s,
    width 0.2s,
    opacity 0.2s;
}

.browse-card .browse-card-figure > img.img-loaded {
  opacity: 1;
}

.browse-card .browse-card-contributor-info img {
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.browse-card .browse-card-figure:hover > img {
  width: 100%;
  height: 204px;
}

.browse-card .browse-card-content {
  padding: 24px 16px 16px;
  background-color: var(--background-color);
}

.browse-card .browse-card-meta-info {
  display: flex;
  gap: 12px;
  margin: 0;
}

.browse-card .browse-card-meta-info span {
  color: var(--non-spectrum-grey-updated);
  font-size: var(--spectrum-font-size-75);
  line-height: var(--spectrum-line-height-s);
}

.browse-card .browse-card-event-info .icon {
  height: 16px;
  width: 16px;
  margin-top: 2px;
}

.browse-card .browse-card-author-info {
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap;
  gap: 10px 0;
}

.browse-card .browse-card-author-prefix {
  font-size: var(--spectrum-font-size-100);
  font-weight: normal;
  line-height: var(--spectrum-line-height-s);
  color: var(--spectrum-gray-900);
  margin-right: 8px;
}

.browse-card .browse-card-author-name {
  font-size: var(--spectrum-font-size-100);
  font-weight: var(--font-weight-bold);
  line-height: var(--spectrum-line-height-s);
  color: var(--spectrum-gray-900);
  margin-right: 11px;
}

.browse-card .browse-card-author-badge {
  font-size: var(--spectrum-font-size-50);
  font-weight: var(--font-weight-bold);
  line-height: var(--spectrum-line-height-s);
  background-color: var(--spectrum-red-1400);
  color: var(--spectrum-gray-50);
  border-radius: 2px;
  align-self: center;
  padding: 0 3px;
}

.browse-card .browse-card-author-badge.author-badge-external {
  background-color: var(--spectrum-gray-900);
}

.browse-card .browse-card-footer {
  padding: 0 16px 24px;
  background-color: var(--background-color);
  display: flex;
  flex-grow: 0;
  align-self: flex-end;
  align-items: center;
  border-radius: 0 0 16px 16px;
  justify-content: space-between;
  width: 100%;
}

.browse-card .browse-card-footer .browse-card-options {
  position: relative;
  display: flex;
}

.browse-card .browse-card-footer .browse-card-cta-element {
  background-color: var(--background-color);
  color: var(--non-spectrum-dark-navy-blue);
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--spectrum-font-size-100);
  line-height: var(--spectrum-line-height-s);
}

.browse-card .user-actions button .icon {
  height: 23px;
  width: 23px;
}

.browse-card .browse-card-footer .browse-card-cta-element .icon {
  height: 22px;
  width: 22px;
  fill: var(--non-spectrum-navy-blue);
  margin-left: 2px;
}

.browse-card .browse-card-meta-anchor {
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
  color: var(--non-spectrum-grey-updated);
  text-decoration: none;
  font-size: var(--spectrum-font-size-75);
}

.browse-card .browse-card-contributor-info {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 16px 0 8px;
}

.browse-card .browse-card-contributor-level {
  display: flex;
  gap: 4px;
  align-items: center;
}

.browse-card .browse-card-name-plate span {
  font-size: var(--spectrum-font-size-75);
  line-height: var(--spectrum-line-height-s);
  color: var(--non-spectrum-grey-updated);
}

.browse-card .browse-card-contributor-level span:first-child {
  background-color: var(--non-spectrum-dim-orange);
  color: var(--background-color);
  border-radius: 1px;
  font-size: var(--spectrum-font-size-30);
  height: 12px;
  width: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse-card .browse-card-name-plate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.browse-card .browse-card-name-plate .browse-card-contributor-name {
  font-size: var(--spectrum-font-size-100);
  color: var(--non-spectrum-navy-blue);
}

.browse-card .user-actions {
  gap: 8px;
  align-items: center;
}

.browse-card.playlist-card .browse-card-meta-info .icon {
  height: 11px;
  width: 11px;
  margin-right: 0;
  margin-top: -2px;
}

/* No Results */
.browse-card-no-results {
  background: var(--spectrum-gray-200);
  border-radius: 4px;
  color: var(--non-spectrum-grey);
  font-size: var(--spectrum-font-size-200);
  line-height: var(--spectrum-line-height-s);
  letter-spacing: normal;
  padding: 74px 0;
  text-align: center;
  margin-top: 24px;
}

/* Tooltip */
.browse-card .tooltip-placeholder {
  align-self: center;
  line-height: 0;
}

.browse-card .tooltip {
  display: inline;
  position: relative;
  margin: 2px 0 0 5px;
}

.browse-card .tooltip .icon-info {
  width: 14px;
  height: 14px;
}

.browse-card .tooltip svg {
  pointer-events: none;
}

.browse-card .tooltip .tooltip-text {
  background-color: var(--non-spectrum-royal-blue);
  border-radius: 4px;
  color: var(--spectrum-gray-50);
  display: inline-block;
  font-size: var(--spectrum-font-size-50);
  font-weight: normal;
  line-height: var(--spectrum-line-height-xs);
  margin-left: 10px;
  opacity: 0;
  padding: 4px 9px 5px 10px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transition: opacity 0.3s;
  visibility: hidden;
  width: max-content;
  max-width: 155px;
  z-index: 11;
}

.browse-card .tooltip-top .tooltip-text {
  transform: translateX(-50%);
  top: unset;
  left: 50%;
  bottom: 100%;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 2px;
}

.browse-card .tooltip .tooltip-text::before {
  border-color: transparent var(--non-spectrum-royal-blue) transparent transparent;
  border-style: solid;
  border-width: 4px;
  content: '';
  display: inline-block;
  margin-top: -4px;
  position: absolute;
  right: 100%;
  top: 50%;
}

.browse-card .tooltip-top .tooltip-text::before {
  margin-top: 0;
  right: unset;
  top: unset;
  left: calc(50% - 4px);
  bottom: -7px;
  transform: rotate(-90deg);
}

.browse-card .tooltip-grey .tooltip-text {
  background-color: var(--non-spectrum-dim-gray);
}

.browse-card .tooltip-grey .tooltip-text::before {
  border-color: transparent var(--non-spectrum-dim-gray) transparent transparent;
}

.browse-card .tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Skill-Bar */
.browse-card .skill-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.browse-card .skill-bar-container {
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  background-color: var(--spectrum-gray-200);
}

.browse-card .skill-bar-value {
  height: 4px;
  float: left;
  background: var(--spectrum-blue-900);
}

.browse-card .course-duration {
  color: var(--spectrum-gray-700);
  font-size: var(--spectrum-font-size-75);
  font-style: italic;
}

.browse-card .browse-card-figure .play-button .icon {
  width: 56px;
  height: 56px;
  transition: transform 0.2s;
}

.browse-card .browse-card-figure:hover .play-button .icon {
  display: none;
}
