@keyframes placeholder-wave {
  50% {
    opacity: 0.6;
  }
}

.browse-card-shimmer {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  transition: all 0.5s ease-in-out;
  min-height: 400px;
  margin: 0;
  z-index: 1;
  margin-top: 16px;
}

@container browse-cards-block (min-width: 600px) {
  .browse-card-shimmer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container browse-cards-block (min-width: 1024px) {
  .browse-card-shimmer {
    grid-template-columns: repeat(4, 1fr);
  }
}

.browse-card-shimmer-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 16px;
}

.browse-card-shimmer-cta-wrapper {
  display: flex;
  justify-content: space-around;
}

.browse-card-shimmer.hide-shimmer {
  height: 0;
  margin: 0;
  z-index: 0;
  visibility: hidden;
}

.browse-filters-wrapper .browse-card-shimmer.hide-shimmer {
  display: none;
}

.browse-filters-wrapper .browse-card-shimmer {
  position: relative;
  gap: 8px;
  display: grid;
  grid-template-columns: 1fr;
  overflow: unset;
  height: fit-content;
  margin-top: 0;
}

.featured-cards .browse-card-shimmer {
  margin-top: 24px;
}

.browse-card-shimmer-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--spectrum-gray-200);
}

.browse-filters-wrapper .browse-card-shimmer-wrapper,
.featured-cards .browse-card-shimmer-wrapper {
  min-height: 380px;
}

@media only screen and (min-width: 600px) {
  .browse-card-shimmer {
    gap: 25px;
    margin-top: 16px;
  }

  .browse-filters-wrapper .browse-card-shimmer {
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
  }
}

@media only screen and (min-width: 900px) {
  .browse-card-shimmer {
    gap: 32px;
    margin-top: 24px;
  }

  .browse-filters-wrapper .browse-card-shimmer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0;
  }
}
