/* Upcoming event grid variant */

/* TODO - Remove events-v2 scope during clean */

.events-v2 {
  .browse-cards-block-content .browse-card.upcoming-event-card {
    background-color: var(--spectrum-gray-50);
    min-height: 450px;
  }

  .browse-card.upcoming-event-card .browse-card-figure {
    background-color: var(--spectrum-gray-900);
    max-height: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 45%;
  }

  .browse-card.upcoming-event-card .browse-card-banner {
    background-color: var(--non-spectrum-adobe-red) !important;
    letter-spacing: 0.2px;
  }

  .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers {
    position: relative;
    padding: 10px 0;
    margin: 30px 0 20px;
    color: var(--spectrum-gray-50);
    font-size: var(--spectrum-font-size-700);
    font-weight: var(--font-weight-bold);
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 1px;
  }

  .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers::before,
  .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers::after {
    content: '';
    position: absolute;
    height: 8px;
    transform: scaleY(0.5);
    background-color: var(--non-spectrum-adobe-red);
  }

  .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers::before {
    top: -5px;
    left: 0;
    width: 90%;
  }

  .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers::after {
    bottom: -5px;
    right: 0;
    width: 90%;
  }

  .browse-card.upcoming-event-card .location-type {
    position: absolute;
    top: 13px;
    right: 0;
    background-color: transparent;
    color: var(--spectrum-gray-50);
    padding: var(--spectrum-spacing-75) var(--spectrum-spacing-100);
    font-size: var(--spectrum-font-size-50);
    font-weight: var(--font-weight-heavy);
    line-height: var(--spectrum-line-height-s);
    text-transform: uppercase;
    letter-spacing: 0.2px;
  }

  .browse-filters:not(:has(.list)) .browse-card.upcoming-event-card .location-type span {
    display: none;
  }

  .browse-card.upcoming-event-card .event-speakers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px;
  }

  .browse-card.upcoming-event-card .speaker-profile-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: -15px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  }

  .browse-card.upcoming-event-card .speaker-profile-container:last-child {
    margin-right: 0;
  }

  .browse-card.upcoming-event-card .speaker-profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .browse-card.upcoming-event-card .event-series-banner {
    color: var(--spectrum-gray-50);
    font-size: var(--spectrum-font-size-100);
    font-weight: var(--font-weight-bold);
    text-align: center;
    padding: 0 10px;
    width: 100%;
    letter-spacing: 0.2px;
  }

  .browse-card.upcoming-event-card .browse-card-description-text,
  .browse-card.upcoming-event-card .browse-card-description-text * {
    max-height: none;
    -webkit-line-clamp: 2;
  }

  .browse-card.upcoming-event-card .browse-card-footer {
    justify-content: flex-end;
  }

  .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section {
    display: none;
  }

  .browse-card.upcoming-event-card .card-figure-date,
  .browse-filters-results .browse-card.upcoming-event-card .show-more,
  .browse-filters-results .browse-card.upcoming-event-card .show-less,
  .browse-cards-block-content > div .browse-card.upcoming-event-card .show-more,
  .browse-cards-block-content > div .browse-card.upcoming-event-card .show-less,
  .browse-card.upcoming-event-card .browse-card-footer .browse-card-event-info {
    display: none;
  }
}

/** List view styles start **/

.list .browse-card.upcoming-event-card .browse-card-figure .event-speakers-container {
  display: flex;
}

.list .browse-card.upcoming-event-card .location-type,
.browse-card.upcoming-event-card .browse-card-footer .location-type {
  display: none;
}

body[class^='browse-'] .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers {
  font-size: var(--spectrum-font-size-700);
}

@media only screen and (min-width: 600px) {
  .events-v2 {
    .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers {
      font-size: 24px;
    }
  }
}

@media only screen and (min-width: 900px) {
  .events-v2 {
    .browse-card.upcoming-event-card {
      text-align: left;
    }
  }

  /** List view styles start **/

  .list .browse-card.upcoming-event-card {
    background-color: var(--spectrum-gray-50);
  }

  .list .browse-card.upcoming-event-card .browse-card-banner {
    top: 16px;
    height: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: var(--font-weight-heavy);
    font-size: 11px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list .browse-card.upcoming-event-card .browse-card-figure .icon-calendar img {
    width: 32px;
    height: 32px;
  }

  .list .browse-card.upcoming-event-card .browse-card-figure {
    flex: 0 0 23.34%;
    border: unset;
    border-radius: 16px 0 0 16px;
    max-height: unset;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .list .browse-card.upcoming-event-card .browse-card-figure .card-figure-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .list .browse-card.upcoming-event-card .browse-card-figure .card-figure-date .date-display {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0;
    color: var(--spectrum-gray-50);
    opacity: 1;
  }

  .list .browse-card.upcoming-event-card .browse-card-figure .card-figure-date .time-display {
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--spectrum-gray-50);
    opacity: 1;
  }

  .list .browse-card.upcoming-event-card .browse-card-content {
    padding: 32px;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .browse-card-event-info {
    order: 0;
    margin: 0;
    align-self: flex-start;
    margin-bottom: 16.5px;
    display: flex;
  }

  .list .browse-card.upcoming-event-card .browse-card-content .browse-card-event-info,
  .list .browse-card.upcoming-event-card .browse-card-figure .event-speakers-container {
    display: none;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer {
    padding: 32px;
    flex: 0 0 18.52%;
    position: relative;
    align-self: stretch;
    flex-direction: column;
    justify-content: unset;
    border-radius: 16px;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .browse-card-event-info .browse-card-event-time h6 {
    color: var(--non-spectrum-dark-charcoal);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .browse-card-event-info .icon {
    width: 18px;
    height: 18px;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .browse-card-cta-element {
    order: 3;
    margin: 20px 0;
    background: var(--spectrum-blue-900) 0% 0% no-repeat padding-box;
    border-radius: 16px;
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--spectrum-gray-50);
    width: 100%;
    height: 32px;
    justify-content: center;
    align-items: center;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .browse-card-cta-element .icon.icon-new-tab-blue {
    display: none;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer::before {
    content: '';
    position: absolute;
    top: 32px;
    bottom: 32px;
    left: 0;
    width: 1px;
    background-color: var(--non-spectrum-divider-gray);
  }

  .list .browse-cards-block-content > div .browse-card.upcoming-event-card {
    min-height: auto;
    flex-direction: row;
  }

  .list .browse-cards-block-content > div .browse-card.upcoming-event-card .browse-card-description-text.text-expanded {
    -webkit-line-clamp: 2;
    max-height: unset;
    display: -webkit-box;
  }

  .list .browse-cards-block-content > div .browse-card.upcoming-event-card .show-more,
  .list .browse-cards-block-content > div .browse-card.upcoming-event-card.expanded .show-less {
    text-align: left;
    display: block;
    text-decoration: underline;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0;
    color: var(--spectrum-blue-900);
    opacity: 1;
    margin-top: 8px;
  }

  .list .browse-cards-block-content > div .browse-card.upcoming-event-card.expanded .show-more {
    display: none;
  }

  .list
    .browse-cards-block-content
    .browse-card.upcoming-event-card
    .browse-card-description-text.text-expanded
    .show-more {
    display: none;
  }

  .list
    .browse-cards-block-content
    > div
    .browse-card.upcoming-event-card.expanded
    .browse-card-description-text.text-expanded {
    -webkit-line-clamp: unset;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .location-type {
    display: flex;
    align-items: center;
    margin-bottom: 16.5px;
    position: unset;
    align-self: flex-start;
    padding: 0;
    color: var(--non-spectrum-dark-charcoal);
    font-size: var(--spectrum-font-size-75);
    font-weight: var(--font-weight-bold);
    text-transform: none;
    gap: var(--spectrum-spacing-75);
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .location-type span::first-letter {
    text-transform: uppercase;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .location-type .icon {
    width: 18px;
    height: 18px;
  }

  .list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner,
  .list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers {
    text-align: center;
    font-size: var(--spectrum-font-size-100);
    color: var(--spectrum-gray-50);
    opacity: 1;
    position: relative;
    padding: 10px 10%;
    margin: 0;
    order: 1;
  }

  .list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers::before,
  .list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    height: 3px;
    background-color: #f00;
    width: 80%;
    transform: translateX(-50%);
  }

  .list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers::after {
    display: none;
  }

  .list .browse-card.upcoming-event-card .browse-card-description-text {
    display: block;
    -webkit-line-clamp: unset;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section {
    order: 4;
    align-self: flex-start;
    width: 100%;
    display: block;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section .speakers-heading {
    font-size: var(--spectrum-font-size-200);
    font-weight: var(--font-weight-bold);
    margin-bottom: 15px;
    color: #000;
    position: relative;
    padding-bottom: 8px;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section .speakers-heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--non-spectrum-unicorn-silver);
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section .speakers-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section .speaker-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section .speaker-img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section .speaker-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section .speaker-info {
    display: flex;
    flex-direction: column;
  }

  .list .browse-card.upcoming-event-card .browse-card-footer .footer-speakers-section .speaker-name {
    font-size: var(--spectrum-font-size-75);
    font-weight: var(--font-weight-bold);
    color: var(--non-spectrum-dark-gray);
  }
}

@media only screen and (min-width: 1024px) {
  .events-v2 {
    .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers {
      font-size: var(--spectrum-font-size-700);
    }
  }

  .list .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers {
    font-size: var(--spectrum-font-size-100);
  }
}

@media only screen and (min-width: 1440px) {
  body[class^='browse-'] .browse-card.upcoming-event-card .browse-card-figure .event-series-banner-no-speakers {
    font-size: 24px;
  }
}
