@keyframes placeholder-wave {
  50% {
    opacity: .6;
  }
}
.shimmer-placeholder{
  margin: 16px 0 40px 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  transition: all .5s ease-in-out;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 400px;
}
.shimmer-placeholder.is-hidden {
  display: none;
}
.shimmer-placeholder-isloading {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  flex: 0 0 264px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-content {
  background: var(--shimmer-content-background);
  padding: 15px;
  display: flex;
  flex-flow: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
.shimmer-placeholder-isloading .shimmer-placeholder-text-container {
  flex: 1 0 50%;
}
.shimmer-placeholder-image, 
.shimmer-placeholder-description, 
.shimmer-placeholder-main-text,
.shimmer-placeholder-sub-text, 
.shimmer-placeholder-btn{
  background-image: linear-gradient(90deg, var(--shimmer-image-slide-start) 0px, var(--shimmer-image-slide-end) 40px, var(--shimmer-image-slide-start) 80px);
  background-size: 200% 100%;
  animation: placeholder-wave 2s ease-in-out infinite;
}
.shimmer-placeholder-isloading .shimmer-placeholder-image {
  height: 190px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-description {
  height: 90px;
  flex: 1 0 100%;
  width: 100%;
  margin-bottom: 60px;
  background: var(--shimmer-image-slide-start);
  border-radius: 10px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-main-text {
  height: 10px;
  width: 65%;
  margin-bottom: 10px;
  background: var(--shimmer-image-slide-start);
  border-radius: 10px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-sub-text {
  height: 10px;
  width: 50%;
  background: var(--shimmer-image-slide-start);
  border-radius: 10px;
}
.shimmer-placeholder-isloading .shimmer-placeholder-btn {
  width: 60px;
  height: 25px;
  background: var(--shimmer-image-slide-start);
  border-radius: 3px;
}
@media only screen and (min-width: 600px) {
  .shimmer-placeholder{
    gap: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 16px 0 56px 0;
  }
  .shimmer-placeholder-isloading {
    flex: 0 0 286px; 
  }
}
@media only screen and (min-width: 900px) {
  .shimmer-placeholder{
    gap: 32px;
    margin: 24px 0 80px 0;
  }
  .shimmer-placeholder-isloading {
    flex: 0 0 256px;
  }
}