.data-and-email-consent .notification {
  cursor: pointer;
  background-color: var(--background-color);
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 24px;
  user-select: none;
}

.data-and-email-consent .notification.highlight {
  border-color: var(--non-spectrum-navy-blue);
}

.data-and-email-consent .notification .checkbox {
  display: flex;
  gap: 10px;
}

.data-and-email-consent .notification .checkbox > label {
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 22px;
}

.data-and-email-consent .notification .checkbox > input {
  width: 14px;
  margin: 0;
  border: 2px solid var(--spectrum-gray-600);
  border-radius: 2px;
}

.data-and-email-consent .notification .checkbox > input:checked {
  background-color: var(--non-spectrum-navy-blue);
  accent-color: var(--non-spectrum-navy-blue);
  border-radius: 2px;
}

.data-and-email-consent .notification div,
.data-and-email-consent .notification p {
  letter-spacing: 0;
  color: var(--spectrum-gray-800);
  font-size: 14px;
  margin: 0;
  margin-top: 8px;
  line-height: 17px;
  margin-left: 25px;
}

.data-and-email-consent .notification a {
  letter-spacing: 0;
  color: var(--spectrum-gray-800);
  font-size: 14px;
  margin: 0;
  margin-top: 8px;
  text-decoration: underline;
}

.data-and-email-consent .notification-container .legal p {
  font-size: 12px;
  font-style: italic;
  color: var(--spectrum-gray-600);
  letter-spacing: 0;
  line-height: 16px;
}

.data-and-email-consent .notification-container .legal a {
  font-size: 12px;
  font-style: italic;
  color: var(--text-color);
  letter-spacing: 0;
  line-height: 16px;
  font-weight: 700;
  text-decoration: underline;
}

body.profile .data-and-email-consent .notification p:not(.signup-dialog .data-and-email-consent .notification p) {
  font-size: 18px;
}

body.profile
  .data-and-email-consent
  .notification
  .checkbox
  > input:not(.signup-dialog .data-and-email-consent .notification .checkbox > input) {
  width: 18px;
}

@media (min-width: 600px) {
  .data-and-email-consent .notification div,
  .data-and-email-consent .notification p {
    margin-left: 0;
  }
}

@media (min-width: 900px) {
  body.profile
    .data-and-email-consent
    .notification-container
    .legal
    p:not(.signup-dialog .data-and-email-consent .notification-container .legal p) {
    font-size: 14px;
    font-style: normal;
    color: var(--spectrum-gray-800);
  }
}
