/* Main container */
.course-completion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spectrum-spacing-300);
  color: var(--non-spectrum-dark-gray);
}

/* Certificate container */
.course-completion .course-completion-certificate-container {
  width: 100%;
  height: 278px;
  position: relative;
  border-radius: var(--spectrum-spacing-200);
  overflow: hidden;
  display: grid;
  place-items: center;
  background: radial-gradient(circle at 70% 80%, rgb(249 119 121 / 25%), transparent 40%),
    radial-gradient(circle at 80% 40%, rgb(181 222 255 / 35%), transparent 40%),
    radial-gradient(circle at 80% 80%, rgb(181 222 255 / 35%), transparent 70%),
    radial-gradient(circle at 50% 80%, rgb(249 119 216 / 35%), transparent 40%),
    radial-gradient(circle at 20% 30%, rgb(255 124 101 / 35%), transparent 65%),
    radial-gradient(circle at 10% 80%, rgb(255 124 101 / 35%), transparent 45%);
  background-color: var(--background-color);
}

/* Confetti canvas */
.course-completion .course-completion-confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/* Content container */
.course-completion .course-completion-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* Certificate image */
.course-completion .course-completion-certificate {
  z-index: 2;
  position: relative;
  transform: translateY(300px);
  animation: slide-up 1s ease-in-out 0.3s forwards;
  transition: transform 1s ease-in-out;
}

/* Button container */
.course-completion .course-completion-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-completion button {
  margin: 0;
  max-width: min-content;
  margin-bottom: var(--spectrum-spacing-300);
  transition: background-color 0.3s ease;
}

.course-completion button.primary {
  background-color: var(--non-spectrum-navy-blue);
}

.course-completion button.primary:hover {
  background-color: var(--non-spectrum-dark-navy-blue);
}

.course-completion button.secondary {
  background-color: var(--background-color);
  color: var(--non-spectrum-dark-gray);
  border-color: var(--non-spectrum-dark-gray);
  padding: var(--spectrum-spacing-100) var(--spectrum-spacing-300);
}

.course-completion button div {
  display: flex;
  align-items: center;
  gap: var(--spectrum-spacing-100);
}

.course-completion button .icon {
  width: 21px;
  height: 21px;
}

.course-completion :where(h1, h2, h3, h4, h5, h6, p) {
  color: var(--non-spectrum-dark-gray);
}

.course-completion p {
  line-height: 150%;
}

/* Animation keyframes */
@keyframes slide-up {
  from {
    transform: translateY(300px);
  }

  to {
    transform: translateY(40px);
    visibility: visible;
  }
}

@media (min-width: 600px) {
  .course-completion .course-completion-certificate-container {
    height: 320px;
  }

  .course-completion .course-completion-certificate-image {
    max-width: 368px;
  }
}

@media (min-width: 900px) {
  .course-completion .course-completion-certificate-container {
    width: 588px;
    height: 330px;
  }

  .course-completion .course-completion-button-container {
    flex-direction: row;
    gap: var(--spectrum-spacing-200);
  }
}
